[2018-09-06 17:06] hatchepsut commented on #887
I have a small fix for this issue that seem to work for ipv4 addresses in version 2.6.3. Not sure how to go forward though. Can someone give me a pointer?

[2018-09-06 17:11] hatchepsut commented on #804
I have a small fix that seem to work with version 2.6.3. Not sure how to go forward though.  Can someone give me a pointer?

[2018-09-06 18:39] caphrim007 commented on #804
@hatchepsut submit PR's to this repository here.

[2018-09-06 18:39] caphrim007 commented on #887
@hatchepsut submit PRs to this repository here

[2018-09-06 19:06] caphrim007 opened #915 "http2 profile support"
see FMFA-169

[2018-09-06 23:37] slavkv commented on #904
@wojtek0806
Thank you for explanation. Very much appreciated.

Will this bug fix be merge into official Ansible 2.6?

[2018-09-07 01:02] caphrim007 commented on #915
as you will, @wojtek0806

[2018-09-07 01:06] caphrim007 commented on #904
@wojtek0806 is this the entirety of the fix that @slavkv is referring to?

https://github.com/F5Networks/f5-ansible/pull/911/files#diff-e6470364d95fd3da1d80c229712e59ffR302

those 2 lines?

[2018-09-07 02:34] slavkv opened #916 "bigip_profile_client_ssl does not support SSL Client Authentication"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_profile_client_ssl

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

[defaults]
remote_user = admin
host_key_checking = False
ask_pass=False

##### OS / ENVIRONMENT

OSX, virtualenv

##### SUMMARY

bigip_profile_client_ssl is not able to configur

[2018-09-07 09:38] JapaneseMuscleDE commented on #823
Hi Guys,

short update. Sometimes you just need to sleep a night and come up with a though the next day morning :-)

Was able to get it work now. Seems like the ADDRESS or the FQDN field is necessary if you want to add existing nodes to your pool with the NAME. Following playbook task worked for me now:

    - name: Add Member to Pool
      bigip_pool_member:
        server: f5-ltm
        user: a

[2018-09-07 17:53] delgadillo22 commented on #508
Marking high priority for 13.x solution for customer.

[2018-09-07 21:23] caphrim007 opened #917 "add auth_provider for bigiq"
the auth_provider is an accepted param, but was not made to work for BIG-IQ. Add this functionality so that BIG-IQ users are able to authenticate with different configured auth providers.

auth_provider should accept either a name or UUID. If a name is provided, it should,

* fail if 0 IDs are found for the name.
* fail with a "name is ambiguous" error if more than 1 ID is found for the name
* che

[2018-09-07 21:24] caphrim007 opened #918 "add bigiq_device_facts"
add a facts module for BIG-IQ facts. This should mirror (in practice, not necessarily in subsets) the functionality of bigip_device_facts. We expect this to be used in bigiq roles and playbooks that need to make decisions based on versions or things, or writing templates/files/etc out for usage.

[2018-09-08 01:20] #918 closed, assigned to caphrim007

[2018-09-08 20:15] #917 closed

[2018-09-10 09:14] JapaneseMuscleDE opened #919 "Using Provider Dict in Modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_facts (but seem to apply to more modules)

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION
- set static inventory file in the ansible.cfg
-

##### OS / ENVIRONMENT
RedHat 7.5

##### SUMMARY
Multiple modules seem to ignore the provider dictionary which

[2018-09-10 10:57] wojtek0806 commented on #906
I have tested your playbook against v12 and it works correctly:

[code]

[2018-09-10 11:00] wojtek0806 commented on #904
@slavkv I believe this is resolved now, so I will close

[2018-09-10 13:47] caphrim007 commented on #919
@JapaneseMuscleDE bigip_facts did not support `provider` until Ansible 2.7.

The other modules, such as bigip_command and bigip_pool, support it. If you're using provider, then you can ignore the warnings you see. They are there as a result of how the modules get the information from the provider and store them in argument spec variables.

If you want to use provider in bigip_facts, then you can d

[2018-09-10 13:50] JapaneseMuscleDE commented on #919
Thanks @caphrim007

Tried to find this information but wasnt able to. So sorry for the duplicate I that has been already discussed :-(

[2018-09-10 13:50] #919 closed

[2018-09-10 13:54] caphrim007 commented on #919
@JapaneseMuscleDE np

[2018-09-10 15:19] wojtek0806 commented on #906
@slavkv Can you try our development branch and see if this problem still exist?

[2018-09-10 16:41] wojtek0806 commented on #906
@slavkv for completeness I have tested on 2.6.3 Ansible with the following playbook:
[code]

[code]
The issue cannot be reproduced:

[code]

[2018-09-10 16:42] wojtek0806 commented on #906
@slavkv unless you can provide me with a another playbook that is a working reproduction there is nothing else I can do

[2018-09-10 16:46] wojtek0806 commented on #904
testing in isolation on 2.6.3 ansible revealed this is reproducible so I am opening this

[2018-09-11 02:24] caphrim007 opened #921 "Add application facts to bigiq_device_facts"
See FMFA-170

[2018-09-11 02:25] caphrim007 opened #922 "Add license pools and regkeys to bigiq_device_facts"
See FMFA-171

[2018-09-11 02:25] caphrim007 opened #923 "Add list of BIGIP devices to bigiq_device_facts"
See FMFA-172

[2018-09-11 02:56] #923 closed

[2018-09-11 18:48] adolphsons opened #925 "bigip_software_install module error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_software_install.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
bigip_software_install fails with error: KeyError: 'kind'

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### AC

[2018-09-11 19:28] caphrim007 commented on #925
@adolphsons can you provide the output of curling these two APIs

https://IP_ADDRESS/mgmt/tm/sys/software/image
https://IP_ADDRESS/mgmt/tm/sys/software/hotfix

[2018-09-11 20:35] adolphsons commented on #925
https://192.168.1.226/mgmt/tm/sys/software/image

[code]
https://192.168.1.226/mgmt/tm/sys/software/hotfix
[code]

[2018-09-11 20:45] sdaynjax opened #926 "Need a module to create a cookie persistence profile"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Profile cookie persistence

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When we create a virtual server we create seperate object like clientssl serverssl http monitor persistence.  I need a module that allows

[2018-09-12 00:15] caphrim007 commented on #925
@adolphsons thanks. I think I've identified the problem

[2018-09-12 06:41] slavkv commented on #906
@wojtek0806 it is weird. I noticed that it worked on Red Hat servers well while was failing on my laptop with virtualenv.
Feel free to close. If I notice it again I will reopen it or raise another issue like that.

[2018-09-12 06:41] #906 closed

[2018-09-12 11:04] pg0581 opened #927 "bigip_command module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

-->
[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
There seems to be an issue with this module and running a check against an LTM in an older version of Ansible works, but in a newer release, it doe

[2018-09-12 13:58] wojtek0806 commented on #772
working on it now

[2018-09-12 15:30] onurbrc commented on #645
Hello @caphrim007 ,

I'm trying to create a static route within a partition and a route domain, but I don't have the same result as the CLI.
My context :
- Partition: internet
- Route domain: 2 created in the partition internet.

Playbook :
tasks:
    - name: Creating a default static route
      bigip_static_route:
        destination: 0.0.0.0
        netmask: 0.0.0.0
        gateway_address: 10.

[2018-09-12 23:09] adolphsons commented on #925
I get closer but looks like I timeout after about 20-minutes. Some of our f5's can take up to 30-minutes to install image.
[code]

[2018-09-12 23:16] caphrim007 commented on #925
@adolphsons pushed another change. lemme know if that helps

[2018-09-13 00:00] adolphsons commented on #925
It timed out at exactly15-minutes this time.
[code]

[2018-09-13 00:38] caphrim007 commented on #925
@adolphsons ok, try again

[2018-09-13 01:41] adolphsons commented on #925
Looks like it made it through the base image install, but failed when the hotfix started to install.
[code]

[2018-09-13 03:03] caphrim007 commented on #925
@adolphsons try once more. This is a bugger of a problem to pin down. I added a check which I didnt expect to have to add, but I'm not sure if thats because the rest api never adds the key i'm looking for, or if it just happened to show up ephemerally.

In any event, try again and lemme know. I'd like to get this squared before the Ansible 2.7 release

[2018-09-13 05:30] JapaneseMuscleDE commented on #855
:+1:  This feature is definately needed. Approx. 50% of our setups have member specific health checks

[2018-09-13 13:08] adolphsons commented on #925
This time the upgrade did complete, but the module never recognized it. So after 10-minutes after the upgrade completed I manually had to ctl c to stop the playbook.

[2018-09-13 14:43] caphrim007 commented on #925
@adolphsons I've pushed said update. if you can try again, that'd be great. the content of /tmp/ansible.out would be helpful too. you can post it here or PM it to me in an email. See my Github profile for email address.

[2018-09-13 16:27] #925 closed

[2018-09-13 18:31] adolphsons opened #932 "bigip_wait module times out"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_wait.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Using bigip_wait module after a reboot, does not recognize when f5 is ready to receive config. The f5 is manually verified to receive config while p

[2018-09-14 00:06] caphrim007 commented on #852
@onurbrc @pbaitule there should is a bigip_imish_config module in the repo here which i expect to be part of Ansible 2.8. You may want to test it. Note that it requires at least ansible 2.7, and updated module_utils and action plugins found in this repo here

[2018-09-14 00:06] #852 closed

[2018-09-14 14:48] #772 closed

[2018-09-14 15:27] caphrim007 commented on #927
@pg0581 i believe this is fixed in ansible 2.7.

[2018-09-14 15:34] wojtek0806 commented on #904
after internal discussion we will not be back porting this, closing as fixed in devel

[2018-09-14 15:34] #904 closed

[2018-09-14 21:11] #825 closed

[2018-09-14 22:45] caphrim007 opened #936 "Add DNS resolver module"
This is part of #508 as it is a function of OCSP stapling profiles

[2018-09-14 23:27] #936 closed

[2018-09-15 03:30] slavkv commented on #904
@wojtek0806 does it mean it will be a part of Ansible 2.8?

[2018-09-15 15:50] #508 closed

[2018-09-15 16:55] #826 closed

[2018-09-16 22:31] #248 closed

[2018-09-16 23:13] #899 closed

[2018-09-17 20:01] #789 closed

[2018-09-17 20:06] #787 closed

[2018-09-17 20:50] pg0581 commented on #927
@caphrim007 Perfect! Thanks for looking into this. Once we get to using v2.7 I'll let you know if the issue persists.

[2018-09-17 20:50] #927 closed

[2018-09-17 21:37] caphrim007 commented on #499
ocsp stuff should be complete. closing

[2018-09-17 21:37] #499 closed

[2018-09-18 02:05] #916 closed

[2018-09-18 03:06] caphrim007 commented on #769
@bwearp I'm not receiving this error in the 2.7 code. Do you have another repro?

[2018-09-18 03:27] #349 closed

[2018-09-18 05:47] onurbrc opened #945 "bigip_static_route does not working with route domain and partition."
Hello,

I'm trying to create a static route within a partition and a route domain, but I don't have the same result as the CLI.
My context :
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

Partition and route domain :
[code]
Playbook :
[code]
CLI : (Active)(/internet)(tmos)# create net route default gw 10.10.5.254%2

Is ther

[2018-09-18 14:19] adolphsons commented on #932
I've had this issue on this module on 2.4, 2.5 and now on 2.6. I have the updated f5 library and can update my lab ansible server to 2.7 if this will help.

I have been using these tasks to verify the f5 has rebooted and is ready to configure and it has been working fine. But I really would like to use the bigip_wait module.
[code]

[2018-09-18 19:33] vchepkov opened #946 "add module to change TMM daemon-log-settings"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT NAME
BIG-IP® system daemon log settings module

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Add new module to configure system daemon log settings
It seems this functionality is already in f5-sdk:

[code]

[2018-09-19 11:05] m2harshanalore opened #947 "BIGIP POOL Module is not working as expected."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_pool

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### SUMMARY

Bigip pool module is not working as expected based on the condition set using when statements.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The Condition should have been false and should have skipped execution of th

[2018-09-19 11:16] wojtek0806 commented on #946
ill take care of it if you don't mind @caphrim007

[2018-09-19 11:18] wojtek0806 commented on #809
@MichalTaratuta have you had a chance to look at this ?

[2018-09-19 11:19] wojtek0806 commented on #947
@m2harshanalore can you please paste those playbook in the 'code' format ?

[2018-09-19 11:35] m2harshanalore commented on #947
I have code of the playbook as mentioned in the description .

[2018-09-19 12:20] wojtek0806 commented on #947
paste it as a code snippet, as the way you pasted it it has lost the formatting

[2018-09-19 16:07] adolphsons commented on #932
When I run a curl command from the ansible server with the runlevel command that the bigip_wait module is running, I get the correct output.
[code]
I see the request in the /var/log/audit
[code]
But when I run the bigip_wait module, I do not see any log messages that an attempt was made.  Is there a debug I could add to the module to see what is happening?

[2018-09-19 16:55] caphrim007 commented on #947
@m2harshanalore please provide the output of `tmsh list ltm monitor`

[2018-09-19 18:02] caphrim007 commented on #932
@adolphsons yes there are things you can do to debug this.

First, install the `autologging` package from `pip`

`pip install autologging`

Then, add the following to the top of the bigip_wait module

[code]

Then, find the `ModuleManager` class in the module, and add a decorator to the top of it like this.

[code]

Then run the module and post the content of the `/tmp/trace.log` file

[2018-09-19 18:19] adolphsons commented on #932
I get a consistent loop, which should not be because the f5 device is active.
[code]

[2018-09-19 18:27] caphrim007 commented on #932
@adolphsons in the `execute` method is an `except` block that looks like this

```except Exception as ex:```

first, `pip install q`

Then, immediately inside that except block, add this line

`import q; q.q(str(ex))`

Re-run the module and look for a `/tmp/q` file and post its output.

[2018-09-19 18:38] adolphsons commented on #932
Thank you for your troubleshooting help, that did the trick and told me I forgot to set validate_certs: no
[code]

[2018-09-19 18:41] caphrim007 commented on #932
@adolphsons can i close now?

[2018-09-19 18:48] adolphsons commented on #932
Yes please.

[2018-09-19 19:02] #932 closed

[2018-09-19 19:46] caphrim007 commented on #915
this is now added

[2018-09-19 19:46] #915 closed

[2018-09-19 20:18] #921 closed

[2018-09-19 20:37] caphrim007 commented on #945
@onurbrc are you creating a new route, or updating an existing one?

[2018-09-20 02:50] #922 closed

[2018-09-20 05:31] onurbrc commented on #945
@caphrim007 I'm trying to create a new one.

[2018-09-20 08:05] m2harshanalore commented on #947
There are around 2000+ monitors , you want anything that is specific.

[2018-09-20 14:12] wojtek0806 opened #950 "Add proberFallback parameter to GTM server"
this should complement #771

[2018-09-20 14:20] wojtek0806 commented on #947
The error message comes from REST not the module, the below shows that this monitor you are referencing does not exist:

[code]

[2018-09-20 16:08] caphrim007 commented on #947
@m2harshanalore

`tmsh list ltm monitor https custom_https`

What @wojtek0806 says is correct, so we want to verify it doesnt exist.

[2018-09-21 11:06] rdvn opened #951 "Add last resort pool parameter in bigip_gtm_wide_ip"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_gtp_wide_ip

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS

[code]

##### SUMMARY

Module bigip_gtm_wide_ip is missing a few parameters, last resort pool is one of them. Please consider adding it. Thank you.

##### EXPECTED RESULTS

last_resort_pool parameter available in bi

[2018-09-21 11:44] rdvn opened #952 "Missing GTM cache module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

GTM Cache module

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Module for gtm cache manipulation is missing. Please consider adding it. Thank you.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-09-21 11:48] rdvn opened #953 "Missing GTM nameserver module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

GTM Nameserver module

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Module for gtm nameserver manipulation is missing. Please consider adding it. Thank you.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2018-09-21 12:02] rdvn opened #954 "Broken pools parameter validation in bigip_gtm_wide_ip"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_gtm_wide_ip

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

It is not possible to assing pool to existing wide ip when there is no pool assigned to it.

##### STEPS TO REPRODUCE

Just run following play,

[2018-09-21 12:12] rdvn opened #955 "Missing GTM zones module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Module for gtm zones manipulation is missing. Please consider adding it. Thank you.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESUL

[2018-09-21 13:43] caphrim007 commented on #955
@rdvn this already exists https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_dns_zone.py

[2018-09-21 13:43] caphrim007 commented on #953
@rdvn this already exists https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_dns_nameserver.py

[2018-09-21 13:44] caphrim007 commented on #952
duplicate of #764

[2018-09-21 13:44] #952 closed

[2018-09-21 14:12] rdvn commented on #953
That is great. In that case it is missing in official ansible [documentation](https://docs.ansible.com/ansible/latest/modules/list_of_network_modules.html#f5).

[2018-09-21 14:14] rdvn commented on #955
Perfect. Also missing from ansible [documentation](https://docs.ansible.com/ansible/latest/modules/list_of_network_modules.html#f5).

[2018-09-21 14:26] wojtek0806 commented on #947
@m2harshanalore are you able to provide output of the tmsh command mentioned by @caphrim007   when the playbook fails?

[2018-09-21 14:31] caphrim007 commented on #955
Yes, I know. It's part of Ansible 2.8, and that is not yet released

[2018-09-21 16:00] karldyson opened #957 "virtual server created with ip-protocol set to 'any' where type is performance-l4 regardless of value passed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS High Sierra 10.13.4
##### SUMMARY

Passing in ip-protocol seems to get overridden/ignored when type is set to performance-l4 resulting in it being set

[2018-09-21 17:42] #946 closed

[2018-09-21 17:44] #771 closed

[2018-09-24 08:55] onurbrc commented on #776
Hello,

I have the same problem trying to create a syslog configuration with an include filter.
I'm trying to use bigip_command while we don't have something like this  bigip_sys_syslog.
However, when I try to pass the command below, the '\"' surrounding the IP address disappear.
[code]
I got :
[code]
I tried to manipulate the escape, but the '\"' still missing.
With verbose dlevel, I got :
[code]

[2018-09-24 15:36] caphrim007 commented on #957
@karldyson can you provide your zones variable? or a sufficient representation of such a variable

[2018-09-24 15:44] caphrim007 commented on #957
<img width="1365" alt="screen shot 2018-09-24 at 8 42 28 am" src="https://user-images.githubusercontent.com/46956/45962501-d5c1fe80-bfd5-11e8-9c49-074c028e25b9.png">

@karldyson using your task above, I am unable to reproduce the error. My play is shown below.

[code]

Run with the following args

[code]

[2018-09-24 15:45] caphrim007 commented on #957
btw, I am testing with the code that will be Ansible 2.7. You may want to try the same to see if it resolves the issue

[2018-09-24 16:38] #954 closed

[2018-09-24 17:34] #951 closed

[2018-09-24 17:50] #767 closed

[2018-09-25 09:20] m2harshanalore commented on #947
You can proceed to close this issue , the conditional statement was passing unwanted parameters which caused the playbook to fail.

Thanks for your support.

[2018-09-25 12:25] rdvn opened #958 "Missing max_answers_returned in bigip_gtm_pool"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_gtm_pool

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Module bigip_gtm_pool is missing a few parameters, max_answers_returned is one of them. Please consider adding it. Thank you.

##### STEPS TO REP

[2018-09-25 13:29] rdvn opened #959 "bigip_virtual_server strips route domain"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Run following play

[code]

##### EXPECTED RESULTS

Play creates VS with address 10.10.10.10%10
##### ACTUAL RESULTS

[2018-09-25 13:33] rdvn commented on #887
This small fix strips RD from pool member definition. This won't fix this issue, but it creates another one.

[2018-09-25 14:06] #947 closed

[2018-09-25 14:24] rdvn opened #960 "Broken bigip_selfip"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

Using develop branch modules.

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected result is for run to finish without error.

##### ACTUAL RESULTS

[2018-09-25 14:29] caphrim007 commented on #960
@rdvn the error is evident in the output of that task

"Invalid self IP, the IP address 192.168.211.101 already exists"

[2018-09-25 16:07] erjac77 opened #961 "bigip_virtual_server NOT idempotent when a partition is specified"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

`bigip_virtual_server` module always returns `"changed": true` when a partition other than `Common` is specified.

##### STEPS TO REPR

[2018-09-25 16:15] atechnicnate commented on #959
I believe this is a duplicate of this: https://github.com/F5Networks/f5-ansible/issues/683

You might be able to create the virtual address first using bigip_virtual_address and then map to it using the bigip_virtual_server command second but I haven't tested that.

[2018-09-25 17:42] caphrim007 commented on #793
available here https://galaxy.ansible.com/f5devcentral/bigiq_onboard

[2018-09-25 17:42] #793 closed

[2018-09-25 19:32] erjac77 commented on #961
After further testing, I thing the problem is related to the profiles. If I remove them, the playbook passed the idempotency test. I tried all sort of combinations, but without success.

[code]
[code]
[code]

[2018-09-25 22:06] caphrim007 commented on #363
this is now complete

[2018-09-25 22:06] #363 closed

[2018-09-26 02:48] caphrim007 commented on #961
@erjac77 this is a bug. The correct syntax for your use case should be

[code]

The reason is because when you specify a `partition`, that partition is used for **all** places that a partition is needed (in this case `profiles`). The method for overriding that is to specify the specific partition where needed (as you've done in the second case).

[2018-09-26 03:17] #961 closed

[2018-09-26 03:32] #958 closed

[2018-09-26 06:08] rdvn commented on #960
That may be, but I believe, that it should not end with an error.

[2018-09-26 13:21] erjac77 commented on #961
@caphrim007 , thx for your response.

However, I still get a `"changed": true` status. See below.

[code]

I think the problem is due to the fact that the partition being included in the profile's name.

[code]

If you look on the BIG-IP, the partition is not part of the name, but has its own parameter.

https://x.x.x.x/mgmt/tm/ltm/virtual/~Test~http_to_https_redirect_virtual/profiles

[code]

I l

[2018-09-26 14:55] atechnicnate commented on #959
Tested adding VIP in RD first and it doesn't work that way either.  Looks like route domain support for virtual server is broken with no workaround right now.

[2018-09-26 14:55] caphrim007 commented on #961
@erjac77 yes, I know what the problem is/was, that's exactly what I fixed. You need to use the module from this repo to get the fix.

[2018-09-26 15:00] caphrim007 commented on #960
@rdvn no. The error is due to you already having some other self-ip with the same IP or the same name.

Ansible is not able to rectify situations where there is a duplicate IP address because we specifically key off of the **name** of your self-ip. If you are attempting to have 2 different named self-ips which have the same IP address (which is what this error indicates) then Ansible will be unabl

[2018-09-26 15:29] caphrim007 opened #962 "add global firewall rules module"
part of FMFA-128

[2018-09-26 21:05] #926 closed

[2018-09-27 01:49] caphrim007 commented on #957
@karldyson any update?

[2018-09-27 02:54] #889 closed

[2018-09-27 03:01] caphrim007 commented on #769
@bwearp any update?

[2018-09-27 03:14] caphrim007 commented on #756
some notes on this.

* To effect change, this needs to reboot the device.
* Sizes cannot shrink
* There is no REST API, that I am aware of, that can change this, so tmsh over REST will be required.

Output of commands to get disk space is shown below.

[code]

Current size will change to New Size value after reboot if it succeeds.

Disk space should not be more than 1.9 TB. It's not clear to me th

[2018-09-27 09:36] karldyson commented on #957
Hello,

Sorry, got sucked into some other work for a couple of days; apologies for the lack of response.

These are the pertinent bits of my play/roles/vars; essentially yours look valid. I'll try 2.7 in my beta env and come back to you.

$ cat f5.yml
- hosts: localhost
  gather_facts: no

  vars_files:
    - vars.yml

  roles:
    - f5-virtual

vars.yml contains something like this (I can't use t

[2018-09-27 11:55] bwearp commented on #769
Hi - not had a chance to check. WIll check asap and get back to you...

[2018-09-27 11:55] #769 closed

[2018-09-27 17:42] #776 closed

[2018-09-27 17:52] caphrim007 commented on #776
@onurbrc use the module I've recently uploaded here.

[2018-09-27 17:53] caphrim007 commented on #809
closing due to lack of response from OP. @MichalTaratuta if this is still needed, you can open a new issue and specify the relevant setting(s) you want to configure.

[2018-09-27 17:53] #809 closed

[2018-09-27 18:30] caphrim007 commented on #776
@onurbrc can you show me the task you're using exactly?

[2018-09-27 18:36] onurbrc commented on #776
@caphrim007

[code]

[2018-09-27 18:52] caphrim007 commented on #776
@onurbrc can you use a yaml block instead of a string?

For example
https://github.com/F5Networks/f5-ansible/blob/devel/test/integration/targets/bigip_device_syslog/tasks/include.yaml#L5

Then you should not need the escaping of quotes and things

[2018-09-27 18:57] onurbrc commented on #776
@caphrim007

Ok. I'll do that. Thanks.
I have insisted with this after seeing this : https://support.f5.com/csp/article/K13333
So, for the bigip it is the same with or without the escapes '\"' ?

[2018-09-27 22:39] #855 closed

[2018-09-28 17:29] #824 closed

[2018-09-28 17:32] caphrim007 commented on #960
@rdvn did you identify the self ip with the duplicate IP address? Do you still need help with this issue?

[2018-09-28 17:39] caphrim007 commented on #630
@rainierpineda2 did you ever get this figured out? or should we re-visit?

[2018-09-28 18:58] rainierpineda2 commented on #630
Hi Tim - I have not tested this in a while becuase I lost access to the F5 device that allows me to test this but the last I checked it stillwasn't working for me. I now have a different use case where the iApp I need to use to use isn't this but another one called iApp Service Discovery using a different template.

[2018-09-28 19:29] caphrim007 commented on #630
@rainierpineda2 do I close this issue then?

[2018-09-28 19:46] rainierpineda2 commented on #630
It is unresolved but since I don’t have cycles to validate you may close the issue for now. I will just open a new one if it becomes an issue again

[2018-09-28 21:33] caphrim007 commented on #630
@rainierpineda2 understood.

[2018-09-28 21:33] #630 closed

[2018-10-01 16:11] craigpfeiffer opened #966 "bigip_virtual_server source port for port_translation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_virtual_server
##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]
##### OS / ENVIRONMENT

##### SUMMARY
when creating a virtual server there is no option to specify "Source Port" for port translation.  The options are Preserve, Preserve Strict, and Change.

[2018-10-01 23:53] c41m4n opened #970 "bigip_virtual_server: destination not properly validated for forwarding-ip virtual servers"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When attempting to create a forwarding-ip virtual server the destination property can not be a network. Only single IP addresses as the destin

[2018-10-02 18:33] caphrim007 commented on #970
@c41m4n i believe this is a duplicate of #650. Can you check to see if this other issue addresses your request?

[2018-10-03 16:13] c41m4n commented on #970
@caphrim007 this does look like a duplicate.  My search-fu failed me.

[2018-10-03 16:56] caphrim007 commented on #970
@c41m4n okie doke. no problem. Do you want to go over there and click the smiley face button on the initial comment and give it an emoticon of some sort so that we know you're interested?

[2018-10-03 16:56] #970 closed

[2018-10-04 12:46] fad3t opened #976 "HTTP Error 401: F5 Authorization Required since upgrade to Ansible 2.7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_virtual_server (but other modules seem to be impacted as well)

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian 8

##### SUMMARY
I upgraded Ansible to 2.7 this morning and since then it seems several modules aren't able

[2018-10-04 15:04] caphrim007 commented on #976
@fad3t i'm not experiencing the same error with a fresh install of ansible via pip. are you using the admin account? or are you using an account that is a remote-access-like account such as RADIUS/TACACS?

[2018-10-04 16:20] fad3t commented on #976
@caphrim007 yes the admin account is the default admin, so it has the Administrator role. I tried uninstalling ansible and reinstalling it fresh using pip, but it didn't help.
Strange enough, the bigip_device_facts isn't giving this warning, but bigip_virtual_server or bigip_monitor_http do.

[2018-10-04 19:43] caphrim007 commented on #976
@fad3t does your password have special characters in it that might be causing it to fail? out of curiosity, can you change the admin password to something without special characters (just temporarily) to see if that is the issue? If it is, then its possible we have an encoding problem in our new code for connecting to the device

[2018-10-05 07:36] fad3t commented on #976
@caphrim007 I changed the password to "test123" but result is the same.
I downgraded ansible to 2.6.5 and the playbook works again. Then upgraded to 2.7 and it fails.
Is the module using a different uri since 2.7? I find it strange the error message is saying uri: None.
Thanks.

[2018-10-05 11:55] caphrim007 commented on #976
@fad3t that "none" is irrelevant. The actual error is

"""
Authentication required!</h1>\n<p>\n\n\n    This
server could not verify that you are authorized to
access\n    the URL \"/mgmt/shared/authn/login\".\n
You either supplied the wrong credentials (e.g., bad
 password), or your\n    browser doesn't
understand how to supply the credentials
required.\n\n  </p>\n<p>\n\n\n    In case you are
allo

[2018-10-05 11:57] caphrim007 commented on #976
What are the contents of your /root/frm/ansible/5-device-facts/ansible.cfg file? And u'/root/.ansible/plugins/modules directory?

[2018-10-05 12:48] fad3t commented on #976
/root/frm/ansible/5-device-facts/ansible.cfg
[code]
/root/.ansible/plugins/modules doesn't exist.

[2018-10-05 12:57] caphrim007 commented on #976
@fad3t can we try to eliminate the provider as a problem? Instead of specifying provider, can you try specifying all of the connection parameters inline in the task?

[2018-10-05 13:33] fad3t commented on #976
@caphrim007 result is the same. Here's what the task looks like now:
[code]

[2018-10-05 16:32] caphrim007 commented on #976
@fad3t can you run this curl command on the Ansible controller and report back what happens

[code]

BTW, what role does the "test" account you have above use? We suggest that the admin account be used in nearly all cases because there are known issues in some releases of bigip where a non admin account gets denied even if it has the administrator role

[2018-10-05 18:11] fad3t commented on #976
@caphrim007 this one seems to give an issue as well. Why is the bigip_device_facts not giving the error? Is it using a different endpoint? The "test" account has administrator role -- same as admin.
[code]
Thanks.

[2018-10-05 19:37] caphrim007 commented on #976
Can you provide the device_facts task that is not failing?

[2018-10-05 20:54] fad3t commented on #976
For example, in the following playbook, the 1st task succeeds but the 2nd one fails.
[code]

[2018-10-06 06:02] fad3t commented on #976
@caphrim007 I'm not sure but I don't think so. That's a VE so I guess it was installed straight from the OVF.
But I could try installing another version and see.

[2018-10-07 03:17] caphrim007 commented on #976
@fad3t I can reproduce this. I'm investigating a fix

[2018-10-08 12:48] jassouline opened #986 "Error "coercing to Unicode: need string or buffer, NoneType found" for bigip_asm_policy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_asm_policy

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
When i'm trying to use the bigip_asm_policy module, i have always the same error message in ansible :

jassouline@jassouline-ubuntu14

[2018-10-08 13:54] karldyson commented on #957
Once again, sorry for the delayed reply.

The problem appears to be resolved with ansible 2.7.0

[2018-10-08 17:00] caphrim007 commented on #957
thanks for checking on this Karl!

[2018-10-08 17:00] #957 closed

[2018-10-08 17:01] caphrim007 commented on #139
closing based on feedback from @delgadillo22

[2018-10-08 17:01] #139 closed

[2018-10-08 17:13] BradFelmey commented on #139
So this is being closed as... what? Done? Not done? Never going to be done?

[2018-10-08 17:45] HidingUnderMyRock opened #987 "Add BIG-IQ certificate module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- bigiq_ssl_certificate (proposed)

##### SUMMARY
Need to be able to deploy certificates and keys for BIG-IQ like we can to BIG-IPs.  Creating applications/services via BIG-IQ's service catalog requires certificates and keys to be managed by BIG-IQ before being used in a template.

[2018-10-08 19:45] delgadillo22 commented on #139
Closed -- not going to implement this request. Account team will work some potential solutions with you. Kevin (Principal Product Manager)

[2018-10-08 20:25] #804 closed

[2018-10-08 20:29] caphrim007 commented on #986
@jassouline if you're not specifying a file, then don't include the `file` parameter

[2018-10-09 02:43] caphrim007 commented on #976
@fad3t there is a fix here in the f5-ansible repo. The root cause of the problem is that BIG-IP 12.0.0 does not support authentication tokens like later releases of the product do. The fix in the repo is that we introduced a Basic Auth method of connecting as a "fallback" to the token method of connecting.

It will be part of Ansible 2.8, and we are looking into what it would take to make it part

[2018-10-09 07:33] fad3t commented on #976
Thx @caphrim007 for the update! It's OK since I only run 12.0.0 in lab. Any idea if that's the only version affected by this bug?

[2018-10-09 07:39] jassouline commented on #986
@caphrim007 Ok, but how can i do to export my ASM policy then ? I don't need file or template parameter and on the https://docs.ansible.com/ansible/latest/modules/bigip_asm_policy_module.html#bigip-asm-policy-module page, sometimes neither file or template are used.
Thanks for your reply !

[2018-10-09 10:20] wojtek0806 commented on #986
@jassouline This module does not do policy exports I am afraid. This is for importing and creating policies for ASM only

[2018-10-09 11:55] madhuvana opened #988 "LDAP Monitor module request"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-10-09 11:57] madhuvana commented on #988
I was looking to create LDAP monitor using ansible and coud not find role  or module for it in f5-ansible

[2018-10-09 12:06] jassouline commented on #986
@caphrim007 So for now, there is no way to export ASM policy with ansible ?

[2018-10-09 13:50] caphrim007 commented on #986
@jassouline correct

[2018-10-09 13:52] caphrim007 commented on #976
@fad3t I haven't yet tested the several hotfixes that exist for 12.0.0, but it is indeed working in 12.1.0 and later.

[2018-10-09 14:04] wojtek0806 commented on #986
@jassouline
You could utilise a combination of bigip_command module to execute tmsh and bash commands to export the policy, and move it to the desired folder on the bigip. then use ansible fetch module to do an scp transfer. It is a bit of work to do it but until we implement it this could be your only option.

(https://docs.ansible.com/ansible/2.7/modules/fetch_module.html#fetch-module)

[2018-10-09 17:18] MicSkr commented on #363
Thanks!

[2018-10-09 19:01] onurbrc commented on #945
@caphrim007 Does it work well for you when you try to create a new one ?

[2018-10-10 05:10] jmcalalang commented on #986
Not to hijack but if i can help.

This is absolutely 100% not from F5 support or @caphrim007, a few of us did try and create something which does an export, we highlighted it at Agility this year as a concept to see if it was being asked for from the field. If F5 support does develop one it may be very different! however if you were at Agility got to use this, and are now wondering where it was..

[2018-10-10 12:53] karldyson commented on #957
No problem. Thanks for looking, and for your patience with my laggy replies.

[2018-10-10 15:03] caphrim007 commented on #986
@jmcalalang you have a lot of modules in your library there. Would you mind if we turned them into official modules?

[2018-10-11 13:46] Ramneekkhurana opened #989 "bigip_gtm_pool - ttl parameter is not supported"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_gtm_pool

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
We need ability to provide ttl value while creating GTM pool, currently this parameter can be provided on GUI or tmsh and rest API but Ansible modu

[2018-10-11 16:18] #989 closed

[2018-10-11 19:20] deepfriedl opened #990 ""msg": "The python f5-sdk module is required""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_pool

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Playbook returns "The python f5-sdk module is required"

##### STEPS TO REPRODUCE

ansible-playbook create_pool.yaml --inventory inventorybigip.yaml

[2018-10-11 19:21] caphrim007 commented on #990
@deepfriedl are you using python in a virtualenv?

[2018-10-11 19:40] caphrim007 commented on #990
how did you install the python sdk? the specific command

[2018-10-12 15:42] caphrim007 commented on #989
@Ramneekkhurana 2.8, though it will also go out sometime today via the f5devcentral.f5ansible galaxy role.

[2018-10-12 17:09] wojtek0806 commented on #960
@rdvn It seems the problem has been resolved for you, I will close this issue for now, if there are any further problems feel free to reopen

[2018-10-12 17:09] #960 closed

[2018-10-12 17:11] wojtek0806 commented on #986
@jassouline do you have any further questions or can we close this issue as resolved ?

[2018-10-12 17:13] wojtek0806 commented on #735
@caphrim007 see Teams

[2018-10-12 22:28] rjouhann opened #994 "BIG-IP Device Management through BIG-IQ"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Device Management in BIG-IQ.
E.g. Add a BIG-IP to BIG-IQ, re-import & re-discover a BIG-IP in BIG-IQ.
Discover & Re-import each modules in BIG-IQ, enable stats collection.
Remove a BIG-IP from BIG-IQ.

##### BIGIQ VERSION
6.0.1.1 and above.

##### SUMMARY
We currently have a perl script we ship with the product (you can find it on download.f5.

[2018-10-12 23:34] jmcalalang commented on #986
@caphrim007 ill send you a note, but I want the original author to approve

[2018-10-13 03:17] caphrim007 commented on #792
this is now complete. it is distrubted as the register_dcd role in galaxy https://galaxy.ansible.com/f5devcentral/register_dcd

[2018-10-13 03:17] #792 closed

[2018-10-14 01:53] #800 closed

[2018-10-14 03:02] #109 closed

[2018-10-15 13:07] vchepkov opened #996 "bigip_remote_syslog task is non-idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_remote_syslog

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
while running playbook configuring remote syslog with remote_port receive 'changed' status every run

##### STEPS TO REPRODUCE
[code]

####

[2018-10-15 13:14] wojtek0806 commented on #996
as per slack I will have a look at it

[2018-10-15 15:32] vchepkov commented on #996
I should note another related defect.

if syslog was already configured without parameter local_ip set,
module fails to change configuration, I receive the following error

[code]

If I remove existing configuration, then it works

[2018-10-15 16:00] caphrim007 opened #998 "Add proxy_to arg for bigip modules"
To allow proxying module API calls through a bigiq

[2018-10-15 17:50] deepfriedl commented on #990
The command was pip --proxy=SomeProxy:ProxyPort install f5-sdk .
I don't really think this is a bug. I'm having the problem with all of my playbooks on a given server and can run the same playbooks on another. Sorry if this was a waste of time.

[2018-10-15 19:04] caphrim007 commented on #990
@deepfriedl does the following work?

[code]

[2018-10-15 20:08] deepfriedl commented on #990
The command runs without error, but there was no change to the error when I run a playbook.

[2018-10-15 22:15] #988 closed

[2018-10-15 23:24] caphrim007 opened #1000 "add content to backup_config role"
https://github.com/f5devcentral/ansible-role-backup_config

This is part of Ansible's common network roles.

[2018-10-16 10:51] wojtek0806 commented on #996
In regards to the first issue you reported, I have tested this with the module not refactored yet and on our current devel and on 2.7.0 stable and it is not reproducible.

**My playbook**:
[code]
**Ansible Version**:
[code]
**Playbook run**:
[code]

[2018-10-16 10:51] wojtek0806 commented on #996
Looking into the second issue you mentioned.

[2018-10-16 11:31] vchepkov commented on #996
If I change ansible_host to inventory_hostname, then I can see reproduce my issue

syslog is configured with a different port

and I see message

changed: [infdevn-ltm201 -> localhost] => {"changed": true, "remote_port": 1516}

But I can see in GUI - nothing changed

Cleanup tasks also doesn't remove anything

[code]

[2018-10-16 11:49] vchepkov commented on #996
Here is a reproducer
[code]

[code]

[2018-10-16 11:53] vchepkov commented on #996
My guess is, in version 2.6.4 ansible wasn't able to change port, but was reporting it as 'changed'
in 2.7.0 it fails to update the configuration.

[2018-10-16 13:44] caphrim007 commented on #814
@kruge002 we do not watch old issues. If there is an issue which needs to be addressed, please file it as a new issue.

[2018-10-17 11:53] kruge002 opened #1005 "The specified pool does not exist"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_pool_member.py

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When the BIGIP is not reachable or when you use a wrong password the error message is always the same: "The specified pool does not exist". Thi

[2018-10-18 10:28] wojtek0806 commented on #996
I have identified the issue,  once the fix is ready I will let you know

[2018-10-19 19:47] csnyder78 commented on #823
That's awesome, perhaps we can get someone to put that in the documentation.  This took 5 hrs of my day.

[2018-10-23 16:42] #996 closed

[2018-10-23 19:49] danielcayer opened #1016 "auth_provider unsupported parameter for bigip_device_license"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_device_license

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac High Sierra version 10.13.6

##### SUMMARY

Trying to use this module to license bigip, but can't figure out how to get pass this error.

#####

[2018-10-23 21:15] caphrim007 commented on #1016
@danielcayer auth_provider was added in ansible 2.8 (or what will be 2.8). though I dont know if it has been merged into upstream ansible yet

[2018-10-24 10:06] JapaneseMuscleDE opened #1017 "bigip_device_facts - connection refused when trying to get all facts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_device_facts

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When I try to use the Module with the gather_subset set to "all" I the "connection refused" error. However no connection is refused at all (I checked

[2018-10-24 12:01] MVogel91 opened #1018 "bigip_device_httpd re-arranges ssl_cipher_suite tokens"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
bigip_device_httpd

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The input to ssl_cipher_suite is rearranged which makes it behave different.
In my certain case, DEFAULT:!SHA was altered to !SHA:DEFAULT wh

[2018-10-24 12:13] pg0581 opened #1019 "bigip_device_facts module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_device_facts

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
I'm not sure if this is a bug or not, but, I can't seem to get this module to work. When I run the playbook it's telling me that there is no acti

[2018-10-24 12:31] pg0581 commented on #1019
Thanks to you both. I just noticed that note at the top of the document for the module, totally missed it.

[2018-10-24 12:47] wojtek0806 commented on #1019
glad we could help

[2018-10-24 12:47] #1019 closed

[2018-10-24 13:56] caphrim007 commented on #1017
this looks like an error coming directly from the REST API. Can you try doing `bigstart restart restjavad` on your bigip?

[2018-10-24 14:21] JapaneseMuscleDE commented on #1017
I also thought is was the F5 at first but I already reloaded it completely without any change. And as stated above same playbook works with

[code]

its just the "all" that doenst work.

However, I tried doing the restart and I get this form the CLI

[code]

[2018-10-24 14:23] caphrim007 commented on #1017
restjavAd; ie, "rest", "java", "d".

Yours has an "e" instead of an "a"

[2018-10-24 14:29] caphrim007 commented on #1017
ok. my 2nd guess then in that we are denial of servicing the REST API and it returns that error while it's in the middle of restarting itself. I'll have a look.

[2018-10-24 14:35] JapaneseMuscleDE commented on #1017
Check out the archive that I dropped in here as well, it contains the tcpdump. You ll see its right at the beginning, so I am not positive about the DoS thought you have.

[2018-10-24 15:00] danielcayer commented on #1016
I removed all of the modules I had previously copied into my repo's library folder and it works now. All good!

[2018-10-24 15:00] #1016 closed

[2018-10-24 15:31] caphrim007 commented on #1017
@JapaneseMuscleDE can you provide the list of bigip modules that you have provisioned?

[2018-10-24 18:37] onurbrc commented on #945
@delgadillo22 Does it work well for you when you try to create a new static route ?

[2018-10-24 20:12] caphrim007 opened #1021 "as3 module interpreting content as string"
There seems to be cases where the as3 module interprets a lookup as a string instead of a dictionary. This causes the `exists` method to break. The module should attempt to change the string into a dictionary as the expected payload is JSON.

[2018-10-24 20:17] #1021 closed

[2018-10-25 09:19] MVogel91 opened #1022 "bigip_profile_http add "header_insert", "header_erase", "server_agent_name", "hsts""
##### ISSUE TYPE

 Feature Idea

##### COMPONENT NAME

bigip_profile_http

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Could you please extend the profile capabilities to also allow modification of:
* server_agent_name
* header_erase
* header_insert
*

[2018-10-25 12:15] pg0581 commented on #1017
@caphrim007 I'm experiencing the same issue @JapaneseMuscleDE is seeing as well. The "- all" option doesn't work and you get the "msg": "java.net.ConnectException: Connection refused" error. So far the other options under "gather_subset" works.

[2018-10-25 12:53] JapaneseMuscleDE commented on #1017
@caphrim007 Hope thats what you were looking for? We only provisioned the LTM on the VE F5

root@(f5-ltm)(cfg-sync Standalone)(Active)(/Common)(tmos)# list sys provision
sys provision afm { }
sys provision am { }
sys provision apm { }
sys provision asm { }
sys provision avr { }
sys provision fps { }
sys provision gtm { }
sys provision ilx { }
sys provision lc { }
sys provision ltm {
    level nomi

[2018-10-27 07:45] chiccat commented on #823
Hello everyone,
I'm trying to do a similar task.
I have a set of nodes which are used in multiple pools.

But getting these errors:

`TASK [Add pool members] **********************************************************************************************************************************************************
failed: [127.0.0.1 -> localhost] (item=[{u'partition': u'APPS', u'name': u'POOL1', u'po

[2018-10-27 07:50] chiccat commented on #823
I changed to reuse_nodes: yes and I see another problem.
My Pool on one partition, but nodes in Common.
Is it possible to add nodes from Common partition to Pools in other partitions?
Thank yo

[2018-10-27 17:01] #1022 closed

[2018-10-27 18:28] chiccat opened #1027 "Pool members from Common partition add to pool in any other partition"
Hi,
We keep all our nodes in Common partition.
Is it possible to add functionality to allow attach those nodes to pools in any other partition?
My understanding that f5 python module support this (I, also, used to to this with f5 api through chef).

Thanks

[2018-10-27 20:49] chiccat opened #1028 "bigip_monitor_http doesn't support reverse option"
Hello,
Is it possible to add support for reverse option?
Thanks

[2018-10-27 21:16] caphrim007 commented on #1027
@chiccat this should be possible, but is not currently due to the way that the pool member module handles pool names. I have a fix for this though that I am testing now.

[2018-10-27 22:45] #1027 closed

[2018-10-29 22:57] simonkowallik opened #1030 "bigip_asm_policy: no policy created when neither template nor file is specified"
within:
https://github.com/F5Networks/f5-ansible/blob/97917c53466e54a1601873209925bda1db827c53/library/modules/bigip_asm_policy.py#L566
https://github.com/F5Networks/f5-ansible/blob/97917c53466e54a1601873209925bda1db827c53/library/modules/bigip_asm_policy.py#L577-L578
indicates a blank policy should be created when neither a `template` nor `file` is specified. Documentation doesn't require `templa

[2018-10-30 01:09] wojtek0806 commented on #1030
This module will not support creating empty policies at this stage, the simple fact being that we do not offer any kind of policy settings tweaking with ansible. I can include a boolean to indicate a desire for empty policy creation. However no modification of its settings would be possible, as this requires careful planning given the amount of REST endpoints involved. If you have desire for such

[2018-10-30 09:35] igorpiazza commented on #976
Hello,
I'm using f5-ve 12.1 with ansible 2.7.1.
Connection test with curl report this issue:

curl -k -X POST https://172.31.255.40/mgmt/shared/authn/login -d '{"username": "admin", "password": "test", "loginProviderName": "tmos" }'

{"code":400,"message":"loginProviderName is invalid.","originalRequestBody":"{\"username\":\"admin\",\"loginProviderName\":\"tmos\",\"generation\":0,\"lastUpdateMicro

[2018-10-30 17:47] DerrickTJ commented on #887
Also running into the same issue with Ansible 2.7.

As mentioned above, you can create the nodes within the bigip_pool_member but as soon as you have to reuse that member it errors out again.

`TASK [Add nodes to pool] ********************************************************************************************************
changed: [1.1.1.1] => (item={u'f5_node_name': u'sdc1-v', u'f5_node_ip': u'69

[2018-10-30 17:57] onurbrc commented on #945
Hello @caphrim007,

Thank you for your explanation.
I reviewed my actions and I have some observations. Could you please analyse them with me ? I think that it would be interesting to have an option inside the bigip_routedomain module to swap the parameter "Partition Default Route Domain" with the value "This route domain is the Partition Default Route Domain" if it is created within a partition.

[2018-10-30 18:02] caphrim007 commented on #887
@DerrickTJ I changed this behavior in pool_member the other day. The code in this repository here should reflect that change if you want to try it

[2018-10-30 18:43] DerrickTJ commented on #887
I probably did this wrong. I just grabbed the bigip_pool_member.py file and uploaded to my server. New error. It was the only file I replaced. (I made a backup copy)

[code]

[2018-10-30 21:09] caphrim007 commented on #990
@deepfriedl did you make any progress with this?

[2018-10-30 22:13] caphrim007 commented on #945
@onurbrc your sequence of events there is correct; there is not always a good reason to have another parameter added to a module. You have thought out the set of Tasks there and its clear what needs to be implemented in your Ansible playbook.

If there were a parameter to do such a thing, I imagine that it would require that the `partition` argument to the `bigip_routedomain` module be specified,

[2018-10-30 22:51] #1028 closed

[2018-10-31 02:35] caphrim007 commented on #1018
@MVogel91 I was not aware that order mattered here. Out of curiosity do you have a doc somewhere that backs this up?

[2018-10-31 02:50] caphrim007 commented on #1017
@JapaneseMuscleDE identified the problem. This appears to be being caused by ASM not being provisioned. I'll fix this.

[2018-10-31 03:29] #1017 closed

[2018-10-31 07:21] onurbrc commented on #945
Hello @caphrim007,

Yes.
I'll do the sequence above.
Thank you for your help. :-D
We can close this issue I think.
Best regards.

[2018-10-31 08:02] MVogel91 commented on #1018
@caphrim007 I'm sorry, I can not find a document, that explicitly states, that you need to name a ciphergroup in the beginning, before you exclude ciphers.

I can still find this documentation: https://www.openssl.org/docs/man1.0.2/apps/ciphers.html . If you use ":", this will define a preference, that the first will be preferred over following ones, so I'd say that should be sufficient to keep th

[2018-10-31 08:11] igorpiazza commented on #945
Il giorno Mar 30 Ott 2018, 23:13 Tim Rupp <notifications@github.com> ha
scritto:

[2018-10-31 16:55] adolphsons opened #1034 "bigip_traffic_selector add description"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_traffic_selector

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### SUMMARY

Add a description option to bigip_traffic_selector.py module
##### STEPS TO REPRODUCE

[code]

[2018-10-31 16:59] adolphsons opened #1035 "bigip_ike_peer add description option"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_ike_peer

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### SUMMARY

Add a description option to bigip_ike_peer.py module
##### STEPS TO REPRODUCE

[code]

[2018-10-31 17:08] adolphsons opened #1036 "bigip_routedomain add option"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_routedomain

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### SUMMARY

Add fw-enforced-policy option to bigip_routedomain module
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-10-31 19:37] DerrickTJ commented on #887
@caphrim007 I've tested with https://galaxy.ansible.com/f5devcentral/f5ansible

Same error as before.
"The specified 'address' value is not a valid IP address."

[2018-10-31 20:04] caphrim007 commented on #887
@DerrickTJ you need to install the `master` branch of that repo.

ansible-galaxy install --force f5devcentral.f5ansible,master

[2018-10-31 20:13] DerrickTJ commented on #887
`- f5devcentral.f5ansible (master) was installed successfully`

`TASK [Gathering Facts] **********************************************************************************************************
ok: [1.1.1.1]

TASK [f5devcentral.f5ansible : Check ansible version] ***************************************************************************
skipping: [1.1.1.1]

TASK [Use VARs from file] *************

[2018-11-01 12:21] DerrickTJ commented on #887
@caphrim007 Sure can! The below is how it currently is setup after reading through a few of these bug reports and what others have tried to do. I usually have the other node module create the nodes first and then just have the pool_member add them. Either way, they produce the same error.

Partition "ACI_DataCenter" has a default route domain set to 30.

VAR file:
[code]

Playbook snip
[code]

[2018-11-01 12:50] adolphsons opened #1038 "bigip_selfip add option"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_selfip

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### SUMMARY

add description option to bigip_selfip module
##### STEPS TO REPRODUCE

[code]

[2018-11-01 16:44] #755 closed

[2018-11-01 18:20] lmickey opened #1040 "bigip_virtual_server add mirroring option"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_virtual_server

##### ANSIBLE VERSION
ansible 2.7.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/lindsay/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/lindsay/Ansible2.7/lib/python2.7/site-packages/ansible
  executable location = /home/lin

[2018-11-01 18:53] wojtek0806 commented on #945
closing as per comment

[2018-11-01 18:53] #945 closed

[2018-11-01 19:13] caphrim007 commented on #1018
@MVogel91 okie doke. thanks for that. it provides enough explanation

[2018-11-02 14:29] wojtek0806 commented on #1036
These options require AFM provisioned and an AFM policy configured. Also you cannot create new route domains and at the same time set that option. This means that you can only update/remove that setting from an existing route domain.

https://support.f5.com/kb/en-us/products/big-ip-afm/manuals/product/network-firewall-policies-implementations-13-0-0/6.html#guid-dc95f224-131b-4b92-a3fd-11bfe7af8ad3

[2018-11-02 15:13] adolphsons commented on #1036
If the current module cannot create the new route domain then make a call to modify it, how about a new module for modifying the route-domain? There are parameters that are needed after creating the rout-domain and we at AT&T prefer module specific for the tasks.

[2018-11-02 15:29] caphrim007 commented on #1036
@adolphsons I spoke with @wojtek0806 and we can make the module support the feeling policy argument upon creation. There will be no need to write two tasks (one to create followed by one to update) the module can do the update upon initial creation for you.

Then, as follows, it would also be able to do the normal updating in place as well

[2018-11-02 16:04] #1036 closed

[2018-11-02 16:08] wojtek0806 opened #1045 "add empty string or 'none' to description in bigip_monitors"
To be able to zero out the description we should allow the usage of 'none' or empty string. Currently none of the http monitors have that option

[2018-11-02 16:53] #1038 closed

[2018-11-02 17:00] #1035 closed

[2018-11-02 17:03] #1034 closed

[2018-11-02 18:23] #1045 closed

[2018-11-02 19:35] deepfriedl commented on #990
@caphrim007 No, I haven't been able to find the issue and can't recreate it on other servers. I can't pin down what the problem is on this server, and since it's a VM, will probably just rebuild it.

[2018-11-05 14:35] #959 closed

[2018-11-05 14:54] #966 closed

[2018-11-05 17:30] #1040 closed

[2018-11-06 08:06] onurbrc opened #1050 "Add RADIUS support to bigip_device_auth"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_device_auth

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY
Hello,

We would like to use a radius as a remote authentication source when we don't have TACACS.

##### STEPS TO REPRODUCE
TMSH co

[2018-11-06 08:31] onurbrc opened #1051 "Create personal icmp monitor with 'defaults-from gateway_icmp'"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_monitor_icmp

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY
Hello,

We would like to create an icmp monitor as a gateway_tracking inheriting from gateway_icmp.
We use it on pool level to chec

[2018-11-06 13:49] onurbrc commented on #1050
@wojtek0806,

As I mentioned above, for the command line below

[code]

Would it be possible to set this part with bigip_device_auth module ?
 Expected :

[code]

Best regards.

[2018-11-06 14:46] wojtek0806 opened #1052 "route_domain parameter ignored at partition creation"

[2018-11-06 15:58] onurbrc commented on #778
Hi,

This feature will be very nice.
I've been trying to import the F5 script below to monitoring DNS changing as an external script file, but the script has a several special characters and system variables, so if I try to copy the file content from my machine to the bigip, the special character or nested quotes marks are not considered. The python behind ignore them.
Script :
[code]

So, I'm pas

[2018-11-06 18:32] payalsin opened #1053 "bigip_device_facts is missing availability status on pool and virtual server"
Availability status of pool and virtual server is missing.

[code]

1)Facts for nodes is good, provides the availability status
[code]

2) For pool, there is a status for each pool member but not for the entire pool
[code]
3) For virtual server there is no status information
[code]

[2018-11-06 18:47] #1052 closed

[2018-11-07 12:35] wojtek0806 commented on #683
this is now fixed

[2018-11-07 12:35] #683 closed

[2018-11-07 13:46] DerrickTJ commented on #887
Thanks @wojtek0806 and @caphrim007. I've tested the update and it is working for me now.

[2018-11-07 19:35] wojtek0806 commented on #751
@Fuochi-YNAP I have been looking at this issue and I do not understand the problem:

Are you trying to create a VS with a name {{ server.name }} but the VS with that name already exists on BIGIP?

1. If yes, then the update operation would occur and the parameters that are different between your playbook and the existing VS will be updated, then I can try to use your playbook to verify.

I would n

[2018-11-07 19:37] wojtek0806 commented on #990
@deepfriedl
given your above response and since SDK requirement will be removed in 2.8 we will close this. Please let us know if issues arise after 2.8 is released, or if you still experience them on the current 2.7 build

[2018-11-07 19:37] #990 closed

[2018-11-07 19:44] wojtek0806 commented on #863
@ahamed-atypon
Can you tell us if this is still the problem after moving to 2.7.0. If so then looking at the error, can you tell me the exact tmos version for that BIGIP in question?

[2018-11-07 19:50] caphrim007 commented on #976
closing this because it should be available now in the galaxy role and will be part of 2.8

[2018-11-07 19:50] #976 closed

[2018-11-07 20:39] #650 closed

[2018-11-07 20:42] #641 closed

[2018-11-08 04:02] #1053 closed

[2018-11-08 05:59] #1018 closed

[2018-11-08 08:09] Fuochi-YNAP commented on #751
Hi @wojtek0806,
Thanks for taking this issue.
The problem is related to the check with source and destination parameter. If I remember correctly, you check if the two IPs are of the same type. However, you are supposing that the name of the VIP is the VIP itself. If you check from here, it should be clearer:
https://github.com/F5Networks/f5-ansible/blob/bd1b81ddb62097ca4b1579031be5f7741406435d/lib

[2018-11-08 08:50] mojr13 commented on #650
Hello,
it looks like this fix broke the bigip_virtual_server functionality. Unless you specify 0.0.0.0 address it will not work. The error log is:

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ansible.module_utils.compat.ipaddress.AddressValueError: '1.1.1.1' does not appear to be an IPv4 or IPv6 network. Did you pass in a bytes (str in Python 2)

[2018-11-08 11:46] wojtek0806 commented on #751
@Fuochi-YNAP I have read through what you said and I am sorry to say this is still unclear?

Name parameter for Virtual Server can be anything and it is unique to each Virtual Server created on the BIGIP. You cannot amend or change it once the Virtual Server is created. So if you provide a virtual server name in the playbook and some other parameters and that server exists it will amend the existi

[2018-11-08 11:48] wojtek0806 commented on #650
This looks like an issue with py 2.x string representation. i will amend this so that we pass unicode, to facilitate py 2.x situations

[2018-11-08 12:26] wojtek0806 opened #1057 "fix unicode string and add tests to bigip virtual server"
this is related to fix for #650

[2018-11-08 12:26] wojtek0806 opened #1058 "fix unicode string and add tests to bigip virtual server"
this is related to fix for #650

[2018-11-08 12:32] wojtek0806 commented on #1057
this is a duplicate

[2018-11-08 12:32] #1057 closed

[2018-11-08 13:28] #863 closed, assigned to wojtek0806

[2018-11-08 13:41] wojtek0806 commented on #1005
@kruge002

I have tested this with current devel version and I get correct errors, I see that you are using 2.64 ansible, can you at least try the latest version and let us know if this persists, alternatively see if you can test with our current devel and get the same error, as it seems fine on my end:

- Invalid password test:
[code]
- Invalid ansible host test:
[code]

[2018-11-08 14:00] wojtek0806 commented on #1030
@simonkowallik submitting PR shortly

[2018-11-08 15:15] #1058 closed

[2018-11-08 17:11] DerrickTJ commented on #887
@caphrim007 @wojtek0806 I'm truly sorry and may have jumped the gun on saying this was fixed. It seems to be doing better but it still cannot add nodes to the pool.

If the node is already in the pool, it says it is ok and moves on. It use to error out before. So I assumed it was good. Today I went to create a new node and it failed to join the pool saying the same errors as before: invalid IP add

[2018-11-08 17:13] #1030 closed

[2018-11-08 17:47] DerrickTJ commented on #887
@wojtek0806 I probably didn't word this right. The issue is still with bigip_pool_member. I only included the creation of the node above for reference of how the node was created.

The playbook will first create the node with bigip_node. So as far as bigip_pool_member is concerned, the node exists prior to adding the member. The node and pool are part of the same partition.

[2018-11-08 19:04] DerrickTJ commented on #887
Partition "ACI_DataCenter" has a default route domain set to 30.
Ansible 2.7.0
Python 2.7.5
Lab F5: 13.1.1.2
PROD F5: 13.1.0.8

I'm running your playbooks against my LAB F5.
I had to comment out the assert module that verified the route domain as it was crashing the playbook. I manually verified the the RD and partiion were created and partition had the correct route domain.

first repro:
[code]

[2018-11-08 19:12] onurbrc commented on #887
Hi,

I'm having the same problem with bigip_pool_member when I try to add a new already created node into a pool.

I've trying different ways to represent the same behavior as the tmsh command :
[code]
Like "Node List" option passing by GUI in pool/mmebers.

As suggested, I can use bigip_pool_member to create nodes without using bigip_node, this works very well. But, in my case, sometimes we want

[2018-11-08 19:33] wojtek0806 commented on #887
@onurbrc

This is a different issue, when you create nodes you create a server without port attached, when you reuse them as pool_members you attach a port to the node, simply think of the pool member as services running on your nodes.

 You should be able to reuse the exiting nodes to add them to the different pools as members, provided they are on the same partitions, as the bigip_pool_member mo

[2018-11-08 19:35] wojtek0806 commented on #887
Once we have the sufficient data from @DerrickTJ and determine this is indeed a bug I will open a new issue. for now I will close this, but we can continue discussion here

[2018-11-08 19:35] #887 closed

[2018-11-08 19:48] onurbrc commented on #887
@wojtek0806,

The nodes that I'm trying to attach to a two or more pools are in the same partition that I'm creating the pools. The routedomain is also linked to the partition.

[2018-11-08 19:49] DerrickTJ commented on #887
@wojtek0806 Are you referring to this? ```ansible-galaxy install f5devcentral.f5ansible``` or ```ansible-galaxy install --force f5devcentral.f5ansible,master``` I thought the only way to use those was by using the dev role:
[code]

Sorry, you threw out some new terms I'm not use to hearing.

[2018-11-09 09:44] Fuochi-YNAP commented on #751
@wojtek0806, for that I need time, I opened this issue 5 months ago.
However, I'm not talking about the name of the Virtual Server, The problem is with the name of the Virtual Address.

If there is a virtual address with a real name, like this one:

[code]

Then, if in the ansible playbook the "source" parameter is defined, the playbook breaks as stated in the description. This is because it check

[2018-11-09 12:01] mojr13 opened #1061 "bigip_virtual_address not working with route domain"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_address

##### ANSIBLE VERSION

[code]
Also reproduced on stock 2.7 ansible version.

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

Added a path for devel version of F5 libraries

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When trying to configure bigip_virtual_ad

[2018-11-09 12:09] mojr13 commented on #1061
There is a parameter route_domain that does the trick.

[2018-11-09 12:09] #1061 closed

[2018-11-09 12:57] wojtek0806 commented on #751
@Fuochi-YNAP thanks for that, that makes much more sense now, will investigate and get back to you

[2018-11-09 13:02] wojtek0806 commented on #887
@DerrickTJ what i meant was to clone f5-ansible repository and use the contents of the library for your ansible modules code, which what the ansible galaxy role you have is doing, the problem is that the role does not have recent changes so we need to do a new release of it. I will see if we can update it today so you can download it from ansible galaxy and retest.

[2018-11-09 13:04] wojtek0806 commented on #887
@onurbrc
Unfortunately this is not supported by the module at this time. Feel free to open an issue to request this enhancement.

[2018-11-09 13:06] DerrickTJ commented on #887
@wojtek0806 Ah ok that makes sense. Thank you.

[2018-11-12 02:52] #1051 closed

[2018-11-12 04:30] caphrim007 commented on #288
closing this for now as it is not something that I think should reside in a module. a role is more appropriate.

[2018-11-12 04:30] #288 closed

[2018-11-12 11:47] kruge002 commented on #1005
I can see from the differences compared to the stable-2.7 version that things have improved substantially. In the stable-2.7 release the problem is in method exists(self) starting at line 605: anything that goes wrong within the try..catch block leads to the "The specified pool does not eixst" exception.

In the devel release this is fixed. Thanks!

[2018-11-12 12:18] wojtek0806 commented on #1005
@kruge002 yes we have removed SDK from the ansible modules and it seems to have cleared up a number of issues. I am glad this helped. Closing this issue

[2018-11-12 12:18] #1005 closed

[2018-11-12 22:45] #602 closed

[2018-11-13 00:02] #592 closed

[2018-11-13 00:03] caphrim007 commented on #592
the current module appears to handle this correctly in the vcmp ui. added tests to illustrate this. note that changing the VLANs on the guest would be part of the bigip_vlan module and not part of the bigip_vcmp_guest module. the guest module can only influence the configuration of the guest as it appears to the vcmp API endpoint.

[2018-11-13 21:13] caphrim007 opened #1063 "bigip_virtual_address needs to compress IPv6 addresses"
The current version of the bigip_virtual_address module does not compress ipv6 addresses. This causes the module to attempt to re-create the virtual address because the ipv6 address is stored in compressed form in the REST API

[2018-11-13 21:28] #1063 closed

[2018-11-14 06:16] writemike opened #1064 "bigip_routedomain - "The parent route domain was not found.""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_routedomain

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Docker Instance running CentOS 7

##### SUMMARY

After installing one route domain, I'm unable to create a second route domain with the first route doma

[2018-11-14 18:06] wojtek0806 commented on #880
as discussed @caphrim007 will try with lookup plugin for this

[2018-11-14 21:45] caphrim007 commented on #786
it is not sufficient to use the `copy` or `template` modules because mcpd needs to know about the file and, to do this, it needs to be added via proper channels (rest, tmsh, etc). This process also stashes the file itself into the /config/filestore sub directory tree.

kinda a bummer, but it seems we need to create a module for this purpose. :-(

[2018-11-15 02:42] #786 closed

[2018-11-15 02:52] #778 closed

[2018-11-15 02:54] caphrim007 commented on #547
closing this as I am unable to reproduce with the iapps that F5 publishes on downloads. You may want to try the most recent version of the modules as published in ansible galaxy here

https://galaxy.ansible.com/f5devcentral/f5ansible

[2018-11-15 02:54] #547 closed

[2018-11-15 03:31] caphrim007 commented on #631
I believe the appropriate method to accomplish what you need to do would look like this

[code]

I will acknowledge that this is a separate task, however it keeps the module responsibilities clear without mucking the internal implementation of the code.

My recommendation would be that if this is something that you need to do frequently, or want to make it behave like you requested, then a role is

[2018-11-15 03:31] #631 closed

[2018-11-15 06:54] onurbrc opened #1065 "Error with validate_certs using bigip_file_copy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_file_copy

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY
Hello,

I don't know if I'm doing something wrong, but iControl seems ignore "validate_certs: no" using the bigip_file_copy module. I'm

[2018-11-15 12:32] damonnk opened #1066 "Password-policy module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
password-policy

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
I was looking to set the password-policy and couldn't find the module for it.
As a workaround I used the command module and it works.

###

[2018-11-15 18:38] wojtek0806 opened #1068 "add gtm topology regions module"
this will complement the newly added gtm topology records module

[2018-11-15 18:39] wojtek0806 opened #1069 "update stubber templates"
stubber templates are a bit out of date so they need some updating

[2018-11-15 18:40] wojtek0806 opened #1070 "add unicode casting"
currently newer methods that work and parse ip address/masks lack this

[2018-11-15 19:06] caphrim007 commented on #1065
@onurbrc how did you "install" the module? did you use it through the f5devcentral.f5ansible galaxy role?

[2018-11-15 23:13] caphrim007 commented on #1065
@onurbrc I cannot reproduce this using the galaxy role. I think there's a misconfiguration on your end.

[2018-11-16 04:00] #1070 closed

[2018-11-16 13:43] wojtek0806 commented on #1064
reproducible, working on fix now

[2018-11-16 14:54] #1064 closed

[2018-11-16 14:56] #1069 closed

[2018-11-16 17:47] #656 closed

[2018-11-16 21:48] kryojenik opened #1073 "[DOC]: Run your first BIG-IP playbook"
- Documentation Report

##### SUMMARY
Add enough information to the "Run your fist playbook" page so that someone with zero exposure to ansible can run a simple playbook against an existing BIGIP.

The page prior describes how into install ansible.  Assuming those steps were followed on a new machine, run the playbook.

This should include creating a single device inventory file, setting any neces

[2018-11-16 22:19] kryojenik commented on #1073
An additional note.  Could the code snippit blocks on this page match the code in the linked playbook.yaml file?

[2018-11-16 22:45] #1073 closed

[2018-11-16 22:59] caphrim007 opened #1074 "ports in monitors do not support *"
The port value in the monitor modules is restricted to integers only when the correct value according to the docs would be `'*'`

[2018-11-16 23:19] #1074 closed

[2018-11-17 04:44] caphrim007 commented on #715
Roman asked me to close this for now until demand for the feature increases

[2018-11-17 04:44] #715 closed

[2018-11-17 04:45] caphrim007 commented on #987
@HidingUnderMyRock contact Roman about this. He has instructed me that this functionality (in applications) can/will be made available in the AS3 versions of Applications and that this issue should be closed for now

[2018-11-17 04:45] #987 closed

[2018-11-17 04:46] caphrim007 commented on #998
According to the BIG-IQ PM, this should be closed as the REST Proxy feature in BIG-IQ is not a supported feature, and therefore we should not build on top of it.

[2018-11-17 04:46] #998 closed

[2018-11-17 16:58] onurbrc commented on #1065
I just tested again after reviewing the parameters. I still have the message error telling me to use validate_certs=False. But, I was using it already. In my tasks I precise "validate_certs: no".

I'm using Ansible 2.7 and the latest icontrol.py. Should I have update another library ?

[2018-11-17 17:48] onurbrc commented on #1065
@caphrim007 YES !!! \o/
It worked properly. Thanks.

But I'm a little bit lost now. What was the problem ? I surely did something wrong, but I don't know what ?

So, I must use role: f5devcentral.f5ansible before tasks waiting for a stable version ? I'm asking because I don't use ansible-galaxy very much. Sorry.

Thanks very much. ;-)

[2018-11-17 18:10] caphrim007 commented on #1065
I'm not sure what the problem was. I would guess its some difference in module utils in your installation.

The galaxy role is for people who need solutions "now" and not "4 months from now". Since Ansible itself is released quarterly, and the F5 team makes enhancements and fixes daily, there is a significant waiting period in place before you the customer can get these fixes and enhancements.

Ga

[2018-11-17 18:10] #1065 closed

[2018-11-17 18:18] onurbrc commented on #1065
I appreciate your explanation. It is very clear now.
Thank you very much.
I'll use ansible-galaxy \o/.
Best regards.

[2018-11-19 15:30] wojtek0806 commented on #751
@Fuochi-YNAP This is also the case for TMSH, see below for output from TMSH:

[code]
One thing to note:

When you delete Virtual Server after it is created like above, the Virtual Address will also be removed, this is an expected behavior as leaving orphaned Virtual Addresses will lead to situations where BIGIP will respond to ARPs for those IPs even thou they are going nowhere.

I will need to lo

[2018-11-19 15:38] wojtek0806 commented on #751
@Fuochi-YNAP to add to the above, technically you should not be in the business of creating Virtual Addresses on their own as this will lead to network routing and L2 problems, however if you wish to retain this address after Virtual Server is deleted, you could set auto-delete option to false like in the example below, I believe this parameter is a part of virtual-address module already:

[code]

[2018-11-19 16:15] Fuochi-YNAP commented on #751
@wojtek0806 thanks for your reply, I confirm you that you did the correct steps in TMSH to replicate the situation.
I understand that the Virtual Address should be deleted when it's not used.
A use case, when you already have a Virtual Address before creating the virtual server, is when you have different Virtual Servers on different ports.

[2018-11-19 18:10] caphrim007 opened #1075 "add ip intelligence policy to virtual server"
this was asked for by Stan on slack

[2018-11-19 19:15] #1075 closed

[2018-11-19 20:49] #764 closed

[2018-11-20 19:16] #1066 closed

[2018-11-20 20:43] onurbrc opened #1076 "Attach existing nodes to different pools using pool_member"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_pool_member

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY
Hello,

It is very common to a project to use the same node reference inside different pools into the same BIGIP. So, is there any p

[2018-11-20 20:46] caphrim007 commented on #1076
@onurbrc the pool member module has a parameter `reuse_nodes` that I think can handle this

[2018-11-20 20:49] onurbrc commented on #1076
Hello @caphrim007, if I use reuse_nodes, must I precise the address parameter ?

[2018-11-20 20:58] caphrim007 commented on #1076
@onurbrc no.

Refer to examples shown below.

https://github.com/F5Networks/f5-ansible/blob/devel/test/integration/targets/bigip_pool_member/tasks/provider/issue-00823.yaml

https://github.com/F5Networks/f5-ansible/blob/devel/test/integration/targets/bigip_pool_member/tasks/provider/issue-01027.yaml

[2018-11-20 20:59] onurbrc commented on #1076
@caphrim007 I juste tested with
[code]

And it passed beautifully.

[2018-11-20 21:01] #1076 closed

[2018-11-21 04:52] #795 closed

[2018-11-21 04:56] caphrim007 commented on #781
@WRJFontenot this should be handled by the bigip_device_auth_ldap module. For the assignment of remote-user and source, you should use bigip_command for now.

[2018-11-21 04:56] #781 closed

[2018-11-21 14:48] #751 closed

[2018-11-21 18:00] C0missar opened #1078 "Fallback_Persistence fails on bigip_virtual_server"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Adding a fallback_persistence_profile to a virtual server with the bigip_virtual_server module does not work.

If the virtual server already

[2018-11-21 19:42] C0missar commented on #1075
That worked, thank you for the quick turnaround!

[2018-11-24 02:37] caphrim007 commented on #1078
@C0missar I'm not able to reproduce this with the code in the f5devcentral.f5ansible role. Have you tried that role? Otherwise, do you have a smaller repro that just changes the fallback?

[2018-11-24 02:38] caphrim007 commented on #779
@WRJFontenot the way that you are changing the value here is the method that we would recommend you use. If you want to prevent bigip_command from raising warnings, you can set `warn: no`.

This particular setting in tmsh is very small; ie, there is not much more you can do with `ltm default-node-monitor`. This is why I would oppose a module for it.

[2018-11-24 02:38] #779 closed

[2018-11-25 04:56] #784 closed

[2018-11-26 22:22] C0missar opened #1080 "bigip_rules module will not allow src file anywhere but directory where playbook is run"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-11-26 23:10] C0missar commented on #1078
I found a typo in the profile name that I thought I had fixed before, but missed one - "source_addr" instead of "source_address".

I think what is happening is that if the persistence profile doesn't exist, the action fails, but there is no error message or other indication.  I've seen that occur elsewhere.

[2018-11-27 01:02] C0missar opened #1081 "bigip_management_route module flags error unnecessarily on changes to default route"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_management_route

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4

##### SUMMARY

When updating the default route, an error is reported on "network 0.0.0.0/0" stating that it cannot be changed onc

[2018-11-27 03:51] caphrim007 commented on #1078
@C0missar this is a genuine bug. good find!

[2018-11-27 04:09] #1078 closed

[2018-11-27 16:57] C0missar opened #1082 "bigip_virtual_server erroneously reports success on certain errors"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win 10/WSL/Ubuntu 18.0.4
##### SUMMARY

When certain configuration errors exist (references to an undefined object or invalid configuration combination, poss

[2018-11-27 17:43] atechnicnate commented on #759
How is the investigation into this going? I specifically have another customer that would like to be able to create an apm policy-item, access-policy and profile because those commands fail if not all called within the same session so the bigip_command module doesn't offer a reliable workaround.  Any thoughts on a proposed timeline?

create apm policy policy-item
create apm policy access-policy
cr

[2018-11-27 18:10] #1082 closed

[2018-11-27 19:46] C0missar opened #1083 "bigip_data_group module doesn't support description field"
##### ISSUE TYPE

 - Feature enhancement (Bug?)

##### COMPONENT NAME

bigip_data_group
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4

##### SUMMARY

The "description" field is not currently a supported keyword, and generates an error if used

tmsh modify

[2018-11-27 21:01] C0missar opened #1085 "bigip_user module doesn't allow update_password = always on new user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_user module
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4
##### SUMMARY

Creating a new user ID requires update_password = on_create, but must be changed to always in order to update the passwor

[2018-11-27 21:09] #280 closed

[2018-11-27 21:12] caphrim007 commented on #1085
weird. i dont know why we would care to enforce on_create like we do here. lemme fix that

[2018-11-27 21:16] #1085 closed

[2018-11-27 22:36] C0missar commented on #1085
The behavior hasn't changed.  Just pulled the master 5 minutes ago.

[2018-11-27 22:38] C0missar commented on #1085
fatal: [cpf5dv.sherwin.com]: FAILED! => {"changed": false, "msg": "The 'update_password' option needs to be set to 'on_create' when creating a resource with a password."}

[2018-11-27 22:39] caphrim007 commented on #1085
@C0missar make sure you force update the role. That error message is no longer in the source code, so if you're still receiving it, then you can be sure you're not running the current code.

[2018-11-28 03:10] #1083 closed

[2018-11-28 03:34] #1081 closed

[2018-11-28 03:35] caphrim007 commented on #1081
@C0missar the reason is shows `ok=` is because a loop'd task is considered 1 task, not N tasks.

[2018-11-28 13:13] caphrim007 commented on #1080
this was reported as no longer being an issue. closing

[2018-11-28 13:13] #1080 closed

[2018-11-28 18:33] C0missar commented on #759
I'm looking to just do APM policy export/import, not policy manipulation, but it's a pretty important issue for us.  TMOS v13.1.1.

Stan

[2018-11-28 22:45] C0missar opened #1086 "bigip_profile_client_ssl module reports changed when create profile actually failed due to missing parent"
This appears to be similar to Bug #1082 on the bigip_virtual_server module.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_profile_client_ssl
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4
##### SUMMARY

Creating a CSSL profile completes wit

[2018-11-28 23:25] C0missar opened #1087 "bigip_asm_policy module fails if source path is ~-relative AND policy does not exist on destination"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_asm_policy
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4
##### SUMMARY

Module fails to create or update the ASM policy at the destination if the source file path is $HOME relative, but only if

[2018-11-29 17:08] C0missar opened #1088 "bigip_virtual_server module cannot leave existing VS in disabled state"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4
##### SUMMARY

"state=present" on an existing VS changes the VS state to "enabled".  If the VS already exists, it should leave the st

[2018-11-29 17:45] caphrim007 commented on #1088
@C0missar  this is expected behavior.

From the documentation

"""
C(present) creates the virtual server and enable it.
"""

[2018-11-29 17:45] #1088 closed

[2018-11-29 19:21] C0missar commented on #1088
Updating just the descriptions on a dozen disabled virtual servers and suddenly having them go active is NOT expected behavior, and there is no workaround.  Please reopen this as a feature request.

[2018-11-29 19:25] C0missar opened #1089 "bigip_pool reports changes when no change was made"
Issue #743 is similar, but marked resolved.
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4
##### SUMMARY

##### STEPS TO REPRODUCE

Every run of this playbook reports a change to the poo

[2018-11-29 19:30] caphrim007 commented on #1089
@C0missar we need a reproduction.

[2018-11-29 19:30] caphrim007 commented on #1088
@C0missar no. use `state: disabled`

[2018-11-29 22:41] C0missar commented on #1089
It's in the gist.

[2018-11-30 12:04] wojtek0806 opened #1090 "remove bigip_asm_policy in Ansible version 2.12"
This module will announce its deprecation in 2.8, the functionality will be replaced by an ASM role with a number of smaller modules, performing the tasks

[2018-11-30 12:07] wojtek0806 opened #1091 "Add ASM policy facts to bigip_device_facts module"

[2018-11-30 12:11] wojtek0806 opened #1092 "Add ASM policy import module"
This module will replace some of the functionalities of bigip_asm_policy module

[2018-11-30 12:12] wojtek0806 opened #1093 "Add ASM policy management module"
This module will replace some of the functionality of current bigip_asm_policy module

[2018-11-30 12:16] wojtek0806 commented on #561
this will be added to the new asm_policy_management_module , to avoid duplication I will close this and reference it in the proper issue

[2018-11-30 12:16] #561 closed

[2018-11-30 12:16] wojtek0806 commented on #1093
will include improvements asked in: #561

[2018-11-30 14:07] wojtek0806 opened #1094 "Add ASM Server Technologies Facts to bigip_device_facts module"
This is required to manage server technology dependencies in ASM policies

[2018-11-30 17:03] wojtek0806 commented on #1087
as the role is updated nightly I would recommend to pull down the latest role and retest, as @caphrim007 fixed it already by adding 'path' type to file parameter.

[2018-11-30 17:03] #1087 closed

[2018-11-30 17:04] wojtek0806 opened #1095 "Add ASM Signature Sets Facts to bigip_device_facts"

[2018-11-30 17:05] wojtek0806 opened #1096 "Deprecate asm_policy_module"
need to add deprecation warning starting from ansible 2.8

[2018-12-03 12:00] wojtek0806 opened #1098 "Add signature sets module to manipulate ASM policy settings"

[2018-12-04 16:58] #880 closed

[2018-12-04 18:11] #1092 closed

[2018-12-04 19:45] delgadillo22 commented on #756
As of now, item is not on our roadmap due to operational rarity of modifying sys disk.

[2018-12-04 19:45] #756 closed

[2018-12-04 20:00] delgadillo22 commented on #306
bigip_command is not meant to be idempotent. See https://github.com/F5Networks/f5-ansible/tree/devel/examples/0004-faking-idempotency-with-bigip-command

[2018-12-04 20:00] #306 closed

[2018-12-04 20:03] delgadillo22 commented on #131
This request is quite broad. Would be helpful if you can provide example configs for the use cases you have in mind.

[2018-12-05 11:41] tizianorosato opened #1102 "bigip_device_facts module fails when GTM is not provisioned"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_device_facts

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I'm running a simple playbook gathering all the "facts" from latest ansible 2.7 toward a test f5 box
(f5 virtual edition, ver 13.1.1 with

[2018-12-05 11:56] wojtek0806 commented on #1102
@tizianorosato

the **ALL** option means everything that the module can gather, it does not do selection of modules you have installed. The expectation is for the user to comment out the facts for unused modules when **ALL** option is used. This is working as intended, I hope this helps

[2018-12-05 12:03] tizianorosato commented on #1102
well , at least it should be better described in the docs.
And in my opinion options like all-ltm and all-gtm and similar for future modules could be useful.

Thanks

[2018-12-05 17:04] #1093 closed

[2018-12-05 17:07] #1096 closed

[2018-12-05 17:12] caphrim007 commented on #1102
I disagree. We do this form of checking for ASM related stuff. "all" means attempt to get al things. if it is not provisioned, then it will just be skipped. Reopening

[2018-12-05 17:13] caphrim007 commented on #1102
Here's how we do it for asm

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_device_facts.py#L6295

[2018-12-05 17:16] caphrim007 commented on #1102
@tizianorosato this should, however, be fixed already in the module in this repo. Have you tried to reproduce this error with teh `f5devcentral.f5ansible` role? https://galaxy.ansible.com/f5devcentral/f5ansible

[2018-12-05 17:18] caphrim007 commented on #1102
This should be fixed already. I addressed this a month ago via this patch here https://github.com/F5Networks/f5-ansible/commit/7caaea40af3d42ae696422ed919e27c48232c24e

@tizianorosato try the role I linked and it should work as expected. If it continues to be an issue, drop a note here

[2018-12-05 17:18] #1102 closed

[2018-12-05 17:19] caphrim007 commented on #1102
btw, the content of that role is what will ship with ansible 2.8, so you can alternatively wait for the ansible 2.8 release to get the fix

[2018-12-05 18:16] tizianorosato commented on #1102
@caphrim007 I'll try soon tomorrow the role f5devcentral.f5ansible

[2018-12-05 18:52] c41m4n opened #1105 "bigip_provision sometimes returns too quickly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_provision
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

$ [0] cat ansible-datacenter-dev/ansible.cfg
[defaults]
stdout_callback = yaml
bin_ansible_callbacks = True
callback_whitelist = yaml
host_key_checking = false

##### OS / ENVIRONMENT

$

[2018-12-05 21:56] caphrim007 commented on #1105
@c41m4n can you tell if it becomes any more reliable if you isolate a specific module? In my experience, the asm module is the hardest for us to "get right". If you remove asm, does it work consistently work correctly?

[2018-12-05 22:31] #1089 closed

[2018-12-05 22:39] #1086 closed

[2018-12-06 08:53] wojtek0806 opened #1106 "refactor oData filters to wrap items in single quotes"
it seems at times when the value has spaces or full stop the filters do not work properly and returns empty values.

e.g.
[code]
vs
[code]

This seems to be true for all ASM endpoints where we started using oData filters to search for items.

[2018-12-06 11:07] wojtek0806 commented on #1106
looks like this approach not always works, it could be buggy implementation of oData filters, going to reevaluate using the oData filters in future, closing this for now but will keep this in mind should issues with ASM modules arise

[2018-12-06 11:07] #1106 closed

[2018-12-06 11:55] #735 closed

[2018-12-06 12:45] tizianorosato commented on #1102
working as expected

[2018-12-06 12:48] wojtek0806 commented on #1102
@tizianorosato we are glad this helped, we will be adding some more ASM specific items into the facts, stay tuned :)

[2018-12-07 22:09] c41m4n commented on #1105
Based on some further testing either ASM or APM seem to consistently cause issues on provisioning (but not de-provisioning).  I've been able to get AVR to do this as well but less consistently:

`$ [0] ansible-playbook -i ~/itnet-ansible-inventory-dev/inventory --vault-password-file ~/ansible-datacenter-dev/.ansible_vault f5-provision-modules.yml -l f5-test

PLAY [Provision F5 Modules] ***********

[2018-12-08 23:44] C0missar opened #1108 "bigip_pool_member reports changed when no changes made"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool_member
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4
##### SUMMARY

Every execution of bigip_pool_member against the same pool and member list reports a change.
This appears to be a new

[2018-12-09 00:23] C0missar opened #1109 "bigip_virtual_server reports changes when no change was made"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4
##### SUMMARY

Every execution of bigip_virtual_server reports a change to the object when no object was changed.
This appears to

[2018-12-09 00:37] C0missar opened #1110 "bigip_asm_policy fails with "ImportError: cannot import name HAS_F5SDK" after code update"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4
##### SUMMARY

This code worked prior to pulling ansible-galaxy install -f f5devcentral.f5ansible,master today.
##### STEPS TO REPRODUCE

[

[2018-12-10 17:54] #1091 closed

[2018-12-11 09:45] onurbrc opened #1112 "bigip_device_license with Add-On insertion feature"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_device_license

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Hello,

Would it be possible to add a new feature to install "Add-On Registration Key", even if the BIG-IP Base Registration Ke

[2018-12-12 14:27] VeselaHouba opened #1113 "bigip_asm_policy_import not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_asm_policy_import

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

When running `bigip_asm_policy_import` repeatedly, it always shows `changed` even when *not* using `force` option.

##### STEPS TO

[2018-12-13 17:43] C0missar opened #1114 "bigip_virtual_server erroneously reports success deleting a VS"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4
##### SUMMARY

TASK [Delete vs_websso.sherwin.com_waf] completes with OK (Green), implying that the VS no longer exists (since no

[2018-12-17 07:09] wojtek0806 commented on #1110
the error relates to old version of code, which does not exist, the module changed its name to reflect that with _ at the start, so its possible you are calling a module outside of the role. In any case this is a local error not an issue with the role or code, closing

[2018-12-17 07:09] #1110 closed

[2018-12-17 07:14] wojtek0806 commented on #1109
just to clarify you are applying a client SSL profile without specifying context? what happens if you specify the context to client-side?

are there any other profile types that exhibit the same behaviour?

[2018-12-17 07:19] wojtek0806 commented on #1114
just looked at the output, is this a typo, cause having state as 'present' will not delete VS for you?

https://gist.github.com/C0missar/a5c02db345b2407f2da80a0ca1e5392c#file-waf_delete-yaml-L51

[2018-12-17 07:21] wojtek0806 commented on #1113
I suspect this could be to this line: https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_asm_policy_import.py#L273

I found cases where fullstops, spaces or dashes cause the oData filter to break, will fix shortly

[2018-12-17 15:21] C0missar commented on #1114
Ouch! That's embarrassing; you can close this issue. Thanks!

[2018-12-17 15:46] #1113 closed

[2018-12-17 15:46] #1114 closed

[2018-12-17 20:41] VeselaHouba commented on #1113
Confirmed working. Thanks.

[2018-12-18 09:43] #1108 closed

[2018-12-18 11:04] #1094 closed

[2018-12-18 14:48] #1095 closed

[2018-12-19 19:04] js-f5 opened #1124 ""...value is not a valid IP address" When Using Route Domain ID"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ipaddress.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

host_key_checking = False

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY
Attempt to create a Pool and add Pool-Members with IP Addresses that have a Route Domain ID which failed.

##### S

[2018-12-19 20:11] wojtek0806 commented on #1124
this issue has been fixed, it won't be released until 2.8, if you want to use the current lib please use role:
https://galaxy.ansible.com/f5devcentral/f5ansible

or use the modules from our devel branch

[2018-12-19 20:11] #1124 closed

[2018-12-19 20:24] js-f5 commented on #1124
I didn't find a devel branch on Github, all there seems to be is the master. Is the devel branch located elsewhere?

-Cheers
James

From: Wojciech Wypior <notifications@github.com>
Reply-To: F5Networks/f5-ansible <reply@reply.github.com>
Date: Wednesday, December 19, 2018 at 12:11 PM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: James Samarin <J.Samarin@f5.com>, Author <author@nore

[2018-12-19 21:06] wojtek0806 commented on #1124
there is no master branch devel branch and stable 2.7 branch but stable is not used.

 If you intend to copy the branch code then you need to accept that you do so at your own peril, so it will be up to you to make sure the code is updated.

I suggest using the ansible role as we run nightly builds on that so if you find issue i can fix it and you have it in galaxy the next day.

[2018-12-19 21:14] js-f5 commented on #1124
So far the only issues is the Route Domains. I tried creating a Virtual Server with a Route Domain ID and that didn't work as well.  It didn’t fail or throw and error but I can see there is a discrepancy between the "module_args" and the final destination value. Here is a snippet from the -vvv output,.

"address_translation": false,
    "changed": true,
    "description": "VS #4",
    "destination

[2018-12-20 11:38] wojtek0806 commented on #1124
I would suggest looking in the integration tests, specifically the one I wrote when I fixed issue 751, which is what you were looking for:

Playbook:

https://github.com/F5Networks/f5-ansible/blob/devel/test/integration/targets/bigip_virtual_server/tasks/provider/issue-00751.yaml#L136

Variables:

https://github.com/F5Networks/f5-ansible/blob/devel/test/integration/targets/bigip_virtual_server/var

[2018-12-20 14:01] js-f5 commented on #1124
And did this work because I am have no success on v2.7 I just setup. Even doing a basic playbook with no variables like I showed creates the VS unlike failing when trying to create Pool-Members but it just omits the RD ID every time.

-Cheers
James

From: Wojciech Wypior <notifications@github.com>
Reply-To: F5Networks/f5-ansible <reply@reply.github.com>
Date: Thursday, December 20, 2018 at 3:38 AM

[2018-12-20 17:51] #1098 closed

[2018-12-20 19:08] skylerbunny opened #1127 "bigip_data_group doesn't support atomic adds or deletes of members"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_data_group

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
As the bigip_data_group module works today, it is not possible to add or remove individual data group key/values from a data group - which i

[2018-12-20 19:16] skylerbunny opened #1128 "Specify limits of this module for data group members"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
bigip_data_group

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
See closed pull https://github.com/ansible/ansible/pull/50211 : Suggest that the wording for bigip_data_group description be changed

[2018-12-20 19:38] skylerbunny commented on #1127
Related, but not entirely surprising considering the above:

It's not possible to create an empty internal data group with this module (you must have records/file/content present for the module to work, and the module doesn't give a friendly error if you don't).

[2018-12-21 22:02] c41m4n opened #1129 "Change in behavior of bigip_virtual_server 2.6 breaks playbooks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Prior to Ansible 2.6, the bigip_virtual_server module lacked an 'ip_protocol' parameter, the behavior in this case was that the protocol was s

[2018-12-25 10:01] wojtek0806 commented on #1129
There is an option to set it to any :

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_virtual_server.py#L325

Only exceptions are where VS is of specific type that does not support it:
https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_virtual_server.py#L2208

This is working as intended

[2018-12-25 10:01] #1129 closed

[2018-12-25 10:04] wojtek0806 commented on #1127
I can look at updating the data group members, as far as empty internal data group is concerned this needs to be evaluated for viability

[2018-12-31 16:28] atechnicnate opened #1130 "Unable to create apm policy/profile/policy-items"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
APM Policy-items, policy and profile creation

##### ANSIBLE VERSION
[code]
##### PYTHON VERSION
[code]
##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION
Currently this does not work in Ansible as APM requires these items to be created at the same time in a single transaction.

##### OS / ENVIRONMENT
In tmsh this i

[2019-01-01 17:14] rnotley opened #1131 "Add module for configuring firewall schedules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Potentially, bigip_firewall_schedule

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION
unmodified

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Requesting ability to create. modify, and delete firewall schedules. Basically, do in ansible what's possible with

[2019-01-02 10:41] wojtek0806 opened #1132 "backport changes from ansible devel"
this is in line with changes in PR:  https://github.com/ansible/ansible/pull/50208

[2019-01-02 10:49] wojtek0806 opened #1133 "correct asm modules doc strings"
there are few mistakes in asm modules doc strings that need correcting.

[2019-01-02 10:51] wojtek0806 commented on #820
@glenpekarcsik for now we cannot seem to reproduce it, let us know if this issue persists after trying the ansible galaxy role, closing for now

[2019-01-02 10:51] #820 closed

[2019-01-03 12:51] #759 closed

[2019-01-03 14:28] wojtek0806 opened #1136 "change existence check for asm_policy_fetch module"

[2019-01-03 15:19] #318 closed

[2019-01-03 15:19] #1136 closed

[2019-01-04 08:20] #1133 closed

[2019-01-04 18:42] ksbarnt commented on #269
I'm running into this issue when running Ansible 2.7.5 against a BIG-IP VE box running 13.1.1.3 (also previously 13.1.1) with a lab license. Is it possibly the lab license that's causing me to still have issues? I'm using a user with full admin privileges.

[2019-01-04 19:47] wojtek0806 commented on #131
@whytoe we have implemented policy import/export modules, if you have anything else specific in please provide us with tmsh config examples and use cases?

Keep in mind policy creation requires transactions and we already have issue opened for this here: #1130, we are still in the process of evaluating if this is feasible as a module.

[2019-01-07 10:31] wojtek0806 commented on #131
closing this as duplicate

[2019-01-07 10:31] #131 closed

[2019-01-07 12:40] #1109 closed

[2019-01-08 12:37] wojtek0806 opened #1145 "backport #50636"
backport #50636

[2019-01-08 12:38] #1145 closed

[2019-01-09 19:10] ajgerace opened #1147 "bigip_iapplx_package module not working - Unable to set terminal parameters"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_iapplx_package
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

[defaults]
inventory = ./hosts
library   = ./library
roles_path = ./roles
retry_files_enabled = False
host_key_checking = False
vault_password_file = ./.vault-pass.txt
remote_tmp =

[2019-01-10 18:12] ksbarnt opened #1148 "Inconsistent Handling of REST API Tokens Between Modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

This may affect more modules, but based on the testing I've done it affects at least:

- bigip_node
- bigip_virtual_server

but not:

- bigip_pool
- bigip_pool_member
- bigip_monitor_http
- bigip_monitor_https
- bigip_ssl_key
- bigip_ssl_certificate
- bigip_config
- bigip_configsync_action
- bigip_data_group
- bigip_irule

##### ANSIBLE VERSIO

[2019-01-10 21:05] sdaynjax opened #1149 ""msg": "The python f5-sdk module is required""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
csv_to_facts:
bigip_pool_member:

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

inventory      = /etc/ansible/hosts
library        = /usr/lib/python2.7/site-packages/
module_utils   = /usr/lib/python2.7/site-packages/

##### OS / ENVIRONMENT

#####

[2019-01-10 21:44] payalsin commented on #1149
Seeing the same behavior as mentioned above:

[root@rhel7-tools ~]# pip install f5-sdk
/usr/lib64/python2.7/site-packages/cryptography/hazmat/primitives/constant_time.py:26: CryptographyDeprecationWarning: Support for your Python version is deprecated. The next version of cryptography will remove support. Please upgrade to a 2.7.x release that supports hmac.compare_digest as soon as possible.
  ut

[2019-01-11 04:32] wojtek0806 commented on #1148
Please install and use https://galaxy.ansible.com/f5devcentral/f5ansible

and report if this issue persists

[2019-01-11 04:32] wojtek0806 commented on #1147
please install and use https://galaxy.ansible.com/f5devcentral/f5ansible and report back if the issue persists

[2019-01-11 15:42] ksbarnt commented on #1148
@wojtek0806 Using that role, I'm seeing `bigip_node` and `bigip_virutal_server` work properly (deleting their tokens). I did have to manually create `/usr/lib/python2.7/site-packages/ansible/plugins/action/network.py` because that wasn't included in any distribution I could find (including source packages) in order to the modules to run with the the `f5devcentral.f5ansible` role applied.

Are thes

[2019-01-11 16:40] wojtek0806 commented on #1148
these should be upstreamed to ansible devel for now and yes those changes will come in 2.8.

[2019-01-11 17:53] payalsin commented on #1149
@sdaynjax - did you get a chance to try out what wojtek suggested. I dont have access to the environment so just wondering if what is suggested worked for you.

[2019-01-11 18:48] ksbarnt commented on #1148
@wojtek0806 Excellent news. Out of curiosity, was there a previously closed issue that addressed this that I missed, or was this just something that got updated?

[2019-01-11 22:27] wojtek0806 opened #1150 "fix backport missing imports"
the new backport has some missing files that were not included

[2019-01-12 00:33] kryojenik opened #1151 "bigip_node fqdn example on clouddocs is invalid"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
bigip_node

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The fqdn example at the end of the list is invalid and does not work.  When creating an FQDN node, the name may not be an IP address.  P

[2019-01-12 19:27] auto2mate opened #1152 "bigip_ucs_fetch hangs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_ucs_fetch

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux testbed1 3.16.0-77-generic #99~14.04.1-Ubuntu SMP Tue Jun 28 19:17:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

playbooks hangs

##### STEPS T

[2019-01-13 15:33] sdaynjax commented on #1149
I did try it but still getting the same message .  I'm not really sure I have the role applied correctly as I'm new to Ansible and I've never used a role before.  I plan to email wojtek0806 directly to work through the issue.

[2019-01-13 16:18] sdaynjax commented on #1149
it appears that the playbook can't find the role.  I downloaded the role and have it loaded in /etc/ansible/roles.  Where should the role be loaded?

[2019-01-13 21:34] sdaynjax commented on #1149
Ok I have the role in the correct place and installed properly now but the playbook still fails.

[root@jtctlslnstap01 Dev]# ansible-playbook -vvvv -i /etc/ansible/hosts-np --vault-id @prompt test-remove_pool_member.yml
ansible-playbook 2.7.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/lib/python2.7/site-packages']
  ansible python module location = /usr/lib/

[2019-01-14 10:54] wojtek0806 commented on #1152
please try this using the ansible galaxy role, this allows you to test with the latest F5 devel code:

https://galaxy.ansible.com/f5devcentral/f5ansible

[2019-01-14 10:59] wojtek0806 commented on #1151
can you try https://galaxy.ansible.com/f5devcentral/f5ansible and let me know if this issue exists in that Role? , this role allows you to test latest devel code, i remember having to work on something like this before.

[2019-01-14 11:15] wojtek0806 commented on #1149
@sdaynjax you need to edit the playbook to use the role, see examples on galaxy, the f5role page has some information on how to do this.

[2019-01-14 11:19] wojtek0806 commented on #1147
scratch that the issue was not related, please try with the role and see if this works for you

[2019-01-14 11:21] wojtek0806 commented on #1150
false positive, closing

[2019-01-14 11:21] #1150 closed

[2019-01-14 13:35] wojtek0806 opened #1153 "bigip_gtm_pool_member and referencing other partitions"
Task:
[code]

vars:
[code]

I'm looping the role, hence the `wideip` outer loop prefix.

Error message with `-vvv` verbosity:
[code]

[2019-01-14 13:36] wojtek0806 commented on #1153
@OliElli

[2019-01-14 14:12] OliElli commented on #1153
```tmsh modify gtm pool a ldap-master_389 members add { /Common/dc1-bigip:ldap_prod_master_dc1_389 { ratio 1 } }``` does work, so the syntax seems to be correct for my variables at least

Runnig with -vvvv gives very similar output to above
[code]

[2019-01-14 14:43] sdaynjax commented on #1149
the output from above this is the playbook

- name: Pool member decomm
  hosts: 10.128.229.97
  connection: local

  tasks:

    - name: Obtain Creds
      include_vars: /etc/ansible/group_vars/e0013192-creds.yml
      no_log: true

    - include_role:
       name: f5devcentral.f5ansible

    - name: Remove pool member from pool
      bigip_pool_member:
       state: absent
       pool: ansible-po

[2019-01-14 14:51] OliElli commented on #961
I'm getting `changed: true` while using Ansible 2.8.0.dev0

[2019-01-14 15:02] kryojenik commented on #1151
It not an issue with the module it self.  The linked documentation for the module has a set of examples at the bottom.  The last one (FQDN) is invalid.  Here is the equivalent tmsh create.

root@(movement-1-bigip1)(cfg-sync Standalone)(/Common)(tmos)# create ltm node 10.20.30.40 fqdn { name foo.bar.com }
01071cea:3: Invalid FQDN node /Common/10.20.30.40: FQDN node name cannot be an IP address or r

[2019-01-14 15:49] wojtek0806 opened #1155 "remove import workaround when 2.8 hits"
added workaround to allow galaxy role usage without forcing users to install ansible galaxy devel code.

Without the workaround using f5ansible galaxy role resulted in the below issue:

[code]

[2019-01-14 16:12] wojtek0806 commented on #1149
i have fixed the role can you reinstall it please:

[code]

[2019-01-14 16:13] wojtek0806 commented on #1147
i have found an issue and fixed the role can you reinstall it please:

ansible-galaxy install -f f5devcentral.f5ansible,master

[2019-01-14 16:14] wojtek0806 commented on #1152
i have fixed the issue with the role it should be good to go now, if you need to reinstall it use the following command:

[code]

[2019-01-14 20:02] sdaynjax commented on #1149
I downloaded the new role and I now get this.

ansible-playbook 2.7.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/lib/python2.7/site-packages']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python version = 2.7.5 (default, Sep 12 2018, 05:31:16) [GCC 4.8.5 20150623 (Red Hat 4.8.

[2019-01-14 21:08] wojtek0806 commented on #1149
remove the role and redownload it the file is there

[2019-01-15 13:19] wojtek0806 commented on #1149
There are few reasons, one reason is that usually where the role works (majority of the time) this allows me to see if there are any bugs in current devel. I want to avoid duplication of work where you report issue in 2.7 and i have it already fixed in devel.

Second reason is your error, this relates to incorrectly configured environment, and rather having to repeat the troubleshooting steps alre

[2019-01-15 14:10] wojtek0806 commented on #1147
@ajgerace have you had a chance to test it ?

[2019-01-15 14:10] wojtek0806 commented on #1152
@auto2mate have you had a chance to test it?

[2019-01-15 14:55] ajgerace commented on #1147
Yes and I'm receiving the same error message when I use the role.

Can you confirm this should work with a provider transport of CLI?

On Tue, Jan 15, 2019 at 9:10 AM Wojciech Wypior <notifications@github.com>
wrote:

[2019-01-15 15:46] wojtek0806 commented on #1147
from what i can see it does not support CLI only rest

[2019-01-15 15:58] wojtek0806 commented on #1147
Ok so I checked it out and transport cli is only used in bigip_command module. From what I recall @caphrim007  has never intended to have CLI used as transport in any other module besides command module.

[2019-01-15 17:16] ajgerace commented on #1147
ok, I guess we can close this out.

Thanks

On Tue, Jan 15, 2019 at 10:58 AM Wojciech Wypior <notifications@github.com>
wrote:

[2019-01-15 18:05] #1147 closed

[2019-01-16 17:17] wojtek0806 commented on #1149
@sdaynjax have you installed the role and tested if this works for you?

[2019-01-16 17:19] wojtek0806 opened #1158 "Add aggregate support to bigip pool"
this is in addition to #507

[2019-01-16 18:43] wojtek0806 opened #1159 "key error in bigip_device_facts when ltm pool has no pool members attached"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

[code]

[2019-01-16 18:51] wojtek0806 commented on #1159
the issue lies with the 'stats' output rather than the pool attribute, the stats endpoint for pool in v12  does not have `availableMemberCnt` in its output

[2019-01-16 20:14] #1158 closed

[2019-01-17 12:03] wojtek0806 opened #1161 "change bigip pool parameter from remove_all to replace_all_with"
change bigip pool parameter from remove_all to replace_all_with, as the name could be misleading users from its intended use.

[2019-01-17 12:53] wojtek0806 commented on #1161
also change examples and functional tests to reflect this, as well as change the formatting for aggregate examples

[2019-01-17 13:55] wojtek0806 opened #1162 "Some of the modules are not enforcing parameter checks"
While working on aggregates I have noticed that some modules do not seem to enforce parameter checks at module execution, despite having properties like: mutually_exclusive or required_one_of defined in their ArgumentSpec class.

Some examples:

//Definition here//
https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_node.py#L1148

//Parameter passed to AnsibleModule//

https:

[2019-01-17 13:56] wojtek0806 commented on #1162
@caphrim007 it would be good if you could comment on this

[2019-01-17 14:06] caphrim007 commented on #1162
@wojtek0806

yes, it should be corrected as you say. they are listed as mutally exclusive because the first 2 params are deprecated and the last param is the "new" param. therefore, you do not want any combination of the 3 to be specified together because you would not be able to determine the what the user meant

[2019-01-18 09:13] mzurh opened #1163 "bigip_virtual_server clone-pools is missing"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_virtual_server

##### ANSIBLE VERSION
ansible 2.8.0.dev0
  config file = None
  configured module search path = [u'/Users/martin/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Library/Python/2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2

[2019-01-18 11:21] fpieressa opened #1164 "Add "Expiration" option to Cookie persistence profile"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_profile_persistence_cookie

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Hi team, can you please add the "expiration" config option to Cookie persistence profile?

Thanks!

##### STEPS TO REPRODUCE

[

[2019-01-20 21:15] auto2mate commented on #1152
I have attempted to installed it, got below error -

# ansible-galaxy install -f f5devcentral.f5ansible,master
 [WARNING]: - f5devcentral.f5ansible was NOT installed successfully: Failed to get data from the API server (https://galaxy.ansible.com/api/): Failed to validate the SSL
certificate for galaxy.ansible.com:443. Make sure your managed systems have a valid CA certificate installed. If the we

[2019-01-21 11:56] wojtek0806 commented on #1152
This is an issue with your environment, most likely some packages are missing, I would suggesting heading to ansible galaxy forums/mailing list for further support to resolve this error message.

[2019-01-21 11:56] wojtek0806 commented on #1149
closing

[2019-01-21 11:56] #1149 closed

[2019-01-21 11:58] wojtek0806 commented on #1105
@c41m4n does this happen on hardware or VE platforms, if on hardware, can you provide some more information on the exact platforms ?

[2019-01-21 17:59] C0missar opened #1165 "Provide a way to set Admin password via SSL for onboarding a new device"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

Feature request

##### COMPONENT NAME

None exists
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When spinning up a new image (such as in AWS using the F5 CFTs) and Ansible, there is

[2019-01-21 19:55] #1161 closed

[2019-01-21 19:56] wojtek0806 commented on #1155
after assessing this carefully, it has been decided that this workaround stays

[2019-01-21 19:56] #1155 closed

[2019-01-21 21:31] C0missar opened #1168 "ImportError: No module named network after role f5devcentral.f5ansible update"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

All

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4
##### SUMMARY

Updated the role f5devcentral.f5ansible with the following command:

#ansible-galaxy install -f f5devcentral.f5ansible,master
- downlo

[2019-01-21 21:38] wojtek0806 commented on #1168
when have you updated it? delete the role completely and re-download it again.

If the issue persist, go to this folder in the role: action_plugins, and display its contents. Following that, look into bigip.py file located in action_plugins and confirm you have these lines:

[code]

This issue has been fixed last week

[2019-01-22 12:42] wojtek0806 commented on #1168
i found another issue, I reverted the change that broke this, i released new version just now should be fixed

[2019-01-22 12:42] #1168 closed

[2019-01-22 15:13] DerrickTJ opened #1170 "Unable to Create a VIP with blank Policy or iRule"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_virtual_server

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION
Default ansible configuration is used.

##### OS / ENVIRONMENT
Red Hat

##### SUMMARY
Cannot create a VIP if the policy field is left blank ("").

##### STEPS TO REPRODUCE

[code]

#####

[2019-01-22 15:26] #1153 closed

[2019-01-22 15:27] wojtek0806 commented on #1152
@auto2mate have you managed to test this ?

[2019-01-22 15:37] #1151 closed

[2019-01-22 18:53] C0missar commented on #1168
That resolved it, thanks!

[2019-01-22 20:40] perzizzle opened #1174 "loginProviderName is invalid"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_node

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Would expect node to go to disabled state

##### ACTUAL RESULTS

No change on f5, playbook th

[2019-01-22 21:11] wojtek0806 commented on #1174
please install f5ansible galaxy role and test as this is fixed in the devel. Fix will ship with ansible 2.8

[2019-01-23 00:16] perzizzle commented on #1174
Do you know what commit this was fixed in? I'd like to back patch it into our 2.7 release since using devel in production isn't an option for us.

[2019-01-23 02:14] wojtek0806 commented on #1174
i would not recomend it , however here is the commit hash:
`a9b4ea6e5f3e8b1d5fa0c709746a8f376174176b`

[2019-01-23 02:17] wojtek0806 commented on #1174
if you can please take the opportunity to test with the role it does not override your ansible install. let me know if we need to reopen this

[2019-01-23 17:43] wojtek0806 opened #1175 "Non Admin Users Unable to create Virtual Servers"
Users that are not admins but have object editing rights, in this case this is user with the role Manager, when attempting to create objects via Ansible run into this error:

[code]
This seems like a problem with Token we generate. Tested this with curl and was able to create objects:

[code]
[code]

[2019-01-23 22:32] babaksabooniha commented on #1017
Hi,

I had the same problem and "bigstart restart restjavad" didn't help me.
Is there any other step to go?

[2019-01-24 00:10] JapaneseMuscleDE commented on #1017
Try specifing the facts you want to get or at leas exclude the ASM related ones.

[2019-01-24 08:33] penghon commented on #1175
If this issue is fixed, does it mean that via Ansible we can implement role based access using the manager role to control for example, the state of virtual servers, pools and pool members etc (Manager: Grants users permission to create, modify, and delete virtual servers, pools, pool members, nodes, custom profiles, custom monitors, and iRules.)?

[2019-01-24 11:02] wojtek0806 commented on #1175
If authenticating with token works then in theory yes.

Sent from my iPhone

On 24 Jan 2019, at 08:33, Penghon <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL MAIL: noreply@github.com<mailto:noreply@github.com>

If this issue is fixed, does it mean that via Ansible we can implement role based access using the manager role to control for example, the state of virtual se

[2019-01-24 11:45] wojtek0806 opened #1176 "implement changes from #50172"
Module docs fragments have moved to lib/ansible/plugins/docs_fragments

[2019-01-24 11:46] wojtek0806 commented on #1132
I had to revert this for now as it was breaking the role, this still needs implementing

[2019-01-24 12:35] wojtek0806 commented on #1176
changes from #50172

[2019-01-24 15:34] perzizzle commented on #1174
Do you have any documentation on how to use that galaxy role? I was expecting to find an ansible.cfg that pointed to the library/module_utils folder for this specific role but the only one I found was in tests folder and it just contained

`[defaults]
roles_path = ../../
retry_files_enabled = False
host_key_checking = False`

I tried added (absolute and relative path):
`library        = "/etc/ansi

[2019-01-24 16:18] wojtek0806 commented on #1174
the usage example is on the ansible galaxy, this role requires that you have 2.7 ansible installed already otherwise it will not work

[2019-01-24 16:49] wojtek0806 commented on #1174
You need to look here on how the roles work:
https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html

The code for modules and module_utils as well as plugins is in the role already.

[2019-01-24 17:36] perzizzle commented on #1174
Gotcha, I was missing the fact you are literally providing an ansible role, I was expecting library/module_utils to be at the root file system an ansible.cfg configured to pull them in (following https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html)

I created a new test.yml at the /etc/ansible
[code]

And updated roles/f5devcentral.f5ansible/tasks/main.yaml

[code]

Th

[2019-01-24 17:40] wojtek0806 commented on #1174
yes i needs to be used the way you described, and sure send up your update against github repo and I will i will look at it, if you cannot open PR, then open up an issue with the update and i will do this

[2019-01-24 19:26] wojtek0806 opened #1180 "setup nightly builds in shippable"
this needs to be setup so that the build won't run at each commit change of the devel

[2019-01-24 20:56] c41m4n commented on #1105
We have VCMP guests running on VIPRIONS with B2250 blades.   I haven't tested this against the VE we have in our lab.

[2019-01-25 01:52] C0missar opened #1181 "bigip_device_sshd not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_device_sshd
bigip_device_auth_ldap

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4

##### SUMMARY

The listed modules are not idempotent.  A change is recorded on every invocation when no data is

[2019-01-25 02:02] C0missar opened #1182 "Need way to set AD or LDAP as auth source & disable LDAP referrals"
##### ISSUE TYPE

- Feature request

##### COMPONENT NAME

bigip_device_auth_ldap, or new module

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4

##### SUMMARY

Once bigip_device_auth_ldap is called to configure an LDAP provider, there is no way to set it

[2019-01-25 02:10] C0missar opened #1183 "Need way to enable AS3 framework programatically"
##### ISSUE TYPE

- Feature request

##### COMPONENT NAME

N/A

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4

##### SUMMARY

There is no way to enable iApps programatically as part of an automated device onboarding.  For instance, it is possible to downl

[2019-01-25 20:45] mlowcher61 opened #1184 "bigip_iapplx_package not installing RPM"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
bigip_iapplx_package

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 18.04
##### SUMMARY

I am trying to use Ansible to move the AS3 rpm upto the F5. I can see that it puts the file on the F5 at /var/config/rest/downloads

[2019-01-25 22:02] DerrickTJ commented on #1074
Ha! Just ran into this. Glad to see it's going to be fixed :) Thank you.

[2019-01-26 12:36] wojtek0806 commented on #1184
please install and test with ansible galaxy role and report back if the same issue persists:

https://galaxy.ansible.com/f5devcentral/f5ansible

[2019-01-26 12:46] wojtek0806 commented on #1183
@C0missar
Please use bigip_iapplx_package module it does exactly what you are asking :)

Also I noticed your role has an old error, I would suggest removal and reinstallation of it as I have fixed this issue. Closing for now.

[2019-01-26 12:46] #1183 closed

[2019-01-26 12:48] wojtek0806 commented on #1181
@C0missar The error log shows old bug in the role, can you update it please?

[2019-01-26 12:50] wojtek0806 commented on #1165
@C0missar
Have you checked this role as it seems to do what you are asking:

https://galaxy.ansible.com/f5devcentral/bigip_onboard

[2019-01-26 12:52] wojtek0806 commented on #1152
closing for now, let me know when you had a chance to test this and it fails with the role

[2019-01-26 12:52] #1152 closed

[2019-01-26 12:56] wojtek0806 commented on #1105
@c41m4n If these tests were run on the VCMP guests, would you be able to provide some more info in regards to the resources provisioned on them? I can try increasing time out timers for provisioning these modules to see if this helps, but being able to reproduce this consistently would help a lot, rather than me asking you to retest each time i make a change

[2019-01-26 13:00] wojtek0806 commented on #1170
@DerrickTJ I forgot to ask does this issue occur when you use our devel code? I mean when you use that through our f5ansible role?

I made a number of changes to this module and it would save me having to investigate something i fixed already :)

[2019-01-26 14:50] DerrickTJ commented on #1170
I believe I tested both but I'll double check to make sure.

[2019-01-26 15:55] DerrickTJ commented on #1170
Alright @wojtek0806 I've done some more testing and written down the results this time.

My initial thought was incorrect during my first phase of testing. I can remove policies when the VIP is created. However, I cannot create a VIP with policies is left blank. The error I posted above is correct as that was when the VIP was created.

Tested with both Ansible 2.7 and devel code.

The reason I nee

[2019-01-26 16:03] DerrickTJ commented on #1170
Actually, to my surprise, the same thing happens when trying to create a VIP with a blank irule too. ("")
```"msg": "\"\" unexpected argument"```

I thought this was working up until yesterday when I tried to create a new VIP. Verified it now.

Profiles have been verified to take blank entires when a new VIP is created via ansible.

This was tested with devel too

[2019-01-26 16:10] wojtek0806 commented on #1170
i will see if this is possible in TMSH and using normal REST calls, cause if this is something we do not allow in REST and/or TMSH then I will just add validation that prevents you from doing this. If it is allowed we will fix

[2019-01-26 16:11] #1174 closed

[2019-01-26 16:15] DerrickTJ commented on #1170
Alright cool. I can do some conditionals on my end to get around this for now.

[2019-01-26 16:30] wojtek0806 opened #1185 "add aggregate to gtm pool member"

[2019-01-28 02:50] C0missar commented on #1165
That role didn't exist when we wrote all of our onboarding stuff, and it's still not documented on clouddocs.  I'm a little reluctant to do everything over,  especially as I can't really tell how it works.

Besides, I can't get the installation to run:

$ ansible-galaxy install -f f5devcentral.bigip-onboarding,master
- downloading role 'bigip-onboarding', owned by f5devcentral
 [WARNING]: - f5devc

[2019-01-28 02:59] C0missar commented on #1165
Umm, also, the Declarative Onboarding page starts right off (https://clouddocs.f5.com/products/extensions/f5-declarative-onboarding/latest/prereqs.html) with

"You must have an existing user account with the Administrator role. If you are using 13.1.x, the BIG-IP contains an admin user by default. If you are using 14.x, you must reset the admin password before installing Declarative Onboarding".

[2019-01-28 03:18] C0missar commented on #1165
The example playbook at https://galaxy.ansible.com/f5devcentral/bigip_onboard seems to have a typo in the name, but that install fails as well.

- { role: f5devcentral.bigip-onboarding }

$ ansible-galaxy install -f f5devcentral.bigip_onboarding,master
- downloading role 'bigip_onboarding', owned by f5devcentral
 [WARNING]: - f5devcentral.bigip_onboarding was NOT installed successfully: - sorry, f

[2019-01-28 12:33] wojtek0806 commented on #1165
I will ask around and see if there are any solutions to this, in regards to the module for ansible that would do this, I would not get my hopes up this will be resolved inside an ansible F5 module for now, once I know more I can tell definitely

[2019-01-28 12:48] wojtek0806 commented on #1181
the import error you have means the role was not updated, as this was definitely fixed so you should be able to use the role

[2019-01-28 13:42] wojtek0806 commented on #1184
@mlowcher61 have you got a chance to test this yet ?

[2019-01-28 14:09] wojtek0806 opened #1186 "allow '/' in gtm virtual server names"
this issue stems from: #716 , as we removed SDK package this spilled over into gtm_virtual_server module. Despite this being a bad practice we need to do this because BIGIP allows / in names of GTM VS, allowing and users create such names incorrectly. Moreover this is also wrong as in fact GTM server and GTM Virtual Server cannot be created outside the Common partition anyway.

[2019-01-28 14:46] C0missar commented on #1181
I provided the output showing that the role was definitely updated.  You mentioned deleting and reinstalling something; if you can provide instructions, I'll try it.

Stan Ward
IT Application Security Architect
The Sherwin-Williams Company
Cell: 937.344.8342
Stan.Ward@Sherwin.com
http://www.sherwin-williams.com

-----"Wojciech Wypior" <notifications@github.com> wrote: -----
To: "F5Networks/f5-ansi

[2019-01-28 15:12] wojtek0806 commented on #1181
The output linked here:

https://gist.github.com/C0missar/d5e0aa8b1410cbcf4212230cbd3075a8

Does not show you installing the newest version of the role, it shows the attached playbook run and the resulting import error which indicates that when you ran this you have had old version of the f5ansible role installed, so this does not show us the idempotency issue you reported.

The other gist link se

[2019-01-28 15:37] wojtek0806 commented on #1181
This issue title is: **bigip_device_sshd and bigip_device_auth_ldap not idempotent**

I already said looks like the role is updated, but the gists you linked here are not reflecting the idempotency problem with sshd and auth_ldap modules.

As far as other issues are concerned, it would be best if you replied to them one by one, as this gets confusing quickly.

[2019-01-28 15:47] mlowcher61 commented on #1184
No not yet. I’ll have time later this afternoon.

Sent from my iPhone

On Jan 28, 2019, at 5:42 AM, Wojciech Wypior <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL MAIL: noreply@github.com<mailto:noreply@github.com>

@mlowcher61<https://github.com/mlowcher61> have you got a chance to test this yet ?

—
You are receiving this because you were mentioned.
Reply to this em

[2019-01-28 16:59] netsential opened #1187 "bigip_virtual_server module does not support setting a "rate-limit" on a virtual server object"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

 N/A

##### SUMMARY

The current "bigip_virtual_server" module does not support setting a "rate-limit" on a virtual server object. I would like to p

[2019-01-28 18:12] #1186 closed

[2019-01-28 18:12] wojtek0806 commented on #1185
merged with #1188

[2019-01-28 18:12] #1185 closed

[2019-01-28 19:57] neozoolook opened #1190 "bigip_firewall_rule - Building ICMP protocol Rules, dest/src address_lists are not populated when icmp_message parameters are provided"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_firewall_rule.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04TS (ansible server host)

##### SUMMARY

When running a playbook leveraging bigip_firewall_rule.py for ICMP rule create with specific icmp_message values defined as well as s

[2019-01-29 00:36] wojtek0806 commented on #1181
So is the idempotency breaking is reflected in these tasks?

https://gist.github.com/C0missar/3f7ab7ed2cca7683d35086fe1e8af218#file-test-log-L75
https://gist.github.com/C0missar/3f7ab7ed2cca7683d35086fe1e8af218#file-test-log-L168

If so the second task which is the LDAP module will not be idempotent due to the following:

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_de

[2019-01-29 03:21] C0missar commented on #270
I also am looking for this module.

[2019-01-29 03:43] neozoolook commented on #1190
@wojtek0806 well I installed the galaxy role and reran the playbooks and it's now complaining about module failure, stating that unsupported parameter of 'auth_provider' found in provider.  However I do not specify this parameter at all in my plays;

-vvv output
[code]

[2019-01-29 03:44] neozoolook commented on #1190
@wojtek0806 here is the playbooks leveraging the use of the role;

[code]

[code]

[2019-01-30 02:20] jmpettit commented on #1175
Reviewing audit logs after a failure I can see ansible is trying to add metadata even if not specified in the playbook ` "metadata": null` ,  note the `metdata add` portion

```Jan 14 12:12:32 lb-798004 notice icrd_child[21031]: 01420002:5: AUDIT - pid=21031 user=ansible folder=/Common module=(tmos)# status=[01070822:3: Access Denied: user (ansible) does not have create access to object (virtual_s

[2019-01-30 05:39] devopswang opened #1191 "BIGIP_DEVICE_FACTS subset gtm-a-pool: pool members is an empty list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

BIGIP_DEVICE_FACTS subset gtm-a-pool

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### OS / ENVIRONMENT

##### SUMMARY
bigip_device_facts subset gtm-a-pools or gtm-aaaa-pools doesn't return any member info. It is blank.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

gtm pool pool_f5lab

[2019-01-30 09:44] devopswang commented on #1191
The Rest commands in bigip_device_facts are not appended with "expandSubcollections".

[2019-01-31 11:02] wojtek0806 commented on #1175
looking at the code it seems the meta data is inserted by default on update or on create, i will need to look at the issue with BIGIP cause if setting this parameter on a VS requires Admin role on the bigip then this would explain the behavior

[2019-01-31 11:38] wojtek0806 commented on #1175
given the above for this module to be usable with non admin users i would need to introduce the boolean parameter: 'insert_meta_data'  to insert meta data, and to keep it consistent with the current behaviour, the boolean value will be defaulted to yes, this means if one wants to use this module with non admin users one has to set the boolean to 'no'. This fix will also allow using this module lat

[2019-01-31 18:11] focrensh commented on #1165
Depending on the environment you can use the ssh keys baked into the ecosystem (such as AWS) and the CLI transport within bigip_command module to set the password on the box. Another example in a vmware ecosystem would be to create a "template" with a generic password set which is used for onboarding with another playbook.

[2019-01-31 18:12] wojtek0806 commented on #1165
@C0missar see above

[2019-01-31 19:05] C0missar commented on #1165
I have not been able to get the cli_transport to work; it's not clear to me exactly what that does or how it works, but when using REST transport, it prefixes everything with tmsh, even though the command description says it supports bash commands.

I have been able to get the ansible generic "command" over ssh to work, and then pushed a tmsh modify auth user admin password xxxx.  But then I had t

[2019-01-31 20:35] ajgerace opened #1192 "bigip_iapplx_package: No such file or directory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_iapplx_package
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

f5ansible  version v2019.1.22

##### OS / ENVIRONMENT

Ansible being run from docker container.

##### SUMMARY

when attempting to install AS3 package using the bigip_iapplx_package module.  the task fails with No

[2019-01-31 23:46] wojtek0806 opened #1194 "update container packages"
there are few changes in the packages in current ansible containers, those need to be updated

[2019-01-31 23:52] #1170 closed

[2019-01-31 23:52] #1175 closed

[2019-02-01 01:33] #1187 closed

[2019-02-02 00:16] #1163 closed

[2019-02-02 01:53] wojtek0806 commented on #1132
Add this PR to the list: https://github.com/ansible/ansible/pull/50801 it seems to update the some plugins the as above so i guess this one takes precedence

[2019-02-04 14:15] wojtek0806 commented on #1165
If the REST transport is selected, the command module will run the commands using util/bash endpoint, this will be the equivalent of running:

tmsh run util bash <your command here>

The documentation explains how to use SSH transport:
https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_command.py#L76

If you need examples I think I already stated that in the Slack channel, l

[2019-02-04 14:15] #1165 closed

[2019-02-04 14:23] wojtek0806 opened #1197 "Expand FAQ section in Ansible docs"
see FMFA-190

[2019-02-04 14:27] wojtek0806 opened #1198 "Limit BIG-IQ app template modules to only 6.0.x"
See FMFA-181

[2019-02-04 16:13] #1198 closed

[2019-02-04 16:47] tdm00 opened #1201 "Support strict-resume in client-ssl profile"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_profile_client_ssl

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Please add support for the strict-resume option available in client-ssl profiles. This setting has two values available, enabled or disabled.

##### STEPS TO R

[2019-02-04 16:51] C0missar commented on #1165
I'm not seeing a message on Slack.  Can you provide a link or a date?  Was it under #ansible or #general?

I think I see why I was having trouble with the CLI transport, and an opening an issue on that - bigip_command does not appear to honor the F5_SERVER environment variable when transport=CLI.

[2019-02-04 16:56] wojtek0806 commented on #1165
this was not directly to you but i mentioned looking at integration tests whenever somebody asked how to do something in a module.

[2019-02-04 17:20] C0missar opened #1202 "bigip_command does not utilize F5_Server environment variable when transport=CLI"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4

##### SUMMARY

When calling bigip_command using transport=CLI, the value of the F5_Server environment variable value is ignored, and an er

[2019-02-04 17:31] wojtek0806 commented on #1202
@C0missar thanks for that, can you repaste gist link to YAML, looks like the link to log was pasted twice :)

[2019-02-04 17:38] C0missar commented on #1202
Both files (Test.yaml and Test.log) are in the same gist.

Stan Ward
IT Application Security Architect
The Sherwin-Williams Company
Cell: 937.344.8342
Stan.Ward@Sherwin.com
http://www.sherwin-williams.com

-----"Wojciech Wypior" <notifications@github.com> wrote: -----
To: "F5Networks/f5-ansible" <f5-ansible@noreply.github.com>
From: "Wojciech Wypior" <notifications@github.com>
Date: 2019/02/04 12:

[2019-02-04 20:24] onurbrc opened #1203 "Setting up "session user-disabled" and "monitor none" to a pool's specific node with bigip_pool_member"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_pool_member

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]
##### LIBRARY VERSIONS

[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Hi,

Is it possible to disable a specific node and set up its health monitor to "none" only inside a given pool ?
I have several pools with a big amount of no

[2019-02-04 21:00] wojtek0806 commented on #1203
Let me clarify something beforehand: node is a different object which is a single IP address representing a server, the said server can run multiple services on different ports, ergo be a source of  multiple pool members for different pools,  a pool member is an IP address with port. You are looking to remove monitor for a pool and set the session to user-disabled.

This can be achieved by setting

[2019-02-04 21:16] onurbrc commented on #1203
Hi @wojtek0806 , thank you for you reply.

Actually, I don't want to remove a monitor from the whole pool as you said, I want just disable the health checks of a given node inside a pool without affecting the other nodes inside neither the other pools wrapping this disabled node.

I wanted use session user-disable to delete existing connections within that node and its pool only. But, I don't know

[2019-02-04 21:33] wojtek0806 commented on #1203
the monitors property are for pool member not the pool

[2019-02-04 21:36] #1162 closed

[2019-02-04 21:37] onurbrc commented on #1203
Thank you @wojtek0806 !

The monitor parameter for pool members will be enough for me.

We can close this issue.
Best regards.

[2019-02-04 21:53] wojtek0806 commented on #322
Having discussed this internally, we have made the decision that we will not be implementing this. There are few reasons:

1. Primary reason is that the TMOS tokens are short lived, i.e 20 minutes time-out

2. Even if you put a device like APM to protect BIGIP API (you need to have APM on a separate BIGIP to think of doing anything like OAuth),  the device will need to request these short lived to

[2019-02-04 21:53] #322 closed

[2019-02-04 23:26] torzillo opened #1205 "Request Ansible module for message-routing framework (MRF)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

message-routing

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

A module is needed for the message-routing profiles, including creating the transport-config, profiles, protocols, routes, routers, peers, and tying them to a virtual server.

[2019-02-05 15:39] wojtek0806 commented on #1203
can you please explain what do you mean by "ignored" ? If you could provide some output and the playbook you used as well.

[2019-02-05 19:54] onurbrc commented on #1203
Here it is my playbook :

[code]
I'm running the tasks, but the health monitor seems not to be modified to "None" when I use  "state: forced_offline" or  "state: disabled".

Using "state: forced_offline", my audit log gives me :
[code]

Using "state: disabled", my audit log gives me :

[code]

Could you confirm to me that using "monitors: none", the task should make a changing at "Local Traffic  ›

[2019-02-05 19:56] wojtek0806 commented on #1203
I think you are missing quotes around none, should be either 'none' or '' for empty string :)

[2019-02-05 20:03] onurbrc commented on #1203
Nope ! I've tested those possibilities too.
No change at Health Monitors level.

Verbose piece :
[code]

[2019-02-05 20:48] onurbrc commented on #1203
Via GUI, I have 3 possibilities to the Pool Member Health Monitor :

[code]
So, the 'none' | [] options to do this change that you mentioned is not the best choice I think, because as I did, maybe someone else will try to use 'none' expecting another behavior. Could you review that ?

[2019-02-05 20:57] wojtek0806 commented on #1203
ok ill have a look at it how does this look in REST responses, and adjust accordingly

[2019-02-05 23:03] C0missar commented on #1202
It appears that F5_USER is not honored, either, and this is also only when using transport CLI.

[2019-02-05 23:13] C0missar opened #1206 "bigip_command fails on 2nd attempt when transport=CLI"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4

##### SUMMARY

When using transport = CLI, the first call succeeds, but subsequent calls fail with
[code]
##### STEPS TO REPRODUCE

[code]

[2019-02-06 00:34] writemike opened #1207 "bigip_command - 400 Unexpected Error on UCS creation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible is running from CentOS 7 Docker Instance and BIG-IP is a VE running in VMware Fusion Professional Version 11.0.2 (10952296).

##### SUMMARY

Intermittently responding with 400 Unex

[2019-02-06 00:58] C0missar commented on #1192
I am also encountering this problem.  I've tried variations on ~ relative and absolute paths, or placing the package in the same folder as the Playbook, but it does not alter the outcome.

[2019-02-06 01:05] C0missar commented on #1105
I have encountered this on both a 5250v (no vCMP) and on an AWS VE.  I haven't tried it in the last few weeks, though.

[2019-02-06 13:24] OncleDave opened #1208 "bigip_monitor_http does not use default value for ip var"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_monitor_http
bigip_monitor_https
bigip_monitor_tcp

##### ANSIBLE VERSION
ansible 2.7.6
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/my_modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7

[2019-02-06 14:15] wojtek0806 commented on #1208
This has been already implemented, please read the updated on requirements before filing an issue:

https://clouddocs.f5.com/products/orchestration/ansible/devel/usage/filing-issues.html

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_monitor_http.py#L313
https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_monitor_tcp.py#L263
https://github.com/F5Ne

[2019-02-06 14:15] #1208 closed

[2019-02-06 14:55] wojtek0806 commented on #1207
@writemike

None of the modules have been tested on 14.x, looking at the error output:

[code]

Can you check in the audit logs, what is the exact command being run, cause I do not think having this:
``utilCmdArgs: "-c "tmsh -c save sys ucs" ``is what it should look like.

I guess I could look at maybe having an option to just SAVE the ucs file/not download added to bigip_ucs_fetch module, as we h

[2019-02-06 15:01] #1206 closed

[2019-02-06 15:05] OncleDave commented on #1208
@wojtek0806
Hi Wojtek,

I have no problem setting it explicitly in the playbook but then you should update the documentation.

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_monitor_http.py#L49
and
https://docs.ansible.com/ansible/latest/modules/bigip_monitor_http_module.html

Meanwhile, I don't understand why you would set this parameter to None by default as this gener

[2019-02-06 15:22] wojtek0806 commented on #1208
The parameter is added during creation, but not during update, so you do not need to specify it when you create a monitor, but only when you update it, the documentation is correct in this aspect, the defaults are set by this function during create event:

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_monitor_http.py#L609

[2019-02-06 17:16] C0missar commented on #1206
Thanks for researching this.

I'm not terribly familiar with Ansible dev code, and not at all with Python, etc.  Could you provide the specific commands I would need to install the necessary components, or upgrade to a development branch that addresses the issue?

Also, it seems like a lot of people could be encountering this issue.  Would it make sense to add a note on the bigip_command documenta

[2019-02-06 18:05] wojtek0806 commented on #1206
this command should do it:

pip install git+https://github.com/ansible/ansible.git@devel

[2019-02-06 18:41] C0missar commented on #1206
That seems to have resolved the problem - thank you!

Stan Ward
IT Application Security Architect
The Sherwin-Williams Company
Cell: 937.344.8342
Stan.Ward@Sherwin.com
http://www.sherwin-williams.com

-----"Wojciech Wypior" <notifications@github.com> wrote: -----
To: "F5Networks/f5-ansible" <f5-ansible@noreply.github.com>
From: "Wojciech Wypior" <notifications@github.com>
Date: 2019/02/06 13:05
Cc

[2019-02-06 19:27] C0missar opened #1209 "bigip_device_httpd fails on first attempt, works on 2nd - new behavior"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_device_httpd

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Win10/WSL/Ubuntu 18.0.4

##### SUMMARY

The first run when onboarding a new bigip device always fails with
[code]
##### STEPS TO REPRODUCE

[code]

https://gi

[2019-02-06 19:29] C0missar commented on #1209
This used to work consistently, but there have been numerous role updates over the last month, and I don't know exactly when this started.

[2019-02-07 05:12] writemike commented on #1207
We saw the same result on the customer's BIG-IP running 12.1.4. 14.1 is just what they have running in their lab for repro. Here are the logs:
Audit log:
[code]
restjavad.0.log:
[code]
Here is the equivalent curl test. Maybe it is an iControl REST issue?
[code]
and result:
[code]

[2019-02-07 05:17] caphrim007 commented on #1207
This is happening because of the hard coded timeout in the REST API server code.

This problem is handled for you, or should be, in the bigip_ucs_fetch module.

This cannot be fixed in the command module because it's a core bug of the rest API. Even in the ucs_fetch module, we work around it by ignoring the timeout error and ps'ing the processes on box until the UCS process disappears.

Suggest yo

[2019-02-07 05:33] writemike commented on #1207
Thanks for the update! We tried the bigip_ucs_fetch module originally, but it was running really slow until we tried the fix for "bigip_ucs_fetch hangs #1152" which has now solved that problem. We will go back to using the bigip_ucs_fetch module.

[2019-02-07 05:33] #1207 closed

[2019-02-07 14:23] mateusz5 opened #1210 "bigip_data_group always return "changed=true" when partition is other than "common""
Moved from https://github.com/ansible/ansible/issues/50604 as requested by @wojtek0806.

##### SUMMARY
When using bigip_data_group module to add data_group on F5 LTM partition other than "Common", result is always "changed=true".
When adding on "Common" partition, I get "changed=false" if data_group is already there.

Looks like problem is limited to "ip" type of data_group ("integer" or "string"

[2019-02-07 20:45] wojtek0806 commented on #1192
This issue is not reproducible from the current devel:

[code]

I have changed package parameter to be of type: path to see if this helps, since its not reproducible on my end. This is likely down to your environment

[2019-02-07 20:48] #1164 closed

[2019-02-07 20:51] wojtek0806 commented on #1184
I have just installed the RPM with this package successfully on the current devel:
https://github.com/F5Networks/f5-ansible/issues/1192#issuecomment-461588929

One other thing:
the step where you use the command to enable iapplx on device is redundant, the module does that for you already

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_iapplx_package.py#L426

closing as

[2019-02-07 20:51] #1184 closed

[2019-02-07 21:06] #1192 closed

[2019-02-07 21:25] wojtek0806 commented on #1209
This is most likely due to the BIGIP HTTPD daemon not being ready, can you consistently reproduce this issue on the same machine? or does this only happen when you boot up ?

[2019-02-07 21:27] wojtek0806 commented on #1191
@devopswang have you tested this with the latest f5ansible galaxy role: https://galaxy.ansible.com/f5devcentral/f5ansible, or with the current devel? does this also fail?

[2019-02-07 21:28] #1201 closed

[2019-02-07 21:31] C0missar commented on #1209
I'll try it again, but it had been some time after boot on both images.  It seemed like it was the first attempt to change, rather than a timing issue.

If it is timing, what is the right way to detect that and wait?

Stan Ward
IT Application Security Architect
The Sherwin-Williams Company
Cell: 937.344.8342
Stan.Ward@Sherwin.com
http://www.sherwin-williams.com

-----"Wojciech Wypior" <notificatio

[2019-02-07 21:55] C0missar opened #1214 "bigip_iapplx_package: No such file or directory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_iapplx_package
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY

The module is ignoring the file path provided in the package parameter, and generates an error message that the package was not found in the current directory

[2019-02-07 22:47] wojtek0806 commented on #1214
the change i made is not in the role yet, the role is built every day at 1am PST. You need to wait and download it then and retest. Like I said the issue is not reproducible so posting GISTS will not help here, unless I can reproduce this behaviour, ergo if we cannot reproduce this then we cannot fix it.

This type of error is strictly related to your environment, I have noticed you have put Win10

[2019-02-07 23:07] wojtek0806 commented on #1214
I think I found your problem, i got a docker container with py3.6:

`fatal: [bigip_v12_docker -> localhost]: FAILED! => {"changed": false, "cmd": "rpm -qp --queryformat '%{NAME}-%{VERSION}-%{RELEASE}.%{ARCH}' /settings/f5-appsvcs-3.8.1-1.noarch.rpm", "msg": "[Errno 2] No such file or directory: 'rpm': 'rpm'", "rc": 2}
`
Then I checked if the rpm command was running on its own:

[code]

So here is

[2019-02-08 00:25] devopswang commented on #1191
@wojtek0806 I just tried with the latest f5ansible role but unfortunately no luck either.

<img width="1429" alt="image" src="https://user-images.githubusercontent.com/34286347/52451719-40926180-2b94-11e9-95bf-5f58d1dcb3ed.png">

[2019-02-08 02:32] C0missar commented on #1214
It's Ubuntu 18.0.4 under WSL.

Where do you list the "supported" environments?

I don't know how to set up a virtual environment or force alternate versions of Python. I don't know python, and never expected to need to.  It seems like if one module can read my files, they all should be able to.

BTW, the description text recommends using the "{{ role_path }}" for locating the files (although it's

[2019-02-08 02:35] C0missar commented on #1214
By controller, you mean the machine that Ansible is running on (my Windows 10 machine)?  Why would that be needed?  It isn't installing anything.

How do I go about determining whether it is installed?  I would bet not; Ubuntu doesn't use RPM.

Stan Ward
IT Application Security Architect
The Sherwin-Williams Company
Cell: 937.344.8342
Stan.Ward@Sherwin.com
http://www.sherwin-williams.com

-----"Wo

[2019-02-08 02:48] C0missar commented on #1214
Yay, that did it.  I installed rpm, and now I can add and delete packages.

What is RPM being used for, and why the bad error message?  I clearly don't understand what the module is doing.

It's been a very frustrating process for me.  Thank you for your patience.

Stan Ward
IT Application Security Architect
The Sherwin-Williams Company
Cell: 937.344.8342
Stan.Ward@Sherwin.com
http://www.sherwin-w

[2019-02-08 02:57] onurbrc opened #1215 "Creating ha-group resources"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_ha_group (or bigip_sys_ha_group)

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]
##### LIBRARY VERSIONS

[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Hi,

Is it possible to create a new feature to create ha-groups ?
It would be nice to create a different health criteria groups to contro

[2019-02-08 02:59] wojtek0806 commented on #1214
The answers are found in the official Ansible documentation:

https://docs.ansible.com/ansible/latest/user_guide/windows_faq.html

While you can run Ansible on WSL this does not mean it is supported, by being a part of Ansible core modules we follow the same suit.

This is why you have had problems with parameters that were using 'path'  in the past, simply because you are running on an unsupporte

[2019-02-08 02:59] #1214 closed

[2019-02-08 03:28] wojtek0806 commented on #1215
Please open a separate issue for each feature, so it is clear what you are looking for, so far i can see HA group and traffic-group modules

[2019-02-08 03:55] onurbrc opened #1216 "Assign ha-group object to a traffic-group"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_traffic_group

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]
##### LIBRARY VERSIONS

[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Hi,

Is it possible to add a new feature to the bigip_traffic_group  to accept "Advanced Setup Options"  like the selection of ha-group object as a "Failove

[2019-02-08 10:10] infoMatt opened #1217 "Certificate/key pair update problem (profile /Common/<prof>\\'s key and certificate do not match)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_ssl_certificate
bigip_ssl_key

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION
Error appearing using both the RH version of ansible, and with the versions v2019.2.1 and master (as of today) of the f5ansible galaxy module.

##### OS / ENVIRONMENT
Red Hat Enterprise Linux 7.6

####

[2019-02-08 11:13] wojtek0806 commented on #1217
Have you followed this when filing an issue, from the above it does not seem so:

https://clouddocs.f5.com/products/orchestration/ansible/devel/usage/filing-issues.html

Once you test with the latest role and complete the issue template with the required information I will reopen it

[2019-02-08 12:42] infoMatt commented on #1217
I've update the first post, to include the debug info and the tests with latest galaxy module.
No difference.

[2019-02-08 13:49] traittinen opened #1218 "Making failover_state more easily available in bigip_device_facts module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_device_facts.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

not relevant

##### SUMMARY

It is currently quite complicated to run tasks only on active BIG-IP node in active/standby HA setup since failover_state variable is found in devices list

[2019-02-08 13:49] traittinen commented on #1218
Same issue also open in Ansible project https://github.com/ansible/ansible/issues/47082.

[2019-02-08 13:50] traittinen commented on #1218
@wojtek0806

[2019-02-08 16:56] focrensh commented on #1218
Opened internal ticket #194 for tracking/review. We will provide an update as new information is available.

[2019-02-11 14:38] vmpr commented on #711
+1 would be nice to have a way to deploy the device certificate with ansible, cheers!

[2019-02-12 16:00] #994 closed

[2019-02-12 18:29] wojtek0806 commented on #1217
@infoMatt we do not use SDK, SDK will be removed in 2.8. I do not see a reproduction playbook that you are trying to use to update key/cert.
Please provide full YAML that is used to reproduce the above error.

[2019-02-12 18:56] infoMatt commented on #1217
@wojtek0806 I don't have anything in the playbook beyond what is actually stated in the examples... it's something like this:

[code]

The point is, however, that if the certificate and key pair is used in a SSL profile, the update procedure _must be transactional_, otherwise there's a moment between the two tasks where the private key won't match the public one (and vice-versa), and thus it will

[2019-02-12 19:04] wojtek0806 commented on #1217
transaction context manager is already implemented and used in few modules, but we will not be doing that for all the modules, as I do not plan to use transactions where it is not necessary. If it makes sense to do this here I will implement it.

[2019-02-12 19:08] infoMatt commented on #1217
Yes, please... in this case there's definitely the need for a transactional update, otherwhise certificates can't be upgraded in place... It would be necessary to upload every cert revision with a different name, and change all the client ssl profiles that uses the old certificate... it would be a nightmare!!

[2019-02-12 19:12] infoMatt commented on #1217
In most case I'll agree with you, but transactions can be used also in TMSH, and in some circumstances it might be advisable to "complete all or fail as it wouldn't have happened"... say a complex definition of a virtual, with balancing pool and nodes... if there's an error on a node step, it doesn't makes sense to leave other definitions behind...
(Maybe I'm thinking as a programmer here, I might

[2019-02-12 19:25] wojtek0806 commented on #1217
ansible core modules do not support roll-back mechanism, what they do support is doing a diff which allows the user to see what will be changed, which is going to be implemented at some point in F5 modules. As far as transactions are concerned, I have no intention of doing transactions for modules in the near future.

[2019-02-13 14:22] wojtek0806 commented on #1210
@mateusz5 I have ran tests against current devel and this issue is not reproducible:

- 1st Run
[code]

- 2nd run:
[code]
My playbooks:

- Used for first run:
[code]
- Used for second run:
[code]

[2019-02-13 14:24] wojtek0806 commented on #1210
@mateusz5 in your repro playbook you are using deprecated way of configuring your connection, try using: 'provider' the same way i do, also `connection: local` Try running my playbooks on your machine and report back. for now I will close this issue as not reproducible and not a bug, if you can give me a working reproduction then we can revisit.

[2019-02-13 15:39] #1159 closed

[2019-02-13 21:39] #1191 closed

[2019-02-13 21:51] wojtek0806 commented on #1218
this is already implemented here:

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_device_facts.py#L892
https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_device_facts.py#L7748

[code]
This can be easily accessed with some jq filter for example:

`devices[?self=='yes'].failover_state`

In the playbook it would look something like in these examples:

[2019-02-13 21:51] #1218 closed

[2019-02-14 21:52] focrensh commented on #1216
Tracking internally with ticket 197

[2019-02-14 21:53] focrensh commented on #1215
tracked internally with ticket 198

[2019-02-18 05:57] dineshkumar181094 opened #1224 "bigip_ucs_fetch - f5sdk required"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_usc_fetch

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

default config
##### OS / ENVIRONMENT

Red Hat 4.8.5-11

##### SUMMARY

script giving error

The python f5-sdk module is required.
though i have installed f5-sdk on machine

pip freeze | grep f5-sdk
DEPRECATION: Python

[2019-02-18 14:26] mateusz5 commented on #1210
@wojtek0806 I tried Your playbook and it end successfuly - "changed" only after first run, "ok" after running again.
However, I still get same wrong result when I try to add datagroup into my previously (manually) created partition.
So it seems like there is something in particular about that partition of mine.
There is a separate route-domain defined as default for it.
I'll do some more tests to

[2019-02-18 16:22] wojtek0806 commented on #1210
ok let me know when you get more information and reproduction conditions and we can revisit this

[2019-02-18 18:35] wojtek0806 commented on #1224
this is a duplicate issue, solutions can be found in the closed tickets:

https://github.com/F5Networks/f5-ansible/issues/1149#issuecomment-454389166
https://github.com/F5Networks/f5-ansible/issues/757
https://github.com/F5Networks/f5-ansible/issues/750
https://github.com/F5Networks/f5-ansible/issues/990
also please review documentation on how to submit the issues. Closing

[2019-02-18 18:35] #1224 closed

[2019-02-18 18:37] wojtek0806 opened #1226 "refactor main() function and ModuleManager classes in all modules to accommodate new patterns"
since this mechanism was already implemented in the icontrol rest class, we need to remove it from other modules.

https://github.com/F5Networks/f5-ansible/blob/devel/library/module_utils/network/f5/icontrol.py#L243

This is done already here:

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_node.py#L766

[2019-02-19 07:52] mateusz5 commented on #1210
@wojtek0806 I did some tests - It seems that having different route-domain as default for partition is the problem (until you have 0 as default route domain for a partition "Other" you get propper result when creating data group - after switching default route domain to different than 0, you get "changed" each time):

Steps to reproduce (GUI):

1) create new partition:
- Partition Name: Other
- Pa

[2019-02-19 10:25] mateusz5 commented on #1210
It also seems that once You create data group while "Partition Default Route Domain" for partition "Other" is set to "0", and You then switch back to "10" playbook returns "OK".

So to fully reproduce the problem You need to create data group while "Partition Default Route Domain" for partition "Other" is set to "10". Then You get "CHANGED" each time you run playbook.

[2019-02-19 10:36] OncleDave opened #1227 "Request ansible module for "SNAT Translation List""
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

##### PYTHON VERSION

##### BIGIP VERSION

##### CONFIGURATION
xxxxxx@(xxxxxxx)(cfg-sync In Sync)(/S1-green-P:Active)(/Common)(tmos)#  list ltm snat-translation
**ltm snat-translation 10.0.3.1** {
    address 10.0.3.1
    inherited-traffic-group true
    **tcp-idle-timeout 300**
    traffic-group traffic-group-1
    **

[2019-02-20 16:16] #1132 closed

[2019-02-20 16:16] #1176 closed

[2019-02-20 16:17] wojtek0806 opened #1229 "update docs"
back porting this change: https://github.com/ansible/ansible/pull/49966

[2019-02-20 16:21] wojtek0806 opened #1230 "update unit tests to remove deprecated parameters"

[2019-02-20 17:37] wojtek0806 opened #1231 "move comparison functions from common to compare.py"
to be consistent these need to be moved around

[2019-02-20 17:39] wojtek0806 opened #1232 "update stubber templates to accomodate change in 1226"

[2019-02-20 20:25] #1232 closed

[2019-02-20 20:54] wojtek0806 commented on #1226
Modules already done:
- [x] bigip_data_group

[2019-02-20 22:21] wojtek0806 commented on #1226
Completed Modules:
- [x] bigip_data_group

[2019-02-20 22:21] wojtek0806 commented on #1230
Completed Modules:
- [x] bigip_data_group

[2019-02-20 22:25] wojtek0806 commented on #1127
having worked with the module today evaluating the possible choices, we have decided we will not be making this feature happen. I will make a note of this limitation in the documentation

[2019-02-20 22:27] #1210 closed

[2019-02-20 22:31] #1127 closed

[2019-02-20 22:49] #1128 closed

[2019-02-21 10:39] Cajga opened #1236 "bigip_provision module fails to provision the vcmp module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_provision

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION
$ cat ansible.cfg
[defaults]
retry_files_enabled = False
host_key_checking=False

##### OS / ENVIRONMENT
RHEL7.6

##### SUMMARY
I am trying to configure the vCMP host with ansible from scratch. Ansible fails to provision th

[2019-02-21 17:13] wojtek0806 opened #1237 "Authenticated but not authorised users cause false positives with modules running against BIGIP"
Running playbooks as a user that is authenticated but not authorised to modify objects do not catch 500 error messages sent by the ICRD.

This causes the playbooks to run without issues

[code]

[2019-02-21 17:21] wojtek0806 commented on #1237
LTM log:

[code]

The modules use tokens first this line here would return caused an error and fallback to basic auth if the token was not issued in the first place:

https://github.com/F5Networks/f5-ansible/blob/devel/library/module_utils/network/f5/bigip.py#L59
https://github.com/F5Networks/f5-ansible/blob/devel/library/module_utils/network/f5/bigip.py#L34

If the basic auth would have failed th

[2019-02-21 17:24] wojtek0806 commented on #1236
As per https://clouddocs.f5.com/products/orchestration/ansible/devel/usage/filing-issues.html please download the latest ansible galaxy role retest and post results with the role in use.

Once this information is provided we will re-open

[2019-02-21 17:24] #1236 closed

[2019-02-22 08:44] Cajga commented on #1236
Hi @wojtek0806,

Sry. for not trying it first with the role. Seems, with the role, it works fine.
Do you have a rough schedule (in few days/weeks/months) when this will be released to the ansible github repo?
Which firmware version would you recommend to use for the F5's in order to get a stable configuration environment with ansible (we are planning to use the "stable f5 modules" from he ansible

[2019-02-22 14:44] DerrickTJ opened #1239 "Feature Request: Access Policies ACL"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I would like to see a module that could create new ACLs and build the rules within that. I'm guessing this may be two different modules like the pools and pool members are. One creates the ACL and another one that lets you put rules inside the ACL.

Access Policies > ACLs

[2019-02-22 15:01] wojtek0806 commented on #1236
@Cajga
The role is a wrapper for our development code and it is updated daily, so you can use it in the meantime without having to explicitly clone the repository. As far as ansible core development branch is concerned I do upstream the changes into ansible core every 2-3 weeks. For official ansible release to have those changes you need to wait for 2.8 to release in May.

Also closer to 2.8 relea

[2019-02-25 11:36] davbeny opened #1240 "bigip_ucs_fetch error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_ucs_fetch
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
nTypeError: coercing to Unicode: need string or buffer, NoneType found\n",

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

fatal: [ldb01b.prod.com

[2019-02-25 11:41] wojtek0806 commented on #1240
@davbeny
As per https://clouddocs.f5.com/products/orchestration/ansible/devel/usage/filing-issues.html please download the latest ansible galaxy role retest and post results with the role in use.

Once this information is provided we will re-open

[2019-02-25 11:41] #1240 closed

[2019-02-26 10:11] Cajga commented on #1236
@wojtek0806,

Thank you very much for the valuable information. For now we will stick to version 14.1 and the ansible core development branch and do the resource provisioning manually until the module changes appear there.

[2019-02-26 17:16] wojtek0806 opened #1241 "bigiq_discovery module add separate option for ltm objects conflict resolution"
FMFA-202

[2019-02-26 17:17] wojtek0806 opened #1242 "bigiq_discovery module add separate APM module support"
FMFA-201

[2019-02-26 17:18] wojtek0806 opened #1243 "bigiq_discovery module add stats collection settings"
FMFA-200

[2019-02-26 17:32] sdaynjax opened #1244 "Error UnboundLocalError: local variable 'client' referenced before assignment"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_snmp_community
bigip_snmp_trap

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise 7

##### SUMMARY

When running playbook to config ltm with snmp community and trap I'm getting an error message

"module_stderr": "Traceback (most recent

[2019-02-26 18:59] wojtek0806 commented on #1244
As per https://clouddocs.f5.com/products/orchestration/ansible/devel/usage/filing-issues.html please download the latest ansible galaxy role retest and post results with the role in use if the issue persists.

Once this information is provided we will re-open

[2019-02-26 18:59] #1244 closed

[2019-02-27 20:32] #1241 closed

[2019-02-27 20:32] #1242 closed

[2019-02-27 20:32] #1243 closed

[2019-03-01 10:06] lopf opened #1248 "RFE bigip_device_facts scope to partition"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_device_facts

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### SUMMARY

We're using the `bigip_device_facts` module and iterate over the facts. We have many objects (of the same kind) and so the list is very long. Even with `no_log: true`, it spams the console heavily.
For such tasks, we're onl

[2019-03-01 12:49] wojtek0806 commented on #1248
i am afraid we will not be doing this, as device facts also gathers data that is not in any partition, if you want to display a subset of items rather than the all list, you can filter them using using jq or jinja filters.

Some examples of jq and jinja we use in our integration testing:

https://github.com/F5Networks/f5-ansible/blob/devel/test/integration/targets/bigip_device_facts/tasks/issue-01

[2019-03-01 12:49] #1248 closed

[2019-03-01 14:43] lopf commented on #961
I can confirm that this didn't fix it for us either. If profiles are defined, it always results in `changed: true`.

[2019-03-01 15:25] lopf commented on #1248
thanks for the hints.

[2019-03-01 17:19] wojtek0806 opened #1249 "Backport 53015"
Core team added ability to skip SELinux checks, and modified ucs_fetch module slightly:

https://github.com/ansible/ansible/pull/53015/commits/b90c5c03c6534186508bedaaa876825f834a22e6#diff-9a63df324045f0fe1025462875f53360

https://github.com/ansible/ansible/pull/53015/

[2019-03-04 07:07] lopf opened #1250 "RFE bigip_profile_client_ssl renegotiation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_profile_client_ssl

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### SUMMARY

We'd like to be able to disable the default `renegotiation` property on a ClientSSL profile. This is required if one wants to enable HTTP/2 when using TLS v1.2.

##### EXPECTED RESULTS

bigip.con

[2019-03-04 15:56] #1250 closed

[2019-03-04 18:40] infrascripting commented on #823
[code]

[2019-03-04 20:18] c41m4n commented on #1105
My test VCMP guest is provisioned with four cores, which the VCMP host reports as such:

Per Slot Memory Use 	11.4 GB
Per Slot Disk Use 	10.3 GB
Cores Per Slot        4
Number of Slots 1

If there's a specific command that will provide what you need let me know.

[2019-03-05 10:46] wojtek0806 opened #1251 "backport 53269"
backport https://github.com/ansible/ansible/pull/53269

[2019-03-05 16:49] wojtek0806 commented on #1215
merged: https://github.com/F5Networks/f5-ansible/pull/1252

[2019-03-05 16:49] #1215 closed

[2019-03-05 17:36] wojtek0806 opened #1253 "deprecate iapplx package name"
this module will be used for management of LX packages, hence the name change

[2019-03-05 17:38] wojtek0806 commented on #1229
updated modules:

- [x] bigip_lx_package

[2019-03-05 17:40] #1253 closed

[2019-03-05 17:47] neozoolook commented on #1216
@wojtek0806 @focrensh
Recommend that this module work also include the ability to set ha-order and failover-method too.

Example;
[code]

[2019-03-05 18:07] wojtek0806 commented on #1216
we will not implement this in this issue as it is outside of scope of planned work, if you want those 2 items added please raise separate issues on github and we will address accordingly.

[2019-03-05 18:12] onurbrc commented on #1216
@neozoolook Great idea. I forgot mention those. I'll open the issue.

[2019-03-05 18:50] onurbrc opened #1255 "Assign failover-method/ha-order to a traffic-group"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_traffic_group

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]
##### LIBRARY VERSIONS

[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Hi,

Is it possible to upgrade the traffic-group module to accept new Advanced Setup Options?
##### STEPS TO REPRODUCE

Below, the options associated to the

[2019-03-05 18:53] onurbrc commented on #1216
@neozoolook the reference #1255 .
If you wanna change or add more details.

[2019-03-06 04:10] neozoolook commented on #1216
@onurbrc #1255 looks good, this should be sufficient, thanks again.

[2019-03-06 09:23] Cajga opened #1256 "bigip_data_group fails creating data group"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_data_group

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION
$ cat ansible.cfg
[defaults]
retry_files_enabled = False
host_key_checking=False

$ ansible-galaxy install f5devcentral.f5ansible
- downloading role 'f5ansible', owned by f5devcentral
- downloading role from https://git

[2019-03-06 11:02] wojtek0806 commented on #1256
this is not a bug in the code but a documentation issue in the EXAMPLES section.

For this to work you need to specify if this is internal data group:

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_data_group.py#L49
https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_data_group.py#L63

The examples are misleading, i will change them. Please test wi

[2019-03-06 13:14] Cajga commented on #1256
Hi @wojtek0806,

Thanks for the prompt support, you are right, internal: yes fixes the problem.

May I ask when do you plan to push your current dev to ansible dev repo?
The bigip_data_group which is there right now does not allow us to define a network (ie.: 10.0.0.8/8) when address type is selected and this has been fixed already in your repo.
Also, the bigip_profile_client_ssl fixes one of the

[2019-03-06 13:28] Cajga commented on #1256
Opps, it looks I was too early to say that it has been fixed. In case we use the records_src as a source the problem is still there with the current devel as well (defining the records with records works fine).
I will open another report for this.

[2019-03-06 13:38] Cajga opened #1257 "cannot create address type data group with networks from file (using records_src)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_data_group

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7.5

##### SUMMARY

##### STEPS TO REPRODUCE

Call ansible-playbook as showed below

[code]

##### EXPECTED RESULTS

Data group is created with one record in it

##### ACTUAL RESUL

[2019-03-06 16:45] wojtek0806 commented on #1257
in the examples there are double quotes like so:
`10.0.0.0/8 := "Network1"`

Can you do the same in your file and see if this works? The error you see is the one that BIGIP throws at you, not the module.

[2019-03-07 08:19] Cajga commented on #1257
I've tested with the following forms and each of them provides the same error:
`"10.0.0.0/8" := "testnetwork"`
`10.0.0.0/8 := "testnetwork"`
`10.0.0.0/8 := testnetwork`

Hmm... I thought that the error message comes from the module even before it talked to the F5:
https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_data_group.py#L350
https://github.com/F5Networks/f5-ansible/b

[2019-03-07 08:35] Cajga commented on #1257
Found it. Problem is with the white space between the separator and the network definition. It does work with this file:
`10.0.0.0/8:=testnetwork`

[2019-03-07 12:56] wojtek0806 commented on #1257
yes when you provide items from the file, you need to be careful with the formatting, as BIGIP is very strict on what you can or cannot have. since this is not an issue now i will close this one

[2019-03-07 12:56] #1257 closed

[2019-03-08 14:38] wojtek0806 opened #1258 "review modules for stable interface candidates"
prior to 2.9 release modules in preview need to be reviewed as candidates for stable interface

[2019-03-11 22:54] wojtek0806 opened #1260 "gtm_topology_module unit test failure"
issue was with the region_members property, specifically with the arrowed part:

[code]

The dictionaries contained more than 2 keys but with None values,  so filtering them needed to happen early, so the member.keys() length check would not return false positives.

[2019-03-11 23:04] #1229 closed

[2019-03-11 23:04] #1260 closed

[2019-03-11 23:10] wojtek0806 commented on #1249
will only backport once this is merged

[2019-03-11 23:31] #1251 closed

[2019-03-11 23:31] #1256 closed

[2019-03-13 17:29] #1216 closed

[2019-03-13 17:29] #1255 closed

[2019-03-14 22:11] #1226 closed

[2019-03-14 22:11] #1230 closed

[2019-03-14 22:11] #1231 closed

[2019-03-18 10:11] gullanetworkcode opened #1264 "bigip_gtm_server unable to add peer address"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_gtm_server

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
XUBUNTU

##### SUMMARY
Unable to add Peer Addresses to server configuration in DNS\GSLB\SERVERS, no option in the module parameters

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Ability

[2019-03-18 10:52] gullanetworkcode opened #1265 "big_gtm_server error using default(omit) jinja filter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_gtm_server

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
XUBUNTU

##### SUMMARY
Trying to use `default(omit)` jinja filter to deal with undefined variable causing play to fail. In this case I want to omit the `translation` parameter when it isn't required