[2017-06-10 05:00] caphrim007 opened #244 "Upstream bigip_irule module"
significant refactoring changes have been made that need to be upstreamed

##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_irule.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-

[2017-06-10 05:01] caphrim007 commented on #244
https://github.com/F5Networks/f5-ansible/issues/231 is related to this request

[2017-06-12 17:29] donsantos opened #245 "bigip_ucs local variable 'obj' references before assignment"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_ucs

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.2
##### SUMMARY

bigip_ucs python script giving an error when trying to upload UCS file

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

f5dev.ucs file created

##### ACTUAL RESULTS

[2017-06-12 22:58] caphrim007 commented on #191
this module is ready for upstreaming

[2017-06-12 23:03] caphrim007 commented on #191
PR submitted https://github.com/ansible/ansible/pull/25630

[2017-06-13 15:59] donsantos commented on #245
fixed it:

defined obj

` elif state == "present": `
            `obj = BigIpIControl(module) `
            `obj.present()`

 in the main function

@caphrim007 007

[2017-06-13 15:59] #245 closed

[2017-06-13 16:13] caphrim007 commented on #245
@donsantos this module needs to be refactored to use current conventions. we can fix this problem at that time.

[2017-06-13 20:44] caphrim007 commented on #213
this module is ready to be upstreamed

[2017-06-13 20:44] caphrim007 commented on #213
a PR for this module has been created https://github.com/ansible/ansible/pull/25668

[2017-06-14 04:30] caphrim007 commented on #244
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_irule.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [ ] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [ ] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [ ] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [ ] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [ ] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [ ] 12.1.1-hf1 (BIGIP-12.1.1.1.0

[2017-06-14 11:45] insidepacket commented on #152
we need server ssl profile as well.

[2017-06-14 15:15] dbeckham commented on #236
Yes, we should be able to do this. Let me take a look, make sure there are no issues from the business side, and I'll get back with you. Is there a better way to communicate with you about this?

[2017-06-14 15:25] caphrim007 commented on #236
@dbeckham sure. you can contact me directly at t.rupp@f5.com

[2017-06-14 18:01] caphrim007 commented on #244
PR for this issue is here https://github.com/ansible/ansible/pull/25709

[2017-06-14 18:14] atechnicnate opened #246 "bigip_license module shouldn't return until license is loaded"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_license.py

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The bigip_license.py module can renew the license but then it just moves on to the next plays in a playbook.  When a license is renewed, modified, or licensed for the first t

[2017-06-14 19:28] caphrim007 commented on #244
this is now merged

[2017-06-14 19:28] #244 closed

[2017-06-14 19:29] caphrim007 commented on #191
this is now merged

[2017-06-14 19:29] #191 closed

[2017-06-14 19:29] caphrim007 commented on #215
this is now merged

[2017-06-14 19:29] #215 closed

[2017-06-14 19:29] caphrim007 commented on #213
this is now merged

[2017-06-14 19:29] #213 closed

[2017-06-14 19:30] caphrim007 commented on #189
this is now merged

[2017-06-14 19:30] #189 closed

[2017-06-14 19:46] caphrim007 commented on #231
@spopplewell the updated module has been upstreamed and will be released with ansible 2.4. thank you for finding this issue!

[2017-06-15 04:08] caphrim007 commented on #207
this module is now ready for upstreaming

[2017-06-15 04:22] caphrim007 commented on #207
the PR for this issue is here https://github.com/ansible/ansible/pull/25728

[2017-06-15 04:29] caphrim007 commented on #199
this is now fixed

[2017-06-15 04:29] #199 closed

[2017-06-15 16:23] caphrim007 commented on #207
this is now merged

[2017-06-15 16:24] #207 closed

[2017-06-15 18:03] caphrim007 opened #247 "upstream bigip_hostname"
it is already refactored. it just needs to be upstreamed.

##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)

[2017-06-16 17:25] caphrim007 commented on #192
this is ready for upstreaming

[2017-06-16 17:25] caphrim007 commented on #200
this is now complete

[2017-06-16 17:25] #200 closed

[2017-06-16 18:13] caphrim007 commented on #192
pr for this is here https://github.com/ansible/ansible/pull/25808

[2017-06-17 07:20] insidepacket opened #248 "Create custom ssl server profile in BigIP LTM"
**ISSUE TYPE**

Feature Idea

**COMPONENT NAME**
Develop Ansible Module to create custom ssl server profile in BigIP LTM

ANSIBLE VERSION
Version 2.4

**PYTHON VERSION**

Python 2.7.5

**BIGIP VERSION**

Sys::Version
Main Package
Product BIG-IP
Version 12.1.2
Build 0.0.249
Edition Final
Date Wed Nov 30 16:04:00 PST 2016

[2017-06-17 13:14] caphrim007 commented on #192
this is now merged

[2017-06-17 13:14] #192 closed

[2017-06-17 17:54] caphrim007 commented on #247
this is now ready to be upstreamed

[2017-06-18 04:35] caphrim007 commented on #247
PR for this is here https://github.com/ansible/ansible/pull/25841

[2017-06-18 23:54] caphrim007 commented on #247
this is now merged

[2017-06-18 23:54] #247 closed

[2017-06-20 00:31] caphrim007 commented on #212
this module is ready for upstreaming

[2017-06-20 00:32] caphrim007 commented on #212
a PR for this has been opened here https://github.com/ansible/ansible/pull/25882

[2017-06-20 02:42] caphrim007 commented on #220
@mcgonagle is this still an issue, or can I close this?

[2017-06-20 02:42] caphrim007 commented on #196
this is now fixed

[2017-06-20 02:42] #196 closed

[2017-06-20 02:43] caphrim007 commented on #197
this is now complete

[2017-06-20 02:43] #197 closed

[2017-06-20 02:46] caphrim007 commented on #118
i've covered this. closing

[2017-06-20 02:46] #118 closed

[2017-06-20 02:48] caphrim007 commented on #86
closing this as this module has been refactored

[2017-06-20 02:48] #86 closed

[2017-06-20 02:52] caphrim007 commented on #68
closing this. if either of those following this thread need further assistance, please file a new issue.

[2017-06-20 02:52] #68 closed

[2017-06-20 02:52] caphrim007 commented on #97
this is now complete

[2017-06-20 02:52] #97 closed

[2017-06-20 02:53] caphrim007 commented on #58
this should now be complete. if there are further issues, please open a new issue.

[2017-06-20 02:53] #58 closed

[2017-06-21 10:35] codyjohn commented on #248
+1

We have a similar requirement and are considering building our own module internally.   I would love to collaborate on an "official" module that others can use.

[2017-06-21 16:26] caphrim007 commented on #248
@codyjohn i'd be happy to colab on it. Can you give me a birthday wishlist of things you'd like to see? I'm preparing the work list for ansible 2.5 right now.

[2017-06-21 23:04] caphrim007 commented on #214
this module is ready for upstreaming

[2017-06-21 23:07] caphrim007 commented on #214
PR for this module is created https://github.com/ansible/ansible/pull/25980

[2017-06-22 00:30] champain opened #250 "IPv6 Addresses don't get compressed, input could use validation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`bigip_selfip`

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

IPv6 addresses can be entered into this module with or without leading 0s added. i.e. the address can be entered into the module as
[code]

But then the API will report the address

[2017-06-22 18:07] caphrim007 opened #252 "refactor the bigip_monitor_tcp module"
this will be valuable insofar as we can build on this module to provide support for other monitors in the future (such as external)

[2017-06-23 23:25] earchibald opened #253 "bigip_virtual_server - add ip-protocol type (tcp/udp)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
F5 bigip_virtual_server

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
bigip_virtual_server module does not support the ip-protocol setting, meaning that I can only create tcp virtuals with the module.

I've hacked my copy up to support a '

[2017-06-26 21:23] caphrim007 opened #254 "unable to create iapp services in one partition using templates in another"
reported by user in f5ansible slack channel

[2017-06-26 21:46] #254 closed

[2017-06-28 03:41] codyjohn commented on #248
Here's an example of what we would want to be able to configure in a playbook:

`
- bigip_client_ssl_profile:
    server: '{{ inventory_hostname }}'
    user: 'admin'
    password: '{{ f5_password }}'
    validate_certs: True
    name: profile_clientssl_default
    ciphers: "!SSLv3:!SSLv2:ECDHE+AES-GCM+SHA256:ECDHE+AES-GCM+SHA384:ECDHE+AES+SHA256:ECDHE-RSA-AES128-CBC-SHA:ECDHE+AES:TLSv1+ECDHE+3DES

[2017-06-28 13:54] wojtek0806 opened #255 "Refactor bigip_software module"
##### ISSUE TYPE
BIGIP Software module is currently using SOAP, this needs conversion to REST. Also add new feature of  remote sources support, to download ISO on the unit.

##### COMPONENT NAME
bigip_software.py

[2017-06-28 15:59] caphrim007 commented on #80
to begin with, this module can just be concerned with uploading a binary or xml file of an asm policy

[2017-06-28 16:00] #80 closed

[2017-06-28 16:00] caphrim007 commented on #188
referencing #80 for future work

[2017-06-28 16:01] caphrim007 commented on #75
this is complete

[2017-06-28 16:01] #75 closed

[2017-06-28 16:30] caphrim007 commented on #212
this is now merged

[2017-06-28 16:30] #212 closed

[2017-06-28 17:25] caphrim007 commented on #211
moving this to 2.5 release because we dont have a bigip_policy_rule module with which we can really use this module with

[2017-06-28 17:30] caphrim007 opened #256 "refactor bigip virtual server"
required to address many bug and feature requests as this is our most used module

[2017-06-28 17:35] caphrim007 commented on #223
@sivaansible "disabled" is not a valid state for this module. Where's you get the example from?

[2017-06-28 17:36] caphrim007 opened #257 "refactor bigip_selfip"
to make it part of current conventions

[2017-06-28 17:36] caphrim007 commented on #257
#229 related

[2017-06-28 17:37] caphrim007 commented on #257
#228 related

[2017-06-28 17:37] caphrim007 commented on #257
#174 related

[2017-06-28 17:37] caphrim007 commented on #257
#6 related

[2017-06-28 17:37] caphrim007 commented on #257
#52 related

[2017-06-28 17:43] caphrim007 commented on #250
@champain is this now functioning as expected?

[2017-06-28 18:08] caphrim007 opened #258 "add module to support traffic group creation and manipulation"
this is needed for HA process

[2017-06-28 18:09] caphrim007 opened #259 "add support for device trust"
bigip_device_trust or bigip_device_peer. One of these needs to exist as part of HA process

[2017-06-28 18:13] caphrim007 opened #260 "upstream bigip_software"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [ ] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [ ] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [ ] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [ ] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [ ] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [ ] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-HF1)
- [ ] 12.1.1-h

[2017-06-29 15:33] caphrim007 commented on #170
this is now complete

[2017-06-29 15:33] #170 closed

[2017-06-29 15:34] caphrim007 commented on #112
this is now complete and will be in ansible 2.4 as bigip_configsync_actions

[2017-06-29 15:34] #112 closed

[2017-06-29 15:36] caphrim007 opened #261 "RFE: Allow ssh key based authentication for F5 modules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Allow ssh key based authentication for F5 modules. F5 allows ssh key based authentication outside Ansible but there is no way to use it with any of the F5 modules.

##### STEPS TO REPRODUCE

[co

[2017-06-29 15:36] caphrim007 commented on #261
original (closed) reference https://github.com/ansible/ansible/issues/26231

[2017-06-29 16:41] caphrim007 commented on #261
@jainnikhil30 we will track this here

[2017-06-29 17:20] caphrim007 opened #262 "review switching unit tests to using mocks"
this is a potential new requirement for ansible modules.

here are two examples (see the tests/ files)

* https://github.com/ansible/ansible/pull/26026/files
* https://github.com/ansible/ansible/pull/24895/files
* https://github.com/openshift/openshift-ansible/tree/master/roles/lib_openshift/src/test/unit

[2017-06-29 22:43] caphrim007 commented on #214
this is now merged

[2017-06-29 22:43] #214 closed

[2017-07-01 04:55] fwissue commented on #232
Any update for #222

[2017-07-01 05:00] caphrim007 commented on #232
@fwissue this functionality is still in process

[2017-07-05 19:08] #179 closed

[2017-07-06 09:06] RafalKorepta opened #263 "Can't set trafficGroup in iApp service"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_iapp_service

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
One use case isn't idenpotent and fail on second attempt (reconfiguration iApp).

##### STEPS TO REPRODUCE

[code]

f5-http-url-routing-lb.parameters.json:
https://gist.github.com/R

[2017-07-06 17:10] #263 closed

[2017-07-06 17:32] caphrim007 opened #265 "upstream #264 changes"
##### SUMMARY

Upstream PR #264 to Ansible core

[2017-07-06 22:59] caphrim007 commented on #143
this module is ready to be upstreamed

[2017-07-06 23:04] caphrim007 commented on #143
PR for this has been created here https://github.com/ansible/ansible/pull/26506

[2017-07-06 23:15] caphrim007 commented on #265
a PR for this has been created here https://github.com/ansible/ansible/pull/26507

[2017-07-07 16:40] caphrim007 opened #266 "bigip_ucs requires a refactor to use recent coding conventions"
One of the customer BIG-IP UCS module and is running into the following error:

‘msg: global name ‘test_icontrol’ is not defined’

They are able to use a workaround using the BIG-IP command module.

[2017-07-07 16:42] jat190 commented on #266
Can you submit all the relevant information and troubleshooting steps mentioned below?

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-07 21:51] caphrim007 commented on #266
##### COMPONENT NAME

bigip_ucs.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The bigip_ucs.py file is reporting an error,

`msg: global name ‘test_icontrol’ is not defined`

##### STEPS TO REPRODUCE

Any usage of the module

##### EXPECTED RESULTS

The module should succeed instead of faili

[2017-07-07 21:52] caphrim007 commented on #266
@jat190 see above. There is no workaround right now. I am re-factoring the ucs module so that it will work.

[2017-07-08 05:27] caphrim007 commented on #181
this is now complete

[2017-07-08 05:27] #181 closed

[2017-07-08 05:32] caphrim007 commented on #266
@jat190 I believe this is now fixed, but will require some fixes merged into upstream Ansible before it is easily testable by others. I will update this PR when those are merged.

when they are, you will want to try the development version of Ansible.

[2017-07-10 14:52] pcloup commented on #146
Based on other websites specially around URLLIB3, I got a bit of improvement on this, when putting the `PYTHONWARNINGS="ignore:Unverified HTTPS request" ` PYTHON env variable (no more warning).

[2017-07-10 15:22] pcloup commented on #146
and of course, this is not recommended, except for testing/development, as it opens the door to any MIM type of issue ;-)

[2017-07-10 15:57] caphrim007 commented on #265
this is now merged

[2017-07-10 15:57] #265 closed

[2017-07-10 20:00] caphrim007 commented on #266
@jat190 the required fix is now merged upstream so that it can be tested on a 2.4 devel version of ansible.

[2017-07-10 20:46] caphrim007 commented on #165
this is now complete

[2017-07-10 20:46] #165 closed

[2017-07-10 20:47] caphrim007 commented on #252
I believe this is now complete

[2017-07-10 20:47] #252 closed

[2017-07-10 20:48] caphrim007 opened #267 "upstream the bigip_monitor_tcp module"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

bigip_monitor_tcp

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-

[2017-07-11 20:55] #266 closed

[2017-07-11 20:56] caphrim007 opened #268 "upstream bigip_ucs module"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

bigip_ucs.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-HF1)

[2017-07-12 00:22] caphrim007 commented on #268
this is now ready for upstreaming

[2017-07-12 00:26] caphrim007 commented on #268
PR for this has been created https://github.com/ansible/ansible/pull/26663

[2017-07-12 19:15] earchibald opened #269 "bigip_command got REST "maximum active login tokens" 400 error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_command

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION
- nothing of note

##### OS / ENVIRONMENT
N/A - REST issue is from BigIP

##### SUMMARY

REST returned a HTTP 400 Unexpected Error as described below.

Secondarily, I'd love to have a way to accomplish changes to member prior

[2017-07-12 21:04] caphrim007 commented on #269
ack'ed. Seems the f5-sdk and/or the ansible modules are not cleaning up tokens and when enough modules are run, you may exhaust them.

[2017-07-13 22:00] torzillo commented on #92
I would like to add to this request.  Several customers use BigIQ for managing licenses.  The idea is that they would like to assign pool licenses, but also to assign individual key licenses to unmanaged devices.

Here is some example Python code to do this from Vernon:

#!/usr/bin/env python

# coding=utf-8

from f5.bigiq import ManagementRoot
import time

def wait_for_state(obj, state):
    for

[2017-07-13 22:07] torzillo opened #270 "Module for security logging profiles for AFM"
Customers would like an Ansible module that can be used to make a security logging profile.  There are several steps involved in creating a logging profile.  Here is an example of what the tmsh commands would look like:

~~create ltm monitor tcp-half-open SECURITYLOGSERVERS-SYSLOG { defaults-from tcp_half_open description "Monitor Status of SECURITYLOGSERVERS Syslog Daemons" destination *:514 inte

[2017-07-13 22:08] caphrim007 opened #271 "write module for log publishers"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-13 22:08] caphrim007 opened #272 "write module for log destinations"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-13 22:09] caphrim007 opened #273 "user preferences in module"
either in the bigip_user or in a separate module (such as changing the prompt)

ask michael

[2017-07-13 22:10] caphrim007 opened #274 "user_alertd modules???"
probably doesnt have a REST endpoint. do stuff via plain old ansible on remote box

[2017-07-13 22:11] caphrim007 commented on #274
maybe this, in the interim, is a `template` + `service` module

[2017-07-13 22:20] torzillo opened #275 "Ansible module for creating, deleting, and modifying AFM policies"
Customers would like an Ansible module that can create, delete, and modify AFM policies and the related objects.  This includes creating the port lists, address lists, rules, and rule-lists.

The module should also support applying those policies to a context, such as a virtual server, route domain context, or global context.

The below example shows firewall objects being created and applied to a

[2017-07-14 23:12] loudsong opened #276 "bigip_user module fails when updating existing user on v13.0.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_user

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

I'm using the bigip_user module to set the shell for the admin user. on 12.1.2, this works great. In 13.0.0, the module fails in the following way.

If I leave off the `p

[2017-07-15 04:03] caphrim007 commented on #267
this is now ready for upstreaming

[2017-07-15 04:04] caphrim007 commented on #267
PR is here https://github.com/ansible/ansible/pull/26842

[2017-07-15 04:12] caphrim007 opened #277 "upstream bigip_monitor_tcp_echo"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

bigip_monitor_tcp_echo

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0

[2017-07-15 05:52] caphrim007 commented on #277
this module is ready for upstreaming

[2017-07-15 05:58] caphrim007 opened #278 "upstream bigip_monitor_tcp_half_open"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

bigip_monitor_tcp_half_open

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.

[2017-07-17 17:29] wojtek0806 opened #279 "add import/apply asm policy module"
as discussed

[2017-07-17 17:30] wojtek0806 opened #280 "ASM Export Policy Module"
as discussed

[2017-07-17 17:51] caphrim007 commented on #188
#280  and #279 are also part of this effort

[2017-07-17 19:51] caphrim007 commented on #278
this module is now ready for upstreaming

[2017-07-18 17:11] caphrim007 commented on #224
@payalsin this should now be fixed

[2017-07-18 17:11] #224 closed

[2017-07-18 17:14] caphrim007 opened #281 "upstream bigip_partition"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-HF1)
- [x] 12.1.1-h

[2017-07-18 17:49] caphrim007 commented on #143
this is now merged

[2017-07-18 17:49] #143 closed

[2017-07-18 17:50] caphrim007 commented on #268
this is now merged

[2017-07-18 17:50] #268 closed

[2017-07-18 18:06] caphrim007 commented on #277
PR created https://github.com/ansible/ansible/pull/26844

[2017-07-18 18:06] caphrim007 commented on #277
this is now merged

[2017-07-18 18:06] #277 closed

[2017-07-18 18:07] caphrim007 commented on #278
PR has been created https://github.com/ansible/ansible/pull/26920

[2017-07-18 18:07] caphrim007 commented on #278
this is now merged

[2017-07-18 18:07] #278 closed

[2017-07-19 16:16] caphrim007 commented on #267
this is now merged

[2017-07-19 16:16] #267 closed

[2017-07-19 16:54] caphrim007 commented on #187
@payalsin this should no longer be an issue

[2017-07-19 16:54] #187 closed

[2017-07-19 16:54] caphrim007 commented on #171
this is now complete

[2017-07-19 16:54] #171 closed

[2017-07-19 16:55] caphrim007 opened #282 "upstream bigip_remote_syslog module"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

bigip_remote_syslog.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0

[2017-07-19 16:56] caphrim007 commented on #73
This is addressed in #282

[2017-07-19 16:56] #73 closed

[2017-07-20 03:56] caphrim007 commented on #281
this module is ready for upstreaming.

[2017-07-20 03:57] caphrim007 commented on #281
module needs to wait for 2.5 merge window

[2017-07-21 14:35] yodzeb commented on #114
Hi,

Facing the same problem here, but running the same playbook again works, I would say the problem is on the F5 side.

[2017-07-21 15:41] payalsin opened #283 "bigip_gtm_facts missing 'availability status'"
Enhancement request to add Pool availability status to bigip_gtm_facts (for pools). (Green/Red/Blue status)

Right now rfacts have the following information:
"pool": [
        [
            {
                "alternate_mode": "round-robin",
                "dynamic_ratio": "disabled",
                "enabled": "True",
                "fallback_ip": "any",
                "fallback_mode": "return-

[2017-07-21 16:05] wojtek0806 commented on #279
Current design considerations:

- No update can be performed on the tasks endpoint for import and apply
- Module States:
    - present - will upload the file, or create the policy from template
    - activated - will upload if policy is not there and apply it, or just apply uploaded policy. Or create it from template and apply it
    - absent - will remove the policy in question

We can have 2 typ

[2017-07-21 16:08] wojtek0806 commented on #279
Current blockers for this module to happen:

https://github.com/F5Networks/f5-common-python/issues/1154
https://github.com/F5Networks/f5-common-python/issues/1153

[2017-07-23 14:16] wojtek0806 commented on #255
This is merged

[2017-07-23 14:16] #255 closed

[2017-07-24 21:46] caphrim007 commented on #282
this module is ready for upstreaming.

[2017-07-24 21:47] caphrim007 commented on #282
module needs to wait for 2.5 merge window

[2017-07-25 05:10] caphrim007 commented on #232
@fwissue i was speaking with a colleague who pointed out to me that a ca bundle is nothing more than a regular cert as far as bigip is concerned. are you able to install the intermediate cert if you use a second task that names it instead of your original key pair

[2017-07-25 17:45] caphrim007 opened #284 "add module to support tmshell scripts"
##### ISSUE TYPE

 - Feature Idea

##### SUMMARY

Add a module to support uploading tm shell scripts. These are kind of like iRules, but kinda not. In any event, there are some customer use cases that want to automate this.

[2017-07-25 23:01] caphrim007 commented on #250
@champain ping

[2017-07-26 00:27] champain commented on #250
Sorry, I thought I had replied to this. Yes, this is working in my tests.

On Tue, Jul 25, 2017 at 7:01 PM, Tim Rupp <notifications@github.com> wrote:

[2017-07-26 00:52] caphrim007 commented on #250
Ok, no. Closing

[2017-07-26 00:52] #250 closed

[2017-07-26 16:27] caphrim007 commented on #259
this is now complete

[2017-07-26 16:27] #259 closed

[2017-07-26 16:28] caphrim007 opened #285 "upstream bigip_device_trust module"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

bigip_device_trust

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [ ] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [ ] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [ ] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [ ] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [ ] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [ ] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196

[2017-07-26 18:49] activeactive commented on #140
I need ability to enable/disable GTM pool members. Will it be in this module down the road?

[2017-07-26 19:49] caphrim007 commented on #140
@activeactive that ability would be part of a bigip_pool_member module.

[2017-07-26 21:05] activeactive commented on #140
@caphrim007 I don't see bigip_gtm_pool_member module. Is it in planning stage?

[2017-07-26 21:09] caphrim007 commented on #140
@activeactive correct, we would need to add it. There is not yet an issue for it. Would you be able to add an issue?

[2017-07-26 22:10] activeactive opened #286 "Need bigip_gtm_pool_member module to manage GTM pool members"

[2017-07-26 22:11] activeactive commented on #140
Just added the issue.
https://github.com/F5Networks/f5-ansible/issues/286

[2017-07-26 23:03] wojtek0806 opened #287 "bigip_software_facts"
- list of images and hotfixes present
- list of volumes installed along with software information

[2017-07-26 23:45] caphrim007 commented on #286
in particular interested in enable/disable the individual members

[2017-07-27 13:57] activeactive commented on #286
I need this pool members enable/disable asap for my automation project. If no one started it yet, I can start developing it with some guidance. Please advise.

[2017-07-27 21:51] caphrim007 opened #288 "add module for bigip_qkview_facts"
See http://go/f5a2

[2017-07-27 22:07] caphrim007 commented on #288
@delgadillo22

[2017-07-27 22:53] caphrim007 opened #289 "add module to report asm facts"
* current number of policies (this is just the policies collection)
* current number of policies active (active means that it is attached to an LTM policy)
* current number of policies active and attached (means that the LTM policy is attached to a virtual server)
* current number of policies active and unattached (basically the same as "active" above)
* current number of policies inactive (asm po

[2017-07-28 03:03] devnullNZ commented on #186
I've been looking through the SDK docs, but can't see where I can extract connection info.
I don't see anything similar to Systems.Connections.get_list()
Am I missing something, or is there something more elegant than that now?

[2017-07-28 20:51] UdhavPawar opened #290 "What can be the possible problem?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have two load balancers, (10.1.254.248, and 10.0.254.248), both load balancer running same code.
same yaml file works fine on 10.0.254.248, but it does not work on 10.1.254.248

[2017-07-28 21:21] caphrim007 commented on #290
What role does the upawar user have on the bigip that's failing?

[2017-07-28 21:42] fwissue commented on #290
admin with advance shell, ssh to 10.1.254.248 directly, it works fine

[2017-07-28 21:44] fwissue commented on #290
could not figure out why ansible use https not ssh
Unexpected Error: Bad Request for uri: https://10.1.254.248:443/mgmt/tm/util/bash/\nText: u'{\"code\":400,\"message\":\"\\\\\"bash\\\\\" unexpected argument\",\"errorStack\":[],\"apiError\":26214401}'\n",
    "module_stdout": "",

[2017-07-28 22:22] fwissue commented on #290
something related to his account on LTM, tested with different user account on the same computer it works fine.

[2017-07-29 01:10] caphrim007 commented on #290
Everything happens over http with F5 modules. Even things that look like ssh

[2017-07-29 01:11] caphrim007 commented on #290
I can provide some debug code to assist if you're still interested in the underlying problem.

[2017-07-29 01:24] fwissue commented on #290
Thanks Tim

That will be great.

Sent from my iPhone

On Jul 28, 2017, at 6:11 PM, Tim Rupp <notifications@github.com<mailto:notifications@github.com>> wrote:

I can provide some debug code to assist if you're still interested in the underlying problem.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/F5Networks/f5-ansible/issues/2

[2017-07-29 07:21] aheilmaier opened #291 "@channel I have a question about bigip_license module and the prerequisites"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

bigip_license

##### DISCUSSION / QUESTION
I need to onboard a F5 ltm system.
Is there a best practice ? (no BigIQ; no BigIP access to activate.f5.com)
Because usually I can only get a license file via a manual process on copy/paste the dossier file to activate.f5.com.
So an auto onboarding process breaks at this step. Because furthe

[2017-08-01 04:54] christian2600 opened #292 "bigip_view: Error: 'NoneType' object has no attribute 'flush'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_view

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)

##### SUMMARY

Execute ansible-playbook "bigip_view" to create a View without zones, but it returns an error about:
The error was: Attrib

[2017-08-01 15:17] wojtek0806 opened #293 "add bigip_software_facts module"
we need a new module for bigp_software_facts to be able to gather information about existing volumes and ISO images on the bigip

[2017-08-01 17:22] Mak1111 commented on #66
Hi All,

I am also getting the error while running the ansible_playbook for F5 license

I go thru the solution and got the link - https://github.com/F5Networks/f5-ansible/blob/master/library/bigip_license.py#L599

There is log code written But I am not sure how I copy or run in my virtual machine which is ubuntu(vagrant)

Can we have any document how to run codes to ubuntu

sry for asking silly qu

[2017-08-02 15:29] Chaseabbott commented on #257
Status?  :-)

[2017-08-03 15:36] caphrim007 opened #295 "dns and sshd modules require dhcp be disabled?"
I’m trying to use the bigip_device_dns module. I’m on Ansible 2.3.1.0, and the docs say this was added in 2.2. It’s telling me that the management interface can’t be set to DHCP?!
Is this something slated to big fixed?

TASK [Set the DNS settings on the BIG-IP] ************************************************************************************
fatal: [10.0.0.157 -> localhost]: FAILED! => {"change

[2017-08-03 15:37] #295 closed

[2017-08-05 00:04] caphrim007 commented on #66
@Mak1111 see the example here

https://github.com/F5Networks/f5-ansible/tree/devel/examples/0002-license-bigip

The code in the master branch is most likely not what you want.

[2017-08-06 03:15] caphrim007 commented on #229
@payalsin try now

[2017-08-06 03:16] caphrim007 commented on #228
@payalsin try now

[2017-08-06 03:16] caphrim007 commented on #174
this is now complete

[2017-08-06 03:16] #174 closed

[2017-08-06 03:17] caphrim007 commented on #6
@hemskgren and @manuadoor this should now work. try with current module

[2017-08-06 03:18] caphrim007 commented on #52
@ric79 try now

[2017-08-07 13:46] Blaag opened #297 "Always getting error using bigip_partition.py"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_partition

##### ANSIBLE VERSION
ansible 2.4.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/black/ansible2/library']
  ansible python module location = /home/black/ansible2/lib/python2.7/site-packages/ansible
  executable location = /home/black/ansible2/bin/ansible
  python version = 2.7.12 (default,

[2017-08-07 14:57] Blaag commented on #297
Thanks, I'm just getting into things and truly appreciate downshifting to help out the new guys!

[2017-08-07 14:57] #297 closed

[2017-08-07 20:48] caphrim007 opened #298 "upstream bigip_selfip"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-HF1)
- [x] 12.1.1-h

[2017-08-08 10:57] mikeandretta commented on #128
Was there any development on this? Im looking to use tagged_interface: Virtuals as my tagged interface for the newly created bigip_vlan. If I already have a trunk with interface 1.1 and 1.2 inside of it and I want to use the trunked "string" value on within the tagged_interface: why is this not an option?

Thanks!

[2017-08-08 15:35] john3exonets opened #299 "iControlUnexpectedHTTPError using bigip_partition"
##### ISSUE TYPE

 - Bug Report
??

##### COMPONENT NAME

bigip_partition

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

 Ubuntu 14.04.5 LTS

##### SUMMARY

Trying to use 'big_partition', but getting an error.  Don't know if its operator error or a bug.  I am using a non-MGMT interface to get to the BIGIP.

##

[2017-08-08 15:59] caphrim007 commented on #299
I think this is suggesting that one of the following imports is failing

[code]

Can you try copy/pasting those imports above into a `python` interpreter on your device to make sure they are all importable?

[2017-08-08 16:27] caphrim007 commented on #128
@mikeandretta nearly all dev happens on VEs, so it's likely that we just didnt test for this. @wojtek0806 you have metal you could repro this on, aye?

[2017-08-08 17:17] john3exonets commented on #299
They seem to all work:

[code]

[2017-08-08 19:16] caphrim007 commented on #299
@john3exonets do you have a file called f5.py on your system?

`locate f5.py`

[2017-08-08 20:41] Blaag opened #300 "bigip_node.py failing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_node.py

##### ANSIBLE VERSION
ansible 2.4.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/black/ansible2/library']
  ansible python module location = /home/black/ansible2/lib/python2.7/site-packages/ansible
  executable location = /home/black/ansible2/bin/ansible
  python version = 2.7.12 (default, No

[2017-08-08 23:06] fwissue opened #301 "Add module to copy file in F5-sdk"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

copy file and create directory
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

There is a copy module in ansible, but that requires ssh key, I would prefer to use user/password in F5-sdk to transfer files, and create directory, and we could

[2017-08-09 01:48] john3exonets commented on #299
[code]

[2017-08-09 03:03] payalsin opened #302 "bigip-command.py giving error"
I have the following playbook:

- name: Set network address
    bigip_command:
      server: "10.192.73.XXX"
      user: "admin"
      password: "admin"
      commands:
      - modify cm device bigip-ha2 unicast-address {{ effective-ip 1.1.1.3 } {effective-ip 10.192.73.XXX }}
    delegate_to: localhost

Error:
TASK [Set network address ] ************************************************************

[2017-08-09 04:43] caphrim007 commented on #299
@john3exonets ahh ok, good. delete those 2 files and try again

[2017-08-09 04:44] caphrim007 commented on #299
@john3exonets hmm. well, neither of those two files should be raising an error.

Are you running Ansible in a virtualenv?

[2017-08-09 04:50] caphrim007 commented on #302
@payalsin why are the duplicate {{ in there? that usually indicates a variable.

[2017-08-09 14:13] john3exonets commented on #299
No....Base Ubuntu.

[2017-08-09 16:50] payalsin commented on #302
@caphrim007 - yup my mistake, the two curly braces are needed for this tmsh command, but I gave a space now and that works
modify cm device bigip-ha2 unicast-address { { effective-ip 1.1.1.3 } {effective-ip 10.192.73.XXX } } )

Closing issue

[2017-08-09 16:50] #302 closed

[2017-08-09 19:17] caphrim007 opened #303 "Address breaking PR for fallbacks"
PR is here. Discussing it there an on IRC

https://github.com/ansible/ansible/pull/27119

[2017-08-09 19:17] caphrim007 commented on #301
@delgadillo22

[2017-08-09 19:19] caphrim007 commented on #299
@john3exonets lemme create a VM and see

[2017-08-09 19:22] caphrim007 commented on #291
@aheilmaier if you have a valid license that you got manually, or automatically, from F5, I think you can provide this in the `license_file` argument. However I don't think this is being actively tested right now.

I'll change this to an `enhancement` request

[2017-08-09 19:32] caphrim007 commented on #291
@delgadillo22

[2017-08-09 19:36] caphrim007 commented on #128
@mikeandretta would you open a new issue to cover your question? Otherwise we will miss this comment and issue in the long term

[2017-08-09 20:03] mikeandretta commented on #128
@caphrim007 I will open a new ticket in the morning with the same information I have in the comment above for tracking.

Thanks!

[2017-08-09 20:07] mikeandretta opened #304 "bigip_vlan tagged_interface"
Im looking to use tagged_interface: "Virtuals" as my tagged interface for the newly created bigip_vlan. If I already have a trunk with interface 1.1 and 1.2 inside of it and I want to use the trunked "string" value within the tagged_interface: why is this not an option? Below is my YML for this section. All works for VLAN creation but it will not tag the Network \ Trunks interface im trying to ref

[2017-08-11 09:06] wojtek0806 commented on #128
@caphrim007 I will take care of checking on hardware once i get from under water

[2017-08-11 09:45] mikeandretta commented on #128
@wojtek0806 @caphrim007 a new ticket was opened for this, please see below.

If there is anything I can do to assist please let me know.

https://github.com/F5Networks/f5-ansible/issues/304

[2017-08-12 08:17] robertmircea commented on #83
Supporting DGL would be great as we already use ProxyPass irule for path based routing. ProxyPass irule uses DGL to configure url mappings.

[2017-08-15 14:41] alonsocamaro opened #306 "RFE: bigip_command idempotent"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_command

##### SUMMARY

Hi

Implementing the `creates` and `removes` options of the command module in bigip_command module would allow idempotent behaviour as described in http://codeheaven.io/15-things-you-should-know-about-ansible/

I hope you find this useful

Thanks

       Ulises

[2017-08-15 14:45] alonsocamaro opened #307 "RFE: bigip_iapp_service module to deploy iApp in specific traffic-group"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT NAME
bigip_iapp_service

##### SUMMARY

Hi

AFAIK currently it is not possible to deploy an iApp service in a speficic traffic group and this is a must have for Active-Active deployments.

Many thanks

     Ulises

[2017-08-15 18:03] caphrim007 commented on #290
@fwissue see this method here

https://gist.github.com/caphrim007/0ba1531401f51d1d9f5b6213dedd7848

Overwrite your own copy of that method.

Then, do `pip install q`

Finally, run the module, watch it fail, and then post the output of `cat "$TMPDIR/q"`

[2017-08-15 21:50] thomsonjames commented on #292
Attempted in version 12.1.2 and see the same issue.  I actually don't see any requests leave my Ansible client so the error looks contained in the module itself.  In looking at the code, I think this is bigsuds-based since I don't believe this function is available in REST yet.  So, it could be a bigsuds issue.

[2017-08-15 22:02] caphrim007 commented on #292
@thomsonjames @christian2600 this module is not complete. Therefore, i would not expect it to work.

[2017-08-17 17:57] payalsin commented on #230
In the private cloud package (with Cisco ACI) we have used Ansible to configure the APIC and F5.
There was one manual step (which is the step - assigning the VLAN from the vCMP host to the vCMP guest)

It would be nice if we can prioritize this module so that we have no manual step but an end-to-end automated solution for unmanaged mode integration with ACI. We don’t have to get all vCMP functiona

[2017-08-18 19:51] amb1s1 opened #308 "bigip_virtual_server default to performance layer 4 type"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I'm trying to create a virtual server standard type with client and server side profile, but no mater what I do it will make the VS type layer 4.

##### STEPS TO REPRODUCE

[

[2017-08-18 20:03] UdhavPawar opened #309 "Private IP Checking"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-18 20:52] caphrim007 commented on #308
@amb1s1 I'll have to take a look at this. this module in the f5-ansible repository has not entirely been migrated to the REST API yet, so this might be an outlier that needs to be addressed.

[2017-08-18 20:53] caphrim007 commented on #309
@UdhavPawar can you elaborate more on what you're asking for here?

[2017-08-21 20:23] caphrim007 opened #310 "unable to change root user with bigip_user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_user

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
the bigip_user module is unable to change the root user's password because it is not a tmsh user

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-21 20:36] caphrim007 commented on #310
this should now be fixed

[2017-08-21 20:36] #310 closed

[2017-08-22 00:22] UdhavPawar commented on #290
[root@e79f354e01e2 tmp]# cat q

 0.0s execute_on_device: item['command']='tmsh show sys version'

[root@e79f354e01e2 work]# ansible-playbook -i privateiphost showver.yml

PLAY [run arbitrary command on F5 devices.] *********************************************************************************

TASK [show version] **********************************************************************************

[2017-08-22 04:30] caphrim007 commented on #290
@UdhavPawar I still maintain that something is screwy with whatever account you are using for this purpose. If you want to contact me offline at t.rupp@f5.com, I'd be happy to debug it with you further.

[2017-08-22 04:33] caphrim007 commented on #303
this has been fixed upstream

[2017-08-22 04:33] #303 closed

[2017-08-22 04:35] caphrim007 commented on #299
@john3exonets does your non-mgmt interface have the appropriate acls allowing for remote connections to it? the default is to deny everything.

[2017-08-22 09:04] fwissue commented on #290
Agreed, it works fine with another account

[2017-08-22 14:10] rainierpineda2 opened #311 "Pool is not associated with new GTM wideip when using bigip_gtm_wide_ip"
ISSUE TYPE
 - Bug Report
 -

COMPONENT NAME
bigip_gtm_wide_ip

ANSIBLE VERSION
ansible 2.4.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/ansible']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.6 (default, Oct 26 2016, 20:32:47) [GCC 4.8.4]

##### PY

[2017-08-22 14:36] jasonrahm commented on #308
@caphrim007 this is an interesting one, because the GUI "type" has no such attribute via rest. Type depends largely on profiles applied, but for some of the types, hidden attributes set to true enable them. Here's the map I just made by creating each type as default as I could and interrogating the API:

- Standard -> no special attribute, tcp profile applied (or child)
- Fwd L2 -> “l2Forward”:”tr

[2017-08-22 15:31] loudsong opened #312 "bigip_software fails to create a new boot location with reuse_inactive_volume and a single boot location"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_software.py (in devel branch)

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Using the `bigip_software` module from the dev branch, I tried to install software on a fresh BIG-IP VE instance. The BIG-IP began with only a single volume,

[2017-08-22 18:04] wojtek0806 commented on #312
looking at the code yes this looks like it. I will submit PR this week to fix this

[2017-08-22 18:49] john3exonets commented on #299
Yes it does.....that is how I get to the Admin GUI

[2017-08-23 09:49] pkhural commented on #300
We are also experiencing a similar issue but I think this may be related to using ephemeral nodes using Ansible, do you know if there is an upcoming fix for this?

`The full traceback is:
  File "/tmp/ansible_wUlUdD/ansible_module_bigip_node.py", line 395, in main
    created, desc = create_node_address(api, address=host, name=address)
  File "/tmp/ansible_wUlUdD/ansible_module_bigip_node.py", lin

[2017-08-23 17:17] chilu49 opened #313 "ansible F5 module error"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

bigip_pool_member
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

oracle linux 7
##### SUMMARY

I am trying to execute the  playbook which disables a member in an F5 pool. I am able to collect the facts from the same F5 but when I try to execute th

[2017-08-23 17:19] caphrim007 commented on #313
my guess is that you're not delegating to localhost. The BIG-IP modules **must** run on the Ansible controller. Try adding either of the following to your playbook.

`connection: local` at the play level

or

`delegate_to: localhost` at the task level

[2017-08-23 17:39] caphrim007 commented on #313
@chilu49 right, but the error is due to a failure of SSH trying to connect to 10.48.120.149. That's not a bigip module related error.

After you added delegation, what was the error?

[2017-08-23 17:47] chilu49 commented on #313
Its the same error.

fatal: [10.48.120.149]: UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: OpenSSH_6.6.1, OpenSSL 1.0.1e-fips 11 Feb 2013\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 56: Applying options for *\r\ndebug1: auto-mux: Trying existing master\r\ndebug1: Control socket \"/root/.ansible/cp/28c65d

[2017-08-23 17:49] chilu49 commented on #313
I tried different playbook with different network module and its working fine.
PLAYBOOK:
- name: Test bigip_facts
  hosts: test
  connection: local

  tasks:
      - name: Get all of the facts from my BIG-IP
        bigip_facts:
            server: "{{ inventory_hostname }}"
            user: "XXXXX"
            password: "XXXXX"
            include: "system_info"
[root@linuxhost1 playbooks]# ansi

[2017-08-23 17:55] caphrim007 commented on #313
your second playbook is using `connection: local` where as your first playbook used `delegate_to: localhost`.

[2017-08-23 19:15] caphrim007 commented on #313
@chilu49 does the failing example work if you change `connection` to `local`?

[2017-08-23 21:58] captainbrown commented on #253
Hey Earchibald!  Do you mind sharing what you did to support additional types?  We're trying to do a ip-protocol udp on ours and just ran into this issue

[2017-08-23 22:00] chilu49 commented on #313
Thanks for the suggestion. I made the change you  suggested and it worked
- name: Test bigip pool member status change
  hosts: test
  connection: local

  tasks:
      - name: Mobility-ACC-Test-Node1-Force pool member offline
        bigip_pool_member:
            server: "10.48.120.149"
            user: "XXXX"
            password: "XXXXXX"
            state: "present"
            session_state

[2017-08-23 22:06] chilu49 commented on #313
But i still recevied an error. It says i do not have "create access to object (pool_member)". But i am able to access through F5 User Interface and make the members of the pool offline/disable.
Can you think of any reason as to why this is happening.

fatal: [X.X.X>X]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "connection_limit"

[2017-08-23 22:07] caphrim007 commented on #313
@chilu49 the reason it is working is because `connection: local` forces ansible to never SSH to anything...even the Ansible controller

`delegate_to: localhost` causes the Ansible controller to SSH to itself first, but what runs on the `delegate_to` host is run in the "context" of the current node. Your issue is because you are unable to ssh to yourself (your ansible controller) from your ansible

[2017-08-23 22:07] #313 closed

[2017-08-23 22:10] caphrim007 commented on #313
@chilu49 I'm not sure if permissions are handled differently in SOAP vs TMUI. If they are, I wouldn't entirely be surprised as TMUI does not use any public interfaces to the BIG-IP control plane.

The error that is being raised there is coming from SOAP itself, not the F5 Ansible modules.

[2017-08-23 22:36] caphrim007 commented on #78
"manipulation" is defined as

* creating
* deleting

It is not possible is "update" existing RPMs. To "update" a package, you need to get a new RPM (with a updated version) and run this module again with a `state` of `present`

[2017-08-23 22:37] caphrim007 opened #314 "upstream bigip_iapplx_package"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [ ] ~~12.0.0 (BIGIP-12.0.0.0.0.606)~~ (12.0.0 is missing functionality for this feature)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [

[2017-08-23 22:37] caphrim007 commented on #314
https://github.com/F5Networks/f5-ansible/issues/78

[2017-08-23 23:04] #78 closed

[2017-08-25 22:57] loudsong opened #315 "bigip_selfip fails with TypeError during json serialization for allow_service parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_selfip (devel branch)

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Creating a self-ip using `bigip_selfip` is failing in the devel branch. It's stumbling over the parameter for `allow_service`:

`TypeError: set(['defaul

[2017-08-25 23:08] caphrim007 commented on #315
verified. fixing

[2017-08-25 23:20] #315 closed

[2017-08-25 23:21] caphrim007 commented on #315
@loudsong try now

[2017-08-28 18:51] michaelryanmcneill commented on #83
We use DGL for maintenance page content per pool. That allows us to use a single iRule, while allowing us to supply end users with dynamic content.

[2017-08-28 20:28] loudsong opened #316 "bigip_irule fails when using the 'src' parameter instead of the 'content' parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_irule (in devel branch)

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

`bigip_irule` fails to create a new a new iRule when the `src` parameter is used instead of the `content` parameter, resulting in the exception: `f5.s

[2017-08-28 20:45] caphrim007 commented on #316
@loudsong is this with the irules version in devel? or in stable?

[2017-08-28 21:25] #316 closed

[2017-08-28 21:29] caphrim007 commented on #316
@loudsong this should now be fixed with the file in this repo.

[2017-08-29 14:28] loudsong commented on #276
I haven't encountered this lately. I've been using the devel branch and perhaps it got fixed somewhere along the way.

[2017-08-29 14:59] loudsong opened #317 "Race condition in bigip_software.py when installing software to a new volume causes requests.exceptions.ConnectionError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_software (in devel branch)

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

When installing software on a BIG-IP with this module, a race condition exists between Apache's KeepAliveTimeout on the BIG-IP, and the following l

[2017-08-29 15:02] loudsong commented on #269
Thought I'd mention that I ran into this today, and was able to reproduce it several times. I'll dig into it.

[2017-08-29 15:37] caphrim007 commented on #276
@loudsong weird. I dont see a test for this issue that would imply that we fixed it. I have added said test, and using your repro I do not get the error mentioned.

[2017-08-29 15:37] #276 closed

[2017-08-29 15:41] caphrim007 commented on #317
@loudsong oh lordy lordy. Alrighty. Well, two things.

- the sleep cycle should be changed, but since that is one of those "who knows if they'll change it again" problems, we should also...see # 2 below
- have an exception handler for this case along, in that `wait` method along with the existence check

[2017-08-29 15:46] caphrim007 commented on #317
@loudsong I've pushed a potential fix for this. please pull the new module and have a go. If it fixes the problem, please close this issue or comment otherwise.

[2017-08-29 15:47] caphrim007 commented on #269
@earchibald @loudsong I'm told by the REST maintainers that this shouldnt happen with an "admin" level account. Can you say whether this is the case or not?

[2017-08-29 20:49] loudsong commented on #269
@caphrim007 I was using the built-in 'admin' account on the BIG-IP.

[2017-08-29 21:24] brian-s-dennis opened #318 "I don't see any modules for access policies. Will that be supported any time soon?"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-29 22:45] caphrim007 commented on #318
@brian-s-dennis would you please elaborate more on what in particular you're asking for? tmsh example commands would help. Thanks.

[2017-08-30 16:06] brian-s-dennis commented on #318
I’ve reached out to our support provider to answer this. The modules I would like to see added are for Access Policy Manager (APM) and Application Security Monitor (ASM). One of the problems I’m finding with APM in particular is that the methods used by their gurus only addresses basic objects, as ansible appear to, and nothing as complicated as an access policy definitions. Even the methods used

[2017-08-30 18:48] wojtek0806 commented on #318
@brian-s-dennis

Let me jump in here, seeing that I have done SDK coding for ASM, I would need you to be even more specific in regards to what you are looking for in ASM, that is listing specific actions that you want automated, e.g exporting/importing ASM policies.

As far as APM is concerned this is is not yet coded into the SDK library so we need to know what actions you are performing. Those 2

[2017-08-30 18:54] brian-s-dennis commented on #318
APM is the module of immediate concern. I didn’t see any modules for APM or ASM listed for Ansible. Most specifically I’m looking for the ability in APM to export access policies, ACLs and ACEs but I typically use those through the GUI instead of the command line. According to our F5 support provider “Sorry, but no there is not a CLI command to export the APM policy.” Which is pretty disappointing

[2017-08-30 19:16] wojtek0806 commented on #318
I can check if this can be done in REST, but if there is no TMSH equivalent we will not be able to facilitate it over REST.

[2017-08-30 19:17] brian-s-dennis commented on #318
Thanks

From: Wojciech Wypior [mailto:notifications@github.com]
Sent: Wednesday, August 30, 2017 2:16 PM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: Dennis, Brian S (US) <brian.s.dennis@lmco.com>; Mention <mention@noreply.github.com>
Subject: EXTERNAL: Re: [F5Networks/f5-ansible] I don't see any modules for access policies. Will that be supported any time soon? (#318)

I can chec

[2017-08-31 00:41] fwissue commented on #284
It will be great to have a f5-sdk module which can run any commands or scripts which on F5 ltm

So users can put customized scripts on F5 ltm.

i.e. To find not IP conflict (grep 10.10.10.5 /config/bigip.conf or bigip_base.conf)

[2017-08-31 12:21] mordrake opened #320 "Try to use module partition, user, selfip (last version)"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
- bigip_partition
- bigip_user
- bigip_selfip (last version)

##### ANSIBLE VERSION
2.2

##### PYTHON VERSION
2.7

##### SUMMARY
i've copied all of new module in my library but when i try to execute one of newest i can't.
The message is : "Couldn't find imported module support code for bigip_partition. Looked for either iControlUnexpec

[2017-08-31 14:28] caphrim007 commented on #320
@mordrake the modules in this repo require ansible >= 2.3

[2017-08-31 14:29] mordrake commented on #320
Oh... my bad, thx dude

[2017-08-31 14:35] caphrim007 commented on #320
not a problem. feel free to raise an issue if you have more troubles.

[2017-08-31 14:35] #320 closed

[2017-08-31 16:26] #293 closed

[2017-08-31 18:27] #287 closed

[2017-08-31 20:27] #312 closed

[2017-08-31 20:28] caphrim007 commented on #312
this is now fixed

[2017-09-01 14:05] wojtek0806 commented on #318
@brian-s-dennis I have checked it and there are no ways to export APM policy or its individual elements. Basically you can think of this like so: what is possible in CLI usually is supported in REST. There are few exceptions where specific endpoints in REST do not have their equivalent in TMSH, but those are documented in REST guides.

[2017-09-01 14:07] brian-s-dennis commented on #318
I was afraid of that. Thanks for your hard work.

From: Wojciech Wypior [mailto:notifications@github.com]
Sent: Friday, September 01, 2017 9:06 AM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: Dennis, Brian S (US) <brian.s.dennis@lmco.com>; Mention <mention@noreply.github.com>
Subject: EXTERNAL: Re: [F5Networks/f5-ansible] I don't see any modules for access policies. Will that be s

[2017-09-05 21:11] insidepacket commented on #248
@codyjohn , thank you very much for adding the server ssl profile requirmeent. It is exactly what we want as well.

[2017-09-06 02:23] caphrim007 commented on #248
@codyjohn @insidepacket would the individual cert/key/chain and the cert_key_chain list just be saying the same thing? I think staying with the list format is the correct method

[2017-09-06 10:25] insidepacket commented on #227
@caphrim007, Any ETA for https health monitor? Ansible 2.5?

[2017-09-06 11:20] insidepacket commented on #248
The cert_key_chain is always pre-defined in our environment. we just refer them in SSL profile. So we ask
cert_key_chain: prod_site_cert_2017_06_27_chain

But we do have another requirment around "server authentication"
**server certificate: require**

[2017-09-06 13:29] fatred commented on #304
I have the same issue: if I refer to a x.x port then it works, but if i refer to a trunk "aci_vpc" then it says it cannot find that interface.

[2017-09-06 17:19] caphrim007 commented on #248
@insidepacket the web UI doesn't appear to let one specify "just a chain". you specify the three items and collectively that becomes the "Certificate Key Chain" value in the UI. Maybe I'm not understanding what you're saying.

[2017-09-06 17:21] caphrim007 commented on #248
@insidepacket also, the "server certificate" option is specific to what would become a `bigip_profile_server_ssl`, right?

[2017-09-06 21:06] caphrim007 commented on #304
@mikeandretta @fatred this is likely due to trunks not existing on VE's, so we havent tested stuff/designed for stuff like that. But we can indeed add it.

[2017-09-06 22:19] fatred commented on #304
+1 for the feature request then!

[2017-09-07 04:38] jmcalalang opened #322 "BIG-IP Auth Tokens as Auth Method for Module"
checked against all open issues containing "Token"

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
All Modules, though specifically the iRule Module as a customer request

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### SUMMARY

Looking for a method to use a BIG-IP auth token as auth method. Customer request:
[code]

[2017-09-07 04:49] caphrim007 commented on #322
@jmcalalang can you elaborate on what they want with token auth? There is no such thing as strict token auth on a BIG-IP. There is a session token that can be acquired after initial user/pass login, but that session token is time limited.

Token auth requires username and password when you are getting it initially. By default, this token is valid for 20 minutes. If you need to use token for longer

[2017-09-07 04:59] jmcalalang commented on #322
You’re working late!

This is coming from a Security standpoint of a Rest call with credential vs
a single rest call to generate a token, then reuse the token in subsequent
calls (during the 20 min -10 Hour window). We’ve put a lot of work and
planning around moving our customers to a token solution (like BIG-IQ
wither is now basic auth disabled by default), and all to work with
iControl_LX and th

[2017-09-07 05:46] caphrim007 commented on #322
I gotcha, I just wanted to clear the air on the definition of "token". There are folks that think we have a means by which they can generate a long-lived token like something you might find in an online service, and then they are disappointed to find out we still require initial authentication to get such a thing.

There is not currently such a mechanism for stashing sharable data between tasks in

[2017-09-07 05:55] jmcalalang commented on #322
There is always room to be creative :), with APM provisioned you can use
APM as an Auth Method to login to the BIGIP, of course with APM comes OAuth
(long lived). This isn’t anything i think we’re ready for, or possibly even
the ecosystem, but its all sitting there waiting! SAML and or OAuth right
into the BIGIP would be pretty slick :).

I’ve haven’t even opened the can of worms thats Tower yet,

[2017-09-07 09:33] alonsocamaro opened #323 "Add deploy options to bigip_iapp_service"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_iapp_service

##### SUMMARY
Hi

The following options should be supported to deploy iApps in a wider range of scenarios:
    description
    metadata
    ~~traffic-group~~ ADDED
    device-group
    ~~strict-updates~~ ADDED

Many thanks

       Ulises

PD: This is a clone request of https://github.com/F5Networks/f5-openstack-heat-plugins

[2017-09-07 12:42] itblaked commented on #269
Hi, I encountered the same issue with v13 VE when using bigip_pool, bigip_node, bigip_virtual_server, bigip_pool_member. Using the default admin account.

[2017-09-07 17:12] earchibald commented on #269
Sorry, I haven't been engaging with this issue for a while - I had enough trouble with our specialized requirements that I've paused my Ansible/F5 integration while I focus on other priorities.

I'm glad that @loudsong and @itblaked are able to provide some useful information.

[2017-09-07 18:06] caphrim007 commented on #269
@earchibald this is still a valid issue. we're aware of the problem but have not yet devised an elegant solution.

[2017-09-07 23:07] itblaked commented on #269
Ok, thanks for the update @caphrim007. Is there an easy way to clear the tokens via rest or ssh/tmsh as a workaround?

[2017-09-10 11:32] insidepacket commented on #248
@caphrim007. "the 'server certificate' option is specific to what would become a bigip_profile_server_ssl, right?" yes

[2017-09-10 11:37] insidepacket commented on #248
Regarding "Certificate Key Chain" , when we define a "Certificate Key Chain" , you do need to provide the three items. But according to my knowledge, you only need to refer the chain in Server SSL profile.

[2017-09-11 03:54] caphrim007 commented on #227
@insidepacket I am going to hesitantly say "yes" because

- the HTTP module needs a refactor, and...
- this refactor would then be used for HTTPS

[2017-09-11 10:08] mgontarczyk commented on #304
I've got the same problem, interface is present, but when adding tag to trunk error is thrown.
`"ansible_facts": {
        "trunk": {
            "Port-channel21": {
                "active_lacp_state": "STATE_ENABLED",
                "configured_member_count": 2,
                "description": "",
                "distribution_hash_option": "DISTRIBUTION_HASH_OPTION_SRC_DST_MAC",

[2017-09-11 14:35] joelwking opened #324 "iworkflow_service missing 'import time'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iworkflow_service
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### SUMMARY

Module missing `import time`.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

n/a
##### ACTUAL RESULTS

[code]

[2017-09-11 20:00] caphrim007 opened #325 "add missing partition documentation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_iapp_template and bigip_iapp_service

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The documentation for the partition parameter is missing because it is not a documentation fragment

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2017-09-11 20:10] caphrim007 commented on #325
https://github.com/ansible/ansible/pull/29664

[2017-09-11 20:10] caphrim007 commented on #325
this is now fixed

[2017-09-11 20:10] #325 closed

[2017-09-11 20:11] #324 closed

[2017-09-11 20:11] caphrim007 commented on #324
@joelwking good eye. Thanks for catching that.

[2017-09-11 22:46] caphrim007 commented on #325
this is now merged

[2017-09-12 01:59] caphrim007 opened #326 "test"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-09-12 02:02] caphrim007 commented on #326
asd

[2017-09-12 02:02] #326 closed

[2017-09-12 11:04] alonsocamaro opened #327 "RFE: create bigip_iapp_service_facts"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT NAME
New module: bigip_iapp_service_facts

##### SUMMARY
Hi

At present I find difficult / I cannot figure how a host could remove himself from a pool deployed with an iApp.

Given that each iApp might have different number of pools and pool names I would propose a new module called bigip_iapp_service_facts that just returns the variables and values

[2017-09-12 11:06] alonsocamaro commented on #323
This is a superset of https://github.com/F5Networks/f5-ansible/issues/307

[2017-09-12 15:08] caphrim007 commented on #327
@alonsocamaro is it sufficient to just return the tables, lists, and vars? In their existing format? Do you want them formatted differently? Do you want other cars like the presentation blob, bigip min version, max version, required modules, etc?

Perhaps you can provide an example of the format you are interested in having and we can start with that as a basis using your pool members example as t

[2017-09-12 15:35] alonsocamaro commented on #327
Yes, I would return all parameters used to instantiate the iapp: both iapp instantiation options and iapp's own variables and tables. In the existing format.

[2017-09-13 10:17] alonsocamaro commented on #269
Hi,

I'm facing the same issue

A workaround would be greatly appreciated in the meantime this is resolved

Thanks

      Ulises

[2017-09-13 14:14] shortenmark commented on #269
You can send an authenticated HTTP DELETE request to the resource below to delete all authentication tokens::

https://<host>/mgmt/shared/authz/tokens

There are more targeted URLS that you can use to specify a given UUID;

see https://devcentral.f5.com/wiki/iControl.Authentication_token_resource_API.ashx

[2017-09-13 14:33] caphrim007 commented on #269
@alonsocamaro @earchibald @loudsong @itblaked

I wanted to talk about the technical problems in the case that it stirs someone's brain in response, because on the surface the solution sounds easy, but in practice it's less so. I'm looking for opinions on what is the most acceptable mediation of risk that we can put in place.

The first problem is that Ansible Tasks are intended to be separated fro

[2017-09-13 15:21] shortenmark commented on #269
Whilst I personally quite like the idea of a bigip_token module; given the constraints you have outlined above; is it possible to just flush the assigned token upon successful task completion as a logical step within the bigip_command module. This approach to me seems the most modular, any caching or re-use of tokens adds additional complexity around checking for and acquiring new tokens if one do

[2017-09-13 18:00] caphrim007 commented on #40
@d2-d2 this is going to be an interesting one. the REST API doesn't work correctly with user-defined k/v pairs. It's 100% broken. Doesn't work at all.

Can you use tmsh to remove those `user-defined` args to the monitor?

[2017-09-13 18:20] payalsin opened #329 "Feature Idea - Add a trunk on BIG-IP"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Module to add a trunk on the BIG-IP. This is useful when configuring the bring up of the BIG-IP and setting up all the networking parameters. This is one piece missing for end-to-end network configuration.

##### STEPS TO REPRODUCE
Add a trunk. Parameters to take into account
- Interfaces
- LACP
- Link Selection Policy
- Frame distribution hash

[2017-09-13 18:37] caphrim007 commented on #329
this requires an enhancement to the python sdk because trunks is not yet part of it. I'm adding trunks as I type this

[2017-09-14 01:23] caphrim007 commented on #269
@shortenmark yes, cleaning up the existing token is one approach that can be implemented.

We still need to address the other concern that some people have expressed of repeatedly sending the user/pass over the wire if it is (technically) not necessary when using a long-lived token.

The solution to that problem is more complicated, because Ansible has no such way to express this at, for example,

[2017-09-14 14:52] shortenmark commented on #269
I agree, this is why I like the idea of a bigip_token module, however I dread to think of the added complexity in each module needing an argument to tell it to use a token if one exists through another potential module, if not get a token, or just use the existing method for those users that do not need or want to use a long lived token...

At the moment it is possible to remediate the issue of ex

[2017-09-14 15:20] alonsocamaro commented on #269
Adding to the comment above, the curl command for the first option [mentioned above](https://github.com/F5Networks/f5-ansible/issues/269#issuecomment-329181271) would be:

curl -k https://<bigip>/mgmt/shared/authz/tokens -u admin:<admin password> -X DELETE

[2017-09-15 18:28] caphrim007 opened #331 "bigip_pool is broke in 2.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool.py

##### SUMMARY

I did not have “monitor_type” in my playbook before and it worked. Now it states that monitor_type must be specified. According to the documentation the “monitor_type” is not mandatory.I am using an external monitor so I added in monitor_type: “External” and it errors with fatal: [10.0.0.191 -> localhost]: FAILED!

[2017-09-15 18:29] caphrim007 commented on #329
@payalsin trunk functionality is now in the f5-sdk. This ask can now be prioritized to be added to ansible

[2017-09-15 20:20] caphrim007 opened #332 "legacy modules using bigsuds will not work in python3"
The suds library is no longer maintained, but it uses an import scheme which is not compatible with python 3. Namely, it uses imports assuming they will be relative. In v3, this assumption becomes incorrect because all imports are absolute unless specifically defined.

This puts us in a situation.

In the short term, it appears we can use the suds-jurko library, but we **must** transition complete

[2017-09-15 20:29] caphrim007 opened #333 "add containers for use in dev and test"
right now we have a complex combination of virtualenv and pyenv, but this is confusing and fragile in many cases. A move to individual containers is much easier to onboard new developers with, and to test existing code with when problems arise.

This requires that sufficient container code be written as well as the docs to use it

[2017-09-16 00:03] UdhavPawar opened #334 "Error to create a Virtual Server"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Cannot create the Virtual Server
[root@e17fe8d2f042 work]# ansible-playbook -i /work/privateiphost /work/cases/"177-VZT-179"/"177-VZT-179"-ab-80-443.yml --vault-password-fil

[2017-09-16 00:06] fwissue commented on #334
ssh to the load balancer is fine

[2017-09-16 00:13] fwissue commented on #334
found it it was this issue
export PYTHONHTTPSVERIFY=0

[2017-09-16 00:23] caphrim007 commented on #334
@UdhavPawar @fwissue so....are you fixed? or is this an issue?

[2017-09-16 01:46] fwissue commented on #334
Fixed Tim

Sent from my iPhone

On Sep 15, 2017, at 5:23 PM, Tim Rupp <notifications@github.com<mailto:notifications@github.com>> wrote:

@UdhavPawar<https://github.com/udhavpawar> @fwissue<https://github.com/fwissue> so....are you fixed? or is this an issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/F5Networks/f5-ansib

[2017-09-16 01:55] #334 closed

[2017-09-16 05:08] #331 closed

[2017-09-16 05:10] #333 closed

[2017-09-16 05:12] caphrim007 commented on #332
Upstream bigsuds updated here
* https://github.com/F5Networks/bigsuds/commit/beac9e745bee23a79893fe32ae1c0fe057a0aa81
and is published here
* https://pypi.python.org/pypi/bigsuds/1.0.5

[2017-09-16 05:12] #332 closed

[2017-09-16 05:14] caphrim007 commented on #309
@UdhavPawar @fwissue what is this issue asking for?

[2017-09-18 04:15] caphrim007 opened #335 "upstream bigip_pool fixes 1"
fixes have been made in bigip_pool which require an upstream

[2017-09-18 20:04] wojtek0806 commented on #318
@brian-s-dennis i think i found a way to export/import apm policies, this uses a separate tool in bash, not widely documented on ASK F5, so we can technically use BASH over REST, i will need to investigate the feasibility of this first tho.

[2017-09-18 20:05] wojtek0806 commented on #304
duplicate of #329

[2017-09-18 20:05] brian-s-dennis commented on #318
Interesting, thanks for the update. Good luck.

From: Wojciech Wypior [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 3:04 PM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: Dennis, Brian S (US) <brian.s.dennis@lmco.com>; Mention <mention@noreply.github.com>
Subject: EXTERNAL: Re: [F5Networks/f5-ansible] I don't see any modules for access policies. Will that be sup

[2017-09-19 20:27] #257 closed

[2017-09-19 20:28] caphrim007 commented on #229
@payalsin is this still an issue?

[2017-09-19 21:58] payalsin commented on #229
@caphrim007 - issue is resolved with respect to the traffic_group. But the same issue is present for VLAN.

If the VLAN is in the partition then no error. If the VLAN is in the common partition then there is an error (It is always looking for the VLAN to be in the same partition)

bigip_selfip:
server: "10.192.73.218"
user: "admin"
password: "admin"
validate_certs: False
name: "selfip"
address: "1

[2017-09-19 22:16] caphrim007 commented on #229
@payalsin ok, one sec. lemme fix vlan

[2017-09-19 22:27] #229 closed

[2017-09-19 22:28] caphrim007 commented on #229
@payalsin I believe the updated code should solve this problem now. Lemme know if it does not

[2017-09-19 22:54] caphrim007 commented on #281
PR created here https://github.com/ansible/ansible/pull/30577

[2017-09-20 16:40] payalsin commented on #229
@caphrim007 - still getting error:
[code]
fatal: [10.192.73.218 -> localhost]: FAILED! => {"changed": false, "failed": true, "msg": "400 Unexpected Error: Bad Request for uri: https://10.192.73.218:443/mgmt/tm/net/self/\nText: u'{\"code\":400,\"message\":\"01070277:3: The requested vlan, vlangroup or tunnel (/Tenant1A/External) was not found.\",\"errorStack\":[],\"apiError\":3}'"}

[2017-09-20 23:05] UdhavPawar opened #336 "Error Creating Virtual Server in F5 Load Balancer"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible_module_bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I am not able to create the Virtual Server 80 and 443 using the Ansible Playbook.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Virtual server 80

[2017-09-21 00:25] fwissue commented on #336
problem happens on one pair of F5, the another pair is working fine; with same userid/password

[2017-09-21 17:05] caphrim007 commented on #336
@fwissue is something different on that one pair?

[2017-09-21 20:32] alonsocamaro commented on #269
Having a chat with John Allen we wonder if it wouldn't be better to handle auth at the f5-sdk library so it would be transparent to the f5-sdk library consumers.

Also, is there a way of using basic auth? I haven't found a way of instructing this. Maybe I haven't dig enough.

[2017-09-21 20:51] caphrim007 commented on #269
It would be more difficult to add it to the sdk as that's not necessary the purpose of it.

No, there is no way of using basic auth "for every request". The SDK takes a 'token' argument to its ManagementRoot that will cause the Token header to be generated. All the subsequent requests using the management object will use the token.

We do not allow control of that via Ansible because **ALL** BIG-I

[2017-09-21 21:52] fwissue commented on #336
I could not tell all setup is the same, I wish there is a way to check.

[2017-09-21 22:24] fwissue commented on #336
consider the case closed
by restarting restjavad and restnoded

[2017-09-21 23:53] caphrim007 commented on #336
@UdhavPawar @fwissue forgive my ignorance here, but are you the same person or two people at the same org? You always post together and usually in short succession of one another :-)

[2017-09-22 04:15] caphrim007 opened #338 "Switch to import_tasks where appropriate"
include is deprecated. In most cases we should switch to import_tasks in the targets

[2017-09-22 18:43] #336 closed

[2017-09-22 18:47] caphrim007 commented on #309
This bug is being closed due to inactivity. The maintainers requested feedback which has not been provided for some time now. If this issue remains, please open a new issue. Thanks!

[2017-09-22 18:47] #309 closed

[2017-09-22 18:49] #290 closed

[2017-09-22 18:51] caphrim007 commented on #299
@john3exonets does an upgrade to v2.4.0 of Ansible change anything?

[2017-09-22 18:54] caphrim007 commented on #301
@fwissue there are bigip_certificate and bigip_key modules today that can handle the use case you propose. BIG-IP has no such thing as a "general purpose" file upload facility. Can you elaborate more on what you want?

[2017-09-22 19:25] caphrim007 commented on #223
This bug is being closed due to inactivity. The maintainers requested feedback which has not been provided for some time now. If this issue remains, please open a new issue. Thanks!

[2017-09-22 19:25] #223 closed

[2017-09-22 19:26] caphrim007 commented on #220
This bug is being closed due to inactivity. The maintainers requested feedback which has not been provided for some time now. If this issue remains, please open a new issue. Thanks!

[2017-09-22 19:26] #220 closed

[2017-09-22 19:27] caphrim007 commented on #198
this should be complete now that the module is upstreamed

[2017-09-22 19:27] #198 closed

[2017-09-22 19:27] caphrim007 commented on #194
this should be complete now that the module is upstreamed

[2017-09-22 19:27] #194 closed

[2017-09-22 19:36] caphrim007 commented on #98
closing this as it is no longer relevant. dev environments are in containers now.

[2017-09-22 19:36] #98 closed

[2017-09-25 13:21] jmcgill298 opened #340 "bigip_pool feature request"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_pool

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]
##### FEATURE REQUEST
Add support for a `monitor_type` of "single" in bigip_pool. This looks just like "and_list" without the " and "

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

NA
##### SUMMARY

##### STEPS TO REPRODUCE

NA

[code]

###

[2017-09-25 14:00] jmcgill298 opened #341 "bigip_pool idempotency issue with monitor_type"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

NA
##### SUMMARY

The bigip_pool module is not idempotent when specifying the monitor_type parameter.

The reason for the bug is that the F5 Rest API does not return the data for "monitor_type", so t

[2017-09-25 17:56] john3exonets commented on #299
No Change: Same issue as before:
$ ansible-playbook -i ./hosts CC_Setup.yaml

PLAY [Setup BIGIP for CC4CF Demo]
***************************************************************************************************************

TASK [Setup Partition]
**************************************************************************************************************************
fatal: [10.105.174.233]: FAIL

[2017-09-25 17:59] caphrim007 commented on #299
@john3exonets if you change to "connection: local" what happens then?

[2017-09-25 20:05] caphrim007 commented on #341
@jmcgill298 try the code in library and let me know if this does or does not fix the issue

[2017-09-25 20:57] #340 closed

[2017-09-25 20:58] caphrim007 commented on #340
@jmcgill298 I believe this is now fixed. please let me know if you are still having issues

[2017-09-25 21:31] caphrim007 commented on #227
@insidepacket @brichins http refactor is complete. HTTPS initial commit is also done. what https monitor specific options do you want included in the module.

your choices are,

* cipher_list
* client_cert
* client_key

[2017-09-25 21:32] caphrim007 commented on #164
this is now complete

[2017-09-25 21:32] #164 closed

[2017-09-25 21:55] caphrim007 commented on #281
this is now merged

[2017-09-25 21:55] #281 closed

[2017-09-25 21:55] caphrim007 commented on #333
this is now done

[2017-09-25 21:56] caphrim007 opened #342 "upstream refactored bigip_monitor_http module"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-HF1)
- [x] 12.1.1-h

[2017-09-25 23:20] john3exonets commented on #299
Hurray!   That seems to work.  No errors, My new partition was on the BIGIP.

$ ansible-playbook -i ./hosts CC_Setup.yaml

PLAY [Setup BIGIP for CC4CF Demo] ***************************************************************************************************************

TASK [Setup Partition] ***********************************************************************************************************

[2017-09-25 23:24] fwissue commented on #301
Sure, Tim.

Will test that

[2017-09-25 23:44] caphrim007 commented on #299
hmm. This should not be happening.

[2017-09-26 14:19] jmcgill298 commented on #340
@caphrim007 it is working

[2017-09-26 14:20] jmcgill298 commented on #341
@caphrim007 this resolved the issue

[2017-09-26 14:38] jmcgill298 opened #343 "BIGIP_POOL: docstring missing quote"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

bigip_pool
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

##### SUMMARY

the `monitor_type` "single" option is missing closing quote
##### STEPS TO REPRODUCE

NA

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-09-26 14:44] jmcgill298 opened #344 "BIGIP_NODE: incorrect required_if format"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_node
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

NA
##### SUMMARY

The required_if should be a list of  lists with param, choice, list of required params.
[code]
should be
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### AC

[2017-09-26 14:50] jmcgill298 opened #345 "BIGIP_NODE: self.config does not exist"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_node
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

NA
##### SUMMARY

The module fails execution (applied local fix for required_if first). The error reports that property config does not exist.

This code comes from class `BigIpNodeFacade`, method

[2017-09-26 14:56] jmcgill298 opened #346 "BIGIP_GTM_FACTS: pool members is an empty list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_gtm_facts
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

NA
##### SUMMARY

The bigip_gtm_facts module does not return any members when retrieving the pool configurations; it is always an empty list.

##### STEPS TO REPRODUCE

requires gtm pool to b

[2017-09-26 14:58] jmcgill298 opened #347 "BIGIP_GTM_FACTS: virtual_servers is an empty list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_gtm_facts
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

NA
##### SUMMARY

The bigip_gtm_facts module does not return any virtual_servers when retrieving the server (labeled as virtual_server) configurations; it is always an empty list.

##### STEP

[2017-09-26 16:27] #343 closed

[2017-09-26 16:40] jmcgill298 opened #348 "BIGIP_POOL: self.have raises exception when moving from multiple monitors to single"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

NA
##### SUMMARY

When changing the monitor configs from having multiple monitors to a single monitor, the module raises an exception because self.have is changed to type "single" but has multiple

[2017-09-26 16:47] caphrim007 commented on #348
the intention with that check is to prevent someone from only setting the monitor_type in a request and then expecting it to fail. Using your example (and having an existing set of multiple monitors)

[code]

So i think this check needs to probably be changed to look something like this.

elif len(self.have.monitors) > 1 and len(self.want.monitors_list) > 1:

because the intent is to prevent someo

[2017-09-26 17:10] #348 closed

[2017-09-26 17:10] caphrim007 commented on #348
@jmcgill298 try the fix I recently pushed.

[2017-09-26 17:12] jmcgill298 commented on #348
monitor_type is a read-only property, so no one should be trying to update it. My thoughts are that it might be easier to deprecate monitor type, and just key off of quorum value for determining how to build the monitor string.

Below is generic code, not representative of actual module code:
[code]

This is very generic, but the idea is to determine the appropriate format of the monitors based on

[2017-09-26 17:16] jmcgill298 commented on #348
@caphrim007 the latest code resolved the issue

[2017-09-26 23:01] caphrim007 opened #349 "convert f5-sdk ldap and tacacs vagrantfiles to heat"
we're already beginning to get issues that ask about LDAP and TACACS auth in the context of the ansible modules, but we have zero test harnesses to run fixes against.

f5-sdk has harnesses, but they are in vagrantfiles and I would prefer to have them in heat so that I could leave them online when I run the test suite; and yet have them ephemeral if all goes to hell

[2017-09-26 23:05] caphrim007 commented on #232
@fwissue ping on this.

[2017-09-26 23:05] #222 closed

[2017-09-26 23:05] caphrim007 commented on #222
this can be accomplished today by using bigip_ssl_certificate as a CA cert is nothing more than a regular cert with a different name

[2017-09-27 17:14] caphrim007 opened #350 "GTM facts module needs to be updated"
module code is not written to current coding standards. It needs a re-write

[2017-09-27 21:51] brichins commented on #227
My initial need was just default https without specific overriding options.  I think the client_key and client_cert would be most valuable for others, if mutual SSL auth is used.  But just having basic HTTPS support meets my current need.

Thank you for the work.

[2017-09-28 18:49] caphrim007 commented on #342
PR for this has been created https://github.com/ansible/ansible/pull/30998

[2017-09-28 18:55] caphrim007 commented on #227
@brichins and @insidepacket there is now an http monitor module. I haven't included the above extra choices yet as were not needed for @brichins work. @insidepacket let me know if you need them. otherwise, I'm going to start upstreaming the module.

[2017-09-28 19:01] caphrim007 opened #352 "upstream bigip_monitor_https module"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-HF1)
- [x] 12.1.1-h

[2017-09-29 05:44] jmcgill298 commented on #347
@caphrim007 I believe I found the issue; check BigIpGtmFactsCommon.request_params:
[code]
should be changed to:
[code]

[2017-09-29 05:44] jmcgill298 commented on #346
I believe I found the issue; check BigIpGtmFactsCommon.request_params:
[code]
should be changed to:
[code]

[2017-09-29 11:16] alonsocamaro commented on #327
There are additional use cases for this module.

When asking about services a filter expression should be able to be applied, that way it would be able to:

1. Gather parameters from several iApp instances
2. Checking which iApp instances have been deployed, for example it should be possible to use "service_name: *" to know all the iApp instances deployed in a system. A regexp or filter expression

[2017-09-29 11:27] alonsocamaro opened #353 "[DOC]: bigip_iapp_template state description"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

http://docs.ansible.com/ansible/2.4/bigip_iapp_template_module.html

##### SUMMARY

The row for "state" describes it as "Whether the iRule should exist or not." where it should say "Whether the iApp should exist or not."

[2017-09-29 12:29] alonsocamaro opened #354 "[RFE] bigip_iapp_template flag to allow ignore delete failure if used by iApp instances"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

http://docs.ansible.com/ansible/2.4/bigip_iapp_template_module.html

##### SUMMARY

When deleting a template it might happen that there are instances still using it.

This is likely going to happen when a playbook which contains the whole sequence for a service:

`iapp template deploy -> iapp instantiation -> iapp instance destroy -> iapp tem

[2017-09-29 16:41] caphrim007 commented on #354
@alonsocamaro will a custom "failed_when" not work in this case?

[2017-09-29 16:44] #353 closed

[2017-09-29 16:45] #346 closed

[2017-09-29 22:39] caphrim007 commented on #344
@jmcgill298 I've just pushed a refactored bigip_node. Would you please try that and raise any issues you come across? Thanks.

[2017-09-29 22:39] #344 closed

[2017-09-29 22:40] caphrim007 commented on #345
bigip_node has been refactored. please download it and raise any issues you may encounter.

[2017-09-29 22:40] #345 closed

[2017-09-29 22:41] caphrim007 commented on #300
@pkhural @Blaag bigip_node (in this repo) has been refactored. please download it and raise any issues you may encounter.

@pkhural you can now specify ephemeral nodes using the `fqdn` parameter to the module

[2017-09-29 22:41] #300 closed

[2017-09-29 22:42] caphrim007 commented on #107
@mcgonagle this should now be available. bigip_node (in this repo) has been refactored. please download it and raise any issues you may encounter.

[2017-09-29 22:42] #107 closed

[2017-09-29 22:44] caphrim007 commented on #50
@perzizzle @hanej @jkkarant89 @mleklund bigip_node (in this repo) has been refactored. please download it and raise any issues you may encounter.

[2017-09-29 22:44] #50 closed

[2017-10-02 05:34] alonsocamaro commented on #354
Thanks Tim

Completely right, I was unaware of it.

Maybe we could mention it in the bigip_iapp_template documentation to help customers in this common scenario?

[2017-10-02 17:46] caphrim007 commented on #352
PR created https://github.com/ansible/ansible/pull/31205

[2017-10-02 18:37] caphrim007 commented on #282
PR created for this issue https://github.com/ansible/ansible/pull/31207

[2017-10-02 19:57] caphrim007 commented on #354
@alonsocamaro try this

[code]

[2017-10-03 20:20] caphrim007 commented on #347
@jmcgill298 I made said change, but havent fully tested it. Have a go. I'll test it as part of upstreaming

[2017-10-03 20:20] #347 closed

[2017-10-03 21:53] sdhughes1 commented on #322
+1 on this issue. We'd like ansible administrators to use their own credentials (i.e. TACACS) when running playbooks. The F5 modules don't work with TACACS users, although the f5-sdk module allegedly allows the use of tokens (https://devcentral.f5.com/articles/getting-started-with-the-f5-common-python-sdk-27438)

[2017-10-03 22:06] caphrim007 opened #355 "Switch to clouddocs"
The current documentation for the F5 Ansible modules is hosted on readthedocs. There is a request that this be moved to clouddocs.f5.com to align with the other cloudy documentation efforts. @jputrino will assist with this.

[2017-10-04 13:53] alonsocamaro commented on #354
@caphrim007 It works great! it provides way better output when the template is in use. It just looks normal, ie:

When the template is still in use:
[code]

When the template is no longer in use:

[code]
Thanks!

[2017-10-04 14:46] jmcgill298 commented on #347
@caphrim007 I made this change in my environment, and it worked fine.

[2017-10-04 18:08] caphrim007 commented on #354
I've added an example to the iapp_service module for this

[2017-10-04 18:08] #354 closed

[2017-10-04 18:08] caphrim007 commented on #352
this is now merged

[2017-10-04 18:08] #352 closed

[2017-10-04 19:56] caphrim007 opened #357 "refactored bigip_node not idempotent"
Alex is seeing an idempotency problem with bigip_node. investigate

[2017-10-04 19:57] caphrim007 commented on #357
nevermind. it was a pebkac error

[2017-10-04 19:57] #357 closed

[2017-10-05 17:36] payalsin commented on #229
@caphrim007 - latest fix looks good

[2017-10-05 23:22] yossi-r opened #358 "appservices iapp service"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
bigip_iapp_service

##### ANSIBLE VERSION
2.4

##### PYTHON VERSION
2.7.13

##### BIGIP VERSION
12.1
##### CONFIGURATION
none
##### OS / ENVIRONMENT
ubuntu

##### SUMMARY
using the module with the parameters in a json file work.
when i use this module and specify the parameters in the yml file i get an error.

"msg": "400 Unexpected Error: Bad Re

[2017-10-06 16:06] yossi-r commented on #358
No Issue, my mistake

[2017-10-06 16:06] #358 closed

[2017-10-06 23:30] caphrim007 commented on #317
closing due to lack of activity

[2017-10-06 23:30] #317 closed

[2017-10-06 23:31] caphrim007 commented on #269
Token re-use across sessions is being progressively added.

[2017-10-07 02:28] itblaked commented on #269
👍

[2017-10-08 09:21] chen23 commented on #269
FYI, botocore does do some goofy things to cache/refresh credentials: https://github.com/boto/botocore/blob/cb8d4b87fbe13b42653017b74c9a5f4097ae740c/botocore/credentials.py#L194

Something like this could be in f5-ansible or down in f5-icontrol-rest-python.  Related to https://github.com/F5Networks/f5-ansible/issues/322

Things that could be nice:

A. admin/password transparently changed to a toke

[2017-10-09 15:30] caphrim007 opened #359 "add strict_updates for iapp service"
allow the user of iapp service module to specify strict update settings for a service.

Ideally, allow for this in the parameters as well as a top-level strict_updates option. The top-level will override the value that is in the parameters payload

[2017-10-09 15:31] caphrim007 commented on #137
strict updates is being added and tracked here https://github.com/F5Networks/f5-ansible/issues/359

[2017-10-09 17:31] #359 closed

[2017-10-09 17:55] caphrim007 opened #360 "remove f5 references from the ansible skip file"
https://github.com/ansible/ansible/blob/devel/test/sanity/import/skip.txt

Being inside this file implies that we have things in the specific F5 modules that are now considered a "legacy" practice by Ansible. Make necessary fixes by removing the F5 line from the file and changing code to meet requirements

[2017-10-09 20:22] caphrim007 commented on #282
this is now merged

[2017-10-09 20:22] #282 closed

[2017-10-09 20:55] caphrim007 commented on #335
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

bigip_pool

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [ ] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [ ] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [ ] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [ ] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [ ] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [ ] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-HF1)
-

[2017-10-10 07:53] rowco commented on #308
Hi. I'm also seeing this. Can't create anything other than performance (layer4) virtual servers, no matter what I have as profiles.

[2017-10-10 18:59] mdobeck1 opened #361 "issue/slack request"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Having trouble understanding how you are using the profiles.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-10-10 19:14] caphrim007 commented on #361
@mdobeck1 what's the link to the documentation you have a question about?

[2017-10-10 19:20] mdobeck1 commented on #361
Well I’m having trouble understanding how profiles of different types are tied to their associated
For example, the docs say use “all_profiles” to list all the required profiles for the virtual server. But how does it know what to tie with ssl_profile, client_profile, server_profile, etc?
In the devel docs (in the example) it shows ( http://f5-ansible.readthedocs.io/en/devel/modules/bigip_virtual_

[2017-10-10 19:40] caphrim007 commented on #361
ahh ok, so to answer you question, in the module that is delivered with ansible today, you **only** have the ability to specify "all" profiles. there is no concept of client/server-side profiles.

This deficiency is what you see us trying to fix in the devel (f5-ansible) code.

I've sent a Slack invitiation to (what I think) is your email.

[2017-10-11 19:53] rblair1000 opened #362 "bigip pool - Path defined in monitor name not being used."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

Issue with parsing the partition name from the monitor name. Appears the partition name defined in the monitor path is being strip

[2017-10-11 21:22] caphrim007 commented on #362
@rblair1000 there is an updated module here that I am in the process of upstreaming.

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_pool.py

Can you let me know if the issue persists with that copy of the module?

[2017-10-12 03:43] MicSkr opened #363 "add module for net IPsec"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
futurename: bigip_net_ipsec

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Network IPsec module does not exist.

##### STEPS TO REPRODUCE
This playbook was created with multiple tasks to avoid issues with all commands being ran in b

[2017-10-12 04:17] caphrim007 commented on #363
@MicSkr thanks for such a detailed feature request. My initial guess here is that it would entail 4 modules; one for each of the different commands. I'm surprised I dont already have a `bigip_tunnel` module; hmm.

[2017-10-12 05:49] broferek opened #364 "bigip_pool : fix requirement BigIP version >= 12"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
bigip_pool

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

The bigip_pool module documentation says that the BigIP version required is >=11.

We have encountered this issue : https://github.com/F5N

[2017-10-12 13:35] rblair1000 commented on #362
I copied the module over getting the same error.

Thanks

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Tim Rupp <notifications@github.com>
Date: 10/11/17 5:23 PM (GMT-05:00)
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: "Blair, Robert" <Robert.Blair@cscglobal.com>, Mention <mention@noreply.github.com>
Subject: Re: [F5Networks/f5-ansible]

[2017-10-12 17:57] caphrim007 opened #365 "bigip_selfip does not support IPv6 subnets"
there is code that is testing a host of 0.0.0.0. this is not compatible with ipv6

[2017-10-12 18:16] #365 closed

[2017-10-12 20:59] caphrim007 opened #367 "create example for faking idempotency with bigip_command"
this was asked for, so I think we should add an example

[2017-10-13 00:59] #364 closed

[2017-10-13 01:02] #361 closed

[2017-10-13 03:56] caphrim007 commented on #299
closing this for now because you've been able to move forward

[2017-10-13 03:56] #299 closed

[2017-10-13 04:16] #362 closed

[2017-10-13 04:16] caphrim007 commented on #362
@rblair1000 this should now be fixed

[2017-10-13 04:39] #367 closed

[2017-10-13 04:45] caphrim007 commented on #342
this is now merged

[2017-10-13 04:45] #342 closed

[2017-10-13 16:24] caphrim007 opened #368 "Support creating and editing PEM category lists"
this was a missing feature that is used by SP customers

[2017-10-13 16:24] caphrim007 opened #369 "Add support for AFM address lists"
a deficiency that was noted from tmsh2iapp presentation

[2017-10-13 16:25] caphrim007 opened #370 "add support for AFM port lists"
a deficiency that was noted from tmsh2iapp presentation

[2017-10-13 16:31] caphrim007 opened #371 "Add support for CMP hash to bigip_vlan"
this controls the traffic disaggregator and is used by SP customers. Valid values would be 'source-address', 'destination-address', and 'default'

[2017-10-13 16:32] caphrim007 opened #372 "add support for dag_tunnel to bigip_vlan"
this is disaggregator related stuff. Valid values would be 'inner' and 'outer'. this defaults to 'outer'

[2017-10-13 16:33] caphrim007 opened #373 "add support for dag_round_robin to bigip_vlan"
more disaggregator related stuff. This is a boolean value which defaults to 'no'

[2017-10-13 16:46] caphrim007 opened #374 "add support for managing tcp profiles"
this was noted as a deficiency in the tmsh2iapp presentation

[2017-10-13 16:53] caphrim007 opened #375 "creating a disabled gtm pool is not idempotent"
seems that the disabled state is not being properly diff'd

[2017-10-13 17:27] #375 closed

[2017-10-13 17:35] caphrim007 commented on #375
requires upstream

[2017-10-13 17:37] caphrim007 commented on #375
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [ ] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [ ] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [ ] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [ ] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [ ] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [ ] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-HF1)
- [ ] 12.1.1-h

[2017-10-13 18:37] js-f5 opened #376 "bigip_pool monitor issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Error thrown when "monitor_type:" not set even though it is marked as "not required"
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Pool should be created without the use

[2017-10-13 19:03] mikempw commented on #279
Any updates on this one? Looks like the blockers have been closed.

[2017-10-13 20:05] caphrim007 commented on #279
@mikempw there's a PR for this here that I am waiting on https://github.com/F5Networks/f5-ansible/pull/366

[2017-10-13 20:06] caphrim007 commented on #376
@js-f5 have you checked the current f5-ansible repo code here? I think this has been fixed

[2017-10-14 00:20] caphrim007 opened #377 "add support for managing one-connect ltm profiles"
some commands used that need to be supported are,

[code]

[2017-10-14 04:39] rblair1000 commented on #362
Looks like its working.

Thank You

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Tim Rupp <notifications@github.com>
Date: 10/13/17 12:16 AM (GMT-05:00)
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: "Blair, Robert" <Robert.Blair@cscglobal.com>, Mention <mention@noreply.github.com>
Subject: Re: [F5Networks/f5-ansible] bigip pool - Path de

[2017-10-14 04:52] caphrim007 commented on #362
@rblair1000  fixes were merged upstream to ansible and will be released with v2.5

[2017-10-14 05:04] caphrim007 opened #378 "bigip_provision needs to be upstreamed"
changes since 2.4 released need to be added to 2.5

* vcmp provisioning support
* documentation formatting standards fixes
* fixes where python3 could raise an exception causing a near infinite loop

[2017-10-14 05:12] caphrim007 commented on #378
PR is here https://github.com/ansible/ansible/pull/31731

[2017-10-14 06:24] caphrim007 commented on #298
PR for this is here https://github.com/ansible/ansible/pull/31732

[2017-10-14 06:32] caphrim007 commented on #298
this is now merged

[2017-10-14 06:32] #298 closed

[2017-10-14 06:33] caphrim007 commented on #335
PR for this is here https://github.com/ansible/ansible/pull/31618

[2017-10-14 06:33] caphrim007 commented on #335
this is now merged

[2017-10-14 06:33] #335 closed

[2017-10-14 06:35] caphrim007 commented on #262
Talk about doing this (in upstream) has settled down and I do not think we need to attend to this right now. Closing for now

[2017-10-14 06:35] #262 closed

[2017-10-14 06:36] caphrim007 commented on #228
Closing as I believe this is now fixed

[2017-10-14 06:36] #228 closed

[2017-10-14 06:36] #6 closed

[2017-10-14 06:36] #52 closed

[2017-10-14 10:12] ric79 commented on #51
Hello, sorry for late late answer. It seems to me that it is working in this way:

[code]

Just a quick info: using https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/network/f5 is not possible to name the route domain (is: create net route-domain "ROUTE_DOMAIN_11" id 11).

"Unsupported parameters for (bigip_routedomain) module: name. Supported parameters include: bwc_policy,connect

[2017-10-14 10:17] ric79 opened #379 "Naming route domain in bigip_routedomain"
I'm open the comment in  https://github.com/F5Networks/f5-ansible/issues/51 as an issue

Just a quick info: using https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/network/f5 is not possible to name the route domain (is: create net route-domain "ROUTE_DOMAIN_11" id 11).

"Unsupported parameters for (bigip_routedomain) module: name. Supported parameters include: bwc_policy,connectio

[2017-10-14 14:16] ric79 commented on #52
Sorry for late answer. I can confirm that everything is ok.

[code]

[2017-10-14 15:42] caphrim007 commented on #379
@ric79 i swear that name used to raise an error if it didn't match the ID. I'll add this

[2017-10-14 17:10] ric79 opened #380 "bigip_pool - monitor error"
Hello,
if I'm using the latest modules on https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/network/f5
If I run:
[code]
I can see my pool in the right partition.
![x0](https://user-images.githubusercontent.com/6887824/31577688-9a7c60f8-b113-11e7-8547-d9f3c2f45f77.jpg)

If I update the code adding the monitor: `/Common/tcp`:
[code]
I get this error
[code]
It seems to me that the mod

[2017-10-14 17:23] ric79 commented on #380
I've seen that there is the same issue (https://github.com/F5Networks/f5-ansible/issues/376) and
https://raw.githubusercontent.com/F5Networks/f5-ansible/devel/library/_bigip_pool.py solves it.

Question: Can I mix https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/network/f5 with https://raw.githubusercontent.com/F5Networks/f5-ansible/devel/library/_bigip_pool.py or is there a bette

[2017-10-14 17:23] #379 closed

[2017-10-14 17:24] caphrim007 commented on #379
@ric79 have a go at the new code. will upstream

[2017-10-14 21:00] caphrim007 commented on #380
@ric79 it's in THIS repository, you're looking at the upstream repository. We haven't upstreamed this fix to Ansible core yet

[2017-10-14 21:00] #380 closed

[2017-10-14 21:00] caphrim007 commented on #380
https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_pool.py

[2017-10-14 21:05] #376 closed

[2017-10-14 21:09] caphrim007 commented on #307
https://github.com/F5Networks/f5-ansible/issues/258 blocks this request

[2017-10-16 17:15] neozoolook opened #381 "bigip_command truncates some variable values passed SNMP example"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

ansible.cfg configuration not modified other than setting path to library for F5 modules.

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Leveraging bigip_command module to configure portion of the 'sys snmp' conf

[2017-10-16 18:14] caphrim007 commented on #381
@neozoolook if you prepend a \ to the $ does it work?

[2017-10-16 18:31] alonsocamaro commented on #307
Hi @caphrim007

I don't understand why it is blocking.

My understanding is that #307 and #258 are complementary. Please note that this one is to deploy an iApp into a given previously created traffic group and #258 is about creating traffic-groups.

Regards

      Ulises

[2017-10-16 18:32] #258 closed

[2017-10-16 18:33] #227 closed

[2017-10-16 18:34] caphrim007 commented on #307
@alonsocamaro because I need the traffic group code to *test* the feature you're asking for

[2017-10-16 18:34] caphrim007 commented on #307
in any event, the traffic group module has been added, so I can work on this now

[2017-10-16 18:57] delgadillo22 opened #382 "Add GTM Virtual Server to GTM pool"
- Feature Idea

Add GTM VS to GTM pool

Requested by Forrest Crenshaw for customer 10/13

[2017-10-16 18:58] delgadillo22 opened #383 "GTM pool member monitor"
- Feature Request

GTM pool member monitor

[2017-10-16 18:59] delgadillo22 opened #384 "GTM Virtual Server Monitor"
- Feature Request

GTM VS Monitor

[2017-10-16 19:50] #307 closed

[2017-10-16 19:57] neozoolook commented on #381
yes this will work with bigip_command module. However I'm also leveraging the same variable with bigip_snmp_trap, which then breaks this, example output when inserting the \ in front of $ in the community string variable. I guess my expectation is that special characters in variable strings should be handled similar in all F5 modules?

Variable;
 snmp_community: 'F!r3R1sK$L'

sys snmp {
 agent-add

[2017-10-16 20:07] caphrim007 commented on #381
@neozoolook if adding the backslash made the bigip_command work, then I'll add logic to the code to take into account characters like that. I just wanted you to check it in your env before I did.

[2017-10-16 20:20] caphrim007 commented on #381
@neozoolook I've pushed an updated version of bigip_command. See if that helps.

[2017-10-16 20:22] #350 closed

[2017-10-16 20:34] neozoolook commented on #381
@caphrim007 test shows that this resolves the issue, thanks for looking at this.  Works like a champ;

[2017-10-16 20:51] caphrim007 commented on #381
good to hear. it will be in 2.5

[2017-10-16 20:51] #381 closed

[2017-10-16 20:56] neozoolook opened #385 "bigip_virtual_server - IPv6 Destination & Port 'Any Wildcarding' Broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

ansible.cfg has unique path set for library files to support F5 modules.

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Appears to be problem with supporting IPv6 addressing wildcard as well as IPv6 port w

[2017-10-16 21:35] caphrim007 commented on #283
@payalsin this color is determined by several combinations of availabilityState and enabledState. I'm trying to determine what those combinations are.

[2017-10-16 21:55] neozoolook opened #386 "bigip_monitor_tcp_half_open - Providing server_port value will cause play to hang"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_monitor_tcp_half_open.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

ansible.cfg file is standard with f5 module/library in path set.

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Leveraging the use of bigip_monitor_tcp_half_open module to create a monitor half o

[2017-10-16 21:59] neozoolook commented on #386
Running the playbook with server_port removed will result in successful complete of play.  F5 configuration result/example;

ltm monitor tcp-half-open JSA-SYSLOG2 {
    defaults-from tcp_half_open
    destination *:*
    interval 30
    time-until-up 0
    timeout 61
}

However what we want to do here is end up with this;

ltm monitor tcp-half-open JSA-SYSLOG2 {
    defaults-from tcp_half_open

[2017-10-16 22:01] neozoolook commented on #386
Incorrectly close issue, reopened.

[2017-10-16 22:02] caphrim007 commented on #386
It's hanging because it's trying to connect to bigip on port 514. server_port is **not** used to configured the monitor port to check. It is used to connect to your bigip under configuration.

[2017-10-16 22:03] caphrim007 commented on #386
to do what you want to do, you need to set the `destination` field to `*:514`

[2017-10-16 22:04] neozoolook commented on #386
My apologies, didn't see this as option to pass in v2.4 docs.  will test.

[2017-10-16 22:35] #283 closed

[2017-10-17 07:31] ric79 opened #387 "Drop a partition and all its objects"
Hello,
I need to drop a partition. The "bigip_partition absent" works only if the partition is empty. At the moment I'm working using tmsh:
 - delete /config/partitions/{{partition_name}}
 - update /config/bigip_base.conf
 ...

I'm trying to rewrite the playbook deleting all partition objects, one by one (ie:  `list ltm  node one-line`).
 Is there a module which gives all the objects defined in a

[2017-10-17 10:10] insidepacket commented on #227
@caphrim007, the current will cover 80% our use cases.

[2017-10-17 14:43] caphrim007 commented on #227
@insidepacket can you file another issue requesting what needs to be added to https to fill the remaining 20%?

[2017-10-17 18:13] neozoolook commented on #386
Yes got this to work, confusion was on the fact that 'port:' is a value that can be provided.  Looking at the documentation section of the *.py it wasn't clear to me, however looking at the python classes then I saw that your expect this if IP is wildcard.

Here is example of working playbook;
---
- name: Create LTM TCP-HALF-OPEN Monitor for Collector
  bigip_monitor_tcp_half_open:
    name: "SYSL

[2017-10-17 18:13] #386 closed

[2017-10-17 18:15] caphrim007 commented on #185
this is now complete

[2017-10-17 18:15] #185 closed

[2017-10-17 18:17] caphrim007 opened #388 "upstream wait_for_bigip module"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

wait_for_bigip

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [ ] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [ ] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [ ] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [ ] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [ ] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [ ] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-HF1

[2017-10-17 18:17] caphrim007 commented on #388
PR created here https://github.com/ansible/ansible/pull/31846

[2017-10-17 18:25] caphrim007 commented on #386
it seems the documentation is missing the `port` param. I'll add that

[2017-10-17 18:28] caphrim007 commented on #386
documentation updated in module

[2017-10-17 23:35] caphrim007 commented on #243
closing as the changes related to this issue are no longer in use

[2017-10-17 23:35] #243 closed

[2017-10-17 23:37] caphrim007 commented on #241
closing as the changes related to this issue are no longer in use

[2017-10-17 23:37] #241 closed

[2017-10-17 23:39] caphrim007 commented on #238
closing as the changes related to this issue are no longer in use

[2017-10-17 23:39] #238 closed

[2017-10-17 23:43] caphrim007 commented on #236
closing as the changes related to this issue are no longer in use

[2017-10-17 23:43] #236 closed

[2017-10-18 03:10] caphrim007 commented on #237
@manuadoor would you be able to update me on the status of this issue?

[2017-10-18 03:11] caphrim007 commented on #242
@festango would you be able to update me on the status of this issue?

[2017-10-18 03:11] caphrim007 commented on #240
@waffie1 would you be able to update me on the status of this issue?

[2017-10-18 03:14] caphrim007 commented on #239
@mgusek would you be able to update me on the status of this issue?

[2017-10-18 14:03] caphrim007 commented on #234
@pcloup would you be able to update me on the status of this issue?

[2017-10-18 14:03] caphrim007 commented on #233
@aabond would you be able to update me on the status of this issue?

[2017-10-18 14:49] caphrim007 commented on #240
the contributions in this issue are no longer used in the codebase

[2017-10-18 14:49] #240 closed

[2017-10-18 17:06] caphrim007 commented on #388
this is now merged

[2017-10-18 17:06] #388 closed

[2017-10-18 20:04] rblair1000 commented on #83
We use data groups for access and maintenance page activation.

[2017-10-18 20:21] caphrim007 commented on #211
this module is ready to be upstreamed

[2017-10-18 20:21] caphrim007 commented on #211
PR is opened here https://github.com/ansible/ansible/pull/31915

[2017-10-18 20:31] realged13 commented on #83
We use the DGL list for using Google Authenticator and adding the username and keys to a DGL for authentication irule.

[2017-10-19 16:46] caphrim007 commented on #387
there is no way to know what resources are in a partition. There is also not a safe way to delete a partition outright. there are some comments on devcentral about how people delete the partition folder and reload the config, but that is extremely dangerous because resources can be shared across partitions and your bigip config would refuse to load; essentially bricking your machine and forcing yo

[2017-10-19 16:46] caphrim007 commented on #387
@ric79 if you want that functionality, you need to be ready to accept the fate that it will deal you.

[2017-10-19 17:58] drakrubt opened #389 "bigip_irule.py unable to create new irule"
The bigip_irule.py appears to have some debugging code left behind keeping it from creating new irule objects.  (I also noticed that this is in the bigip_policy_rule.py file as well)
Below is a quick fix delta:

[code]

[2017-10-19 18:32] #389 closed

[2017-10-20 11:09] sdaynjax opened #390 "Issue adding certs to bigip_profile_client_ssl module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_profile_client_ssl

##### ANSIBLE VERSION
ansible-2.4
[code]

##### PYTHON VERSION
Python 2.7.5
[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Need help with the syntax to add a cert, key and chain

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expected the cert, key and chain

[2017-10-20 16:33] caphrim007 commented on #390
@sdaynjax you're using the cert_key_chain parameter incorrectly. Here is the correct syntax

[code]

I'll push an update to the module to include a usage example for this in a moment

[2017-10-20 16:33] #390 closed

[2017-10-20 23:49] joelwking opened #391 "bigip_command sets the 'changed' flag when the device configuration is not changed."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a
##### SUMMARY

bigip_command sets the 'changed' flag on exit, when the device configuration is not changed. Show commands do not change the device configuration.
##### STEPS TO REPRODUCE

[2017-10-21 01:06] caphrim007 commented on #211
this is now merged

[2017-10-21 01:06] #211 closed

[2017-10-21 11:22] ric79 commented on #387
Ok. I m pretty sure that the partition is created by my script and does not contains referenced objects (except for Common). Is it really impossible providing the list of nodes, virtual servers, pools etc created in that partition?

[2017-10-21 19:36] heterodyned opened #392 "Issue: 'ascii' codec can't decode byte 0xe2 in position (while running bignode_ip)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_node
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A I could reproduce this bug in Centos and Mac

##### SUMMARY

I am seeing ascii encoding problem when I try to run a simple 'add http node' operation

A sample output
[code]

##### STEPS TO REPRODUC

[2017-10-21 22:36] caphrim007 commented on #392
@heterodyned try the bigip_node in this repository here. It should not have this problem.

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_node.py

[2017-10-21 22:54] heterodyned commented on #392
To clarify the development branch or master ? And I guess I might as well use all within the library? Maybe as a custom ansible setup

[2017-10-21 22:56] heterodyned commented on #392
NVM I think you were hinting to the development branch

[2017-10-22 00:07] insidepacket commented on #227
@caphrim007, sure. Will test the https health monitor and have a look what we want is missed. thanks

[2017-10-22 01:21] caphrim007 commented on #392
@heterodyned yes, the development branch

[2017-10-22 02:10] caphrim007 commented on #392
@heterodyned what version of bigsuds are you using?

[2017-10-22 07:39] heterodyned commented on #392
[code]

These were the packages that i had installed early on (i think the icontrol-rest was not a dependency)

[2017-10-23 17:42] mdobeck1 opened #393 "Have facts return the name of the node as a separate line item"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_facts.py
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Have _bigip_facts.py return the name of the node as a separate line in json rather than the top level heading. it would make it infinitely easier to reference.
##### STEPS TO REP

[2017-10-23 18:23] alonsocamaro commented on #371
FYI: it is possible to use tmsh2iapp to create a iapp that creates the vlan with these cmp hash settings or any other.

See https://github.com/f5devcentral/f5-tmsh2iapp/wiki and https://raw.githubusercontent.com/wiki/f5devcentral/f5-tmsh2iapp/examples/demo.network-config.t2i

[2017-10-23 18:25] caphrim007 commented on #371
@alonsocamaro yes i know that. I made this req after watching your presentation

[2017-10-24 22:41] caphrim007 opened #394 "bigip_virtual_server module does not allow selecting client or server protocol profile"
see upstream bug report here https://github.com/ansible/ansible/issues/32102

[2017-10-24 22:43] caphrim007 commented on #392
@heterodyned I think this was an error introduced in bigsuds 1.0.5 to make it python3 compatible. I will revert those changes

[2017-10-24 22:51] caphrim007 commented on #391
@joelwking this request is complicated for a couple of reasons

1. you can specify multiple commands. If one of them is to modify something, then that will change the return result for everything
2. We cannot know whether something actually changed because tmsh's `create` and `delete` commands returns non-standard output, the `modify` command returns no output, and the return codes from tmsh can s

[2017-10-24 23:07] #391 closed

[2017-10-25 16:00] joelwking commented on #391
For number 1, if any of the commands modifies something, I would expect the changed flag to be set.

[2017-10-25 16:31] caphrim007 commented on #391
then the fix that I have merged will do that. enjoy

[2017-10-25 16:33] caphrim007 commented on #394
Here's the original issue for reference

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- bigip_virtual_server Module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
- Control machine: ubuntu linux 16.04LTS
- Managed node: BIG-IP 12.1.2 Build 1.0.271 Hotfix HF1

##### SUMMARY
When creating a virtual server I would like to configure both Client and Server pr

[2017-10-25 16:33] caphrim007 commented on #394
@andrewsav-datacom

[2017-10-25 19:51] caphrim007 opened #396 "fix copyrights and add token cleanup for bigip_pool"
upstream PR is here https://github.com/ansible/ansible/pull/32161

[2017-10-25 19:57] caphrim007 commented on #396
this is now merged

[2017-10-25 19:57] #396 closed

[2017-10-25 20:15] #393 closed

[2017-10-25 20:25] caphrim007 commented on #393
PR created for this upstream https://github.com/ansible/ansible/pull/32165

[2017-10-25 20:31] caphrim007 commented on #393
@mdobeck1 this is now merged and will be released with ansible 2.5

[2017-10-25 23:29] caphrim007 commented on #279
@mikempw @wojtek0806 this is now merged. will upstream this

[2017-10-26 20:06] mlowcher61 opened #398 "bigip_profile_client_ssl module not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_profile_client_ssl module

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When I run my playbook i get this error.

The full traceback is:
  File "/tmp/ansible_GM1ZiO/ansible_module_bigip_profile_client_ssl.py", line 452, in main
    res

[2017-10-26 20:08] mlowcher61 commented on #398
The expected result is to have a clientssl profile created.
Actual results are the error messages

[2017-10-26 22:06] #398 closed

[2017-10-27 16:34] caphrim007 opened #399 "dots in ssl cert names cause bigip_ssl_certificate to not create certs correctly"
certs and files are created and put on the box, but not in a way that TMUI will be able to find them.

[2017-10-27 16:43] caphrim007 commented on #399
this is not a bug in the ansible modules, but rather a bug in TMUI. TMUI creates everything with a ".crt" suffix. You dont need to include such a suffix when you use tmsh. So you can get yourself in this same situation if you were to do it in tmsh.

The ansible modules have, in certain situations, followed TMUI's behavior and in other situations followed tmsh's behavior. Because you can specify th

[2017-10-27 16:53] caphrim007 opened #400 "upstream bigip_ssl_key"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

bigip_ssl_key

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### TESTED VERSIONS

**Python 2.7.14**
- [x] BIG-IP 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] BIG-IP 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] BIG-IP 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] BIG-IP 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] BIG-IP 12.1.1 (BIGIP-12.1

[2017-10-27 18:39] caphrim007 commented on #399
I think this is being caused by the shlex code that is splitting the username extension

[2017-10-27 19:53] caphrim007 commented on #400
PR created here https://github.com/ansible/ansible/pull/32270

[2017-10-27 19:53] caphrim007 commented on #400
this is now merged

[2017-10-27 19:53] #400 closed

[2017-10-27 20:20] caphrim007 commented on #188
the pr for this has been merged into this repo. unit tests and functional tests are also available.

[2017-10-27 20:20] caphrim007 commented on #188
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### TESTED VERSIONS

**Python 2.7.14**
- [ ] BIG-IP 12.0.0 (BIGIP-12.0.0.0.0.606)
- [ ] BIG-IP 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [ ] BIG-IP 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [ ] BIG-IP 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [ ] BIG-IP 12.1.1 (BIGIP-12.1.1.0.0.184)
- [

[2017-10-28 04:20] JoshPineda opened #401 "bigip_selfip is missing floating property; unable to create floating self-ips"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
bigip_selfip

##### ANSIBLE VERSION
Ansible 2.4

##### PYTHON VERSION
Python 2.7.6

##### BIGIP VERSION
12.1.2 HF1

[2017-10-28 04:57] caphrim007 commented on #401
this also requires that traffic groups be specifiable on the selfip

[2017-10-28 05:18] #401 closed

[2017-10-28 05:19] caphrim007 commented on #401
@JoshPineda floating IPs can be created today. You just need to provide a floating traffic group; for example `traffic-group-1`.

I've included an example of doing that here

https://github.com/F5Networks/f5-ansible/blob/devel/test/integration/targets/bigip_selfip/tasks/issue-00401.yaml

Additionally, I pushed some changes to the bigip_selfip module here to address idempotency problems with the tr

[2017-10-28 05:24] caphrim007 commented on #279
PR is here https://github.com/ansible/ansible/pull/32281

[2017-10-28 05:24] #279 closed

[2017-10-28 05:25] caphrim007 commented on #188
PR for this is here https://github.com/ansible/ansible/pull/32281

[2017-10-28 05:32] caphrim007 commented on #188
this is now merged

[2017-10-28 05:32] #188 closed

[2017-10-30 02:01] jkim711 commented on #188
How do I download Ansible 2.5.0 ?
I checked https://github.com/ansible/ansible/branches/all , it only has up to 2.4.

[2017-10-30 02:08] caphrim007 commented on #188
@jkim711 ansible 2.5 is in their devel branch. You can install it via pip

`pip install --upgrade git+https://github.com/ansible/ansible.git`

[2017-10-30 19:18] caphrim007 opened #402 "vlan "all" not working for virtual_server"
it's not finding "all". I think it might be because its looking for "ALL"

[2017-10-30 20:08] #402 closed

[2017-10-30 20:09] caphrim007 opened #403 "disabled_vlans is not disabling vlans in bigip_virtual_server"

[2017-10-30 21:55] adonerok commented on #282
This module does not work. Getting the same error as above.

[2017-10-30 21:57] adonerok commented on #187
This module does not work. Getting the same error as above.
fatal: [f5ltm01.domain.com -> localhost]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "local_ip": "172.16.10.21",
            "partition": "Common",
            "password": "VALUE_SPECIFIED_IN_NO_LOG_PARAMETER",
            "remote_host": "1.1.1.1",
            "remote_po

[2017-10-31 00:15] #403 closed

[2017-10-31 02:44] caphrim007 commented on #187
@adonerok do not comment on closed issues. Please file a new issue if there is a problem

[2017-10-31 06:43] slavkv opened #404 "bigip_command modules does not execute commands via CLI (SSH), always trying via REST"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_command (tried library comes with Ansible and downloaded from your repository)

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OSX 10.12.6

##### SUMMARY
I am trying to run several commands on F5 via SSH.
It worked with Ansible 2.2 (we communicated abou

[2017-10-31 12:37] adonerok opened #405 "bigip_remote_syslog error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_remote_syslog

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Getting an error using the bigip_remote_syslog module. Pulled it down separately from github as it is not included in 2.4.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2017-10-31 15:32] caphrim007 commented on #404
@slavkv did you also download the latest module_utils code? that's where we added the run_commands stuff you see

[2017-10-31 17:08] #405 closed

[2017-10-31 17:10] caphrim007 commented on #405
@adonerok I think this is now fixed in the code here. Please pull and test.

[2017-10-31 17:21] adonerok commented on #405
Thanks. It works for a single entry. However, if you want to add multiple syslog servers and you have your variables defined like this, it errors out. Does not seem to support multiple entries like bigip_device_dns.

syslog_host:
 - '1.1.1.1'
 - '2.2.2.2'
syslog_port:
 - '514'
 - '515'
syslog_localip:
 - '3.3.3.3'
 - '4.4.4.4'

[2017-10-31 17:49] caphrim007 commented on #405
@adonerok this is expected behavior. Use with_items for that purpose

[2017-10-31 18:55] caphrim007 commented on #405
upstream PR created here https://github.com/ansible/ansible/pull/32404

[2017-10-31 19:33] caphrim007 commented on #405
this is now merged

[2017-10-31 19:33] caphrim007 commented on #378
this is now merged

[2017-10-31 19:33] #378 closed

[2017-10-31 20:17] caphrim007 commented on #360
- [ ] lib/ansible/modules/network/f5/bigip_command.py
- [ ] lib/ansible/modules/network/f5/bigip_config.py
- [ ] lib/ansible/modules/network/f5/bigip_configsync_actions.py
- [ ] lib/ansible/modules/network/f5/bigip_gtm_pool.py
- [ ] lib/ansible/modules/network/f5/bigip_gtm_wide_ip.py
- [ ] lib/ansible/modules/network/f5/bigip_hostname.py
- [ ] lib/ansible/modules/network/f5/bigip_iapp_service.py
-

[2017-10-31 22:09] caphrim007 opened #406 "asm policy module can not import to different partitions"
turns out that asm policies can be put on different partitions. who'd-a thunk it?

[2017-10-31 22:10] slavkv commented on #404
@caphrim007 I have downloaded whole Library directory from your git repository, but there is no reference about 'run_commands' there.

[code]

Where exactly do I need to download run_commands from?
Do I need to copy it to Ansible module_utils dir?

Thanks!

[2017-10-31 22:35] caphrim007 commented on #404
@slavkv oops, I meant the one that is upstream (which will be released with 2.5)

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/f5_utils.py

The module_utils that you're finding in the f5-ansible repository is not a working product right now; only a playground for me to use in case I need to refactor something in the future.

[2017-10-31 22:53] caphrim007 commented on #314
this module is ready to be upstreamed

[2017-11-01 00:35] slavkv commented on #404
@caphrim007
I download this file and put into Ansible path. I can import run_commands now, but it's not working still. Does it suppose to work with Ansible 2.4 or I need to install Ansible 2.5 for that?

[code]

[2017-11-01 02:17] caphrim007 commented on #404
@slavkv I have not tried it with 2.4. It was only recently added by an external contributor as part of the 2.5 release. Do you have a development environment that you can try a 2.5 devel installation to see if that is the case?

[2017-11-01 02:19] caphrim007 commented on #404
@jmighion any thoughts on this?

[2017-11-01 02:32] slavkv commented on #404
@caphrim007 I am testing with 2.4 in staging because 2.4 is officially stable release now, and then I am going to roll it in production.
I will try to use 2.5 just to check it works later, but my main goal is to make it work with 2.4.

What minimal F5 version do I need to run to make sure F5 modules work fine?
11.5 does REST and service is running, but looks like it's very old and not working with

[2017-11-01 02:45] caphrim007 commented on #404
it should not matter the version of BIG-IP as it *should* just be normal SSH. so, assuming your SSH works as you expect.

Are you logging in as the root user? using the bash shell? or tmsh shell?

[2017-11-01 02:46] slavkv commented on #404
Which F5 version I need for modules to work with REST?

ADMIN user with tmsh shell.
It works with Ansible 2.2.

And yes, ssh works fine from my host.

[2017-11-01 02:57] caphrim007 commented on #404
for using REST i recommend 12.0.0 or greater. We don't test on anything earlier than that. If it works on earlier versions, then you got lucky

[2017-11-01 02:58] slavkv commented on #404
@caphrim007 cheers.

[2017-11-01 05:00] drakrubt opened #407 "bigip_device_dns missing BigIpTxContext import"
In the bigip_device_dns module I am getting:
  `NameError: global name 'BigIpTxContext' is not defined`

If I add:
` from f5.bigip.contexts import TransactionContextManager as BigIpTxContext`
to the try import section around line 118 - all is ok

Should the import happen automatically? or does it actually need the explicit import?

[2017-11-01 15:56] jmighion commented on #404
CLI transport only works in 2.5.
The error ```TypeError: argument must be string or read-only character buffer, not None``` was because it's missing plugins. If you're trying to backport it all into 2.4, there's a few more files to copy and even then you'd have to make some manual changes to those.
The PR for cli transport in bigip_command https://github.com/ansible/ansible/pull/30391

[2017-11-01 16:39] caphrim007 commented on #404
ahh yes the action plugins. good call @jmighion i forgot about that.

[2017-11-01 16:56] jmighion commented on #404
I would not recommend backporting it unless you are comfortable making all the changes in that PR and the subsequent PRs for bigip_command.

[2017-11-01 17:03] caphrim007 commented on #407
@drakrubt thanks for finding that. i've fixed this here. have another go at it. will upstream to ansible in the meantime

[2017-11-01 17:04] #407 closed

[2017-11-01 17:05] caphrim007 opened #408 "virtual server does not correctly enable vlans when they are disabled"

[2017-11-01 17:05] caphrim007 commented on #408
Issue with having it reflect disabled_vlans is fixed but found another issue:

Playbook:
Run first:

- name: Add VS on BIG-IP
    bigip_virtual_server:
      server: "10.192.73.218"
      user: "admin"
      password: "admin"
      name: "httpvs2"
      destination: "10.168.90.92"
      port: 80
      irules: ["irule1","irule2"]
      #enabled_vlans: "External"
      disabled_vlans: "Internal"

[2017-11-01 19:00] caphrim007 commented on #314
PR for this has been created https://github.com/ansible/ansible/pull/32456

[2017-11-01 19:00] caphrim007 commented on #314
this is now merged

[2017-11-01 19:00] #314 closed

[2017-11-01 20:46] mdobeck1 opened #409 "Have facts return the name of the pools and virtual servers as a separate line item"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_facts.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Have _bigip_facts.py return the name of the pools and virtual servers as a separate line in json rather than the top level heading. it would make it infinitely easier to referen

[2017-11-01 21:20] mdobeck1 opened #410 "request LB method returned value to be valid"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_facts.py
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Currently when requesting facts for pools,  lb_method: LB_METHOD_ROUND_ROBIN (for example) is returned. Is it possible to remove the "LB_METHOD" and have it return the actual met

[2017-11-01 21:23] #409 closed

[2017-11-01 21:36] #406 closed

[2017-11-01 23:53] #408 closed

[2017-11-02 03:36] caphrim007 commented on #407
PR created here https://github.com/ansible/ansible/pull/32483

[2017-11-02 03:36] caphrim007 commented on #407
this is now merged upstream

[2017-11-02 03:40] caphrim007 commented on #404
@slavkv if you must have these features in _your_ 2.4 installation, there are a number of additional dependencies that @jmighion mentioned in his PR there including an action plugin, terminal plugin and additions to your NETWORK_GROUP_MODULES that needs to happen. This is not something we will backport into 2.4.

[2017-11-02 03:40] #404 closed

[2017-11-02 03:42] caphrim007 opened #411 "Switch to 'loop' where appropriate"
with_items is deprecated and will be removed in 2.9. We should begin removing references to it from our integration tests and EXAMPLES

[2017-11-02 03:55] #44 closed

[2017-11-02 03:55] caphrim007 commented on #44
This should now be fixed in the most recent version of the bigip_virtual_server module in this repository. That module will be upstreamed as part of the ansible 2.5 release

[2017-11-02 04:02] slavkv commented on #404
@caphrim007 Thanks. I will wait for 2.5 then.

[2017-11-02 15:30] JoeReifel opened #412 "bigip_device_connectivity not idempotent if unicast-ip is specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_device_connectivity

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

While configuring your failover settings via bigip_device_connectivity, and you're specifying the unicast_failover settings, if you specify the IP address that corr

[2017-11-02 18:13] caphrim007 commented on #39
This should be complete in the current bigip_virtual_server in this repository. this should be part of the ansible 2.5 release as well.

[2017-11-02 18:13] #39 closed

[2017-11-02 18:23] #93 closed

[2017-11-02 18:57] #166 closed

[2017-11-02 19:16] caphrim007 commented on #159
this is complete

[2017-11-02 19:16] #159 closed

[2017-11-02 20:25] caphrim007 commented on #406
this is now upstreamed into ansible

[2017-11-02 20:28] #412 closed

[2017-11-03 01:40] danielcayer opened #415 "bigip_license "NameError: global name 'F5ModuleError' is not defined""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_license.py

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expected Base Registration Key to be installed and activated on the BIG-IP.

##### ACTUAL RESULTS
[code

[2017-11-03 01:41] danielcayer commented on #415
Hi Tim, can you invite me to the Slack Channel please?

[2017-11-03 02:02] caphrim007 commented on #415
@danielcayer sent invite to your work addy

[2017-11-03 02:05] caphrim007 commented on #415
I conveniently broke this module recently when I was on a mission to fix it up for inclusion in 2.5. You can get an unbroke version here

https://github.com/F5Networks/f5-ansible/blob/369a589c529a90fc5cb477fc13d7aaadaaab6898/library/bigip_license.py

[2017-11-03 13:07] danielcayer commented on #415
Thanks Tim! My issue is resolved now. The unbroken version you provided works perfect for me! Will you be updating the repo accordingly?

[2017-11-03 14:01] caphrim007 commented on #360
these are now all merged

[2017-11-03 14:01] #360 closed

[2017-11-03 14:02] caphrim007 commented on #415
@danielcayer this is a development repo so, no. instead, the work will continue to make the license module upstreamable

[2017-11-03 14:02] #415 closed

[2017-11-03 21:56] neozoolook opened #416 "irule module truncates 'when <NAME> { call <PROCNAME> }' portions of template/file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_irule.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

Default ansible.cfg no modifications other than library files in path for F5.

##### OS / ENVIRONMENT

##### SUMMARY
Leveraging the irule module to use content: lookup with type as file to integrate complex iRule into F

[2017-11-03 22:03] neozoolook commented on #416
Also another note on this, in the playbook if I leveraged 'template' rather than 'file' in the playbook lookup it wouldn't even put the iRULE into the F5.

WORKS - TRUNCATES WHEN
bigip_irule:
    content: "{{ lookup('**file**', '../../template/{{ item.value }}') }}"

NO WORK
bigip_irule:
    content: "{{ lookup(**'template'**, '../../template/{{ item.value }}') }}"

[2017-11-03 22:04] neozoolook commented on #416
Output on F5 after iRule is added, noticed WHEN portion missing;

ltm rule TEST {
    proc validateCerFromFile {} {
set hsl [HSL::open -proto TCP -pool JSA-MONITOR]
if { [DIAMETER::command] == 257 && [DIAMETER::is_request]} {
    set originhost [DIAMETER::avp data get 264]
    if {$originhost ne ""} {
        set value [class lookup $originhost realm-list]
    }
    if {$value == ""} {
        cal

[2017-11-04 00:30] caphrim007 commented on #416
@neozoolook please provide a valid irule. The one you provided in the Steps To Reproduce generates the following error

`01070151:3: Rule [/Common/TEST] error: /Common/TEST:101: error: [command is not valid in the current scope][}]`

[2017-11-04 05:52] caphrim007 opened #417 "bigip_provision does not unprovision existing modules when level is 'dedicated'"
this causes an error to raised because TMUI implicitly changes your levels when you choose dedicated

[2017-11-04 20:41] #417 closed

[2017-11-04 20:43] caphrim007 commented on #394
@andrewsav-datacom bigip_virtual_server in the f5-ansible repo supports specifying a context. It is slated to go into the 2.5 release of Ansible. So I think this issue is addressed today, though you are welcome to test and report **new** issues on our issue tracker.

[2017-11-04 20:43] #394 closed

[2017-11-05 01:55] #385 closed

[2017-11-05 01:56] caphrim007 commented on #385
@neozoolook this should be fixed in the version of bigip_virtual_server in this repo

[2017-11-05 02:21] #410 closed

[2017-11-05 02:50] caphrim007 commented on #146
i think this bug is no longer relevant. said module has been largely rewritten, but give it a try anyway. closing for now

[2017-11-05 02:50] #146 closed

[2017-11-05 02:51] caphrim007 commented on #167
this is complete

[2017-11-05 02:51] #167 closed

[2017-11-05 02:52] caphrim007 commented on #161
this is complete

[2017-11-05 02:52] #161 closed

[2017-11-05 03:46] caphrim007 commented on #253
This should no longer be an issue with the current version of the bigip_virtual_server module. Specifying the ip-protocol you want in the `profiles` should take care of this.

For example

[code]

[2017-11-05 03:46] #253 closed

[2017-11-05 04:00] caphrim007 commented on #205
@Smuggla this should no longer be an issue with the version of bigip_virtual_server currently in the f5-ansible repo.

FastL4 would be specified like so

[code]

[2017-11-05 04:06] caphrim007 commented on #205
the convenience that is "type" though will likely need to wait until ansible 2.6 or later

[2017-11-05 04:13] caphrim007 commented on #152
@yk8511 @insidepacket what "passphrase" is being suggested above? I only see a "CA passphrase" in BIG-IP under the "SSL Forward Proxy"

[2017-11-05 10:17] insidepacket commented on #152
passphrase to protect the key. please see the attached
![2017-11-05_211652](https://user-images.githubusercontent.com/16912024/32413890-b59ba9d6-c26e-11e7-98b1-8d0902fb388b.png)

[2017-11-05 10:52] insidepacket opened #418 "chain is not updated when creating/updating Client SSL profil"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_profile_client_ssl

##### ANSIBLE VERSION
2.4 (dev)

##### PYTHON VERSION
Python 2.7.5

##### BIGIP VERSION
Sys::Version
Main Package
  Product     BIG-IP
  Version     12.1.2
  Build       0.0.249
  Edition     Final
  Date        Wed Nov 30 16:04:00 PST 2016

[code]

[2017-11-05 15:52] caphrim007 commented on #152
@insidepacket ahh thanks for that reference

[2017-11-06 17:13] neozoolook commented on #416
[code]

[2017-11-06 17:14] neozoolook commented on #416
Please note that this iRULE has references to existing HSL and POOL configurations as well, so that may be why your having problems with the iRule add.

If you have a secure method I can give you entire configuration, rather not be public.

[2017-11-06 17:24] caphrim007 commented on #416
@neozoolook you can always reach me offline. My email address is in my GitHub profile. t.rupp@f5.com

[2017-11-06 17:32] neozoolook commented on #416
@caphrim007 details forwarded, thanks again!

[2017-11-06 18:07] neozoolook opened #419 "bigip_virtual_server description values not being populated in play."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

Tested bigip_virtual_server to validate fixed from bug #385, this appears to be fixed however description content that is provided in playbook isn't getti

[2017-11-06 19:33] #419 closed

[2017-11-06 19:33] caphrim007 commented on #419
@neozoolook this should now be fixed

[2017-11-06 19:38] caphrim007 commented on #355
@selhorn you can take this one if you want.

[2017-11-06 19:40] caphrim007 commented on #387
@ric79 would you be ok with this being a separate parameter to the module? Since it is something that can break your device if used without expertise.

[2017-11-06 19:42] caphrim007 commented on #416
@neozoolook the reason using the `template` lookup would fail is because the format of Jinja2 templates is that the `{{` is a special syntax which indicates a variable. Since iRule syntax has copious amounts of `{` in it, it is very likely that one of these is being interpreted by Jinja to be a variable.

The recommendation is to use the `file` lookup unless you really really really know what you'

[2017-11-06 19:51] caphrim007 commented on #416
@neozoolook I'm not able to repro this error?

Here's my task list

[code]

I'm using the bigip_irule module in this repo here

[2017-11-06 19:52] #416 closed

[2017-11-06 20:01] neozoolook opened #420 "bigip_selfip run results in MODULE FAILURE."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_selfip

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

Appears that something has been broken in bigip_selfip, getting module error on outputs when running playbooks using this module.

##### STEPS TO REPRODUCE

[code]

[2017-11-06 20:02] selhorn commented on #355
@caphrim007 I can't see how to assign this to myself. Do you think I have permission to own issues in this repo? You're welcome to assign it to me. Thanks

[2017-11-06 20:03] caphrim007 commented on #355
@selhorn assigned

[2017-11-06 22:23] neozoolook commented on #420
Rolled back to this push and it works for me.  Looks like something in fix #401 apply broke this.

70e79842431c3629db0fc008f7a955716888ac24

[2017-11-06 22:50] payalsin commented on #230
For the above request the module features are satisfied. But to make it more flexible adding a field to specify the number of cores per vCMP guest would be very useful

[2017-11-06 23:44] caphrim007 commented on #230
@payalsin would you make that a separate issue?

[2017-11-06 23:44] #230 closed

[2017-11-07 01:20] penghon commented on #420
- name: Create Self IP on vlan
    bigip_selfip:
        password: "{{ password }}"
        user: "{{ user }}"
        server: "{{ server }}"
        address: "{{ selfip1 }}"
        netmask: "{{ netmask1 }}"
        name: "v1201_real_selfIP"
        vlan: "{{ selfipvlan1 }}"
        validate_certs: "False"
        allow_service: "default" <---- it was this that broke in my testing lab. Removing t

[2017-11-07 03:26] andrewsav-datacom commented on #394
@caphrim007 I'm still getting the error with the latest sources from the devel branch in the ansible repo. How can I help find out what's wrong?

[2017-11-07 03:27] andrewsav-datacom commented on #394
@caphrim007 Do you know when it get's merged int the main ansible repo? Anywhere to track that?

[2017-11-07 04:15] caphrim007 commented on #285
PR for this is here https://github.com/ansible/ansible/pull/32608

[2017-11-07 04:15] caphrim007 commented on #285
this is now merged

[2017-11-07 04:15] #285 closed

[2017-11-07 10:27] roshanmohite opened #422 "Unable to open shell"
##### ISSUE TYPE

NA

##### COMPONENT NAME

bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

No changes made to ansible.cfg

##### OS / ENVIRONMENT

##### SUMMARY

Trying to run commands using bigip_command module, however getting error "Unable to open shell".
I can login to LTM from Ansible host/controller using credenti

[2017-11-07 12:26] roshanmohite commented on #422
Hello,
Further i made some changes to playbook as below:

![image](https://user-images.githubusercontent.com/28532002/32493510-1756b0a0-c3e4-11e7-8a81-bf7fb3a99254.png)

And it started to work. Below is my host file:
![image](https://user-images.githubusercontent.com/28532002/32493675-b30f4ffc-c3e4-11e7-82b7-f376cf870f71.png)

I cannot pin point what I am doing wrong with _server: "{{ inventory_ho

[2017-11-07 12:40] holmahenkel commented on #152
A `passphrase` module parameter would be highly appreciated :-)

[2017-11-07 17:52] caphrim007 commented on #422
@roshanmohite there are several questions I need answered.

First, when you ssh to the box, are you specifying the user to SSH as? or are you just typing `ssh 1.1.1.1` and letting SSH decide. If the latter, then you appear to be going to the F5 device as the `nisadmin` user. Correct me if I'm wrong.

If you are, then you must __also__ specify the `user` value as `nisadmin` when you use the `transp

[2017-11-07 18:32] caphrim007 opened #423 "review doc on assigning access to secrets files"
@selhorn would you please review this and update/organize as necessary.

http://f5-ansible.readthedocs.io/en/devel/development/tutorials/adding-new-admin-to-encrypted-files.html

Thanks.

[2017-11-07 22:59] ric79 commented on #387
Hello,
that's ok.

However we can also evaluate another strategy. The partition contains own objects or Common shared ones. Now I'm trying to parse these commands in order to get the object names and then to delete them:
[code]
Finally, I could call the "absent partition commmand" of partition module in a very safe way. However there is not a quick way to get these facts and I have to parse the ou

[2017-11-08 05:19] caphrim007 commented on #387
@ric79 you are encountering the problem which drove me to the decision to not support SSH transports for BIGIP (vs REST). That problem is the parsing of tmsh output.

It is not structured. You're in for an uphill battle, but I wish you the best of luck. If you write your own filter plugin, you may want to investigate the use of the `NetworkConfig` class here in ansible

* https://github.com/ansibl

[2017-11-08 08:10] ric79 commented on #387
Thanks, what about of providing a _fact module which describes the partition content? :)

[2017-11-08 16:56] drakrubt opened #426 "Is there supossed to be a new bigip_pool_member module?"
Is there supposed to be a new bigip_pool_member module?

Looking through the libraries I see that the old bigip_pool_member.py was deprecated to _bigip_pool_member.py but there is not a new bigip_pool_member.py. The new bigip_pool.py code mentions that using its host/port params is depricated as well ... this I am not seeing a current supported method for managing pool members.

[2017-11-08 17:08] neozoolook commented on #420
@penghon confirmed that this appears to be the case as well for me.  Closing as looking at source only IP/port details should be provided.  Looks like this was better enforced in later build.

[2017-11-08 17:08] #420 closed

[2017-11-08 17:20] neozoolook commented on #416
@caphrim007 I'm still seeing this as an issue, the lowest portion of the IRULE is NOT being populated.  I'm utilizing 'file' not 'template' so not sure why this isn't working.  Do you have the example you leveraged in your test, as this clearly is failing for my test.

[code]

[2017-11-08 17:23] neozoolook commented on #416
Playbook
[code]

Actually what was loaded on F5;
[code]

File for source of rule;
[code]

[2017-11-08 17:29] caphrim007 commented on #426
@drakrubt eventually. but not right now

[2017-11-08 17:35] neozoolook commented on #83
We use DGL for diameter realm, commandcodes, exceptionlists, serversidecommands content per iRules. That allows us to use a specified iRule, while allowing our customer to provide dynamic content that is applied.

[2017-11-08 17:51] caphrim007 commented on #83
@neozoolook @realged13 @rblair1000 @michaelryanmcneill @robertmircea

can any of you provide example snippets of what you use? you can email them to me or post them here. In either case I **do not** need to literal data that you use. I only need examples. Fake words, fake ip address, fake numbers, etc etc.

[2017-11-08 18:22] neozoolook commented on #416
Disregard, this appears to be whitespace/tab related issues.  In working with source iRULEs all that is necessary is to delete first line and last parenthesis.  I was worried about tab/spacing in the creation of the source file, however this is not necessary.  Got this working.

[2017-11-08 18:24] neozoolook commented on #83
Tim,

Attached Irules and datagroups create examples for Diameter;

On Wed, Nov 8, 2017 at 9:51 AM, Tim Rupp <notifications@github.com> wrote:

##################################################
##
##  CREATE DATA-GROUP VALUES LEVERAGED BY IRULES
##
##  INFO FROM QUESTIONAIRE LEVERAGED
##  1. ORIGIN-REALM
##  2. APPLICATION-ID
##  3. VENDOR-ID
##  4. PRODUCT-NAME
##  5. CLIENT SIDE CODES
##  6. SE

[2017-11-08 19:14] caphrim007 commented on #387
In the rest API one cannot recursively ask it for everything in a partition, so this would be a largely unsustainable effort. There are over 6000 APIs in BIG-IP, and most of them accept a partition argument. We would need to be able to cover that entire landscape.

It's easier for us to delete the partition and reload the configuration. Taking into consideration that irules can reference any parti

[2017-11-08 23:01] drakrubt opened #429 "bigip_remote_syslog not taking hostname from remote_host value"
When using a hostname for remote_host, it is throwing a AddrFormatError since netaddr.IPAddress is looking for an IP.  Should it be doing a socket.gethostbyname instead to convert the name to an IP?

[2017-11-09 00:43] caphrim007 commented on #429
@drakrubt if hostnames are an allowed value, then this is a bug.

[2017-11-09 00:52] drakrubt commented on #429
according to module documentation it is implied it can be provided:
[code]
It would be nice if the hostname could be passed all the way to the config since it is a valid config entry ... i just recommend the hostname->ip conversion if something about the api interface was only allowing IPs.

[2017-11-09 00:59] caphrim007 commented on #429
I usually copy/paste the description from the description in TMUI, so I will have a look to see if this is a valid way to specify remote hosts.

[2017-11-09 07:23] roshanmohite commented on #422
Hello Tim,
With respect your 1st question about how am i logging into F5 LTM?
i do `> ssh admin@172.16.129.231 ` and then type in the password. I get log into
`[root@nislab-f5v-rp01:Active:In Sync] ~ #` or `admin@(nislab-f5v-rp01)(cfg-sync In Sync)(Active)(/Common)(tmos)#` if i edit user privileges to use tmsh only.
This playbook is run with 'admin' being able to access tmsh.

I will make sure not

[2017-11-09 07:28] caphrim007 commented on #422
@roshanmohite the error being reported gives you insight into what is wrong

`Failed to establish a new connection: [Errno -2] Name or service not known'`

This means that you are unable to resolve DNS. I bet your `{{ inventory_hostname }}` is a name, not an IP address, and that ansible is attempting to resolve this name in DNS.

Your play is telling me that your host's name is `UKCD_F5_4` and it'

[2017-11-09 07:56] roshanmohite commented on #422
Hey Tim,
My hosts file looks like below:
[code]
I am using  `{{ inventory_hostname }}` hoping it pick IP from hosts file.
While looking at the host file however, I thought to use `ansible_host` instead of `inventory_hostname`; this seems to have done the trick and my play is running as expected.
Now the playbook looks as below:
[code]

Does it mean when `inventory_hostname` is passed as variable t

[2017-11-09 10:33] sajaltiwari opened #432 "Unable to get ucs file by using bigip_ucs_fetch.py"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_ucs_fetch

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
unable to backup or copy ucs files using the module bigip_ucs_fetch.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
It should copy the ucs files

##### ACTUAL RESULTS

E

[2017-11-09 10:36] sajaltiwari commented on #432
I am able to run other modules like bigip_command on the F5 device.

[2017-11-09 14:16] waffie1 commented on #240
I apologize for not responding, the previous emails got filtered out of my
inbox.  Do you still want me to fill this out?  Again, I apologize for
this, especially if it caused you extra effort to work around not having my
agreement,

On Wed, Oct 18, 2017 at 10:49 AM, Tim Rupp <notifications@github.com> wrote:

[2017-11-09 17:00] caphrim007 commented on #240
@waffie1 its your decision. if there is the possibility of future contributions from you, then a CLA would be prudent.

[2017-11-09 17:33] caphrim007 commented on #422
@roshanmohite you're experiencing the difference between two different variables with two different values and how they are influenced by your network.

Here is a line from your inventory

`UKCD_F5_4 ansible_host=172.16.129.232`

In this line, there are two values. One of them is implicitly defined; the other explicitly defined. They are

* `inventory_hostname`. Value, `UKCD_F5_4`. Implicitly defi

[2017-11-09 17:33] #422 closed

[2017-11-09 17:37] caphrim007 commented on #432
@sajaltiwari thats an Ansible error, not a module error. One of two things is wrong

- You're not properly formatting your plays. Your spacing is incorrect or you are missing the common play headers such as `connection` and `hosts`
- You are trying to use a module that is not upstreamed and you have not installed it from this development repo.

[2017-11-09 18:55] neozoolook opened #433 "Enhancement - Support MTU in bigip_vlan module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_vlan.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Would like to see support of setting MTU values under VLAN configuration for F5.  There are used cases in which this is required to support Jumbo Frame on the F5.

Currently only

[2017-11-10 11:45] roshanmohite commented on #422
Understood. Many thanks!

[2017-11-10 13:03] sajaltiwari commented on #432
Hello,
Below is my full yaml file

[code]
Any idea how can i install this module on my ansible, the current location for the existing modules is as shown below

[code]
Also the latest f5-sdk is already installed

[code]
I am a novice in ansible and git field so still trying to get upto the speed. Any help would be greatly appreciated.

Many thanks for your understanding.

[2017-11-10 16:36] caphrim007 commented on #432
@sajaltiwari for starters, stop including your password in what you post to public forums. I've been editing it out for you, but that's a bad practice to get into. A simple "password" string is sufficient; we get the idea. Or, leave it out entirely.

As for the modules question, we have instructions for that.

https://f5-ansible.readthedocs.io/en/devel/usage/installing-modules.html

And finally, i

[2017-11-10 16:52] sajaltiwari commented on #432
Thank you, i missed to remove the password,

[2017-11-12 11:29] ric79 opened #436 "Help on bigip_command"
Hello, I would like to remove all my shell command calls and to use your bigip_command module.

I need to create a monitor inside a partition BUT the code is provided by the user at runtime (I cannot change this behaviour). Let us suppose the the monitor provided is:

               create ltm monitor tcp-half-open tcp_half_open_5_min { \
                   defaults-from /Common/tcp_half_open \

[2017-11-12 13:32] ric79 opened #437 "Help on sync and save"
Hello,
I need help about how to save configuration and syncing the device

**Sync**:
Are these two snippets equivalent?
[code]
[code]

**Save**:
I've no idea about how to use bigip_config:
[code]

RR

[2017-11-12 17:08] caphrim007 commented on #436
@ric79 how is the monitor provided?

[2017-11-12 17:15] caphrim007 commented on #437
I will have to check on the sync example, but I think they are equivalent.

To use the bigip_config to save a config, just do the following

[code]

It saves all configuration. You dont need to specify specific partitions

[2017-11-12 23:33] andrewsav-datacom commented on #394
@caphrim007, hey just checking in, are you planing to answer my query above? Do not mean to pester, just in case you have forgotten.

[2017-11-13 00:15] caphrim007 commented on #394
@andrewsav-datacom sorry, I must have missed the notification for this.

I am in the process of testing the current module, so it will go in upstream before the 2.5 release. The issue that tracks that is here

https://github.com/F5Networks/f5-ansible/issues/256

[2017-11-13 14:04] ric79 commented on #436
Via Excel :(
From Excel I generate a  config.yaml which contains all the requested configurations

[2017-11-13 15:17] alonsocamaro opened #438 "bigip_iapp_template fails yet the iApp template when name with hyphen"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
bigip_iapp_template

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
[code]

##### SUMMARY
I have been using iApp templates in my lab, after few weeks and using the same ansible playbooks they have started failing when deploying the template with the msg: "Failed to create the iApp template".

The template is actu

[2017-11-13 15:19] alonsocamaro commented on #438
Please see the following attachment for full repro files

[for-tim.tar.gz](https://github.com/F5Networks/f5-ansible/files/1467368/for-tim.tar.gz)

Let me know if I can help any way

Thanks!

[2017-11-13 17:05] caphrim007 commented on #436
Ok, but are you putting the values in the spreadsheet, or is someone else?

Alternatively, you are the one that wrote the thing that converts it to yaml?

Does the spreadsheet contain a field for name? Partition?

[2017-11-13 20:34] ric79 commented on #436
yes the xlsx contains the partition name. i would like to avoid to ask the user to put the partition name in the creation command because I cannot check it.
I've seen that i can use something like tmsh -c "cd /<partitionname>; <monitor_command>" but with this approach I have to skip quotes...

At the moment I think I cannot remove the shell module for big_command. Sigh!

RR

[2017-11-13 20:56] caphrim007 commented on #436
@ric79 if you have both the partition name and the name of the monitor that you want to create, then you can specifically name the partition in the tmsh command and it will create it in that partition; without changing the directory like you do.

For example,

`tmsh create ltm pool /foo/my_pool` would create the pool in the `foo` partition even if i was in the `Common` partition when I ran the abo

[2017-11-13 20:57] caphrim007 commented on #392
@heterodyned I have released a new version of bigsuds that reverts the change i made in 1.0.5. Try it now

[2017-11-13 20:58] #392 closed

[2017-11-13 21:50] #438 closed

[2017-11-13 22:15] correiap opened #440 "Help on creating ASM Policies from a policy file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_asm_policy

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION
No special configuration other then:
[code]

##### OS / ENVIRONMENT
I've tried running it from a Windows 10 running WSL/Ubuntu and Mac OS X as well with the same results.

##### SUMMARY
I'm trying to create an ASM Policy f

[2017-11-13 22:45] caphrim007 commented on #440
@correiap what version of f5-sdk do you have?

[2017-11-13 22:49] caphrim007 commented on #399
(import_certificate.yml)
[code]

Use-Case: Importing wildcard SSL certificates

The yml from above (delimiting fqdn names by dash) works perfect but there are some conventions to follow
and I found out to be restricted with ansible instead of using BIG-IP GUI.

Use-Case1 (using dots):

[code]

Use-Case2 (using asterisks with dots):

[code]

Both use-cases are deployed by ansible with no errors but

[2017-11-13 22:56] cohoe opened #441 "Priority Group Activation settings for bigip_pool"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_pool

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Since pool member priority group setting was added in #106, I would like to control the Priority Group Activation settings on the pool. In my F5 the only options are "Disabled" or "L

[2017-11-13 22:56] caphrim007 opened #442 "add ability to load licenses in an "offline" manner"
today, bigip_license requires that your device be connected to the internet to active a device. This request asks for a means to support a means of activating a license "offline"

From Tony,

There are two supported methods of licensing a BigIP with the existing licensing module as I understand it:

Pass in the registration key, and the BigIP goes out to retrieve a license from F5.  Problem with t

[2017-11-13 23:00] caphrim007 commented on #429
Well, incredibly, this is actually a feature. The TMUI literally says "Remote IP", implying that it requires an IP address.

However, when you enter a hostname, it happily accepts it and also puts it in the REST payload.

[code]

Therefore, @drakrubt this is a valid feature request/bugfix

[2017-11-13 23:12] correiap commented on #440
@caphrim007 : How can I check it? It should be one of the latest, as I installed it, along with Ansible, last week.

[2017-11-13 23:20] correiap commented on #440
@caphrim007 : It's working! just upgraded the f5-sdk ("sudo pip install f5-sdk --upgrade")  and it is working fine, just saw that the newer f5-sdk was published 2 days ago.

Thanks a lot for the quick reply!

[2017-11-13 23:41] caphrim007 commented on #440
np, anytime.

for future reference, `pip install --upgrade f5-sdk`

[2017-11-13 23:41] #440 closed

[2017-11-14 01:39] correiap commented on #440
@caphrim007 could you send an invite to the slack channel?

[2017-11-14 05:41] caphrim007 commented on #440
@correiap email me at t.rupp @ f5.com so that I may add you

[2017-11-14 07:05] #429 closed

[2017-11-14 08:02] ric79 commented on #436
You are right. But this means that I have to parse the monitor code proposed by the user or to trust that the user add the partition name in the code. I don't like it. However thanks a lot for spending your time in answering to my dubts!

RR

[2017-11-14 08:02] #436 closed

[2017-11-14 08:03] ric79 commented on #436
You are right. But this means that I have to parse the monitor code proposed by the user or to trust that the user add the partition name in the code. I don't like it. However thanks a lot for spending your time in answering to my dubts!

RR

[2017-11-14 08:24] ric79 opened #443 "bigip_selfip.py develop@ansible vs your repo"
Hello,
I think that the current version of [bigip_selfip ](https://github.com/ansible/ansible/commit/02cd88169764232fd63c776456178fe61d3a214a )on develop repo of ansible is broken.
This code:
[code]
produces a selfip pointing to a wrong traffic group.
![x1](https://user-images.githubusercontent.com/6887824/32769730-5f4db9e2-c91d-11e7-96ce-a602f5370cb1.jpg)

The current version on your develop bran

[2017-11-14 09:15] #437 closed

[2017-11-14 15:20] caphrim007 commented on #443
@ric79 code in the f5-ansible directory is always more up-to-date than the code in ansible. Even if that "up to date" means that it is broken.

I think this module is sufficiently stable right now in f5-ansible that you can use it. Obviously, if it is not, you will want to let us know.

The difference you are seeing is likely a change that has happened in f5-ansible that has not yet been upstreame

[2017-11-14 16:56] #443 closed

[2017-11-14 17:20] caphrim007 commented on #432
@sajaltiwari have you had a chance to try the provided fix above?

[2017-11-14 23:41] #45 closed

[2017-11-15 00:39] devnullNZ opened #446 "bigip_command.py not honoring non-standard ssh ports in hosts file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Does not honor ansible_port setting in hosts file

##### STEPS TO REPRODUCE

In ansible hosts file, set non-standard ssh port for host. Using ansibl

[2017-11-15 04:45] #399 closed

[2017-11-15 05:16] caphrim007 commented on #446
@devnullNZ set the `server_port` variable and try that. The f5-ansible modules do not use ansible_* variables internally.

[2017-11-15 05:46] #62 closed

[2017-11-15 05:47] caphrim007 commented on #62
@johnatspark1 if you're still interested in this, it's going into 2.5

[2017-11-15 05:48] caphrim007 commented on #127
@mirzawaqasahmed the bigip_virtual_server module has been significantly updated recently. please try it out as it is being updated in ansible 2.5. I think this issue is no longer an issue with it.

[2017-11-15 05:48] #127 closed

[2017-11-15 05:49] #205 closed

[2017-11-15 05:50] caphrim007 opened #448 "Add convenience type to bigip_virtual_server for common VS types"
convenience types to add (so that one does not need to apply policies for everything) are,

* Forwarding (Layer 2)
* Forwarding (IP)
* Performance (HTTP)
* Performance (Layer 4)
* Stateless
* Reject
* DHCP
* Internal
* Message Routing

[2017-11-15 15:45] sajaltiwari commented on #432
Thanks its working wonderfully.

[2017-11-15 15:45] #432 closed

[2017-11-15 18:07] JoeReifel opened #449 "provision: 'minimal' choice should be changed to 'minimum'"
https://github.com/F5Networks/f5-ansible/blob/a4e3a10263247b77d6e4277cd6edba51e2e766c3/library/bigip_provision.py#L410

[2017-11-15 18:52] #449 closed

[2017-11-15 18:52] caphrim007 commented on #449
fixed. thanks for reporting this Joe!

[2017-11-15 19:44] #168 closed

[2017-11-15 19:46] caphrim007 commented on #412
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### TESTED VERSIONS

**Python 2.7**
- [ ] BIG-IP 12.0.0 (BIGIP-12.0.0.0.0.606)
- [ ] BIG-IP 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [ ] BIG-IP 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [ ] BIG-IP 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [ ] BIG-IP 12.1.1 (BIGIP-12.1.1.0.0.184)
- [ ]

[2017-11-15 21:47] devnullNZ commented on #446
Thanks Tim,

Added server_port: 2222
in the play

A tcpdump shows ansible now trying to connect on the correct port, but it throws a "method not found" error.

The full traceback is:
Traceback (most recent call last):
  File "/home/e069390/.virtualenvs/python3/lib/python3.5/site-packages/ansible/executor/task_executor.py", line 119, in run
    res = self._execute()
  File "/home/e069390/.virtualen

[2017-11-15 21:57] caphrim007 commented on #446
@devnullNZ are you using Ansible devel? we only added the cli stuff recently (like Ansible 2.5 recently) and that's not yet released so you need to run devel code in the meantime.

`pip install --upgrade git+https://github.com/ansible/ansible.git`

[2017-11-15 21:59] caphrim007 commented on #446
also, your logs say you're running in a virtualenv. have you set the ansible_python_interpreter in your hosts file or host vars?

[2017-11-15 22:12] devnullNZ commented on #446
Yep... running 2.5 development code in a lab setup.
I've got the interpreter set in the hosts file.. I'll see if I can't gather more info to narrow it down further.

[2017-11-16 00:22] caphrim007 commented on #412
this module is ready for upstreaming

[2017-11-16 00:52] caphrim007 commented on #412
PR is here

https://github.com/ansible/ansible/pull/32950

[2017-11-16 00:52] caphrim007 commented on #412
this is now merged

[2017-11-16 02:30] caphrim007 opened #452 "Remove 'append' param from bigip_snat_pool"

[2017-11-16 02:35] caphrim007 commented on #452
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### TESTED VERSIONS

**Python 2.7**
- [ ] BIG-IP 12.0.0 (BIGIP-12.0.0.0.0.606)
- [ ] BIG-IP 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [ ] BIG-IP 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [ ] BIG-IP 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [ ] BIG-IP 12.1.1 (BIGIP-12.1.1.0.0.184)
- [ ]

[2017-11-16 03:33] #452 closed

[2017-11-16 03:35] caphrim007 commented on #452
PR for this is here https://github.com/ansible/ansible/pull/32953

[2017-11-16 03:35] caphrim007 commented on #452
this is now merged

[2017-11-16 03:49] caphrim007 opened #453 "bigip_policy not removing rules"
when you have a list of X rules and you supply something less than X, the now removed rules are not removed from the device

[2017-11-16 04:41] #453 closed

[2017-11-16 05:19] caphrim007 opened #454 "changing vlans to "all" in bigip_virtual_server does not work"
Changing the enabled_vlans or disable_vlans from say ‘External’ to ‘all’ does not work.

Result is: Enabled on: but nothing selected, it should ideally go back to drop down ‘All vlans and tunnels’

[2017-11-16 06:59] #454 closed

[2017-11-16 19:00] chen23 opened #456 "support metadata object"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_pool, bigip_virtualserver

##### SUMMARY
Since 11.2.x BIG-IP has supported a "metadata" field for certain LTM/GTM objects.

https://support.f5.com/kb/en-us/products/big-ip_ltm/releasenotes/product/relnote-ltm-11-2-0.html

It would be useful to expose this to allow annotation of records that support metadata.

Something like:

[code]
Res

[2017-11-16 19:36] caphrim007 opened #457 "vcmp_guest module is not idempotent for vlans?"
payal is reporting an idempotency issue on her vcmp host. The following is not working for her.

[code]

This is a host that already exists, just updated the VLANS to it, the update works but when I run it again it is not idempotent

[2017-11-16 19:42] JoshPineda commented on #382
Please add me to this request as well. Currently there is no way to add a GTM VS to bigip_gtm_pool.

[2017-11-16 22:01] #457 closed

[2017-11-17 00:27] #355 closed

[2017-11-17 01:01] caphrim007 commented on #275
@torzillo is this syntax here `$DIAMETER-NODES_FOREIGNNET_Server_Range_Start`, specifically the dollar sign part, a variable that you included? or is it literally the bigip syntax?

[2017-11-17 01:14] caphrim007 opened #460 "updating policies on virtual_server not working"
in the event that the policies is none, an error is raised. Additionally, profiles are being returned instead of policies in some cases

[2017-11-17 01:27] #460 closed

[2017-11-17 01:58] torzillo commented on #275
This is a group variable defined in the env file.

On Nov 16, 2017, at 5:01 PM, Tim Rupp <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL MAIL: bounces+848413-2777-t.torzillo=f5.com@sgmail.github.com<mailto:bounces+848413-2777-t.torzillo=f5.com@sgmail.github.com>

@torzillo<https://github.com/torzillo> is this syntax here $DIAMETER-NODES_FOREIGNNET_Server_Range_Start, s

[2017-11-17 20:12] caphrim007 commented on #230
PR for this is here https://github.com/ansible/ansible/pull/33024

[2017-11-17 20:12] caphrim007 commented on #230
this has been merged

[2017-11-18 04:41] caphrim007 commented on #275
@torzillo do you have a suggestion for the names of these modules?

bigip_afm_(port_list|_address_list|_rule_list)
bigip_afm_policy

or should I use bigip_security_*?
or should I use bigip_firewall_*?

[2017-11-18 04:55] torzillo commented on #275
bigip_security because it more closely matches the tmsh convention.

On Nov 17, 2017, at 8:41 PM, Tim Rupp <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL MAIL: bounces+848413-2777-t.torzillo=f5.com@sgmail.github.com<mailto:bounces+848413-2777-t.torzillo=f5.com@sgmail.github.com>

@torzillo<https://github.com/torzillo> do you have a suggestion for the names of these mo

[2017-11-18 06:32] caphrim007 commented on #275
@torzillo so the following is what that would be?

bigip_security_port_list
bigip_security_address_list
bigip_security_rule_list
bigip_security_policy

Is that correct?

[2017-11-18 09:07] insidepacket commented on #418
any update for ETA?

[2017-11-18 09:09] insidepacket opened #464 "Create UDP health monitor in BIGIP LTM"
ISSUE TYPE

Feature Idea

COMPONENT NAME
Develop Ansible Module to UDP health monitor in BigIP LTM

ANSIBLE VERSION
Version 2.4

PYTHON VERSION

Python 2.7.5

BIGIP VERSION

Sys::Version
Main Package
Product BIG-IP
Version 12.1.2
Build 0.0.249
Edition Final

[code]

[2017-11-18 09:11] insidepacket commented on #464
The following fields are requested MVP1:

- Send String
- Recv String
- Interval
- Timeout change

[2017-11-18 20:23] #464 closed

[2017-11-18 20:30] caphrim007 commented on #464
@insidepacket try the module i just pushed

[2017-11-20 16:32] rainierpineda2 commented on #346
Unfortunately this does not work for me. It still returns an empty pool member list.

[2017-11-20 16:43] rainierpineda2 opened #465 "bigip_gtm_facts returns empty list"
Bug Report

##### COMPONENT NAME
bigip_gtm_fact

##### ANSIBLE VERSION
ansible 2.4.0.0
  config file = /home/apined12/f5_ansible/playbooks/ansible.cfg
  configured module search path = [u'/home/apined12/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /data/automation/pylibext/lib/python2.7/site-packages/ansible-2.4.0.0-py2.7.egg/ansible
  execut

[2017-11-20 16:45] jmcgill298 commented on #346
@rainierpineda2 are you sure that you are using this instance of the module? Can you remove all other copies of the module and test again? It works fine for me.

[2017-11-20 16:53] rainierpineda2 commented on #346
I have no rights to the other copies in site-packages so I copied the original one from one of the directories where it is originally installed into my own work directory under a folder called library. This is where I put all of the stuff in midstream development and it is here where the modules with changes are picked up. I guess Ansible hierarchy puts this first on the search path.

[2017-11-20 17:00] jmcgill298 commented on #346
modules in a `library` directory adjacent to the playbook or defined in ansible.cfg take priority. Did you make the adjustments to the copy? Can you share this method on the copy?

[2017-11-20 17:13] rainierpineda2 commented on #346
Thanks Jacob...It works for me now...my indents weren't properly placed. After an edit, it worked.

[2017-11-20 17:15] rainierpineda2 commented on #465
Please close. Jacob McGill's suggested solution worked. However, I'd like to comment and respectfully request Tim Rupp to have this fix should be included in the next Ansible 2.5 release. Many thanks and keep up the good work!

[2017-11-20 17:15] #465 closed

[2017-11-20 17:24] caphrim007 commented on #465
@rainierpineda2 any code changes in this repo should become upstream before 2.5. I think Jacob's fix is included.

[2017-11-22 15:44] spopplewell opened #469 "Add support to bigip_virtual_server for check_mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_virtual_server

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Please create check_mode functionality for the virtual server module.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Correct results on whether or not the virt

[2017-11-22 21:04] KSI-Brian-Rossmeisl opened #470 "Manage BIG-IP DNS Pools in a BIG-IP DNS WIP"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Manage (add/remove/last resort/etc) BIG-IP DNS (GTM) Pools in a BIG-IP DNS (GTM) WIP

[2017-11-23 00:12] KernelPicnic opened #471 "Hello I am not able to gather facts from Bigip Facts"
Hello I am not able to gather facts from Bigip Facts
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report
Bug Report

##### COMPONENT NAME

ansible facts
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I cannot gather facts from the F5 bigipve
###

[2017-11-28 18:18] JoshPineda opened #474 "bigip_license"
Bug Report

 ##### COMPONENT NAME
bigip_license

##### ANSIBLE VERSION
2.5

##### PYTHON VERSION
2.7.5

##### BIGIP VERSION
Sys::Version
Main Package
  Product     BIG-IP
  Version     12.1.2
  Build       1.0.271
  Edition     Hotfix HF1
  Date        Fri Apr 28 20:02:07 PDT 2017

##### LIBRARY VERSIONS
$ pip freeze | grep f5-sdk
f5-sdk==3.0.2
$ pip freeze | grep bigsuds
bigsuds==1.0.2

##### CON

[2017-11-28 19:07] JoshPineda commented on #474
I created a copy of the bigip_license into my own library directory to distinguish it from the other version I have which uses dossier_file and license_file as parameters. That one does not work either with a different error reported. The error for that is listed below:
TASK [License Device] ***********************************************************************************************************

[2017-11-28 20:28] rainierpineda2 commented on #471
From your error it seems you need to install bigsuds and suds. This is done via pip.

[2017-11-30 22:05] ismc commented on #261
Would a possible work around be to have one module that will accept an ssh key just to set the admin password?  That way, we could automate F5 bringup in cloud environments by setting the password from the vault, then using the other modules with that password.  Not optimal, but workable.

[2017-11-30 22:26] caphrim007 commented on #261
@ismc you can use the bigip_command via SSH to do this, though it requires the bash shell be enabled for the remote user.

[code]

[2017-12-01 00:22] ismc commented on #261
It still seems to want a password:
'''
fatal: [smc_f5_demo_F5]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "commands": "printf \"Cisc0123\\nCisc0123\\\" | tmsh modify auth password root",
            "interval": 1,
            "match": "all",
            "partition": "Common",
            "retries": 10,
            "server": "X.X.X.X",
            "

[2017-12-01 22:51] webminster commented on #269
This is definitely a +1 for us as well, our automation fails randomly due to this.   Would like to see this a priority.

[2017-12-01 23:08] jbidinger commented on #269
A big problem for us as well.

[2017-12-02 06:09] caphrim007 commented on #464
this is now upstream

[2017-12-02 06:48] caphrim007 commented on #45
this is now merged upstream

[2017-12-04 18:10] neozoolook opened #483 "bigip_virtual_server - add support for defining source in virtual, used extensively in afm use cases"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

standard ansible.cfg,

##### OS / ENVIRONMENT

N/A

##### SUMMARY

current bigip_virtual_server module has the ability to define 'destination, port, and mask' however there is no way to support the si

[2017-12-04 18:30] caphrim007 commented on #483
@neozoolook this is the "Source Address" field in TMUI?

[2017-12-04 19:11] neozoolook opened #484 "bigip_command - fails with could not find imported module support code"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

default ansible.cfg

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

Working playbooks leveraging bigip_command module, when moving up to current dev library, this playbook is r

[2017-12-04 19:14] neozoolook commented on #483
@caphrim007 yes I believe that is the case.

[2017-12-04 19:16] neozoolook commented on #484
Another playbook using bigip_command, looks like this is broke all my plays leveraging this module now;

[code]

[2017-12-04 19:18] caphrim007 commented on #484
@neozoolook this is a change that is reflected in Ansible 2.5 devel. ensure that is installed.

[2017-12-04 19:25] neozoolook commented on #484
@caphrim007 ok understand, will work off 2.5 dev, was trying to avoid this as other development in lab requires 2.4.  Thanks.

[2017-12-04 19:29] caphrim007 commented on #484
@neozoolook alternatively you can view the history for the bigip_command file and get a previous rev.

We have to keep the f5-ansible repo up-to-date with devel at this time.

[2017-12-04 19:54] neozoolook commented on #484
@caphrim007 was able to validate I'm good on 2.5 with the library.  Closing issue, thanks again.

[2017-12-04 19:54] #484 closed

[2017-12-05 00:22] Rotorouter opened #486 "bigip_command returning "Could not find imported module support code""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2017-12-05 01:12] caphrim007 commented on #486
@Rotorouter this module requires Ansible 2.5 devel as of a couple days ago

[2017-12-05 01:16] Rotorouter commented on #486
OK, thanks Tim. Is there an older version of the module that will work with Ansible 2.4.2? We have no other way to add to GTM pools, etc.

[2017-12-05 01:22] caphrim007 commented on #486
@Rotorouter yes, you can view the "History" tab of the file and checkout one of the earlier ones

[2017-12-05 01:23] Rotorouter commented on #486
ok, thanks.

[2017-12-05 21:17] caphrim007 opened #487 "add module for managing AFM port lists"
create security firewall port-list DIAMETER-TCP description "Diameter over TCP" ports add { 3868 }

create security firewall port-list SFTP-TCP description "SFTP over TCP" ports add { 22 }

[2017-12-05 21:17] caphrim007 commented on #275
#487 blocks

[2017-12-05 21:18] caphrim007 opened #488 "add module to manage AFM address lists"
create security firewall address-list DIAMETER-NODES-FOREIGNNET { addresses replace-all-with { 10.10.10.10-20.20.20.20 { } } description "Covers DIAMETER-NODES FOREIGNNET Range on TRUSTEDNETWORK Protected Net" }

create security firewall address-list DIAMETER-NODES-PARTNERNETWORK-BILLING-DRA { addresses replace-all-with { 1.1.1.1 { } 2.2.2.2 { } } description "Covers DIAMETER-NODES PARTNERNETWORK

[2017-12-05 21:18] caphrim007 commented on #275
#488 blocks

[2017-12-05 21:18] caphrim007 opened #489 "add module to manage AFM rule lists"
[code]

[2017-12-05 21:19] caphrim007 commented on #275
#489 blocks

[2017-12-05 21:19] caphrim007 opened #490 "add module to manage afm policies and assigning rules to them"
create security firewall policy DIAMETER-NODES-POLICY-UDR-IPV4 { description "Policy for DIAMETER-NODES UDR IPv4" rules replace-all-with { DIAMETER-NODES-UDR-RULES { rule-list DIAMETER-NODES-RL-UDR-IPV4 } } }

[2017-12-05 21:19] caphrim007 commented on #275
#490 blocks

[2017-12-05 21:20] caphrim007 opened #491 "allow virtual server module to consume an AFM firewall policy setting"
modify ltm virtual TRUSTEDNETWORK-PROTECTED-NET-UDR fw-enforced-policy DIAMETER-NODES-POLICY-UDR-IPV4