[2015-12-24 14:07] net592 opened #1 "Hello, ask if there is any, know installation documentation, novice, I'm not sure how to load a new module."
Thank you, but I am a novice, don't know how to load into ansible, I am using version 2.1, is there a simple and practical, the official community module with more no, thank you very much!!!!!

[2015-12-24 15:08] caphrim007 commented on #1
@net592 at the moment the simplest way to load these modules is to clone this repository and use them locally by placing them in a library/ directory alongside your playbooks. There will be a couple more ways to install these in the future when ansible makes galaxy 2.0 available.

Aside from that I hope to see some of these modules upstreamed into ansible core and have this repository around as an

[2015-12-25 01:55] net592 commented on #1
Thank you very much, patient answer, I will try it ~

[2016-01-24 21:58] rogerscuall opened #2 "Problems with simplejson"
This is first time I try this modules for F5, I was trying to run a module "bigip_command" and I'm receiving this error:

msg: Error: ansible requires the stdlib json or simplejson module, neither was found!

This is my playbook:
[code]
Another question: Do I have to specify the server again?
Thanks.

[2016-01-24 22:39] caphrim007 commented on #2
@rogerscuall you have the right idea, you're just missing a `delegate_to` line. You need to delegate these tasks to be run on the ansible host itself because BIG-IP does not, as you can see from the error, have JSON python modules available.

So for your example, try this.

[code]

To your second question, the `server:` argument to the module specifies the BIG-IP to connect to, so you can usually

[2016-01-24 23:13] rogerscuall commented on #2
I appreciate your quick response.
I have updated the playbook to look like this:
[code]

My hosts or inventory file is now like this:
[code]

But I keep receiving an error that I do not comprehend:
[code]

As a side note, reading the module looks like user is not required but I got an error when I did not use it.
Thanks.

[2016-01-25 01:10] caphrim007 commented on #2
Does the user that you're using there have a shell set in BIG-IP? I think the admin account, by default, doesn't have an interactive shell (tmsh or bash)?

[2016-01-25 01:17] rogerscuall commented on #2
Yes, I've modified admin to have advance shell access.
<img width="1135" alt="screen shot 2016-01-24 at 8 14 57 pm" src="https://cloud.githubusercontent.com/assets/5758351/12540436/45fb7b4e-c2d7-11e5-8a00-b8dcbd168c0b.png">
So when I connect I go directly into linux and then from there I can do tmsh commands.

[2016-01-25 06:08] caphrim007 commented on #2
Can you remove lines 211 and 212 from the bigip_command.py file and see if that provides a more verbose exception that we can use to pinpoint the problem?

[2016-01-25 16:25] rogerscuall commented on #2
Here is the output:
[code]

[2016-01-25 17:07] rogerscuall commented on #2
I have tried this in version 11.6 and version 12. I have the same problem in both.

[2016-01-25 17:11] caphrim007 commented on #2
This leads me to think that the bigip hostname you're using is not in DNS or the local hosts file.

If you do a ping of ltm1, does it respond?

If so, then a common pattern I've seen and used to handle cases where "it might be in DNS or it might be in my ansible inventory" is to use the following in your server: argument.

{{ ansible_ssh_host | default(inventory_hostname) }}

This will prefer the

[2016-01-25 18:18] rogerscuall commented on #2
I have added entries in /etc/hosts for the LTM2. So I can ping using names. I have modified the playbook to look like this:
[code]
The inventory is just two lines:
[code]
This is the output:
[code]
What is very weird because I have "host_key_checking = False".
Thanks.

[2016-01-25 18:27] caphrim007 commented on #2
Ok, add this one last line to your command and see if it has an effect.

`validate_certs: "no"`

so all together it would look like this.

[code]

Lemme know.

[2016-01-25 18:49] rogerscuall commented on #2
Ok you nailed, that was the issue.
By the way the documentation of the module shows user as not required and I think it is.
Thanks.

[2016-01-25 18:53] caphrim007 commented on #2
Thanks @rogerscuall. I'll push a change to document this and I will also add some more use examples and take our thread here into account so that folks wont hit this roadblock again. Much appreciate you hanging in there while we got to the bottom of this!

[2016-01-25 18:59] rogerscuall commented on #2
Thanks @caphrim007, for your help.

[2016-02-05 17:42] hemskgren opened #4 "bigip_partition"
Hi

It feels like the bigip_partition.py is a copy if bigip_sysdb.py but not ready.

ansible-doc -M bigip_partition talk about sysdb.

Regards
Christer

[2016-02-05 17:47] hemskgren opened #5 "feature request routeing"
Hi

I missing a module to add static route /default route both in Common but preferred in Partition/RD.
Then I can convert from bigsuds to ansible for base deployments.

Regards
Christer

[2016-02-05 18:15] caphrim007 commented on #4
Indeed. I think this module is still under development and was probably copied from an existing module. Marking as a bug to address moving forward

[2016-02-05 18:16] caphrim007 commented on #5
Do you have an existing bigsuds script that you would be able to share via a gist or something so that I could mock up a module?

[2016-02-05 20:51] hemskgren commented on #5
Hi

Add and remove route via bigsuds like this?

!! create (default)route in Partition LB-EXT
import bigsuds
b = bigsuds.BIGIP(hostname ='10.1.1.10',username='admin',password='admin',debug=True)
#
b.Management.Partition.set_active_partition('LB-EXT')
#
print "# show/add/show Static RouteTable list:"
print(b.Networking.RouteTableV2.get_static_route_list())
b.Networking.RouteTableV2.create_static_ro

[2016-02-05 20:54] caphrim007 commented on #5
Thanks! That helps!

[2016-02-13 00:00] hemskgren opened #6 "bigip_selfip in RD"
Hi

The bigip_vlan have the option to add vlan in Route_domain.
But i missing the option to add selfip in Route_domain.

From bigsuds script.

b.Management.Partition.set_default_route_domain(partitions = ['LB-EXT'],route_domains = ['7'])
#

b.Management.Partition.set_active_partition('LB-EXT')
#

print "# Set Vlan IP:"
print(b.Networking.SelfIPV2.get_list())
b.Networking.SelfIPV2.create(self_ips =

[2016-02-18 20:05] caphrim007 commented on #6
@hemskgren from what I'm able to make of your example and the SOAP docs, it looks like this request (and even the VLAN one, but I have to look at the API) may be best served by the bigip_partition module coupled with this module.

I know the bigip_partition module is incorrect right now, so I'm adding code to make it correct. When it is done would you be content to have it accept a route_domain pa

[2016-02-18 22:43] caphrim007 commented on #4
@hemskgren I've merged the changes for bigip_partition. It passes the tests provided in the tests/ directory, so have a go at it and see if it works for you too.

[2016-02-18 22:43] #4 closed

[2016-02-18 22:44] #2 closed

[2016-02-22 20:59] hemskgren commented on #6
Hi

That shuld work now when partition work.
I tried to add selfip to a vlan not in /common it passed but no IP was set.

If you add Rd/partition option I will verify.

Regards
Christer

[2016-02-22 21:04] hemskgren commented on #4
Hi

Works fine with /Common and dedicated routedomain option.

Regards
Christer

[2016-02-22 21:09] hemskgren opened #7 "Bigip_rd"
Hi

A bigip_Rd/routedomain module would be great for mssp environment.

Regards
Christer

[2016-02-22 21:27] caphrim007 commented on #6
OK, lemme address and test the vlan request. I'll update this issue when its ready to be tested by others. Thanks!

[2016-02-22 21:29] caphrim007 commented on #4
Thanks for test @hemskgren !

[2016-03-14 22:38] festango opened #8 "bigip_software BigIpCommon#iso_info does not return result"
Line 571 of bigip_software.py does not return result to collar that causes failure installtion. Adding 'return result' to the function seem to fix the issue.

[code]

[2016-03-14 23:08] caphrim007 commented on #8
I think I've fixed this now. Thanks!

[2016-03-14 23:08] #8 closed

[2016-03-16 04:56] gormeroth opened #10 "bigip_irule module not idempotent in ansible 2.1"
I know that ansible 2.1 isn't a stable release yet, but there are some bug fixes for f5 extras modules that are necessary.  However, when switching from 1.9.4 to 2.1, idempotence no longer works.  This happens with the most basic level:

- name: Create testproduct iRules
  local_action: >
    bigip_irule
    name=testproduct1_irule
    content="{{ lookup('file', 'testproduct1_irule.tcl') }}"
    s

[2016-04-27 19:50] jcshelby opened #12 "bigip_virtual_server issue"
Hi - I have a quick question. I'm working with this module and am attempting to create a VS according to the documentation provided on Ansible's website. Currently the module is failing to build the VS as specified on my F5 in the lab. The message I am receiving is msg: received exception urlopen error [Errno -5] No address associated with hostname. I'm using Ansible v2.2.0 last updated this morni

[2016-04-27 20:01] caphrim007 commented on #12
can you post the playbook you're using so I can look?

[2016-04-27 21:11] jcshelby commented on #12
Thanks for taking a look at this. I've attached the playbook as requested.` - name: Create a VIP in my BIG-IP
 78          bigip_virtual_server:
 79                    server: '10.0.32.l50'
 80                    user: 'admin'
 81                    password:
 82                    state: 'present'
 83                    partition: 'Common'
 84                    destination: '3.3.3.4:80'
 85

[2016-04-27 21:32] caphrim007 commented on #12
what does your "hosts:" and "connection:" lines say in the playbook?

[2016-04-27 21:36] jcshelby commented on #12
Hosts is the IP address of the F5 (10.0.32.150) and the connection is local

[2016-04-27 22:33] caphrim007 commented on #12
Ok, what is the ansible-playbook command being run and the contents of your inventory file? Can you try setting the hosts: line to "localhost" and see if it has any effect?

[2016-04-27 22:38] jcshelby commented on #12
I'm running ansible-playbook <name_of_playbook> -vvvvv. The inventory file is the stock inventory file with a single host which is the IP address of the same F5 I'm testing against

[2016-04-27 22:41] jcshelby commented on #12
I just changed both the playbook and the inventory file to localhost and it had no effect on the behavior that I'm seeing

[2016-04-27 23:04] caphrim007 commented on #12
are you using ipv6 on any interface? ipv6 in your hosts file? I suspect this is a linux issue and not an issue with the library.

[2016-04-28 00:36] jcshelby commented on #12
IPv6 isn't configured but there are entries for IPv6 addresses in /etc/hosts/ and on my interface. This would be the out of the box configuration native to Fedora

[2016-04-28 14:21] buzzsurfr commented on #12
@jcshelby: I just noticed that the linked file has the IP as 10.0.32.l50 instead of 10.0.32.150 (lowercase L instead of 1).  Can you confirm it's correct on your instance?

I was able to take your file and run a playbook against my lab in Ansible 2.2.0 (virtualenv)

[2016-04-28 14:44] jcshelby commented on #12
Thanks for noticing that - not sure how I missed it originally since I usually cut/paste those lines. Always helps to have a second pair of eyes on something. It works now - much appreciate the attention to this. I'll try to make any questions I have in the future a little more interesting

[2016-04-28 15:50] caphrim007 commented on #12
@buzzsurfr you have eyes like a hawk! Well done sir!

[2016-04-28 15:50] #12 closed

[2016-05-20 12:31] buzzsurfr opened #16 "Module Template"
Between different versions of BIG-IP, SOAP/REST, and differing python modules--it's difficult to determine where to start writing a new module.  There's different versions of the module framework present throughout the modules.

There needs to be a template to distinguish how to tie all the components together, and separate some of the logic between the API call and the method used.  Possibly incl

[2016-05-20 12:41] buzzsurfr commented on #16
Also, I did see [GUIDELINES.md](https://github.com/F5Networks/f5-ansible/blob/master/GUIDELINES.md), but I think we should expand to include the full framework (DOCUMENTATION, EXAMPLES, RETURN, the classes, etc.)

[2016-05-23 21:43] caphrim007 commented on #16
@buzzsurfr lemme know if these are sufficient

https://f5-ansible.readthedocs.io/en/latest/development/guidelines.html

and

https://f5-ansible.readthedocs.io/en/latest/development/writing-a-module.html

[2016-05-24 14:42] buzzsurfr commented on #16
@caphrim007 the latter, specifically.  Thanks!

[2016-05-24 14:42] #16 closed

[2016-05-24 16:16] caphrim007 commented on #16
I have to add some more steps concerning the testing bits and fix some formatting but I think the meat of it is there

[2016-06-03 15:52] jcshelby opened #17 "JSON Formatted Playbook"
Hi - I'm working a way to generate our playbooks dynamically and am wanting to format them in JSON instead of YAML. I've pretty much figured out how to do this, but am running into issues when I try to include the parameters specified in the module (ex. server, user, etc.) as a list value to a dictionary key (specifically I'm told that the parameter doesn't support a list). Do you have any insight

[2016-06-10 18:04] caphrim007 commented on #17
@jcshelby which error were you receiving?

Here's an example of what the code looks like in YAML

[code]

The parameters to the module, as you were told, do not support a list. For this module, the parameters are just key=val entries.

[2016-06-13 15:19] jcshelby commented on #17
Tim:
Thank you for your response. I was actually able to figure out part of my issue using a dictionary containing multiple key-value pairs rather than an array (list), which is what it looked like when I initially reviewed the YAML. With that done the JSON now looks to be correctly formatted for the playbook, but I'm now getting an error where it's saying "the field hosts is required but was not

[2016-06-14 22:36] caphrim007 commented on #7
@hemskgren this should now be available. as of this commit 7f2cfb. Give it a whirl

[2016-06-14 22:36] #7 closed

[2016-06-15 04:36] caphrim007 commented on #17
@jcshelby try this

[code]

It worked for me on my test box

[2016-06-20 13:59] jcshelby commented on #17
Thanks! That worked perfectly. Would you have a guideline for how the YAML formatting in your playbook examples would convert to JSON? I attempted to use an online YAML to JSON converter but there were some formatting issues that it couldn't parse. I apologize if these questions are overly simplistic; I'm still very new to YAML and programming in general. Also, would there be a better way to ask q

[2016-06-20 15:44] caphrim007 commented on #17
Can you elaborate on what couldn't be parsed? It might be a syntax error on my part.

Generally we ask that folks use the Ansible mailing list for questions about F5 modules that *ship* with Ansible, and use this forum for modules that *do not ship* with Ansible.

[2016-06-21 22:22] jcshelby commented on #17
Honestly I only copied and pasted the YAML from the website to an online conversion tool to try and understand what the underlying JSON structure was so I could convert this into my script. As a result of this I didn't get more information than the YAML wasn't correctly formatted. I'm sure this was most likely a cut and paste issue on my part given that YAML is sensitive to indentation.

So since

[2016-06-21 23:32] caphrim007 commented on #17
Yeah, for now you can communicate over this channel if a specific module does not exist. We also hangout on the ansible mailing list, so we'll usually see something if you mention "F5" in the subject.

Over time these modules will begin to go into the Ansible core product, so more of the ansible mailing list will be able to assist, but we'll probably continue to remain the foremost authorities on

[2016-06-22 20:23] caphrim007 commented on #10
@gormeroth I believe the recent update I made to the irule module should make it work again. Please try it out and let me know. If it still does not, I might need to see the irule in question to figure out why it is not working.

[2016-06-22 20:23] #10 closed

[2016-06-23 12:55] jcshelby commented on #17
Tim:

That sounds good. That makes sense; thanks for taking the time to explain that to me with regards to the action types. Is there some documentation on those and their use cases?

That also makes sense about YAML and JSON; I had been using the JSON library to create the JSON-formatted playbook but I didn’t think about using it to translate between the two. One other question I had – why in som

[2016-06-23 18:29] caphrim007 commented on #17
Sure. It's described in more detail in the Ansible documentation on delegation here.

http://docs.ansible.com/ansible/playbooks_delegation.html

The reason for the difference in examples is entirely due to the different contributors that provided samples before I stepped in and took over much of the development. Until that time, there were no coding conventions to reference when developing modules

[2016-06-23 21:17] hemskgren opened #19 "bigip_vlan"
Hi

I installed latest f5-ansible and f5-common-python today and get this.
An other older installation works.

Regards
Christer

ansible-playbook -vvv f5-make.yml
Using /etc/ansible/ansible.cfg as config file

PLAYBOOK: f5-make.yml **********************************************************
3 plays in f5-make.yml

PLAY [Deploy customer in loadbalancer] *****************************************

PLA

[2016-06-23 21:18] caphrim007 commented on #19
which version of ansible? we're building modules off of the 2.x branch of
code

On Thu, Jun 23, 2016 at 2:17 PM, Christer Hemgren <notifications@github.com>
wrote:

[2016-06-23 21:19] hemskgren commented on #19
ansible 2.1.0.0

[2016-06-23 21:22] caphrim007 commented on #19
hmm, seems to be that the vlan module is incomplete. I should have an updated version by friday that should work

[2016-06-23 21:23] caphrim007 commented on #19
can you check to see what the contents of your f5.py module is in your ansible module_utils/network/ directory? It should include verbiage for server_port.

[2016-06-23 22:19] hemskgren commented on #19
correct, server_port was missing.

[2016-06-23 23:45] caphrim007 commented on #19
That might have come in one of the recent roll-up releases? Or maybe it's
slated for 2.2

On Thu, Jun 23, 2016 at 3:19 PM, Christer Hemgren <notifications@github.com>
wrote:

[2016-06-24 18:56] caphrim007 commented on #19
@hemskgren I pushed an updated version of the bigip_vlan where I suspect that all functionality is now there. Can you check?

[2016-06-27 09:14] hemskgren commented on #19
Hi

The module works now,
But I do not understand how to  add a vlan as taged to a interface or trunk!!?

Christer

[2016-06-27 22:57] jcshelby commented on #17
Tim:

Excellent – thank you for providing that documentation. It’s very helpful in understanding this.

That makes sense regarding the consistency. I’m glad that seems to have been addressed. The information about key/value pairs vs complex arguments is also very helpful. I very much appreciate you taking the time to send all of that over.

I think that’s all of my questions for now but I’ll defin

[2016-07-13 20:04] jcshelby commented on #17
Another question for you if you don't mind. How can I add multiple hosts (distinct server IP addresses) as an argument in a JSON formatted playbook? The use case would be creating a pool with multiple servers available rather than just a single member. I tried using a list of IP address as value for the host key, but this didn't work.  Example below. Thanks in advance for your assistance.

"bigip_

[2016-07-13 21:08] caphrim007 commented on #17
@jcshelby hosts are specified as a string which is colon separated. So simply,

`"hosts": "vms-bigip:vms-bigiq"`

hope that helps

[2016-07-26 15:49] jcshelby commented on #17
Tim:

Apologies for the long reply – I’ve had to focus on a couple other things as a priority and am now able to focus back on this. I tried the syntax suggested below but received an error stating:

1.     The requested object name (10.0.38.80:10.3.100.73) is invalid

2.     The syntax for my JSON playbook is:

a.      “host” : “10.0.38.80:10.3.100.73”, (with a comma preceding the argument)

Resp

[2016-07-26 16:10] caphrim007 commented on #17
@jcshelby what module are you trying to use?

[2016-07-26 16:13] jcshelby commented on #17
Tim:

I'm using bigip_pool. I'm running Ansible v2.2.0 (devel 4cc4dc6793) from source and last updated on 2016-07-19

[2016-07-26 16:14] caphrim007 commented on #17
can you post the content of the playbook itself?

[2016-07-26 16:19] jcshelby commented on #17
Tim:

Playbook contents are below. I've added a few empty strings where some internal data was, but otherwise this is exactly what I'm trying to run.

{"connection": "local", "tasks": [{"bigip_pool": {"port": "80", "state": "present", "partition": "Common", "user": "admin", "name": "", "lb_method": "round_robin", "password": "", "validate_certs": "no", "host": "10.0.38.80:10.3.100.73", "server": "

[2016-07-26 16:21] jcshelby commented on #17
For what it's worth, I did confirm that this is valid JSON

[2016-07-26 16:39] caphrim007 commented on #17
Your problem is that you're specifying multiple IP addresses in a task argument (field) that expects only a single IP address.

What you want to use in Ansible is an iterator that includes all of the IP addresses of the hosts that you want in the pool.

Here is an example of the JSON to do that.

[code]

And here is YAML

[code]

[2016-07-26 21:51] jcshelby commented on #17
Tim:

That worked perfectly. I did make one change and that was to use the hosts key in the bigip_pool playbook to consolidate that work into a single playbook. Otherwise I use everything exactly as specified and it worked out great. As always thank you for the assistance with this. One question - do you have a preferred resource (aside from their documentation) for learning about Ansible? I'd lik

[2016-07-26 23:12] caphrim007 commented on #17
I learned most of it just by having a problem and then asking questions. Their documentation is decent imho. I reference the module index frequently, but other than that, for me the best way has been the proverbial googling "ansible ...." and sifting through the results. Their mailing list is also a good source of information.

[2016-07-27 23:54] caphrim007 commented on #19
@hemskgren is this what you were looking for? https://github.com/F5Networks/f5-ansible/blob/master/library/bigip_vlan.py#L32

[2016-07-29 22:32] jcshelby commented on #17
Tim:

Agreed and that makes sense. I've been doing that as well but am always on the lookout for anything else that might be helpful. As of now I think I'm good. I really appreciate all of the help and will reach back out if I run into anything else. Thanks again for everything!

[2016-07-29 23:02] caphrim007 commented on #17
Sure thing. I'm going to close the issue for now, but feel free to open other issues if you have questions in the future. Otherwise, the ansible mailing list is usually knowledgable and friendly.

[2016-07-29 23:02] #17 closed

[2016-08-09 09:00] tkam8 opened #21 "Update Module descriptions/synopsis"
Hello,
I'd like to raise an issue for the purpose of updating the below modules with a proper description/synopsis.

bigip_dns_record_facts (E) - foo
bigip_iapp_service (E) - foo
bigip_iapp_template (E) - foo
bigip_snmp (E) - foo

[2016-08-09 15:13] caphrim007 commented on #21
@tkam8 thanks for pointing this out! I will add them to the dev log.

[2016-08-15 07:50] taka379sy opened #22 "bigip_node.yml error"
bigip_node.yml will result in an error .
[code]

Change before
[code]
After the change
[code]
After the correction , now OK.

[2016-08-15 16:10] caphrim007 commented on #22
This error was due to a lack of merging in upstream on my part. The fix was made upstream and I had yet to bring said fix into the repo here

[2016-08-15 16:10] #22 closed

[2016-08-16 14:04] fieldedge commented on #21
Hello,

Looking at Synopsis on the following site, what is "foo" supposed to mean?
https://f5-ansible.readthedocs.io/en/latest/modules/list_of_all_modules.html

They seem to not be completed. If it means "not completed", please add it to be more clear.
Thanks,

[2016-08-16 15:59] caphrim007 commented on #21
@fieldedge yes, modules that are not completed can take a number of forms. Some of the ones that you have noticed include boilerplate code so that I can keep track of what still needs to be written, or so that users will know what is in the pipeline.

There are two ways to know whether something is complete or not.

1. If it's in ansible upstream, it's complete.
2. If the module's test playbooks h

[2016-08-16 15:59] #21 closed

[2016-08-26 18:01] #19 closed

[2016-08-26 18:04] caphrim007 opened #24 "testing and usage of the ssl_certificate module"
There has been a fairly significant refactor of the ssl_certificate module to allow for modifying certs in place. Additionally, some argument names have changed to meet ansible-isms that are commonly used.

@waffie1 I'd like to make sure that these changes still offer a consistent user experience for you. Can you test them? In the roles/__bigip_ssl_certificate/tasks/main.yaml file you can find exa

[2016-09-02 00:50] erjac77 opened #25 "bigip_facts not working"
Hi,

When I try to get facts from a BIG-IP system using the f5-ansible module, I get the following error:

[code]

Here my playbook:

[code]

Thank you.

[2016-09-02 01:59] caphrim007 commented on #25
@erjac77 can you post when version of bigip you're using and python version?

[2016-09-02 02:42] erjac77 commented on #25
Sure.

BIG-IP 11.6.0 Build 0.0.401
Python 2.7.5

[2016-09-02 02:52] caphrim007 commented on #25
One other thing, how about the version of ansible? I suspect I know the problem

[2016-09-02 02:56] erjac77 commented on #25
Ansible 2.2.0

[2016-09-02 03:24] caphrim007 commented on #25
@erjac77 can you pull down a copy of the bigip_facts that is part of this repo and try it to see if the recent commit I made fixes the problem?

[2016-09-02 03:54] erjac77 commented on #25
Fantastic, it works! That was fast!!

[code]

[2016-09-02 04:09] caphrim007 commented on #25
Good to hear. I'll upstream this tomorrow. Thanks for the report!

[2016-09-02 04:09] #25 closed

[2016-09-02 19:27] waffie1 commented on #24
Ok, I will check it out.

[2016-09-05 15:30] erjac77 opened #26 "Add Application Service (iApp) support"
##### ISSUE TYPE

- Feature Idea

Add support to f5-ansible for managing Application Services (iApps).

f5-sdk should be used for this.

[2016-09-06 01:18] slavkv opened #27 "bigip_command fails to run"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

bigip_command
##### ANSIBLE VERSION

[code]
##### PYTHON VERSION

[code]
##### BIGIP VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS X, 10.11.6
Ansible was installed following http://f5-ansible.readthedocs.io/en/latest/usage/getting_started.html
pip install virtualenv
virtualenv ansible2
. ansible2/bin/activate
pip install

[2016-09-06 02:13] slavkv commented on #27
Ok. Looks like the issue is that connection can't be established to my F5 box until I add very weak SSL ciphers in bigip_command.py before "resp = requests.get(uri,"
`requests.packages.urllib3.util.ssl_.DEFAULT_CIPHERS += ':RC4-SHA'`

Now it fails with "Failed to query the REST API to check appliance mode" which is expected.

How about to add a flag into bigip_command.py to specify if module shoul

[2016-09-06 16:18] caphrim007 commented on #26
Since we have boilerplate for this already, I can start there.

@erjac77 so you have a preference for iApps vs iAppLX as a place to start? (Assuming I would provide both eventually)

[2016-09-06 16:25] caphrim007 commented on #27
@mhite is there an existing precedent like this in any modules that you know of? Figuring we can probably add this if the user knows ahead of time if they are using a configuration that would be raising errors like this.

@slavkv can you give me more feedback on this so that I can address it in notes for the module? Are you using a non-admin account? Is it just the weak cipher that is needed? Some

[2016-09-06 17:53] erjac77 commented on #26
Plain iApp for now. Can I give you a hand?

[2016-09-06 18:04] caphrim007 commented on #26
@erjac77 sure thing, I'd be happy to entertain PRs.

[2016-09-06 18:29] mhite commented on #27
@caphrim007  -- I can't think of an existing precedent. Does the F5 REST https daemon only support  insecure ciphers during TLS setup? If so, it sounds like we should provide instructions on how to bring that up to date on the F5.

I took a quick look at the code, and it sounds like this initial discovery using REST is only used to determine whether or not paramiko commands need to be prefaced wit

[2016-09-06 18:33] caphrim007 commented on #27
Yes, the initial REST call is used to determine if the user account being used to access the system has their shell set to tmsh or bash. It's just a convenience so that the user does not need to know what shell they are using when connecting to the BIG-IP. Additionally, if you had multiple BIG-IPs with different shells for the user, it would "just work" with a single task.

It should support more

[2016-09-06 20:12] mhite commented on #27
Do you think you can determine this using paramiko alone? IE. detect whether you see '(tmos)#' at the end of a prompt line and make the appropriate changes to the command payload.

[2016-09-06 20:21] caphrim007 commented on #27
Hmm. maybe? guess I'll have a look-see

[2016-09-06 22:20] slavkv commented on #27
@caphrim007, root account. root can't login into HTTPS interface.
Also, if I use default Admin account -> it can't login to SSH.
If a person works in a small company, then he does not need to create another account, as he can use 'admin' for web interface and 'root' for SSH.

And yes, it's possible to determine shell time based on shell prompt.

I just found docs confusing saying the module uses S

[2016-09-06 22:22] slavkv commented on #27
@caphene , that's how I changed bigip_command.py module
https://github.com/slavkv/f5-ansible/commit/1133f8ab948f27621f4a49cadeb682ff03b722f6

[2016-09-06 22:31] caphrim007 commented on #27
@slavkv thanks for that gist. So for my own testing purposes, I would be able to see the same errors you saw if I configured my user accounts to have the limitations you mentioned, right?

Would a suitable fix (in the same spirit of your gist) be to discard the HTTPS checks all together and have a `shell` argument which defaults to `None`. When it is set to "tmsh" or "bash" it would do the appropr

[2016-09-06 23:21] slavkv commented on #27
@caphrim007 Agree, sounds good.

[2016-09-21 18:45] dbeckham opened #28 "bigip_selfip fails when using traffic_group parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
F5 bigip (bigip_selfip)

##### ANSIBLE VERSION

[code]

##### F5 BIGIP LTM VERSION
[code]

##### PYTHON VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Alpine 3.4 (Docker Container)

##### SUMMARY

If the `traffic_group` parameter in the `bigip_selfip` module is set to a valid traffic group that exists on the remote device suc

[2016-09-21 19:01] caphrim007 commented on #28
i believe this may be due to the way that traffic group names are enumerated by the module. i will take a look

[2016-09-21 19:33] caphrim007 commented on #28
@dbeckham I've pushed a change to the selfip module into this repo. Can you test? thanks!

[2016-09-22 16:12] dbeckham commented on #28
Yes, this fixed the issue. I can now explicitly specify a group name like `traffic-group-local-only`, and it also fails as expected when a non-existent group name is used.

That was a pretty crazy fast response. Thank you!

[2016-09-22 16:36] caphrim007 commented on #28
@dbeckham np, tell your friends. I'll upstream this fix right now

[2016-09-22 16:36] dbeckham opened #29 "bigip_user produced unhandled Python exception AdminRoleNoModifyError"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

F5 bigip (bigip_user)
##### ANSIBLE VERSION

[code]
##### PYTHON VERSION

[code]
##### F5 BIGIP LTM VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Alpine 3.4 (Docker Container)
##### SUMMARY

When attempting to modify the root user's password using `bigip_user`, an unhandled Python exception is thrown with the error `NameErro

[2016-09-22 16:50] caphrim007 commented on #29
you are correct on both points.

- it needs bigip 13.x because prior to that version bigip did not correctly list usernames when they were specified on partitions other than /Common.
- it should raise a better error (the error is clearly a bug)

I think this module may still be in the development phase, but even if it is, that there are folks using it is reason enough to accelerate its development

[2016-09-22 16:59] caphrim007 commented on #28
@dbeckham this upstream PR has been opened to fix this issue in 2.2 https://github.com/ansible/ansible-modules-extras/pull/3009

[2016-09-22 18:30] manuadoor commented on #6
Are we talking about the issue of not having an option to create a self IP for a Vlan in a different route domain other than "0"?

[2016-09-23 15:36] dbeckham opened #30 "bigip_vlan fails to create tagged interfaces as per documentation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
F5 bigip (bigip_vlan)

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### F5 BIGIP LTM VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Alpine 3.4 (Docker Container)

##### SUMMARY
When attempting to create or modify a VLAN to add a tagged interface, the VLAN ID/tag is assigned to the VLAN, but the interface is al

[2016-09-23 15:45] dbeckham commented on #30
Looking  at [library/bigip_vlan.py](https://github.com/F5Networks/f5-ansible/blob/master/library/bigip_vlan.py), it looks like the assumption is that by setting a vlan id/tag, the included interfaces are automatically tagged, but that property is actually independent of the interface itself.  The interface list seems to be treated as a list of strings instead of an object with optional properties.

[2016-09-24 05:18] caphrim007 commented on #30
I believe the confusion here is that bigip allows for untagged interfaces on VLANs and we do not make a distinction in the parameters.

a vlan is always created with a tag, whether you supply it or bigip supplies it for you. this module incorrectly assumes that you always will specify only untagged interfaces. I believe this distinction needs to be made explicit in the arguments, so we should prob

[2016-09-25 20:36] caphrim007 commented on #30
@dbeckham I have pushed a change to the module. Change your parameters to either `tagged_interfaces` *or* `untagged_interfaces` and try again

[2016-09-26 21:23] dbeckham commented on #30
@caphrim007, this works exactly like I would expect. I can create tagged interfaces, and existing untagged interfaces are changed to tagged as configured.

Thank you.

[2016-09-26 21:43] caphrim007 commented on #30
cool. we've merged this change into upstream

[2016-09-26 21:43] #30 closed

[2016-09-26 21:44] #28 closed

[2016-09-27 21:14] dbeckham opened #32 "bigip_virtual_server module fails on 2nd run without any changes"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]
##### PYTHON VERSION

[code]
##### F5 BIGIP LTM VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Alpine 3.4 (Docker Container)
##### SUMMARY

After creating a basic VIP with the `bigip_virtual_server` module, running `ansible-playbook` again without any changes produces the err

[2016-09-28 22:20] dbeckham opened #34 "bigip_virtual_server module is unable to create vip with fasthttp profile"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]
##### PYTHON VERSION

[code]
##### F5 BIGIP LTM VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Alpine 3.4 (Docker Container)
##### SUMMARY

The `bigip_virtual_server` module is unable to create a virtual server with the profile "fasthttp". The following error is returned:

[c

[2016-09-28 23:40] caphrim007 commented on #34
I believe this is being caused by this module, by default, creating VS's with a tcp profile, and then never removing this tcp profile for the fasthttp profile to be inserted

[2016-09-29 14:58] dbeckham commented on #34
Yes, I see that done in the `vs_create()` method before any other work happens in `main()`.

If it helps, I just confirmed that `tcp` and `fasthttp` definitely conflict on my local bigip installation. I edited a regular tcp pool I created with the tmsh command `(tmos) # edit /ltm virtual myvip` to create the following tmsh modify command:

[code]

Attempting to save and apply the above change give

[2016-09-29 15:06] caphrim007 commented on #34
I can confirm that.

Also, transactions should allow this to work. The update is done in a transaction but the  create is not. Additionally, there is code in there to prevent the tcp profile from being removed. That will need to change as well

[2016-09-29 15:06] dbeckham commented on #34
Just some quick feedback on this... I understand why the virtual server module adds tcp by default, but I'm wondering of it's trying to be *too* helpful. Would it be better to push some of the  configuration knowledge back to the user?  For example, if no profile is specified, it would default to tcp, but when any profile is specified, it would require that it be a complete and correct list?  e.g.

[2016-09-29 21:48] jcshelby opened #35 "Is change mode supported for Big-IP Ansible module?"
Just wanted to see if the --check flag is enabled or supported in this module. I ran my playbook with this flag but didn't get a report of changes to be made or current state of the F5, which from the documentation would suggest this isn't enabled on this module hence the request for confirmation

[2016-09-29 21:54] caphrim007 commented on #35
which module?

[2016-09-29 21:55] jcshelby commented on #35
bigip_pool is the only one I've tried so far but is one for which I'd need that option

[2016-09-29 22:07] caphrim007 commented on #35
it looks like it should handle it. I wasn't the original author of it, but is it not reporting anything?

[2016-09-29 22:30] jcshelby commented on #35
For my edification where do you see that it should be supported? That way I know where to look for these sorts of features in the future. I didn't see it in the online doc but could have easily missed it. While there isn't an example output in the documentation [http://docs.ansible.com/ansible/playbooks_checkmode.html](url) that I found to confirm what I should see, what I do see when I run the co

[2016-09-29 22:44] caphrim007 commented on #35
Sure, np.

If a module supports check mode, it should say so by having the following argument when it creates the `AnsibleModule` object.

[code]

as we can see here (using pools as an example)

https://github.com/F5Networks/f5-ansible/blob/master/library/bigip_pool.py#L382

this doesn't guarantee that it does check mode correctly, that's a guarantee that can only come from correct module developm

[2016-10-01 04:00] #35 closed

[2016-10-01 04:00] #24 closed

[2016-10-03 18:07] jcshelby commented on #35
Tim:

Apologies for the delay in response. I had another project come up that needed my attention. I did try running the playbook with the command syntax below and didn't get a similar output to yours. Is the verbosity of the output dependent on the type of changes to be executed? If not, can you please specify what syntax I should be using? Thanks!

ansible-playbook --check --verbose a5976023-e3a

[2016-10-03 18:17] caphrim007 commented on #35
what output did you get?

[2016-10-04 01:09] jcshelby commented on #35
Well it's now failing so I'll have to see what's causing that but I've included my command syntax and the output including the failure

[2016-10-04 01:09] jcshelby commented on #35
[root@enaic tmp]# ansible-playbook --check --verbose 228baa0c-0338-4d28-a8f0-9174407ad160.json
 [WARNING]: Optional dependency 'cryptography' raised an exception, falling back to 'Crypto'

No config file found; using defaults

PLAY [Create a VIP] ************************************************************

TASK [setup] *******************************************************************
ok: [10.0.

[2016-10-04 01:15] caphrim007 commented on #35
can you change --verbose to be "-vvvv"

[2016-10-04 17:46] jcshelby commented on #35
Tim:

I think that will do it. Apologies for not knowing that on my own. I'll review the documentation more closely next time. Thanks!

[2016-10-05 14:59] dbeckham opened #37 "bigip_device_sshd doc has broken HTML starting in return values table"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
bigip_device_sshd

##### SUMMARY
The HTML rendered in the [documentation](https://f5-ansible.readthedocs.io/en/latest/modules/bigip_device_sshd_module.html) for the `bigip_device_sshd` module appears to be broken.

In the [Return Values](https://f5-ansible.readthedocs.io/en/latest/modules/bigip_device_sshd_module.html#return-values) ta

[2016-10-07 10:56] d2-d2 opened #38 "bigip_virtual_server should check assignment of pool parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_virtual_server.py, line: 594

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION
standard, no changes

##### OS / ENVIRONMENT
Ubuntu 14.04 LTS

##### SUMMARY
When creating virtual server from role which contains loop, you don't need pool to be assigned every time

##### STEPS TO REPRO

[2016-10-07 11:51] d2-d2 opened #39 "bigip_virtual_server can not assign policies"
##### ISSUE TYPE
- Feature request
##### COMPONENT NAME

bigip_virtual_server.py
##### ANSIBLE VERSION

[code]
##### PYTHON VERSION

[code]
##### BIGIP VERSION

[code]
##### CONFIGURATION

standard, no changes
##### OS / ENVIRONMENT

Ubuntu 14.04 LTS
##### SUMMARY

When creating virtual server with this module, it's not possible to assign any policies.
##### EXPECTED RESULTS

Would be nice to have

[2016-10-07 16:34] caphrim007 commented on #38
@d2-d2 ansible provides for this scenario with the `|default(omit)` jinja filter

I've included an example of how to use that in these tests here

https://github.com/F5Networks/f5-ansible/blob/master/roles/__bigip_virtual_server/tasks/issue-38.yaml#L26

Hope that helps.

[2016-10-07 16:40] caphrim007 commented on #39
@d2-d2 are you referring to policies ala `Local Traffic -> Policies -> Policy List`?

[2016-10-07 17:10] d2-d2 commented on #39
@caphrim007 yes, exactly. Local Traffic -> Policies -> Policy List is what I meant. To workaround that 'issue' I've created another task that executes bigip_command and tmsh to assign missing policy.

[2016-10-07 17:13] caphrim007 commented on #39
ok, I can add that.

Are you just specifying the name in the command? Can you provide an example tmsh command here that you're using?

[2016-10-07 17:19] d2-d2 commented on #39
Sure, here is my task which include exact command:

[code]

[2016-10-07 17:28] d2-d2 commented on #38
@caphrim007 We learn something new every day :-) I did what you suggested and it worked. Thank you!

[2016-10-07 17:51] caphrim007 commented on #38
anytime.

[2016-10-07 17:51] #38 closed

[2016-10-07 23:57] d2-d2 opened #40 "[feature] bigip_monitor_external.py"
##### ISSUE TYPE
- Feature request
##### COMPONENT NAME

bigip_monitor_external.py
##### ANSIBLE VERSION

[code]
##### PYTHON VERSION

[code]
##### BIGIP VERSION

[code]
##### CONFIGURATION

standard, no changes
##### OS / ENVIRONMENT

Ubuntu 14.04 LTS
##### SUMMARY

This is a feature request. Please provide method for creating external type of monitors (Local Traffic->Monitors->Create->Type:Exter

[2016-10-09 10:24] d2-d2 commented on #40
More information. This is how I do it right now by chaining some ansible roles. This is simple scp and bigip_command usage:

[code]

I've also found another way of uploading files and described this [here](https://devcentral.f5.com/questions/upload-bash-script-to-f5-via-api-49442). SOme highlights:

- shell script, where important part is to pass properly set Content-Range header:
[code]

- python

[2016-10-11 01:19] awalshsyd opened #41 "bigip_virtual_server cannot assign an SNAT pool"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

New feature request to be able to configure SNAT pool with the bigip_virtual_server modules. Not expecting to be able to produce the SNAT pool just to reference it.

[2016-10-12 18:38] caphrim007 commented on #37
this is now fixed

[2016-10-12 18:38] #37 closed

[2016-10-12 19:11] dbeckham commented on #10
@caphrim007, I can confirm that the `bigip_rule` module is still not idempotent as of a few days ago.  Ansible shows the task changed everytime I run it whether or not the content of the rule has actually changed.  If it would help, I can create a new issue with a config example and debug output from `ansible-playbook`.

[2016-10-12 19:33] caphrim007 commented on #10
@dbeckham please do

[2016-10-12 21:20] dbeckham opened #42 "bigip_irule module does not run idempotently when content or src ends in a newline"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_irule

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### F5 BIGIP LTM VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Alpine 3.4 (Docker Container)

##### SUMMARY
The `bigip_irule` module is not idempotent when the irule content ends in newline (`\n`). The resource is changed every single time it's run. Th

[2016-10-12 21:21] dbeckham commented on #10
@caphrim007 I created #42 with details. It seems to only happen if the content/src ends in a newline character.

[2016-10-13 22:13] caphrim007 commented on #41
Seems @Rylon opened a req for this in upstream

https://github.com/ansible/ansible-modules-extras/pull/3158

@awalshsyd is this relevant to your interests?

[2016-10-13 22:57] caphrim007 commented on #42
@dbeckham can you try again with the update I pushed a moment ago.

[2016-10-14 14:58] dbeckham commented on #42
@caphrim007, it works exactly as expected. Thanks for the quick fix!

[2016-10-14 15:10] dbeckham opened #43 "bigip_snat_pool member option alias looks incorrect (shows aliases: m,e,m,b,e,r)"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
bigip_snat_pool

##### SUMMARY

In the [documentation](https://f5-ansible.readthedocs.io/en/latest/modules/bigip_snat_pool_module.html) for the recently add `bigip_snat_pool` module, the alias list of the `members` option in the comments column of the [Options](https://f5-ansible.readthedocs.io/en/latest/modules/bigip_snat_pool_module.

[2016-10-14 15:58] caphrim007 commented on #42
I will push the fix upstream

[2016-10-14 17:47] caphrim007 commented on #43
this now fixed

[2016-10-14 17:47] #43 closed

[2016-10-14 21:01] dbeckham opened #44 "bigip_virtual_server fails on subsequent runs based on sort order of iRule list"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]
##### PYTHON VERSION

[code]
##### F5 BIGIP LTM VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Alpine 3.4 (Docker Container)
##### SUMMARY

The sort order of irules in the `bigip_virtual_server` module can cause the task to fail if the first rule in the list has a lower alpha

[2016-10-14 21:04] dbeckham commented on #44
This one was crazy hard to turn into something that was reproducible. We happen to have a high priority iRule that starts with `w` on some of our virtual servers, so this would seem to randomly fail. If you have any questions about the testing and results, let me know.

[2016-10-14 21:25] caphrim007 commented on #44
odd. thanks for finding this, i'll have a look-see

[2016-10-14 21:29] dbeckham commented on #44
Fwiw, I just noticed in a run that the order issue seems to be centered around the first item.  The sort order of the rest of the items seems unimportant as long as the first isn't alphanumerically sorted in ascending order.

[2016-10-14 21:33] caphrim007 commented on #44
Long story short, you wan5 the order you list them in in yaml to be the order they're listed in the bigip. Right?

[2016-10-14 21:46] dbeckham commented on #44
Well, yes. In the docs for this module, the comments for the `all_rules` option says:

Anything to do with sorting that I've been talking about was just trying to identify some sort of reproducible test that could be used to find and fix the bug.

[2016-10-14 22:00] caphrim007 commented on #44
Okie doke. My apologies if I'm a bit unfamiliar with the code. I'm its adopted father, but we'll get things fixed

[2016-10-14 22:26] awalshsyd commented on #41
Hello - that is exactly what I'm after :>

[2016-10-15 01:32] caphrim007 commented on #41
@awalshsyd it should be merged upstream within a couple days

[2016-10-15 02:08] awalshsyd commented on #41
Thank you - you've saved me an operational issue :>

[2016-10-26 00:19] amsinha2 opened #45 "Policy Modification/Creation not supported"
Local Traffic Policies cannot be managed via Ansible
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Local traffic Policies
##### ANSIBLE VERSION

[code]
##### PYTHON VERSION

[code]
##### BIGIP VERSION

[code]
##### CONFIGURATION

tmsh create ltm policy Drafts/Policy strategy first-match rules replace-all-with { homepage { actions add { 0 { forward select pool pool1 } } conditions add { 0

[2016-10-29 05:29] caphrim007 commented on #42
this has been merged https://github.com/ansible/ansible-modules-extras/pull/3175

[2016-10-29 05:29] #42 closed

[2016-10-29 05:30] caphrim007 commented on #41
this has been merged https://github.com/ansible/ansible-modules-extras/pull/3158

[2016-10-29 05:30] #41 closed

[2016-10-29 11:41] Rylon commented on #41
Thanks @caphrim007 ! 👍

[2016-10-31 20:55] mleklund opened #46 "bigip_license not able to license a new ve ltm"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_license

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Alpine 3.4 (Docker Container)

##### SUMMARY
undefined global variable issue when attempting to license an unlicensed bigip ltm.

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2016-10-31 22:15] caphrim007 commented on #46
@mleklund i've pushed an update. can you retry?

[2016-11-01 16:29] mleklund commented on #46
looks good to me.

[2016-11-01 17:02] mleklund opened #47 "bigip_software not working on ve"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_software

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Alpine 3.4 (Docker Container)

##### SUMMARY
Error when attempting to use bigip_software to update partition

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Software and hotfix to

[2016-11-01 17:17] caphrim007 commented on #47
@mleklund try now

[2016-11-01 17:31] mleklund commented on #47
[code]

[2016-11-01 17:58] caphrim007 commented on #47
@mleklund ok, fixed that one too. try again

[2016-11-01 18:11] mleklund commented on #47
[code]

[2016-11-01 18:17] caphrim007 commented on #47
hmm. interesting. i'll need to dig into this further now.

[2016-11-02 17:34] hanej opened #48 "bigip_dns_record not complete"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_dns_record

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat 7.2

##### SUMMARY

There are a few objects missing from the module.  Also the documentation in the module doesn't line up with the code.

##### STEPS TO REPRODUCE

On a related note,

[2016-11-03 01:06] caphrim007 commented on #48
@hanej I can say with certainty that this module is not complete. I'll work on that and update you along the way

[2016-11-03 21:01] caphrim007 opened #49 "move route advertisement to bigip_virtual_address module"
this was merged here

https://github.com/F5Networks/f5-ansible/pull/20

but after talking to shun it's clear that this should be part of a bigip_virtual_address module because there are situations where you may in-deliberately change the existing VA configuration by accidentally creating a new VS with the same VA and, for example, unsetting route advertisement.

@mgusek we need to change this upst

[2016-11-04 08:11] mgusek commented on #49
Thanks for notification, i will update my playbooks.

[2016-11-04 17:59] caphrim007 commented on #49
@mgusek I will deprecate the parameter in 2.3 and remove it in 2.4. There will be a virtual_address module that replaces the functionality.

[2016-11-09 16:01] hanej opened #50 "Random exceptions for set_session_enabled_state"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_node

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat 7.2

##### SUMMARY

Occasionally when trying to enable or disable a node the bigip_node module will produce an exception and the entire playbook stops.

##### STEPS TO REPRODUCE

[code]

###

[2016-11-09 16:23] caphrim007 commented on #50
This is a catchable exception, so i will try to do so in the code.

The longer term fix is to abandon the soap api because of its insistence on doing the moral equivalent of

`cd partition`

This is addressed in 5he rest api as simply being a property of the resource

[2016-11-09 16:45] hanej commented on #50
Thank you.  If you have a good module to model after, I can help with things like this.  We have a huge and pressing need to automate a lot of our F5 work and we'll need this sooner rather than later.

[2016-11-09 18:15] caphrim007 commented on #50
@hanej I would appreciate your testing of the updated code in your real-world environment, bug reporting, and feature requests above and beyond code contributions.

Just to be clear though, let me preface the above statement with "at this time".

The code is not the most difficult effort for the module development. Much harder for me is to run the modules in an environment that has had BIG-IP take

[2016-11-09 18:17] hanej commented on #50
No problem.  Thanks

[2016-11-09 20:08] hanej commented on #50
Actually we did a deployment today and we hit that error every single time only on one pair of F5s.  The other pair had no issue.  We cannot get it to work at all so if there is anything you want me to test I can do so.

[2016-11-16 12:30] ric79 commented on #1
Hello,
I did not understand the solution.
Let us suppose that my playbook is: `/home/xxx/F5/lbf5.yml`
[code]
I cloned (`git clone https://github.com/F5Networks/f5-ansible.git`) the repository in `/home/xxx/F5/f5-ansible`

Now I don't understand how to link the repository to my playbook

R

[2016-11-21 12:02] ric79 opened #51 "Route Domain inside a partition"
##### ISSUE TYPE
 - Bug Report?

##### COMPONENT NAME
bigip_routedomain

##### ANSIBLE VERSION
ansible 2.2.0.0

##### BIGIP VERSION
Main Package
  Product     BIG-IP
  Version     12.0.0
  Build       1.0.628
  Edition     Hotfix HF1
  Date        Tue Dec 22 13:18:00 PST 2015

Hello,
I have already a partition:
[code]
Using the GUI, I select the partition from the upper right dropdown and then I c

[2016-11-21 18:49] caphrim007 commented on #51
I was about to suggest that you supply the "partition" parameter, but now that I look at the code, I'm not sure that's going to work.

Can you try it anyway just to confirm my suspicion?

`partition: APS_PARTITION`

in the `bigip_routedomain` module

[2016-11-21 22:05] ric79 commented on #51
KO. The route domain is created for all partitions.
Using tmsh I usually do:
[code]

[2016-11-21 22:36] ric79 opened #52 "Traffic group for self ip"
##### ISSUE TYPE
 - Bug Report?

##### COMPONENT NAME
bigip_selfip

##### ANSIBLE VERSION
ansible 2.2.0.0

##### BIGIP VERSION
Main Package
  Product     BIG-IP
  Version     12.0.0
  Build       1.0.628
  Edition     Hotfix HF1
  Date        Tue Dec 22 13:18:00 PST 2015

Hello,
I have a partition and inside it I need to configure as the picture:
![a1](https://cloud.githubusercontent.com/assets/68

[2016-11-22 05:15] caphrim007 commented on #52
hmm. well, indeed the partition that you specify is how we determine which traffic groups you are allowed to use.

I assumed that settings cannot cross partitions, but it seems like that was an invalid assumption to make. So I will need to go back and address this and/or figure out what the REST api expects in case,

1. yours or my assumptions need to change, or
2. we need to file a bug and hack a

[2016-11-22 07:25] ric79 commented on #52
I'm not very skilled on F5. I'm just porting on Ansible F5 the configurations made by other collegues. I can confirm that in field we have dozen of those configurations (basically one partition for one VNF) and they works! :)
1 --> I think you should change your assumptions :)

[2016-11-23 18:03] amsinha2 opened #53 "Add Fallback Persistence to BigIP_Virtual"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ltm BigIP virtual server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7
##### SUMMARY

I need to add a fallback persistence profile,  there is no tag on the bigip_virtual module to add a fall back persistence method
##### STEPS TO REPRODUCE

[code]

[2016-12-02 22:31] mmihir82 opened #54 "Bigip_command failed paramiko"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
List of packages installed:
ansible (2.2.0.0)
bigsuds (1.0.4)
cffi (1.9.1)
cryptography (1.6)
enum34 (1.1.6)
f5-icontrol-rest (1.1.0)
f5-sdk (2.1.0)
idna (2.1)
ipaddress (

[2016-12-02 23:10] caphrim007 commented on #54
@mmihir82 can you post the playbook you used?

I suspect the code is not being run on your local machine.

[2016-12-02 23:21] mmihir82 commented on #54
PLAYBOOK
test-command.yml
[code]
ROLE:
f5_command
[code]

[2016-12-02 23:25] mmihir82 commented on #54
ERROR:
[code]

[2016-12-02 23:51] caphrim007 commented on #54
@mmihir82 are you running ansible from a virtualenv?

[2016-12-03 00:05] mmihir82 commented on #54
yes

[2016-12-03 00:23] caphrim007 commented on #54
Then you'll also need to specify the python interpretor in your hosts file. otherwise when the remote host runs the code it's going to use the system's python and not the python in your virtualenv.

For example, you can put something like this in your inventory file.

`localhost ansible_python_interpreter=/Users/trupp/src/envs/ansible-2.0/bin/python`

Replacing the path to your virtualenv's python

[2016-12-03 00:36] mmihir82 commented on #54
But it works for other devices like (NX-OS, JUNOS) without adding the ansible_python_interpreter.

[2016-12-03 00:37] mmihir82 commented on #54
I have added still didn't make the difference. Does the bigip_command works?

[2016-12-03 00:47] mmihir82 commented on #54
[code]

[2016-12-03 01:20] caphrim007 commented on #54
@mmihir82 the bigip command module is not like the other network modules. It was made before those were around and has not yet been changed to use the networking classes. So I'm not surprised that the other network modules work.

That final error leads me to believe the user account you're using to connect is not an administrator, or, your bigip is using ldap or tacacs auth.

Can you verify if any

[2016-12-03 06:15] mmihir82 commented on #54
Hello Tim,
I use tacas for auth and the user account is admin.

Do you think I should add new group under auth as root?

Also do I need .rst files for the module to work?

Thanks for your help.

On Friday, December 2, 2016, Tim Rupp <notifications@github.com> wrote:

[2016-12-03 07:36] caphrim007 commented on #54
ahh. ok, there-in lies the problem. The bigip_command module that you're using doesn't have token authentication so it wont do "remote auth" (ie, tacacs) properly.

Since I have been meaning to make this module more closely mimic the existing "Network" modules in Ansible, I've pushed an updated version of the code that completely drops the web api stuff in favor of just bare ssh.

I'm not actually

[2016-12-03 22:01] mmihir82 commented on #54
Awesome Tim, I will surely try it and let you know the out come...

On Friday, December 2, 2016, Tim Rupp <notifications@github.com> wrote:

[2016-12-04 07:27] mmihir82 commented on #54
Hello Tim, I ran the module and got following error:
[code]

[2016-12-04 15:01] caphrim007 commented on #54
@mmihir82 can you manually ssh to the box as the user you intend to use and paste the terminal output here?

Everything from the ssh command to the prompt. For example,

[code]

Include it all if you please. you can exclude any passwords or other secrets. I wont need those

[2016-12-04 18:12] mmihir82 commented on #54
[code]

[2016-12-04 20:16] caphrim007 commented on #54
@mmihir82 whn you're sitting at the cli of your bigip, the prompt is this?

`test-user@(TXARL1-MFW1)(cfg-sync Changes Pending)(Active)(/Common)(tmos)#`

[2016-12-05 17:24] mmihir82 commented on #54
Correct..

[2016-12-05 17:55] caphrim007 commented on #54
@mmihir82 okie doke. thanks. i've updated the code. give it another try and post any errors you might receive.

[2016-12-05 22:44] mmihir82 commented on #54
[code]

[2016-12-05 22:52] mmihir82 commented on #54
[code]

[2016-12-05 23:11] caphrim007 commented on #54
@mmihir82 verify that, if your running ansible in a venv, that your python_interpretor variable for the host is set to the venvs bin

[2016-12-06 01:00] mmihir82 commented on #54
[code]

[2016-12-06 06:55] caphrim007 commented on #54
@mmihir82 this was caused because the account you were using had the "tmsh" shell. I've updated the module. try again

[2016-12-06 19:03] mmihir82 commented on #54
It works !!! Thanks.
[code]
Is there any way to use jump host?

RESULTS:
[code]
Doesn't Work
[code]

[2016-12-06 21:10] caphrim007 commented on #54
@mmihir82 one thing at a time. lemme see why those other 2 commands don't work. there shouldn't be any reason why they shouldnt.

As for jump host. that should work too if it works for other network modules. It works for other network modules I assume?

[2016-12-07 23:30] caphrim007 commented on #54
@mmihir82 would you try your tests again? I made some updates which I see are working for the test commands you mentioned

[2016-12-08 00:41] caphrim007 commented on #53
@amsinha2 I've pushed an updated bigip_virtual_server module that should include this as `fallback_persistence_profile`. Feel free to use it and lemme know how it goes

[2016-12-08 07:34] mmihir82 commented on #54
Great Tim, I will test it in the morning and let you know.

I would love to leverage the modules to built out our confirmation. Would
you be update other modules as well.

My end goal is to built the template using the modules and generate the
configuration and push out to the devices.

Thank you for your help.

Mihir M

On Wednesday, December 7, 2016, Tim Rupp <notifications@github.com> wrote:

[2016-12-08 07:35] mmihir82 commented on #53
Sure Tim.
Thank you for your time.

On Wednesday, December 7, 2016, Tim Rupp <notifications@github.com> wrote:

[2016-12-08 18:33] caphrim007 commented on #54
The bigip_command and...to some extent...the bigip_config modules will function like other Ansible Network modules and use SSH.

The other modules will function differently than those two in-so-far as they will use the REST API and, to some extent, the SOAP API.

I am limited by BIG-IP's configuration format so I will not be able to (as far as I know) make the bigip_config module work like other n

[2016-12-08 20:22] mmihir82 commented on #54
Thanks Tim for your help.
I will try to built and let you know the outcome.

Have a nice day

[2016-12-08 21:18] mmihir82 commented on #54
Hello Tim,

I have applied the new Bigip_command file, getting following error:
[code]
When I use the earlier changes it works for only some command, but the new changes, doesn't even work for the command: "show sys clock". So I have revert back.

[2016-12-08 22:20] caphrim007 commented on #54
@mmihir82 The timeout problems seem to always stem from the prompt of the bigip.

Can you send me the prompt that you see when you're logged in to the BIG-IP CLI?

[2016-12-08 22:53] mmihir82 commented on #54
[code]

[2016-12-08 23:36] caphrim007 commented on #54
@mmihir82 I've pushed another update. Can you try again?

[2016-12-09 17:36] mmihir82 commented on #54
sure

[2016-12-09 17:45] mmihir82 commented on #54
Didn't work: show sys clock, show sys version - same raise socket.timeout()
[code]

[2016-12-09 18:50] caphrim007 commented on #54
weird. ok, lemme see if I can continue to figure out the cause of it.

[2016-12-09 19:02] mmihir82 commented on #54
Thanks Tim

[2016-12-10 21:12] caphrim007 commented on #54
@mmihir82 can you send me the output of `tmsh list auth user test-user`.

You **do not** need to include any password info

[2016-12-11 00:29] caphrim007 commented on #54
@mmihir82 pushed an update. give it a try

[2016-12-12 17:09] mmihir82 commented on #54
Hello Tim,
I tested and gave me the same result. When I go back to working one it works for the some commands. Under Auth "test-user" is the TACACS user, which has admin admin access.
Same errors:
[code]

[2016-12-12 22:17] caphrim007 commented on #54
@mmihir82 I am baffled as to why it's not working. Ok, I will set up a TACACS installation to test it that way. Can you send the output of `tmsh list auth` to my work email? `t.rupp@f5.com`

[2016-12-13 15:17] jriguera commented on #32
Hi we are seeing a similar issue. The first time works fine, the second time fails with the error:
[code]
If we remove the irules association from the vsever, it works fine.

[2016-12-13 15:21] jriguera commented on #32
Sorry, this comment should be on https://github.com/F5Networks/f5-ansible/issues/44

[2016-12-13 23:01] johnatspark1 opened #55 "bigip_pool support description"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_pool
##### ANSIBLE VERSION

`ansible 1.9.4`

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Most modules allow us to update the description field.  Not so with the bigip_pool module.  Seems like an easy enhancement.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

descript

[2016-12-14 21:20] caphrim007 commented on #55
@johnatspark1 I've added this feature in the bigip_pool code I've just recently pushed. Can you test to ensure that it is working as you expect? If so, I will upstream it to core.

[2016-12-14 22:55] johnatspark1 commented on #55
It works as expected in my tests.
Well done.  Thanks!

-John Marshall

From: Tim Rupp [mailto:notifications@github.com]
Sent: Thursday, 15 December 2016 10:20 a.m.
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: John Marshall <John.Marshall@spark.co.nz>; Mention <mention@noreply.github.com>
Subject: Re: [F5Networks/f5-ansible] bigip_pool support description (#55)

@johnatspark1<https

[2016-12-15 00:20] caphrim007 commented on #55
@johnatspark1 cool. I'll upstream this then.

[2016-12-15 00:35] caphrim007 commented on #51
@ric79 I've pushed updated code for the bigip_routedomain module here. Can you check if this addresses your issue? thanks.

[2016-12-15 00:35] caphrim007 commented on #55
PR for upstream https://github.com/ansible/ansible/pull/19362

[2016-12-16 21:17] caphrim007 commented on #55
this is now merged upstream and will be part of ansible 2.3

[2016-12-16 21:17] #55 closed

[2016-12-16 21:19] caphrim007 commented on #53
@amsinha2 do you know if the change I pushed reflects your expectations of how the module should work? If so, I will upstream the change

[2016-12-16 21:20] #46 closed

[2016-12-22 00:07] johnatspark1 opened #56 "bigip_virtual_server does not allow valid port number of 0 (zero)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

“N/A”
##### SUMMARY

Port 0 (zero) is a valid port number for a virtual server.  It designates "any" port.
When using a 0 for the port number it fails and gives an error.

The "if" stateme

[2016-12-22 03:44] caphrim007 commented on #56
I'm not sure what the original motivation was behind limiting this. It might be a limitation in the SOAP API (not allowing port 0). If that is the case, then the REST API will need to be used, but I'll check either way.

[2016-12-22 06:38] dano0b commented on #5
@caphrim007 would be great to have this feature. Would help us to set the right routes during our provisioning of a docker cluster.

[2016-12-23 01:08] johnatspark1 opened #57 "bigip_virtual_server cannot specifiy all_rules without error: pop from empty list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

I cannot get it to not produce the error when specifying irules ("all_rules")
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

OK
##### ACTUAL RESULTS

[code]

[2016-12-23 16:13] hanej opened #58 "bigip_ssl_certificate not uploading complete filename"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_ssl_certificate

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When specifying cert_content, key_content, cert_src, or key_src the files on the F5 are not getting the .key or .crt appended to the certificate name.  This is resulting in

[2016-12-23 16:15] hanej commented on #58
![f5 bug](https://cloud.githubusercontent.com/assets/185708/21457977/1cb59e6e-c901-11e6-872f-128245a36638.jpeg)

[2016-12-24 18:46] erjac77 commented on #26
@caphrim007 I worked on that issue during my spare time and I've come up with a new _F5 BIG-IP Ansible Module_ solely based on the F5 Python SDK.

The main idea behind it was to learn Ansible and Python, while working on some useful features needed at work to automate our F5 boxes that the actual f5-ansible module doesn't provide (like iApp). Moreover, I wanted to leverage the f5-sdk for all BIG-I

[2016-12-27 03:19] taplambeck commented on #47
I have very similar results using Ansible 2.2, on OSX 10.10.5, supporting TMOS 11.5.4 HF2.

An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_cyQfP_/ansible_module_bigip_software.py", line 848, in <module>
    main()
  File "/tmp/ansible_cyQfP_/ansible_module_bigip_software.py", line 836, in main
    obj = BigIpApiFactory.fa

[2016-12-27 03:27] caphrim007 commented on #47
@taplambeck make sure you have the isoparser pip package installed on the host machine

[2016-12-27 13:52] taplambeck commented on #47
installed isoparser, but still get several errors. Are there any other prerequisites besides: bigsuds & isoparser (can you add this to the documentation?). Errors below.

An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_eKcRiF/ansible_module_bigip_software.py", line 848, in <module>
    main()
  File "/tmp/ansible_eKcRiF/an

[2016-12-27 16:45] caphrim007 commented on #47
@taplambeck can you tell me what the ISO is that you're trying to use and where you got it so that I can go look?

[2016-12-27 18:39] caphrim007 commented on #57
@johnatspark1 can you provide me with the output of `tmsh list ltm virtual` so that I can re-create the necessary VS in my environment?

[2016-12-27 22:41] caphrim007 opened #59 "support adding policies to virtual servers"
in much the same way that i add profiles and rules, support policies

[2016-12-27 22:56] caphrim007 commented on #59
this should now be available as of commit b48a55b

[2016-12-28 17:44] taplambeck commented on #47
Files were downloaded directly from F5 and have been verified my MD5 Hash.

Base Image - BIGIP-11.5.4.0.0.256.iso
Hotfix - Hotfix-BIGIP-11.5.4.2.0.291-HF2.iso

[2016-12-28 18:56] caphrim007 commented on #47
Thanks, I'll take a look.

[2017-01-04 08:50] tkam8 opened #60 "bigip_command stripping tmsh"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

Uncommented below due to some errors with .ssh/known_hosts error in tower
----snip----
# uncomment this to disable SSH key host checking
host_key_checking = False
----snip----

##### OS / ENVIRONMENT

Ubuntu 14.04.2 LTS

[2017-01-04 09:03] tkam8 commented on #60
This is my first run with ansible tower, yet along ansible. If I am missing anything basic, please let me know. I am also not a python expert so unable to efficiently decipher below code related to tmsh prefix.

https://github.com/F5Networks/f5-ansible/blob/master/library/bigip_command.py

FYI: the fix for the .ssh/known_hosts issue in tower was resolved by: https://github.com/ansible/ansible-modu

[2017-01-04 20:34] caphrim007 commented on #60
@tkam8 i see an extra `tmsh` in your task there. Was that intentional?

[2017-01-05 01:09] tkam8 commented on #60
any hints or am I doing something wrong?

[2017-01-05 02:47] tkam8 commented on #60
[job_38.txt](https://github.com/F5Networks/f5-ansible/files/686303/job_38.txt)

attaching -vvv std out  for clues

[2017-01-05 05:10] caphrim007 commented on #60
@tkam8 can you manually log in as the user that you are using in these playbooks and post here the full content of the cli status prompt?

For example,

`[root@localhost:Active:Standalone config #`

[2017-01-05 05:17] tkam8 commented on #60
Ansible Tower:
root@DCM-NTP:/var/lib/awx/projects/_10__f5playbooks_project2/playbooks#

BIGIP:
[root@bigip1-ansible:Active:Standalone] config #

[2017-01-05 20:24] hemskgren commented on #6
@manuadoor correct

[2017-01-11 03:49] slavkv opened #61 "bigip_command documentation is obsolete and confuses"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
bigip_command

##### SUMMARY
Module documentation states you have to use the following format to connect:
http://f5-ansible.readthedocs.io/en/latest/modules/bigip_command_module.html
https://github.com/F5Networks/f5-ansible/blob/master/docs/modules/bigip_command_module.rst

- name: Load the default system configuration
  bigip_command:

[2017-01-11 19:23] caphrim007 commented on #61
@slavkv thanks for the info. I will fix this

[2017-01-15 20:55] johnatspark1 commented on #57
Sorry for the late reply... been on holiday.
here is the virtual server in question:
--------------
[code]
-----------------
Pretty basic.  I've simplified the playbook a bit, only adding one irule. (was missing a profile or something for the other one).
---------------------
[code]
---------------------------

[2017-01-15 20:57] johnatspark1 commented on #56
Any progress on this issue?

[2017-01-15 21:10] caphrim007 commented on #56
@johnatspark1 try the code I just recently pushed

[2017-01-15 22:36] johnatspark1 commented on #56
still not working.  Looks like the if statement on line 742 needs to change
`if (not destination) or (not port):`
looks like port(zero) evaluates to false.  need some other way to test if port is specified.  maybe something more like
`if (not destination) or (port == "")`

[2017-01-15 22:54] caphrim007 commented on #56
@johnatspark1 how about now?

[2017-01-15 23:08] johnatspark1 commented on #56
Now it throws a syntax error on line 661 (where parameter is declared?)
[code]

[2017-01-15 23:17] caphrim007 commented on #56
@johnatspark1 that's what i get for watching football and writing code. try again!

[2017-01-16 00:54] johnatspark1 commented on #56
Now it fails of the state is absent and the port parameter is not specified.  Doc says that port is not required when state is absent.
[code]

[2017-01-16 01:56] caphrim007 commented on #56
@johnatspark1 that's an expected error. You specified an empty string, "", for port, but port must be an integer value whether you're creating it or not. In any event, I've also updated the code to address your profile pop issue. Have a go and set that port value to something that is not "string-like"

[2017-01-16 18:33] caphrim007 commented on #57
@johnatspark1  can you verify if this is still an issue with the recent code push?

[2017-01-16 19:38] johnatspark1 commented on #57
Works now.  Well done.  Thanks!

[2017-01-16 19:38] #57 closed

[2017-01-16 19:39] #59 closed

[2017-01-16 19:39] #53 closed

[2017-01-16 19:41] johnatspark1 commented on #56
OK.  It works in all of my tests.  Good job!  Thanks!

[2017-01-16 19:41] #56 closed

[2017-01-16 19:42] caphrim007 commented on #34
@dbeckham i've pushed a change that I believe addresses this. The TCP profile was being added because the create method of the SOAP API requires that _some_ profile be supplied. The change takes the profiles that the user supplies and provides those. If the user doesnt provide any, then it defaults to TCP.

Lemme know if it works for you as expected

[2017-01-16 20:29] caphrim007 commented on #54
@mmihir82 can you try with the updated code I pushed today.

[2017-01-16 21:01] caphrim007 commented on #58
@hanej I have a fix for this, and am hoping to have the code made available soon

[2017-01-19 03:59] caphrim007 commented on #61
@slavkv I believe this is now fixed. docs should be rebuilding shortly

[2017-01-19 03:59] #61 closed

[2017-01-19 04:00] caphrim007 commented on #60
@tkam8 I believe this is now fixed. Please test with the updated command module.

[2017-01-19 04:02] slavkv commented on #27
Just to follow up? Has it been integrated?
I've looked via documentation and source code and did not notice it :)

[2017-01-19 04:06] caphrim007 commented on #54
closing as I believe this is fixed. if this is still an
I believe this issue has been recently fixed in the repo here. If you can check the updated code to make sure that it addresses the issue you were seeing, I'd appreciate it.

If the problem is still apparent, please file a new issue

[2017-01-19 04:06] #54 closed

[2017-01-19 04:08] caphrim007 commented on #60
I believe this issue has been recently fixed in the repo here. If you can check the updated code to make sure that it addresses the issue you were seeing, I'd appreciate it.

If the problem is still apparent, please file a new issue

[2017-01-19 04:08] #60 closed

[2017-01-19 04:08] caphrim007 commented on #34
I believe this issue has been recently fixed in the repo here. If you can check the updated code to make sure that it addresses the issue you were seeing, I'd appreciate it.

If the problem is still apparent, please file a new issue

[2017-01-19 04:08] #34 closed

[2017-01-19 04:09] caphrim007 commented on #27
@slavkv readthedocs needs a couple minutes to run the update. then it should be there

[2017-01-19 04:09] caphrim007 commented on #27
@slavkv here ya go
https://f5-ansible.readthedocs.io/en/latest/modules/bigip_command_module.html

[2017-01-19 04:11] #27 closed

[2017-01-19 22:26] johnatspark1 opened #62 "Traffic Group support within bigip_virtual_address.py"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_virtual_address
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

It would be helpful if the bigip_virtual_address module supported managing the traffic-group associated with it.  It should be very similar to how it is used in the bi

[2017-01-20 08:38] tkam8 opened #63 "bigip_command not prepending "tmsh""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04.2 LTS

##### SUMMARY

This is a follow up to https://github.com/F5Networks/f5-ansible/issues/60
The fix for #61 did not seem to fix my original issue with the unexpected "-bash: show

[2017-01-20 08:43] tkam8 commented on #63
I understand that by design, the function "strip_tmsh_prefix" strips any "tmsh" entered in the playbook. However, later on, it seems that "tmsh" isn't prepended again when it should.

Attaching the stdout -vvvv showing that the command succeeds after I change the playbook command to be "tmsh tmsh show sys version"
[doubletmsh.txt](https://github.com/F5Networks/f5-ansible/files/718833/doubletmsh.tx

[2017-01-20 17:52] caphrim007 commented on #63
@tkam8 the tmsh portion is added back on at line 299.

It should only be added on if the detected shell on lines 260 to 266 is `bash`. So either your shell is being detected as `tmsh`, or something else is going on. Can you change line 265, the `except NetworkError` to read `except IOError` and see if the runner is raising an exception that I am not handling?

Also, post your CLI prompt when logge

[2017-01-21 04:35] tkam8 commented on #63
big-ip cli prompt after login from ansible (it's bash):

root@DCM-NTP:/var/lib/awx/projects/_10__f5playbooks_project2# ssh root@172.28.15.116
Last login: Sat Jan 21 03:14:51 2017 from ******
[root@bigip1-ansible:Active:Standalone] config #

I also changed the code to read `except IOError` and resent the command but got a socket timeout, which you [mentioned ](https://github.com/F5Networks/f5-ansib

[2017-01-21 04:37] caphrim007 commented on #63
@tkam8 ok, i think i see the error. patch incoming if you have the time to test

[2017-01-21 04:50] caphrim007 commented on #63
@tkam8 actually, the regex should be covering you just fine. so we need to try something else

[2017-01-21 04:58] tkam8 commented on #63
@caphrim007 Thanks, feel free to let me know what you want me to check. If worth it to send ad-hoc commands, I can do that too but would need help to do that with the netcli.py module.

[2017-01-21 05:01] caphrim007 commented on #63
@tkam8 in the shell.py file, at or around line 133, there is a line that reads something that looks like this

`window = self.strip(recv.read())`

for further reference, it is inside a function called `def receive(self, cmd=None):`

can you add a `print window` after that and paste the output here. i'm curious to know what it is about your device's output that is not satisfying the regexs

[2017-01-21 05:25] tkam8 commented on #63
@caphrim007  sending the -vvvv after making the above change:

"""
root@DCM-NTP:/var/lib/awx/projects/_10__f5playbooks_project2# ansible-playbook -i /etc/ansible/hosts -l bigips playbooks/bigip_command_test3.yaml -u root -vvvv
Using /var/lib/awx/projects/_10__f5playbooks_project2/ansible.cfg as config file
Loading callback plugin default of type stdout, v2.0 from /usr/lib/python2.7/dist-packages/a

[2017-01-21 05:28] caphrim007 commented on #63
@tkam8 would you try the bigip_command module I just pushed and see if you have different results?

[2017-01-21 05:36] tkam8 commented on #63
@caphrim007 updated module and resent command, results below:
"""
root@DCM-NTP:/var/lib/awx/projects/_10__f5playbooks_project2# ansible-playbook -i /etc/ansible/hosts -l bigips playbooks/bigip_command_test3.yaml -u root -vvvv
Using /var/lib/awx/projects/_10__f5playbooks_project2/ansible.cfg as config file
Loading callback plugin default of type stdout, v2.0 from /usr/lib/python2.7/dist-packages/an

[2017-01-21 05:36] caphrim007 commented on #63
@tkam8 ok, remove the `print window` statement and you should be golden. lemme know

[2017-01-21 05:45] tkam8 commented on #63
@caphrim007   now works beautifully. thanks for your time and help!

"""
root@DCM-NTP:/var/lib/awx/projects/_10__f5playbooks_project2# ansible-playbook -i /etc/ansible/hosts -l bigips playbooks/bigip_command_test3.yaml -u root -vvvv
Using /var/lib/awx/projects/_10__f5playbooks_project2/ansible.cfg as config file
Loading callback plugin default of type stdout, v2.0 from /usr/lib/python2.7/dist-pack

[2017-01-21 05:45] #63 closed

[2017-01-24 01:16] ric79 opened #64 "The python f5-sdk module is required"
Hello,
when I use bigip_irule i get "The python f5-sdk module is required"

This is the code:

It seems to me very strange. I use for example bigip_vlan and I have already run

I do not understand that error. Please help me

Ansible: 2.2
F5 library: latest (git clone https://github.com/F5Networks/f5-ansible.git)

[2017-01-24 01:20] caphrim007 commented on #64
@ric79 your tasks must run on the local machine. So ensure that you do one of the following

1. set your playbook's `connection:` to `local`

or

2. In each task, use `delegate_to: localhost`

[2017-01-24 07:16] ric79 commented on #64
Ops! you are right!
During a cut&paste I missed this line.
Thanks!

[2017-01-24 07:16] #64 closed

[2017-01-24 21:29] jat190 opened #65 "Documentation Change"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Getting Started
https://f5-ansible.readthedocs.io/en/latest/usage/getting_started.html

##### ANSIBLE VERSION
Now that ansible version 2.2 is not development, you could probably change the instructions on getting started to not run virtualenv.

[2017-01-26 04:56] motokof5 opened #66 "bigip_license"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Dose anyone use "bigip_license"? I tried to use it, but syntax error was displayed. I appreciate it if someone shares a successful playbook.

##### STEPS T

[2017-01-27 19:40] caphrim007 commented on #66
@motokof5 is the bigip_license module in your library path?

[2017-01-31 16:29] clay584 opened #67 "META: Using Github Branches"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

META: Using Github branches

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Would it be possible for the devs to use a development branch and only move modules to the master branch that are functional.  It is hard to know if a give

[2017-01-31 17:07] caphrim007 commented on #67
@clay584 the purpose of this repository is to be for experimental code only. The stable code is upstreamed to ansible core.

[2017-01-31 17:07] #67 closed

[2017-01-31 20:51] #1 closed

[2017-01-31 22:12] johnatspark1 commented on #62
Any thoughts on progressing this forward?

[2017-01-31 22:48] caphrim007 commented on #62
@johnatspark1 yeah this is still on my radar. I've been involved in an iworkflow effort recently, but it is now subsiding and I can re-address the open issues

[2017-02-01 11:06] motokof5 commented on #66
@caphrim007 , thanks for your comment. Somehow "bigip_license.py" was not installed.

[2017-02-01 20:47] lisahuang opened #68 "no action detected in task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
task

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

mac
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Able to run the playbook and show sys version

##### ACTUAL RESULTS

[code]

[2017-02-01 22:42] caphrim007 commented on #68
@lisahuang the `bigip_command` module is not yet part of Ansible's core product as it is still in a preview state. The modules that are part of core are found here

http://docs.ansible.com/ansible/list_of_network_modules.html#f5

The module, however, can be installed from this (f5-ansible) repository to provide any feedback on bugs/features of the modules that are not yet part of core.

To do that

[2017-02-03 05:48] caphrim007 commented on #66
@motokof5 are you set? can i close this issue?

[2017-02-03 19:43] #65 closed

[2017-02-06 08:12] rklomp opened #69 "validate_certs must be one of: yes,no, got: False"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_provision (and others)

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

validate_certs is validated as yes or no, but receives 'true' or 'false'
`FAILED! => {"changed": false, "failed": true, "msg": "value of validate_certs must be one of:

[2017-02-06 22:16] dbeckham commented on #34
Thanks for fixing this issue!  Due to iRules being unable to be used with the virtual server module (issue #44 and #32), we ended up implementing a workaround and are maintaining virtual servers with the `bigip_command` module instead. It's impossible to see what changes will actually be made when doing it that way, so we are definitely planning on switching back to the virtual server module when

[2017-02-10 01:50] motokof5 commented on #66
@caphrim007 , sorry for my late reply. I updated bigip library and other libraries, but the following error message is displayed:
An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_7a5ipl/ansible_module_bigip_license.py", line 690, in <module>
    main()
  File "/tmp/ansible_7a5ipl/ansible_module_bigip_license.py", line 656,

[2017-02-10 01:54] caphrim007 commented on #66
@motokof5 have you added `validate_certs: "no"` to your task?

[2017-02-10 01:57] motokof5 commented on #66
Yes, I used the following simple yaml file:

- name: BIG-IP test play
  hosts: 10.100.35.50
  #gather_facts: false
  connection: ssh

  tasks:
    - name: License BIG-IP specifying license options
      bigip_license:
        server: "10.100.35.50"
        user: "admin"
        password: "admin"
        key: "XXXXXXXXXXXXXXXXXXXX"
        #state: "latest"
        validate_certs: "no"
      delegat

[2017-02-10 02:11] caphrim007 commented on #66
i believe I need to do what I did in bigsuds to prevent that from happening then. I will update that tomorrow

[2017-02-10 02:13] motokof5 commented on #66
Thank you.

[2017-02-10 02:25] motokof5 commented on #66
The following error messages are in /var/log/messages:
Feb 10 11:23:22 localhost python: ansible-bigip_license Invoked with validate_certs=False server=10.100.35.50 license_options=None state=present user=admin key=M1396-88028-11002-17003-1488214 wsdl=None password=NOT_LOGGING_PASSWORD dossier_file=None license_file=None
Feb 10 11:23:23 localhost python: detected unhandled Python exception in '/tm

[2017-02-10 16:55] caphrim007 commented on #66
@motokof5 i've updated the module. can you download and try again?

[2017-02-10 23:22] lisahuang commented on #68
@caphrim007 The library_path helped but got an different issue.
fatal: [10.37.226.55]: UNREACHABLE! => {
    "changed": false,
    "msg": "Authentication failure.",
    "unreachable": true
}

I am wondering whether I still miss any library.

ansible 2.3.0
  config file = /Users/lisa.huang/Documents/work/f5/f5_ansible/test/ansible.cfg
  configured module search path = [u'/Users/lisa.huang/Documents

[2017-02-11 00:44] caphrim007 commented on #68
That sounds more like an incorrect set of credentials now. Can you try setting delegate_to: localhost on the task?

[2017-02-13 08:47] motokof5 commented on #66
@caphrim007, probably dose it need to import urllib2 and HTTPSTransportNoVerify for bugsuds in bigip_license.py? After modifying two things, I could install a license but not activate the license.

[2017-02-13 09:04] rklomp commented on #5
Just to let you know that with your latest commits static routes are now working for me 👍

[2017-02-14 17:44] caphrim007 commented on #5
@rklomp you got lucky then. The module should be complete now though. i need to push updated code and correct the unit tests. i will close this issue when that is complete

[2017-02-14 20:12] caphrim007 commented on #69
This is likely caused by not using BOOLEANS in the choices. Your expectation about the bigip_provision module is True.

Also, there is a feature request in BIG-IP to make this "is it provisionable yet?" status reliable. So when that goes GA, this module will require that version of BIG-IP.

Detecting whether bigip is "ready" is currently impossible. So the best we can do is guess and this module i

[2017-02-14 20:19] #5 closed

[2017-02-14 21:25] caphrim007 commented on #66
@motokof5 i added the import. Were you getting an error when activating?

[2017-02-15 02:54] richardhwu commented on #68
I got the same error as my last post after setting delegate_to: localhost on the task. @caphrim007 , is it possible for you to share the environment setup steps? I suspect my ansible and f5-ansible are using incompatible version.

[2017-02-15 02:55] lisahuang commented on #68
I got the same error as my last post after setting delegate_to: localhost on the task. @caphrim007 , is it possible that you could share the environment setup steps? I suspect my ansible and f5-ansible are using incompatible version.

[2017-02-15 06:05] caphrim007 commented on #67
@clay584 after some futher consideration over this, I've decided to take your suggestion. There is now a devel branch that will be used to commit breaking changes. The master branch will track the upstream ansible devel branch and should, therefore, be more stable.

There will also be future tags that pin themselves at releases that, likewise, track ansible's releases

[2017-02-15 14:34] clay584 commented on #67
Thanks so much!

[2017-02-15 18:35] caphrim007 commented on #47
@taplambeck this is fixed now here https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_software.py

[2017-02-15 18:35] #47 closed

[2017-02-15 21:20] caphrim007 opened #72 "add module for Licensing via BIG-IQ licensing Pool"

[2017-02-15 21:20] caphrim007 opened #73 "add module for configuring syslog on bigip"

[2017-02-15 21:21] caphrim007 opened #74 "add modules for HA on bigip"

[2017-02-15 21:21] caphrim007 opened #75 "finalize the module for module provisioning"
asm, afm, etc.

this functionality will officially release in Evergreen. Guess I need to have horrible hacks in the meantime related to waiting for bigip to become "ready"

[2017-02-15 21:32] caphrim007 opened #76 "finish module for doing SNMP traps"

[2017-02-16 05:01] caphrim007 opened #77 "Add persistent connection support to bigip_command"

[2017-02-16 22:10] caphrim007 opened #78 "add module to support manipulating iAppLX package"

[2017-02-16 22:10] caphrim007 opened #79 "add module to support manipulating iAppLX services"

[2017-02-16 22:10] caphrim007 opened #80 "add module to support manipulating ASM policies"

[2017-02-17 09:51] motokof5 commented on #66
@caphrim007, there was no error. Do you expect to activate a license after inserting it?

[2017-02-17 14:52] caphrim007 commented on #66
@motokof5 yes. that's the functionality that happens in or around here https://github.com/F5Networks/f5-ansible/blob/master/library/bigip_license.py#L599

[2017-02-17 23:02] loudsong opened #81 "bigip_license throws NameError exception for HTTPSTransportNoVerify"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_license.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

I'm using the master branch of f5-ansible (pulled from github today)

##### OS / ENVIRONMENT

Controller: Ubuntu Xenial

##### SUMMARY

A python exception is being thrown when trying to use the bigip_license module.

[2017-02-17 23:10] caphrim007 commented on #81
@loudsong try this version. I believe its fixed here https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_license.py

[2017-02-17 23:18] loudsong commented on #81
Thanks, switched to the devel branch, and it works great:

[code]

You can close this out.

[2017-02-17 23:25] loudsong commented on #69
I just ran into this issue today too:

[code]
results in:
[code]

[2017-02-17 23:37] #81 closed

[2017-02-18 00:08] caphrim007 commented on #69
@loudsong @rklomp try this copy https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_provision.py

[2017-02-18 00:11] caphrim007 opened #82 "add contents of /VERSION to bigip_facts"
there is information in here about build version and other things that cannot be queried from the API

[2017-02-19 00:22] loudsong commented on #69
Still having trouble with that copy too. It looks like it needs `import socket`. Also, the class `BigIpRest` is calling `super(BigIpRest, self).__init__(module)` except that BigIpRest doesn't seem to inherit from another class.

[2017-02-21 09:17] motokof5 commented on #66
@caphrim007 , I confirmed that a licence was installed and activated. I will try to test the provisioning module next. Thank you!

[2017-02-21 09:17] #66 closed

[2017-02-21 10:00] rklomp commented on #69
Same here, it is missing some imports

[2017-02-21 15:28] caphrim007 commented on #69
hey folks, this module needs to see an update as it's not complete and is missing many of the patterns that I've been using in other modules lately.

So I'm only going to monkeypatch fixes into it for now.

So here's @loudsong 's patches in this updated file on devel

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_provision.py

Lemme know if you're still having issues.

As far a

[2017-02-21 16:00] rklomp commented on #69
Now getting
`NameError: global name 'connection' is not defined` on line 201

But `test_icontrol` on line 205 will also not exist.

if using rest:
`obj = BigIpRest(module)` will give
`AttributeError: 'BigIpRest' object has no attribute '_key'` on line 132

[2017-02-21 22:44] caphrim007 commented on #69
@rklomp i'm refactoring this code right now to bring it up to date

[2017-02-22 18:10] caphrim007 opened #83 "add support for irule data groups"

[2017-02-22 18:12] caphrim007 commented on #83
these come in the form of a table, but are usually used like a list.

[2017-02-22 18:13] caphrim007 commented on #83
what sort of usage does the field see in external data groups?

[2017-02-22 18:59] mleklund commented on #50
this is happening to me as well.

[2017-02-22 19:48] caphrim007 commented on #69
@rklomp and @loudsong I believe the module code has been updated now to make this work.

A couple of things before you make an attempt.

* you need to have an updated F5-SDK installed. You can do this with the command `pip install --upgrade git+https://github.com/F5Networks/f5-common-python.git`
* This module includes boilerplate that is already part of Ansible core. When Ansible 2.4 is released,

[2017-02-23 08:59] rklomp commented on #69
@caphrim007 Thanks for the efforts so far!

Now I receive the following error
'<class 'f5.bigip.tm.sys.Sys'>' object has no attribute 'provision'
based on the call on line 233

I am using f5-sdk-2.2.2

[2017-02-23 15:33] caphrim007 commented on #69
@rklomp like I said in my previous comment, you need an update F5-SDK. See the first bullet above your comment

[2017-02-23 22:58] dtlowe opened #84 "bigip_ucs_fetch produces unhandled exception: "ValueError: too many values to unpack""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
```bigip_ucs_fetch```

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

/etc/ansible/ansible.cfg contains all defaults. Testing folder contains local ansible.cfg with the following default overrides. I've successfully managed to configure Ansible to back up a Cisco switch and an ASA.

[2017-02-24 19:43] caphrim007 commented on #68
@lisahuang can you contact me offline and we can debug it further there

my email is t.rupp@f5.com

[2017-03-01 05:10] slavkv opened #85 "bigip_user fails on creating or deleting of user account."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_user

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION
host_key_checking = False
ask_pass=False

##### OS / ENVIRONMENT
OSX 10.11.6

##### SUMMARY
Module 'bigip_user' fails when I try to create or delete user. I am using example from documentation.
Modules 'bigip_command' and 'bi

[2017-03-01 05:23] slavkv opened #86 "bigip_command does not execute 'list' or 'show' commands with --check option"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_command

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION
host_key_checking = False
ask_pass=False

##### OS / ENVIRONMENT
OSX 10.11.6

##### SUMMARY

Module does not run 'show' or 'list' commands when play is provided with **--check** option.

##### STEPS TO REPRODUCE

[code]

#

[2017-03-01 17:59] caphrim007 commented on #85
@slavkv this module only works on BIG-IP >= 13.0. But it's also unfinished, so you're seeing the unfinished part in that error. Even if it was finished though, it would require a newer version of BIG-IP.

[2017-03-01 18:01] caphrim007 commented on #86
@slavkv this is the way it's supposed to work. Check mode does not run the actual commands, it only says what would have happened.

Remove the `--check` parameter to get the desired output

[2017-03-01 22:07] slavkv commented on #85
@caphrim007 Thanks for answering. I have seen requirements of 13.0, but this version was released just recently and I thought I had seen before that module should work with previous version. Looks like I mixed it up.

[2017-03-01 22:12] slavkv commented on #86
@caphrim007 Thanks for your answer.
As for me, the phrase "only show or list commands are supported when using check mode, not executing `show sys version`" confuses. I thought it says that only 'show' and 'list' commands will be executed as they don't change configuration.

As I understand correctly, Cisco modules work in the same way. If you specify --check commands starting with 'show' will sti

[2017-03-01 22:17] slavkv opened #87 "Is any module I can simulate 'cisco' style config merge?"
##### ISSUE TYPE

 - Feature Idea

Since version 11.5 (at least), F5 'tmsh' shell supports the following way to apply configuration:

load sys config from-terminal merge [verify]
<copy past config here>
CTLR+D

Is any module which I can use to deploy config in this way?

It would be ideal if we could do something like that:

- name: config change
  bigip_config_merge:
    verify_only: false
    te

[2017-03-02 00:07] caphrim007 commented on #86
@slavkv I can see your point. I'll change the module

[2017-03-02 01:10] slavkv commented on #86
@caphrim007 I am not sure if it relates, I got more issues with 'bigip_command'.

When I provide several commands to create a user on system, module does run only one command, says no changed has been made and does not execute other commands saying 'command not executed due to check_mode'. No --check is involved.

My task:
[code]

Result:
[code]

user5 is created on F5 box though.

The debug outpu

[2017-03-02 04:35] slavkv commented on #86
@caphrim007 I guess I found an error but please confirm.

In bigip_command, line 227.

[code]

This never will return True. Instead of **all** it should have **any**.

Line 277:
[code]
This should not have '**not**', otherwise it triggers 'only show or list commands are supported' messages for 'list' commands.

And then Line 281:
[code]
I am not sure what it does at all. As I read it when config c

[2017-03-02 17:12] caphrim007 commented on #87
@slavkv at this time no. The configuration of a bigip is only partially supported in that way of merging. If there is future support for it though, it would be via the bigip_config file.

[2017-03-02 20:55] chennadi-ravi opened #88 "Playbook fails with all_rules & default_persistence_profile set to None"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
NA

##### SUMMARY

While using bigip_virtual_server module to build VIP's, have a task defined as below. Running ansible playbook fails if i set any off the fields on "None" (default value)

[2017-03-02 21:21] caphrim007 commented on #88
@chennadi-ravi is your goal to just change the BIG-IP configuration so that the values of

  * default_persistence_profile
  * all_rules

are unset back on the BIG-IP? Or is your goal to create the VIP using with_items and if that particular setting (persistence_profile or all_rules) is not in the with_items list, to just not create a VIP with it?

[2017-03-02 21:24] caphrim007 commented on #88
by "not create a VIP with it" i meant, just leave it empty

[2017-03-03 12:02] chennadi-ravi commented on #88
@caphrim007 This playbook is being used to create new VIP's & modify existing. Playbook fails if the values of persistence & all_rules are set to none & also failed leaving empty

[2017-03-03 15:09] caphrim007 commented on #88
@chennadi-ravi

For the create new, you want to ensure that VIPs do not have those settings.
For modify you want to ensure that those settings are removed from the VIP.

Is that correct?

[2017-03-03 16:56] chennadi-ravi commented on #88
No, I want all_rules & persistence_profile to be part of my playbooks for new or modifynVIp's. If certain VIP's don't need them, I expect the playbook to still work by setting it to "None". Is that not how its supposed to work?

[2017-03-03 18:21] chennadi-ravi commented on #88
@caphrim007

[2017-03-03 18:42] caphrim007 commented on #88
@chennadi-ravi if certain VIPs needs them and other VIPs do not, then you can use the `omit` default filter in the playbook.

To use your example,

In your variables, just remove the keys that you do not need

[code]

And your playbook can use omit to set them if they exist, otherwise dont set them

[code]

"None" cannot be specified by the user. It's None in the context of python, but the "None"

[2017-03-03 23:49] onurbrc commented on #54
Hi everyone,

I'm newbie in this "ansible world" but I'm very happy and excited working with it to network devices.

I have ansible 2.2 and both Python versions (2.7 and 3).

It's being my second week with my internship. But, I'm having some problems with the execution of playbooks and command line ansible scripts.

Actually, a simple ping doesn't work.

ansible devices -m ping.

The interaction :

[2017-03-04 01:32] caphrim007 commented on #54
@onurbrc what user are you running the playbook as?

[2017-03-04 09:23] onurbrc commented on #54
I've tried as **root** and my **ansible user** which is in sudoers.

[2017-03-06 10:11] onurbrc commented on #54
Good Morning @caphrim007,

Maybe I'm having some conflit with **/etc/ssh/sshd_config** and my **/etc/ansible/ansible.cfg** ? Is there a particular configuration of **/etc/ssh/sshd_config** facing ansible running to make it work ?

$ ansible LBF5 -m ping
F5-04 | UNREACHABLE! => {
    "changed": false,
    **"msg": "Failed to connect to the host via ssh: ssh: Could not resolve hostname F5-04: Name o

[2017-03-06 15:23] caphrim007 commented on #54
@onurbrc that error usually means that that host is not in dns.

Can ping ping a host named F5-04?

[2017-03-06 16:18] onurbrc commented on #54
Hi @caphrim007 ,
Yeap. I can ping in this machine.

If I use like this : $ **ansible all -i "192.168.1.4," -m ping**
192.168.1.4 | SUCCESS => {
    "changed": false,
    **"ping": "pong"**
}

It works.  But using the alias F5-[i], **it doesn't work**.
Here my /etc/ansible/hosts :
[LBF5]
F5-[03:04]

And here my /etc/hosts :

192.168.1.3   F5-[03]
192.168.1.4   F5-[04]

$ ansible LBF5 -m ping
F5-03

[2017-03-06 17:39] caphrim007 commented on #54
@onurbrc you're not pinging the hostname in your example.

you did `ansible all -i "192.168.1.4," -m ping` which pings the IP address. but then in your ansible hosts file, you give it a DNS hostname

[code]

I would venture to guess that you are unable to `ping F5-03` because it would give no host found.

your system hosts file says

[code]

But this is not what you told ansible to use. brackets i

[2017-03-06 21:26] onurbrc commented on #54
Hi @caphrim007,

I understand. I'll try tomorrow. A big and stupid mistake of mine.
Thank you so much.
I'll tell you about tomorrow.

Best regards.

[2017-03-07 07:58] onurbrc commented on #54
Goord Morning @caphrim007,

It works now ! Thank you again. My bad.
I have to "think python"  using ansible.

Have a nice day.
Best regards !

[2017-03-08 19:08] chennadi-ravi commented on #88
@caphrim007 I ran the playbook setting "default_persistence_profile: omit", still have the error

Exception: Error on updating Virtual Server : Server raised fault: 'Exception caught in System::urn:iControl:System/Session::submit_transaction()\nException: Common::OperationFailed\n\tprimary_error_code   : 16908342 (0x01020036)\n\tsecondary_error_code : 0\n\terror_string         : **01020036:3: The

[2017-03-08 19:15] caphrim007 commented on #88
@chennadi-ravi

you need to familiarize yourself with the ansible omit filter as you are still setting a value and not using the omit filter. here is the reference in their documentation

http://docs.ansible.com/ansible/playbooks_filters.html#omitting-parameters

[2017-03-08 19:20] caphrim007 commented on #88
re-opened issue as I clicked the wrong button

[2017-03-08 20:00] chennadi-ravi commented on #88
@caphrim007
On setting default_persistence_profile: "{{ item.default_persistence_profile|default(omit) }}" & commented out default_persistence_profile in the host_vars file worked this time. Thanks for your help.

[2017-03-08 20:51] caphrim007 commented on #88
alrighty. closing this issue for now then.

[2017-03-08 20:51] #88 closed

[2017-03-09 18:26] caphrim007 opened #89 "ensure alonso's web_frontends iapp works with iapp_service module"
it was failing and that failure needs to be investigated. I think it might be from some recent churn in the module source

[2017-03-13 01:41] caphrim007 commented on #89
i believe this is now fixed. it was due to Alonso not using the parameters option correctly. Also, the module needed to re-exec the deployment command for the iapp service. Note that such re-execute is not needed to iAppLX as those define their own configuration functionality.

[2017-03-13 01:41] #89 closed

[2017-03-13 01:42] caphrim007 opened #90 "refactor bigip_vlan to use new conventions"
this is a 2nd gen module that needs refactoring to use 3rd gen conventions

* Include unit tests

[2017-03-13 19:05] caphrim007 opened #91 "module for bigiq regkey pools"
create a module to support BIG-IQ regkey pools.

[2017-03-13 19:05] caphrim007 opened #92 "module for bigiq regkey licenses"
create a module to support BIG-IQ regkey pool licenses.

[2017-03-14 02:58] Ellison001 opened #93 "bigip_virtual_server.py will fail when filling zero in the Virtual Server port number."
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

bigip_virtual_server.py
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Virtual Server should be created with Service Port 0

##### ACTUAL RESULT

[2017-03-14 04:48] caphrim007 commented on #93
@Ellison001 can you show a snippet of the task that this error is being raised in? You are correct that the current version of the module does not consider 0 to be a valid port. that's a known issue. the error message you're being presented with suggests that your task is wrong because it is missing the `destination` option.

[2017-03-14 05:05] caphrim007 commented on #68
@lisahuang did we resolve this issue? I don't see an email thread about it in my inbox

[2017-03-14 05:06] caphrim007 commented on #76
this is now complete

[2017-03-14 05:06] #76 closed

[2017-03-14 05:11] caphrim007 opened #94 "ensure bigip_command detects checkmode"
the bigip_command module says it supports checkmode, but I forgot to add it here

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_command.py#L269

the execute on device code should be brought up into the aforementioned line and each command should have an attribute specifying whether it is something that needs to be filtered by checkmode or not

[2017-03-14 05:13] caphrim007 commented on #94
checkmode key can probably be set here https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_command.py#L314

[2017-03-14 07:41] Ellison001 commented on #93
here is the snippet from my screen.
[code]

[2017-03-14 11:28] caphrim007 commented on #93
@Ellison001 i meant the yaml task, not the output of the task.

[2017-03-14 13:34] Ellison001 commented on #93
[code]

[2017-03-14 13:42] caphrim007 commented on #93
ahh, `with_items`, i thought so.

if you add a port though, does it work? because that error is raised only if the (in your case) `vip_ip` and `port` are not specified. And by not specified I literally mean you didn't provide them, not that one of them was zero.

do all of the items in your `virtual_servers` variable have a port?

[2017-03-14 13:56] Ellison001 commented on #93
If I change port number from 0 to 80.  no error reported.

below is the VS portion from my yaml file

[code]

[2017-03-14 13:59] caphrim007 commented on #93
can you put quotes around your zero to see if making it a string gets it past that error?

this is the error we're seeing

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_virtual_server.py#L764

but zero, in python, is not None.

[2017-03-14 14:10] Ellison001 commented on #93
I tried with both single quote and double quotes. All failed with the same error.

[2017-03-14 14:11] caphrim007 commented on #93
@Ellison001 alright. guess I'll have a look. Are you using the module in this repository of the module from core ansible?

[2017-03-14 14:15] Ellison001 commented on #93
I am using the module in this repository.

[2017-03-16 04:51] caphrim007 opened #97 "add unit tests for TypedManager to test_bigip_gtm_wide_ip"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

test/bigip/test_bigip_gtm_wide_ip.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

unit tests for missing for the TypedManager in this test file

[2017-03-16 05:17] caphrim007 opened #98 "write playbooks for assisting in setup of dev environments"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-03-16 21:27] caphrim007 commented on #87
@slavkv a module like this is now available to test with here

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_config.py

Let me know how it works for you.

[2017-03-16 21:27] #87 closed

[2017-03-16 21:27] caphrim007 opened #99 "add unit tests for bigip_config"

[2017-03-16 22:36] slavkv commented on #87
@caphrim007 Thank you, I will test.

[2017-03-17 05:48] caphrim007 commented on #26
@erjac77 I believe this module is addressed by the bigip_iapp_service module which is, tentatively, complete. Can you have a go at that and if you find an issue, please report.

[2017-03-17 05:48] #26 closed

[2017-03-22 14:03] dano0b opened #100 "bigip_ssl_certificate does not support encrypted files (vault)"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
bigip_ssl_certificate

##### ANSIBLE VERSION
ansible 2.2.0.0
  config file = /root/.ansible.cfg
  configured module search path = Default w/o overrides

##### PYTHON VERSION
Python 2.7.5

##### BIGIP VERSION
Sys::Version
Main Package
  Product     BIG-IP
  Version     12.1.2
  Build       0.93.249
  Edition     Engineering Hotfix

[2017-03-22 15:11] caphrim007 commented on #100
@dano0b these modules are not action or lookup plugins. the copy/template modules that you mention are, so they get this feature automatically.

the way that you should include files like that is to use the file or template lookup plugins.

Using your example, and assuming you have bigip_ssl_certificate in the f5service role, it would look something like this

[code]

The lookup plugins support us

[2017-03-22 16:51] dano0b commented on #100
@caphrim007 thanks for the fast reply, I will try that tomorrow at work. I tried it before but maybe had some other problem during that try. As long as the lookup supports vault I will be happy. Maybe worth a hint in the docs for encrypted files?

[2017-03-22 16:57] caphrim007 commented on #100
@dano0b sure I can put a note about that module

[2017-03-22 16:58] dano0b commented on #100
@caphrim007
Maybe making an action plugin of it is a good idea? The dwim pathing that bcoca mentioned sounds really comfortable. Is it is not duplicating too much...

[2017-03-22 17:01] caphrim007 commented on #100
@dano0b this isn't the only module that has such a behavior. so if we did it here, then we would also have to do it in a number of other modules. at this time, that's a lot of work. maybe in the future, but not at this time.

[2017-03-22 18:27] caphrim007 opened #101 "bigip_virtual_server is trying to delete profiles"
the profiles_list is an iterator.imap and python's `in` does not work there. additionally, set_profiles is called in the vs_create function unnecessarily

[2017-03-22 20:35] caphrim007 commented on #101
this is now fixed

[2017-03-22 20:35] #101 closed

[2017-03-23 04:39] caphrim007 opened #102 "check that virtual address actually does all updates"
Amrisha says she's seeing that it doesnt. so verify whether it does or does not and fix as needed

[2017-03-23 04:40] #69 closed

[2017-03-23 04:43] caphrim007 commented on #77
i've decided not to do this yet because it's not clear to me where the value is in converting bigip_command to use it.

bigip_command, when it was ssh based, was the outlier insofar as our API and CLI do not share admin accounts (for reasons completely unknown to me).

So users could use every module with API credentials except this one, and that was causing a number of problems. Additionally, it

[2017-03-23 04:43] #77 closed

[2017-03-23 04:44] #72 closed

[2017-03-23 04:45] #51 closed

[2017-03-23 04:48] caphrim007 commented on #32
@dbeckham the vs module went through some changes today if you want to have a look and see if it addresses this issue.

[2017-03-23 04:48] #32 closed

[2017-03-23 06:32] dano0b commented on #100
@caphrim007 successfully tested with the file lookup, thank you very much for the fast reaction.

[2017-03-23 06:32] #100 closed

[2017-03-23 17:31] payalsin opened #103 "bigip_device_dns module 'forwarders' parameter is not getting populated"
Hi Team.....

Task is as follows:
- name: Manage BIG-IP DNS settings
    bigip_device_dns:
     server: "{{ inventory_hostname }}"
     user: "{{ username }}"
     password: "{{ password }}"
     name_servers:
       - "{{ dns_server1 }}"
       - "{{ dns_server2 }}"
     search:
       - "{{ dns_search_domain1 }}"
       - "{{ dns_search_domain2 }}"
     forwarders:
       - "{{ bind_server1 }}"

[2017-03-23 20:18] caphrim007 opened #104 "static routes with destination 0.0.0.0/0 do not work correctly."
because bigip calls them "default". thanks bigip

[2017-03-23 21:38] payalsin commented on #103
hey its happening with the module available with ansible 2.2 (did not pull modules from dev branch). Thanks

[2017-03-23 21:42] caphrim007 commented on #103
can you try the dev branch module? it would be the successor that is going to go upstream eventually

[2017-03-24 15:48] sfriz opened #106 "bigip_ppol_member priority-group settings"
##### ISSUE TYPE

 - Feature Idea
##### COMPONENT NAME

bigip_pool_member
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We are trying to use ansible to automate changing Priority Group settings of pool members. bigip_pool and bigip_pool_member don't currently have the ability to modify or set Pr

[2017-03-25 04:11] caphrim007 commented on #104
this is now fixed

[2017-03-25 04:11] #104 closed

[2017-03-25 04:12] caphrim007 commented on #103
@mryanlam can you look at this?

[2017-03-25 04:48] mryanlam commented on #103
Yes, I can

[2017-03-27 17:24] caphrim007 opened #107 "ensure bigip_node can take hostnames"
currently, the soap api cannot take hostnames, for whatever reason, so along with the refactor of bigip_node that has to happen, ensure that hostnames are acceptable.

from `/mgmt/tm/ltm/node`

[code]

[2017-03-27 18:54] payalsin commented on #103
I tried the dev branch module and am still seeing the issue...thanks

[2017-03-28 23:28] #29 closed

[2017-03-29 02:18] caphrim007 opened #109 "add an example of batch setting SSL client ciphers"
customer was interested in this

[2017-03-29 04:02] caphrim007 opened #110 "create bigip_qkview module"
to be used for generating qkviews and saving them locally

[2017-03-29 04:02] caphrim007 commented on #110
this is now complete

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_qkview.py

[2017-03-29 04:04] caphrim007 opened #111 "create module for uploading files to support"
to be called f5_support_upload

this is to be used in conjunction with bigip_qkview to upload files to support based off of support login credentials provided to a customer when an SR is opened.

See this url for details on upload procedure.

https://support.f5.com/csp/article/K2486

[2017-03-29 04:08] caphrim007 opened #112 "add modules that can do config sync"
this was requested by a user in a recent Ansible webinar. I believe they probably want to sync to device or sync from group.

[2017-03-29 10:44] wojtek0806 commented on #85
@slavkv can you check if the issue is now resolved, we have pushed the fix to devel branch

[2017-03-29 16:48] wojtek0806 commented on #85
Feel free to reopen if issue persists

[2017-03-29 16:48] #85 closed

[2017-03-30 03:12] caphrim007 opened #113 "bigip_user not allowing admin partition access for all partitions"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-03-31 05:24] jkkarant89 commented on #50
This problem has been noticed even when performing enable/disable of a GTM WideIP.
To trace this down the problem seems to be intermittent.

Was there any solution to the problem apart from moving to REST identified? (migrating to REST not possible as not all versions of F5 are REST enabled).

[2017-03-31 05:57] caphrim007 commented on #50
@jkkarant89 i do not have a reliable repro from which to test. I can provide a debug version of the module for anyone interested in running it in production and attempting to catch the cause of the exception.

[2017-03-31 11:14] hanej commented on #50
I had to move this functionality to a Python script that is called from Ansible.  Haven't had the problem since.

[2017-03-31 14:13] luuke1 opened #114 "Issue applying TCP Protocol profile for new virtual servers"
##### ISSUE TYPE

[code]

##### MODULE
[code]

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I am trying to create a playbook to create a new virtual server with some default configuration already applied.

I have managed to have success with a lot of the configuration so far, however whenever I

[2017-03-31 14:37] ashS1LV commented on #114
I believe this also occurs when you try this directly via TMSH. You need to use the {context serverside} or {context clientside} configuration to apply more than one profile, however I can't find how to do this within the bigip_virtual_server module, hopefully it's as simple as us missing how you define the context of each profile within the module.

[2017-03-31 19:22] PoLoMoTo commented on #68
@caphrim007 I have the same issue with this module being missing but when I add it there's also a bunch of other modules that bigip_command depends on that I don't have like f5_utils and network common, and even after finally getting those added it says it requires the f5-sdk python module but pip says it's installed.

[2017-03-31 19:38] caphrim007 commented on #68
@PoLoMoTo are you sure you install ansible 2.3? and are you sure you're using either `connection: local` in your play or `delegate_to: localhost` in your task?

[2017-03-31 21:19] mryanlam commented on #103
How are you checking the value of the forwarders after setting them via ansible?
Are you checking via the Management GUI?

[2017-03-31 22:14] payalsin commented on #103
Yes that's correct checking them via the management GUI

[2017-03-31 23:59] mryanlam commented on #103
F5 Product Development has assigned ID 567490 to this issue.
It is not an issue with F5-ansible, but with the management gui.

[2017-04-01 00:33] caphrim007 commented on #103
@mryanlam @payalsin can you set this forwarders value using tmsh?

[2017-04-03 12:22] wojtek0806 commented on #113
@caphrim007
is this fixed, i think you pushed changes for this already ?

[2017-04-03 13:04] PoLoMoTo commented on #68
@caphrim007 Oh no, I have 2.2 I guess thats why I don't have all of those modules then

[2017-04-03 13:41] caphrim007 commented on #113
yep

[2017-04-03 13:41] #113 closed

[2017-04-03 16:39] caphrim007 opened #116 "add priority group pr from upstream"
https://github.com/ansible/ansible/pull/23128

@ossark opened this upstream. Merge those changes and tests for those changes to this repo

[2017-04-03 16:40] #116 closed

[2017-04-03 16:43] caphrim007 commented on #114
@luuke1 @ashS1LV the module, at this time, does not make a distinction between server-side and client-side. There is a refactor of this module (i think it's called virtual_server2.py` that accepts a `profiles_client_side` and `profiles_server_side` to distinguish between the two. That's modules `profiles` option continues to work the way this module does; putting it as the context "all".

The vs2

[2017-04-03 16:47] #110 closed

[2017-04-03 16:54] caphrim007 commented on #106
@sfriz this should be complete thanks to @ossark and their commit here https://github.com/ansible/ansible/pull/23128

I have backported that commit into this repository here. The option is `priority_group` as you would see it in tmui and tmsh

[2017-04-03 16:54] #106 closed

[2017-04-04 14:31] compyy opened #117 "ansible.module_utils.f5_utils.F5ModuleError: The python f5-sdk module is required"
There is one issue already filed for this but workaround dint fix any thing.
https://github.com/F5Networks/f5-ansible/issues/64
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

[defaults]
inventory=./hosts
gathering=explicit
transport=local
host_key_checking = false

[

[2017-04-04 15:45] caphrim007 commented on #117
@compyy this module should be used like so

[code]

The format that you mention in this issue is from an older version of the module.

[2017-04-04 17:05] compyy commented on #117
Hi,

Thanks for responding, I tried it, had same error, will do again tomorrow and share update.

[2017-04-04 18:07] wojtek0806 opened #118 "Improve bigip_user.py unit tests"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_user.py module

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Unit tests for bigip_user.py are lacking proper update checking with example json. Also Partitioned manager class is not tested.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED

[2017-04-05 07:57] dano0b opened #120 "notify handler broken / KeyError: None"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_pool
bigip_virtual_server

maybe more

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)
##### SUMMARY

As soon as I use `notify: "sync device-group"` with the virtualserver or pool module I get an excep

[2017-04-05 10:04] compyy commented on #117
Not sure why but it gives me syntax error.

- name: perform some task
   bigip_command:
       commands: show sys version
       server: "lb.mydomain.com"
       password: "secret"
       user: "admin"
       validate_certs: "no"
   delegate_to: localhost

ansible-playbook F5Version.yaml --syntax-check
ERROR! Syntax Error while loading YAML.

The error appears to have been in '/home/beta/Documents

[2017-04-05 10:17] compyy commented on #117
Tried this Playbook, same error.

[code]
[code]

[2017-04-05 14:42] luuke1 commented on #114
@caphrim007 thanks for your response. I have now tried this new module however I still encounter the same issue:

here is the playbook I created and ran:

- name: Test add VIP
  hosts: [test]
  connection: local

  tasks:

   - name: Add virtual server
     bigip_virtual_server:
      server: 1.1.1.1
      user: ansible
      password: ansiblecloud
      state: present
      partition: Common

[2017-04-05 15:50] caphrim007 commented on #117
@compyy there's one of several things happening

1. You're ansible version isnt 2/3 or greater. To remedy that, you must install from their devel branch until 2.3 final is released.

`pip install --upgrade git+https://github.com/ansible/ansible.git`

2. You have upgraded, but trace files from the older installation still exist. In particular, the old module_utils file. You can find that with this

[2017-04-05 15:58] caphrim007 commented on #120
@dano0b that's happening because your Notify is not matching your handler.

Your handler is defined as this

`name: "sync device-group {{ groupf5serviceDeviceGroup }}"`

but you're notifying this

`notify: "sync device-group"`

So this doesnt seem related to the F5 modules

The f5_utils error is being caused by not having Ansible 2.3, or later, installed. You can do so with this command

`pip inst

[2017-04-05 15:58] caphrim007 commented on #117
Additionally, if you installed Ansible from a package manager like apt or yum, remove it first and (if using apt) purge it. Package managers screw with your ability to install updates from pip because they put files in locations that pip does not know and those locations take priority over the pip locations.

[2017-04-05 16:02] caphrim007 commented on #114
@luuke1 unless you personally renamed the file, the correct file should be called `bigip_virtual_server2.py` and should be used as such in your playbook

[code]

You look like you're using `bigip_virtual_server` still. here is the file you want

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_virtual_server2.py

[2017-04-05 16:06] dano0b commented on #120
@caphrim007 I use the `listen:` (available since 2.2) to make it react to `sync device-group`

we are always using the stable release of ansible, my lab has no access to a f5 loadbalancer

[2017-04-05 16:22] caphrim007 commented on #120
@dano0b using the modules in this repo requires 2.3 or later. So I would recommend for now that you stick with the modules that come with Ansible until such time as 2.3 is released.

In the meantime, I dont have tests for using listen or notifications in my functional tests, so I will need to add some.

[2017-04-05 16:24] dano0b commented on #120
I believe 2.3 will be released soon, rc4 is really close. I will update this issue as soon I've tested it with 2.3.

[2017-04-06 08:42] luuke1 commented on #114
Thanks @caphrim007. I have created a new playbook and renamed as you have suggested but receive the following:

"ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path."

also in the URL you provided it does not specify to use "bigip_virtual_server2:" but maybe this is just a typo, but the playbook cannot seem to find the module when it is run.

[2017-04-06 08:57] luuke1 commented on #114
Thanks for the help @caphrim007.

[2017-04-06 12:40] compyy commented on #117
Thanks for your great help.

One more question, i have specified connection: ssh, but even then it uses https.

Can we run these modules with ssh ? i dont have https opened for my dev machine towards F5.

[2017-04-06 14:22] caphrim007 commented on #117
at this time, no. this may be pursued in the future, but at this time it is not a priority and the cli makes it especially difficult as there is not a well-defined format for the output across the different modules

If you're all set with this current issue, feel free to close it.

[2017-04-06 14:23] caphrim007 commented on #114
@luuke1 are you set now?

[2017-04-06 15:56] luuke1 commented on #114
@caphrim007  I will need to wait for our ansible team to add the new code before I can start testing the playbook, if I encounter any issues using the new version I will raise a new request. Thank you very much for your support!

[2017-04-06 15:56] #114 closed

[2017-04-06 16:42] #90 closed

[2017-04-07 09:51] compyy commented on #117
Thanks, i can run the playbooks now.

[2017-04-07 09:51] #117 closed

[2017-04-08 03:18] caphrim007 opened #122 "consider adding diff'ing ability to modules"
http://docs.ansible.com/ansible/playbooks_checkmode.html

an ask to provide diff ability was made. we already collect the changes made, so what would be required to show diffs of the have and the want instead of just saying that "something changed"

[2017-04-09 05:20] insidepacket opened #123 "GTM wideip creation failed"
ISSUE TYPE

Bug Report

COMPONENT NAME

network/f5/bigip_gtm_wide_ip

ANSIBLE VERSION

Ansible version 2.2.1.0
[root@localhost f5]# ansible --version
ansible 2.2.1.0
config file = /home/dzhang/f5/ansible.cfg
configured module search path = Default w/o overrides

PYTHON VERSION
Python 2.7.5
[root@localhost f5]# python --version
Python 2.7.5

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Centos 7.

[2017-04-09 15:09] caphrim007 commented on #123
@insidepacket does this happen with the module in this repository? the module upstream is incomplete and I was going to push the module in this repository to Ansible upstream. I saw you opened this

https://github.com/ansible/ansible/issues/23437#issuecomment-292764743

[2017-04-10 10:47] insidepacket commented on #123
@caphrim007 , I updated ansible/ansible#23437 (comment). Please check. In short, still doesn't work but different error

[2017-04-10 21:46] caphrim007 commented on #123
@insidepacket I've pushed a change that i believe fixes this issue. if you have a moment to test the module in this repository, lemme know here

[2017-04-10 21:46] #123 closed

[2017-04-10 22:30] insidepacket commented on #123
@caphrim007 , re-tested and still no lucky, See the below:

[dzhang@localhost f5]$ ansible-playbook -vvv gtm-v0.2a.yml
/usr/lib/python2.7/site-packages/pkg_resources.py:1054: UserWarning: /home/dzhang/.python-eggs is writable by group/others and vulnerable to attack when used with get_resource_filename. Consider a more secure location (set with .set_extraction_path or the PYTHON_EGG_CACHE environm

[2017-04-11 00:57] caphrim007 commented on #123
@insidepacket i'm sorry about that. that was debug information that I left in there. try again, I've since removed it.

[2017-04-11 09:02] insidepacket opened #124 "Bigip_GTM_wide-ip "pool" option"
##### ISSUE TYPE
 - Feature Idea
Could we add "pool" option to wide-ip?
##### COMPONENT NAME
bigip_gtm_wide_ip.py
##### ANSIBLE VERSION
Version 2.3
##### PYTHON VERSION
Version 2.7.5

##### BIGIP VERSION
BIG-IP 12.1.2 Build 0.0.249 Final

[2017-04-11 09:11] insidepacket opened #125 "BigIP F5 GTM pool creation failed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_gtm_pool.py

##### ANSIBLE VERSION
[dzhang@localhost library]$ ansible --version
/usr/lib/python2.7/site-packages/pkg_resources.py:1054: UserWarning: /home/dzhang/.python-eggs is writable by group/others and vulnerable to attack when used with get_resource_filename. Consider a more secure location (set with .set_extraction_path or the PYTH

[2017-04-11 21:37] insidepacket commented on #123
@caphrim007 , restested and all good now. Thanks

[2017-04-13 18:16] caphrim007 opened #126 "iapp_template module not deleting appropriately"
alonso is reporting that the following error is raised when deleting his web_frontends iapp.

[code]

[2017-04-13 22:49] mirzawaqasahmed opened #127 "all_profile not working."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]
##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect that both profiles be applied. Actually I can see on the docs two types:
http://f5-ansible.readthedoc

[2017-04-17 18:29] payalsin opened #128 "bigip-vlan giving error"
ISSUE 1
  - name: Add Internal VLAN
    bigip_vlan:
      server: "10.192.73.218"
      user: "admin"
      password: "admin"
      untagged_interfaces:
       - 1.1
       - 1.2
      name: "Internal"
      tag: "11"
      validate_certs: "no"
    delegate_to: localhost

TASK [Add Internal VLAN] ******************************************************************************************************

[2017-04-17 18:34] payalsin opened #129 "bigip-qkview throwing an 400 unexpected bad error"
Not sure if I am inputting some incorrect parameters?

*****************************************************************
PLAYBOOK

- name: Create qkview
  hosts: bigip
  gather_facts: false

  tasks:

  - name: Generate and store qkview file
    bigip_qkview:
      server: "10.192.73.218"
      user: "admin"
      password: "admin"
      asm_request_log: "yes"
      dest: "/tmp/localhost.localdoma

[2017-04-17 18:53] caphrim007 commented on #129
@payalsin i've seen this occur in the past and i'm not sure what the cause is. qkview command seems to freeze for no reason when some combination of arguments is provided.

this seems to be an example of that.

we might need to file a BZ for this

[2017-04-17 18:53] caphrim007 commented on #129
@payalsin also, is ASM provisioned?

[2017-04-17 19:02] wojtek0806 commented on #128
In the second case, the tag is set to be 'int' numerical value, it will not accept anything other than a number. I will have to look at issue 1 next.

[2017-04-17 19:11] wojtek0806 commented on #128
trunks would be specified in the tagged_interfaces list, but they need to be created first on the device in order for you to be able to add them. 'tag' option is only for vlan tagging.

[2017-04-17 19:13] wojtek0806 commented on #128
you are using the devel branch right ?

[2017-04-17 19:22] payalsin commented on #128
yes correct trunk would need to be created first on the bigip in order for us to tag it. Just saying if we can support adding a non int value for tagged/untagged interface it would be good. If not its ok too.

yes using the devel branch.

[2017-04-17 19:22] wojtek0806 commented on #128
can you do a GET to this REST endpoint on your device and gist the output here?

https://10.192.73.218/mgmt/tm/net/interface

From what I can see the problem may lie in the response you get from the device once you reach this part of the lib:

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_vlan.py#L240

If i get your output in the .json I can have a look at something we are miss

[2017-04-17 19:25] wojtek0806 commented on #128
you would not be able to add this as we do interface comparison on what is on the device, so the actual interface has to exist first, and interface names are strings.

[2017-04-17 19:30] wojtek0806 commented on #128
can you code paste the first yaml as well please? I want to check if that indentation is not just a copy paste error :)

[2017-04-17 19:45] wojtek0806 commented on #128
@payalsin  I have used same setup as you have on your yaml on my hardware box running 11.5.4 and i had no issues. This increasingly looks like a problem on the bigip of sorts.

[2017-04-17 20:23] payalsin commented on #128
Yaml code:

- name: Add Internal VLAN
    bigip_vlan:
      server: "10.192.73.218"
      user: "admin"
      password: "admin"
      tagged_interfaces:
      - 1.1
      - 1.2
      name: "External"
      validate_certs: "no"
    delegate_to: localhost

Response from BIGIP

[root@mg-server1 ps_ansible]# curl -k --user admin:admin -H "Accept: application/json" -H "Content-Type:application/json" ht

[2017-04-17 20:31] caphrim007 commented on #128
@payalsin use the triple backtick, `, to quote your yaml please

[2017-04-17 20:41] mirzawaqasahmed commented on #127
Anyone here who could help?

[2017-04-17 20:45] caphrim007 commented on #127
@mirzawaqasahmed I have not had a chance to look into this yet

[2017-04-17 20:46] payalsin commented on #129
no ASM is not provisioned, I tried with asm_request_log: "no" and still getting the same error

---
- name: Create qkview
  hosts: bigip
  gather_facts: false

  tasks:

  - name: Generate and store qkview file
    bigip_qkview:
      server: "10.192.73.218"
      user: "admin"
      password: "admin"
      asm_request_log: "no"
      dest: "/tmp/localhost.localdomain.qkview"
      validate_certs:

[2017-04-17 20:55] caphrim007 commented on #129
for the second error there, it looks like you need to update the version of f5-sdk

[2017-04-17 21:22] payalsin commented on #129
ok, thanks yes updating the f5-sdk changed the error to the previous one. Do you have an example of which params work for sure so that we could document that. Using it with just a dest: might be a common way to do it and it will fail if there is a bigip bug

[2017-04-17 21:34] caphrim007 commented on #129
I would expect all of the options to work. wouldn't many much sense to not have all the options work.

can you enable ASM and try that option again?

[2017-04-17 21:37] wojtek0806 commented on #128
@payal can you tell me if this is a VE or hardware unit?

[2017-04-17 21:47] payalsin commented on #128
this is a VE

[2017-04-17 21:58] wojtek0806 commented on #128
Ok then that explains it..i need to verify but from what i know you cannot fo multi interface assignment on an VE..however what is puzzling is the error message..i will have to check it tomorrow morning my time on a VE image..

[2017-04-17 22:20] payalsin commented on #128
ahh yes you re right, cannot assign more than one interface on a VE.....

the error message I see on the UI is: 01070734:3: Configuration error: vmw-compat: vlan may only have one interface

Sure thanks fr checking, if you need to use my BIGIP for testing let me know...

[2017-04-18 08:50] wojtek0806 commented on #128
I have run the test playbook against my VE and I have gotten this error, which is expected:

[code]
As this is not reproducible on my VE,  this is most likely caused by some of the interfaces not returned in the REST call:

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_vlan.py#L240

As I see no other way of this to break. Let me know if you have further questions, otherwise I w

[2017-04-18 10:51] insidepacket commented on #125
Update: I perform more testing and found the below:
1. When GTM pool type is "a" or "aaaa", this module works well.
2. When GTM pool type is "mx", "cname", "naptr" and "srv", the issue happens.
@caphrim007 , could you please have a look this issue?

[2017-04-18 15:09] payalsin commented on #128
I see interesting. Sure lets close it out. Can you do a GET on your interfaces just to compare if there is something different from your BIG-IP than from mine. thanks

[2017-04-18 15:13] caphrim007 commented on #128
@payalsin I want @wojtek0806 to contact you offline and test directly against your BIG-IP to ensure that we're not missing something.

[2017-04-18 16:16] wojtek0806 commented on #128
After OOB conversation, we have found this issue not reproducible anymore with the original VE. Removing quotes from interface names, has had no effect. Closing for now.

[2017-04-18 16:16] #128 closed

[2017-04-18 16:39] #126 closed

[2017-04-18 16:49] caphrim007 commented on #127
@mirzawaqasahmed the correct method is to use the virtual_server2 module as you have done. those modules need to be on the client side or the server side; they cannot be "all" like the original virtual_server module did.

So you're going in the right direction.

The bug you've raised about the name is something that I need to fix so that this module will work for you.

[2017-04-18 21:37] payalsin commented on #129
licensed ASM, still no luck...same issue....

[2017-04-19 14:42] compyy opened #130 "Confusion regarding Server in module and Hosts from Inventory"
No
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_facts
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

My playbook runs fine for all 18 hosts defined in host file, i still cannot understand what is the use of Server: in playbook, if i remove it and mention "{{ ansible_host }}" t

[2017-04-19 15:14] whytoe opened #131 "APM Modules?"
Hey Tim,

Is there any modules currently to provision to the APM module in F5?

Dan

[2017-04-19 15:23] wojtek0806 commented on #131
As far as I can see there are none. It is something I was considering for the SDK lib (so we use REST) and it has to be implemented there first. Are there any specifics you have in mind for now?

@whytoe

[2017-04-19 15:41] wojtek0806 commented on #129
@payalsin i assume this is the same box as you gave me access yesterday ?

[2017-04-19 15:52] payalsin commented on #129
Yup same box.... thanks

On Wed, Apr 19, 2017 at 8:41 AM, Wojciech Wypior <notifications@github.com>
wrote:

[2017-04-19 21:59] payalsin opened #132 "bigip_configsync_actions"
Setup an HA manually and was at the point at 'Awating initial config sync'

Ran the playbook, the sync happened but the playbook threw an error:

[root@mg-server1 ps_ansible]# ansible-playbook playbooks/bigip-configsync-actions.yaml

TASK [Perform a config sync] *****************************************************************************************************************************************

[2017-04-20 09:41] compyy commented on #130
ok, i found two issues.
1. DNS
2. Fixed with following playbook.

# Show version for F5 Hosts
-
  hosts: F5-LB
  environment:
      F5_SERVER: "{{ ansible_host }}"
      F5_USER: "{{ansible_user}}"
      F5_PASSWORD: "{{ansible_ssh_pass}}"
      F5_VALIDATE_CERTS: "false"
      F5_SERVER_PORT: 443

  tasks:
    - name: Check F5 Server Facts
      bigip_facts:
         include: "software"
      del

[2017-04-20 12:16] wojtek0806 opened #133 "bigip_pool needs refactor to use REST"
This module uses SOAP and needs to be refactored to use REST instead. Include unit tests

[2017-04-20 14:17] whytoe commented on #131
I was thinking

- Access Policies
- SSO configurations

[2017-04-20 14:21] wojtek0806 commented on #131
ok I opened up issue for that in SDK , it needs to be implemented there before we can plan those for Ansible

[2017-04-20 15:52] damhau opened #135 "error with bigip_ucs_fetch.py global name 'BIGSUDS_AVAILABLE' is not defined"
in bigip_ucs_fetch.py

I've have to add server_port it was missing and generating a "pack" error:
around line 361:

(server, user, password, state, partition, validate_certs, server_port) = f5_parse_arguments(module)

I had to configure manually the connection type with the following:

line 371        connection = 'soap' instead of connection = module.params['connection']

I had to comment the fol

[2017-04-20 17:20] caphrim007 commented on #130
@compyy to explain the server and other connection related variables, you need to understand how ansible executes module code.

Ansible reads the YAML file you provide and then based on the values in your playbook's `host:` line, it will transpile the YAML to Python, SCP the python code to the remote machine, and then run `python /path/to/remote/file.py`, on the remote machine, to run the python.

[2017-04-20 17:20] #130 closed

[2017-04-20 17:21] caphrim007 commented on #132
@payalsin is the device still in this state?

[2017-04-20 17:24] caphrim007 commented on #132
or can you PM me and show me what you did to repro this

[2017-04-20 18:10] caphrim007 commented on #135
`BIGSUDS_AVAILABLE` is no longer used, so this module will need to be changed to reflect that, as you have seen.

[2017-04-20 18:19] caphrim007 opened #136 "iapp_template module not detecting differences"
Alonso reported that the iapp template module was reporting a change but not actually changing the iapp in his BIG-IP

[2017-04-20 19:14] payalsin commented on #132
Sure sent you an email..

On Thu, Apr 20, 2017 at 10:24 AM, Tim Rupp <notifications@github.com> wrote:

[2017-04-20 19:49] #136 closed

[2017-04-20 20:27] alonsocamaro opened #137 "[RFE] deploy iApp with deployment options"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT NAME
bigip_iapp_service
##### SUMMARY
Hi

When deploying iApps within the BIG-IP it is possible to use the following options:

- ~~description~~
- ~~metadata~~
- ~~traffic-group~~
- ~~device-group~~
- ~~strict-updates~~ (See comment below)

Some of these options are visible in the GUI when using the "Advanced view" or all of them with tmsh by typing

[2017-04-20 20:38] alonsocamaro opened #138 "bigip_iapp_service needs force option to re-instantiate service when template has changed"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
bigip_iapp_service
##### SUMMARY
Hi

When a template has been updated the re-execution of the playbook to update the service doesn't re-instantiate the service, in other words:

We should have an option (ie: force=yes) that allows re-executing the definition even if it seems that the service hasn't changed.

[2017-04-20 21:00] #138 closed

[2017-04-20 21:13] alonsocamaro commented on #137
Actually, another option that is not shown explicitly in the tmsh output above but should be also a must have is allow specifying the partition where the iApp service will be deployed.

[2017-04-20 21:30] #132 closed

[2017-04-22 09:44] dano0b commented on #120
Using Ansible 2.3 we can use `listen:` normally, closing.

[2017-04-22 09:44] #120 closed

[2017-04-24 19:44] caphrim007 opened #139 "GTM DNS Record needs refactor"
Heath and Jay(F5) were asking for this to be completed.

[2017-04-25 00:49] payalsin opened #140 "Can we add 'pool members' option in bigip_gtm_pool.py"
Can we add an option to add 'pool members' to the bigip_gtm_pool module.

[2017-04-25 06:43] insidepacket commented on #140
Yes. We need this feature!

[2017-04-25 08:16] insidepacket opened #141 "Add health mornitor when creating GTM virtual server (bigip_gtm_virtual_server)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Add health mornitor when creating GTM virtual server (bigip_gtm_virtual_server)

##### ANSIBLE VERSION
Version 2.3

##### PYTHON VERSION
Python 2.7.5

##### BIGIP VERSION
Sys::Version
Main Package
  Product     BIG-IP
  Version     12.1.2
  Build       0.0.249
  Edition     Final
  Date        Wed Nov 30 16:04:00 PST 2016

[2017-04-25 08:18] insidepacket opened #142 "Add health mornitor when creating GTM pool"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Add health mornitor when creating GTM pool (bigip_gtm_pool.py)

##### ANSIBLE VERSION
Version 2.3

##### PYTHON VERSION
Python 2.7.5

##### BIGIP VERSION
Sys::Version
Main Package
  Product     BIG-IP
  Version     12.1.2
  Build       0.0.249
  Edition     Final
  Date        Wed Nov 30 16:04:00 PST 2016

[2017-04-25 19:01] #133 closed

[2017-04-25 21:47] caphrim007 commented on #141
agreed. this module needs a REST refactor though before this can happen. @wojtek0806 likes work, maybe he can field that refactor as well.

[2017-04-25 21:48] caphrim007 commented on #142
agreed.

This module needs a refactor before this can be done though. I am almost finished with said refactor.

[2017-04-25 21:49] caphrim007 commented on #140
yeah we can add it. this module requires a REST refactor though before this can be added. I am almost finished with a refactor.

[2017-04-25 22:13] caphrim007 opened #143 "upstream bigip_configsync_actions"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_configsync_actions.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIG

[2017-04-25 22:21] caphrim007 opened #144 "Refactor bigip_gtm_pool to have current conventions"
to allow us to add features requested. It is currently written in convention v2

[2017-04-25 22:21] #144 closed

[2017-04-25 22:23] payalsin opened #145 "Error while adding bigip ltm pool - when using quorum for monitor type "m_of_n""
used the bigip_pool2.py code

Seeing an issue:

failed: [10.192.73.218 -> localhost] (item={u'host': u'192.168.76.76', u'port': 443}) => {"failed": true, "item": {"host": "192.168.76.76", "port": 443}, "module_stderr": "/usr/lib/python2.7/site-packages/requests/packages/urllib3/connectionpool.py:852: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is

[2017-04-25 23:07] payalsin opened #146 "Error while adding virtual server using bigip_virtual_server2.py module"
Playbook
[code]
Error
TASK [Add VS on BIG-IP] ********************************************************************************************
fatal: [10.192.73.218 -> localhost]: FAILED! => {"changed": false, "failed": true, "module_stderr": "/usr/lib/python2.7/site-packages/requests/packages/urllib3/connectionpool.py:852: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certifi

[2017-04-25 23:12] caphrim007 commented on #143
@payalsin can you use this checklist to ensure that we have many of the requirements for upstreaming complete? This is not a full list of the requirements, but it will get you started.

[2017-04-25 23:28] caphrim007 opened #147 "bigip_sys_db needs to be refactored"
to use v3 conventions

[2017-04-26 06:20] wojtek0806 commented on #145
Is this a new pool or existing pool? @payalsin

[2017-04-26 08:44] wojtek0806 commented on #145
While I look into this issue, there are few comments on this playbook first:

 - When specifying monitors you need to provide full path i.e /Common/http, /Common/tcp etc.

- The pool has to exist before you can add the pool members, i mean you would have to run this playbook twice to get the results you expect.

The reason for it, is that it is how the object would be created in REST. First you cr

[2017-04-26 14:54] wojtek0806 commented on #145
@payalsin pr has been submitted, waiting for @caphrim007 approval

[2017-04-26 15:40] payalsin commented on #145
@wojtek0806 - ok thanks will correct my playbook after the fix is commited..thx

[2017-04-26 15:50] caphrim007 commented on #145
@wojtek0806 you should not need to specify the partition as part of the monitor.

The behavior that should happen is the following

* if they specify the full path, then use the full path
* if they do not specify a partition in the monitor path, then use the partition that you get for free at self.want.partition

This is the same behavior that should be used everywhere that requires a full path.

[2017-04-26 15:55] wojtek0806 commented on #145
i have went by what we had in SOAP module, also docstrings state that partition is needed, so yeah :)

[2017-04-26 15:57] wojtek0806 commented on #145
Quotation from bigip_pool.py:

[code]

[2017-04-26 15:58] wojtek0806 commented on #145
so are we changing that docstring as well?

[2017-04-26 16:47] caphrim007 commented on #147
this is fixed as of 3ab4a0a

[2017-04-26 16:47] #147 closed

[2017-04-26 17:15] six-arm opened #149 "How about a bigip_sys_db_facts module?"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A

##### SUMMARY
The current bigip_sys_db module allows for setting db values; however, it cannot be used for  just reading a db key.

It would be handy to have a bigip_sys_db_facts for just grabbing

[2017-04-27 15:27] wojtek0806 opened #150 "Refactor bigip_device_ntp to have current conventions"
Currently we are using v2 conventions

[2017-04-27 16:19] #145 closed

[2017-04-27 16:23] #150 closed

[2017-04-28 08:18] insidepacket commented on #142
@caphrim007 , thank you very much for your udpate! Any ETA?

[2017-04-28 08:19] insidepacket commented on #141
@caphrim007 , thank you very much for your update! Any ETA?

[2017-04-28 17:55] caphrim007 commented on #141
@insidepacket

I believe this can make it into Ansible 2.4. The gtm pool module has been refactored already, so it should not be a stretch to refactor the GTM virtual server module.

Ansible 2.4 is still some time off though (august/sept timeframe). So I think we can get the GTM VS module finished sometime in the next month provided that other fires do not come up at work that distract me from tha

[2017-04-28 17:56] caphrim007 commented on #142
@insidepacket

Since this module is now refactored, I think work can begin on this shortly. I think it's reasonable to expect that this feature would be completed before the GTM virtual server feature, and therefore also make it into Ansible 2.4

[2017-04-28 20:19] yk8511 opened #152 "Develop Ansible Module to create custom ssl client profile in BigIP LTM"
ISSUE TYPE
Feature Idea

COMPONENT NAME
Develop Ansible Module to create custom ssl client profile in BigIP LTM

EXPECTED ATTRIBUTES OF MODULE
It will be nice to have following changeable parameters when creating client ssl profile
Name of the profile
Parent Profile (with clientssl as default value)
Certificate Key Chain (Key and Certificate name as mandatory parameters while Chain, Passphrase and

[2017-04-28 22:44] insidepacket commented on #141
Thanks

[2017-04-28 22:45] insidepacket commented on #142
@caphrim007 thanks!

[2017-04-29 18:35] caphrim007 opened #153 "unit tests are needed for bigip_command"
a requirement for upstreaming this module is that unit tests exist for it. these have no yet been written

[2017-04-29 18:36] caphrim007 opened #154 "unit tests are needed for bigip_config"
a requirement for upstreaming this module is that unit tests exist for it. these have no yet been written

[2017-04-29 18:36] caphrim007 opened #155 "unit tests needed for bigip_configsync_actions"
a requirement for upstreaming this module is that unit tests exist for it. these have no yet been written

[2017-04-29 18:36] caphrim007 opened #156 "unit tests needed for bigip_device_group"
a requirement for upstreaming this module is that unit tests exist for it. these have no yet been written

[2017-04-29 18:37] caphrim007 opened #157 "unit tests needed for bigip_facts"
this module is already upstream, but needs to be refactored and also needs unit tests to support future bugfixes and features

[2017-04-29 18:40] caphrim007 opened #158 "unit tests needed for bigip_gtm_datacenter"
this module is already upstream, but needs unit tests to support future bugfixes and features

[2017-04-29 18:42] caphrim007 opened #159 "unit tests needed for bigip_gtm_facts"
this module is already upstreamed but needs unit tests to support future bugfixes and features

[2017-04-29 18:43] caphrim007 opened #160 "unit tests needed for bigip_gtm_virtual_server"
this module is already upstream, but needs unit tests for future bugfixes and features

[2017-04-29 18:44] caphrim007 opened #161 "unit tests needed for bigip_iapplx_package"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:44] caphrim007 opened #162 "unit tests needed for bigip_irule"
this module is already upstream, but needs unit tests to support future bugfixes and features

[2017-04-29 18:44] caphrim007 opened #163 "unit tests needed for bigip_license"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:45] caphrim007 opened #164 "unit tests needed for bigip_monitor_http"
this module is already upstream, but needs unit tests to support future bugfixes and features

[2017-04-29 18:45] caphrim007 opened #165 "unit tests needed for bigip_monitor_tcp"
this module is already upstream, but needs unit tests to support future bugfixes and features

[2017-04-29 18:46] caphrim007 opened #166 "unit tests needed for bigip_node"
this module is already upstream but needs unit tests for future bugfixes and features

[2017-04-29 18:46] caphrim007 opened #167 "unit tests needed for bigip partition"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:46] caphrim007 opened #168 "unit tests needed for bigip_policy_rule"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:47] caphrim007 opened #169 "unit tests needed for bigip_pool_member"
this module is already upstream, but needs unit tests for future bugfixes and features

[2017-04-29 18:47] caphrim007 opened #170 "unit tests needed for bigip_qkview"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:48] caphrim007 opened #171 "unit tests needed for bigip_remote_syslog"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:49] caphrim007 opened #172 "unit tests needed for bigip_routedomain"
this module is already upstream but needs unit tests for future bugfixes and features

[2017-04-29 18:49] caphrim007 opened #173 "unit tests needed for bigip_routedomain_facts"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:49] caphrim007 opened #174 "unit tests needed for bigip_selfip"
this module is already upstream but needs unit tests for future bugfixes and features

[2017-04-29 18:50] caphrim007 opened #175 "unit tests for bigip_service"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:53] caphrim007 opened #176 "unit tests needed for bigip_snat_pool"
this module is already upstream but needs unit tests for future bugfixes and features

[2017-04-29 18:53] caphrim007 opened #177 "unit tests needed for bigip_snmp_community"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:54] caphrim007 opened #178 "unit tests needed for bigip_snmp_user"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:54] caphrim007 opened #179 "unit tests needed for bigip_software"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:54] caphrim007 opened #180 "unit tests needed for bigip_sys_global"
this module is already upstream but needs unit tests for future bugfixes and features

[2017-04-29 18:55] caphrim007 opened #181 "unit tests needed for bigip_ucs"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:55] caphrim007 opened #182 "unit tests needed for bigip_ucs_fetch"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:55] caphrim007 opened #183 "unit tests needed for bigip_user_facts"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-29 18:56] caphrim007 opened #184 "unit tests needed for bigip_virtual_address"
this module is already upstream but needs unit tests for future bugfixes and features

[2017-04-29 18:56] caphrim007 opened #185 "unit tests needed for wait_for_bigip"
a requirement for upstreaming this module is that unit tests exist for it. these have not yet been written

[2017-04-30 09:46] insidepacket commented on #124
@caphrim007 , any update?

[2017-05-02 04:41] devnullNZ opened #186 "Force connection termination"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_virtual_server

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### SUMMARY

To be able to collect a list of current connections and forcibly terminate them
i.e. collect output from bigip.System.Connections.get_list()
and pass the list to bigip.System.Connections.delete_active_connection()

[2017-05-02 09:14] wojtek0806 commented on #186
@devnullNZ

I am assuming you mean the connections to a single virtual server? Even with narrowing this down to a single VS, this should be used with caution, as querying connection table on busier systems will lead to instability including CPU at 100% etc.

Are you just terminating connections before you want to put the VS offline?  If not what would be a a reason for clearing all of the connecti

[2017-05-02 21:55] devnullNZ commented on #186
@wojtek0806

Clearing the existing connections is part of forcing a failover between data centres. Currently, a script gathers up the server side & client side connections, disables the active pool member, then terminates the existing connections.
In this case, the F5 is being used to front end postgres databases (not my design). So a small number of long lived connections need to be closed in ord

[2017-05-09 22:24] payalsin opened #187 "bigip_remote_syslog gives SNMP error"
Trying the following:

[code]

[2017-05-10 03:56] #162 closed

[2017-05-10 04:54] #153 closed

[2017-05-11 18:51] #102 closed

[2017-05-11 18:51] #184 closed

[2017-05-12 02:36] jkim711 opened #188 "Big IP ASM support request"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Request for Ansible support in BIGIP ASM
##### STEPS TO REPRODUCE

  Currently BIGIP ASM support REST API interface, we woud like to have an equivalent feature that uses Ansible

[code]

##

[2017-05-12 03:18] caphrim007 commented on #188
@jkim711 this is a pretty broad request. Can you provide some more details on what exactly you are looking for from ASM support?

I understand "everything", but so that I can start somewhere, it would be helpful to know a specific feature or set of features you're interested in.

[2017-05-12 06:59] jkim711 commented on #188
[F5 -ASM Automatic Installation basedon Rest API Guide.pptx](https://github.com/F5Networks/f5-ansible/files/995275/F5.-ASM.Automatic.Installation.basedon.Rest.API.Guide.pptx)

This is the document we received from F5 Korea. They provided us the features through REST API. We have requested that these equivalent features be made available through Ansible.

I have feeling that many of these API are a

[2017-05-12 14:52] caphrim007 commented on #188
thanks for that @jkim711. this is going to take some time, but I will use that ppt as a reference. I think Wojciech did a lot of work on the ASM stuff already in the F5 sdk that can be used.

[2017-05-12 15:12] jkim711 commented on #188
How can I get the F5 SDK?

[2017-05-12 15:19] caphrim007 commented on #188
@jkim711 it's found here

https://github.com/F5Networks/f5-common-python

and is installable via pip.

`pip install f5-sdk`

[2017-05-12 16:06] jkim711 commented on #188
Can this SDK be used through Ansible?

[2017-05-12 16:11] caphrim007 commented on #188
it _is_ used through Ansible. It's the foundation of all the modules that F5 writes.

[2017-05-12 16:27] jkim711 commented on #188
So if I want to create a Ansible playbook for ASM, I would need to create an Ansible module that uses SDK.

[2017-05-12 16:36] caphrim007 commented on #188
you don't need to get that complicated unless you want to.

you can always write a python script to do what you want and use the `script` or `command` modules with `delegate_to: localhost` to run arbitrary scripts.

Modules are a more formal way of doing the above.

[2017-05-12 16:41] jkim711 commented on #188
But we were asked to use Ansible. What would be way to do this?

[2017-05-12 16:50] caphrim007 commented on #188
you can use ansible. a python script can be run in ansible. an ansible module is just a python script with some extra ansible includes, but even those includes are optional.

If you want a set of ASM modules from F5, then that will take some time.

[2017-05-15 19:54] caphrim007 opened #189 "upstream bigip_command"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_command.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1

[2017-05-15 19:57] caphrim007 opened #190 "upstream bigip_snmp_trap"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_snmp_trapy.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.

[2017-05-15 19:58] caphrim007 opened #191 "upstream bigip_iapp_template"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_iapp_template.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12

[2017-05-15 19:59] caphrim007 opened #192 "upstream bigip_iapp_service"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_iapp_service.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.

[2017-05-15 20:00] caphrim007 opened #193 "upstream bigip_user"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_user.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0.

[2017-05-15 20:00] payalsin commented on #155
Part of : upstream bigip_configsync_actions #143

[2017-05-15 20:02] payalsin opened #194 "bigip_configsync_actions needs to be tested on all BIG-IP version"
As part of the upstream process #143

[2017-05-15 20:41] payalsin opened #195 "bigip_command needs to be tested on all BIG-IP versions"
As part of upstreaming process - #189

[2017-05-15 23:16] caphrim007 commented on #158
this is now complete

[2017-05-15 23:16] #158 closed

[2017-05-16 05:09] payalsin opened #196 "bigip_iapp_template has no RETURN value"
As part of upstream process - Module code has NO RETURN infomration - #191

[2017-05-16 05:16] payalsin opened #197 "bigip_iapp_template - TestManager unit test class does not exist"
As part of up stream process #191 - TestMAnager unit test class does not exist in unit test plan
https://github.com/F5Networks/f5-ansible/blob/devel/test/unit/bigip/test_bigip_iapp_template.py

[2017-05-16 05:17] payalsin opened #198 "bigip_iapp_template needs to be tested on all BIG-IP versions"
As part of the up stream process - #191

[2017-05-16 05:19] payalsin opened #199 "bigip_iapp_service has no RETURN value"
As part of upstream process #192

[2017-05-16 05:25] payalsin opened #200 "bigip_iapp_service needs to be tested on all BIG-IP versions"
As part of up stream process #192

[2017-05-16 05:31] payalsin opened #201 "bigip_user needs to be tested on all BIG-IP versions"
As part of up stream process #193

[2017-05-16 05:33] payalsin opened #202 "bigip_snmp_trap no EXAMPLES and RETURN values specified"
As part of upstream process #190

[2017-05-16 05:34] payalsin opened #203 "bigip_snmp_trap needs to be tested on all BIG-IP versions"
Part of up stream process #190

[2017-05-17 16:30] #155 closed

[2017-05-17 19:07] caphrim007 commented on #201
this is now complete

[2017-05-17 19:07] #201 closed

[2017-05-17 19:08] caphrim007 commented on #193
@payalsin I've verified all of the above. moving on to upstreaming

[2017-05-17 20:35] caphrim007 commented on #193
https://github.com/ansible/ansible/pull/24753

[2017-05-18 17:58] Smuggla opened #205 "bigip_virtual_server only supports "Standard" VS type"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

bigip_virtual_server

#### EXPECTED OUTCOME

bigip_virtual_server should have the ability to change the Type of the VS.

IE:

Forwarding (Layer 2)
Forwarding (IP)
Performance (HTTP)
Performance (Layer 4)
Stateless
Reject
DHCP
Internal
Message Routing

FastL4 is a great capability of the F5 and to not have the ability to manage/use that is a r

[2017-05-18 19:38] caphrim007 commented on #193
@payalsin this is now complete

https://github.com/ansible/ansible/pull/24753

[2017-05-18 19:38] #193 closed

[2017-05-19 18:03] aabond commented on #146
I'm facing a similar issue with bigip_virtual_server2.py.  I was able to avoid the SSL warnings by disabling the SSL warnings logging in urllib3.  However, I'm still having an issue with the new module itself:

    "module_stderr": "Traceback (most recent call last):\n  File \"/home/ansible/f5/ansible_8YBf0v/ansible_module_bigip_virtual_server2.py\", line 682, in <module>\n    main()\n  File \"/ho

[2017-05-19 18:49] caphrim007 commented on #202
this is now fixed

[2017-05-19 18:49] #202 closed

[2017-05-19 20:43] caphrim007 commented on #203
this is now complete

[2017-05-19 20:43] #203 closed

[2017-05-19 20:43] caphrim007 commented on #190
@payalsin all checks are complete. beginning upstream process

[2017-05-19 23:23] caphrim007 commented on #190
the PR for this module has been created

https://github.com/ansible/ansible/pull/24848

[2017-05-19 23:32] caphrim007 opened #207 "upstream bigip_virtual_address"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_virtual_address.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-

[2017-05-19 23:33] caphrim007 opened #208 "upstream bigip_gtm_pool"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_gtm_pool.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.

[2017-05-19 23:33] caphrim007 opened #209 "upstream bigip_configsync_actions"

[2017-05-19 23:33] caphrim007 opened #210 "upstream bigip_pool"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_pool.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0.

[2017-05-19 23:36] caphrim007 opened #211 "upstream bigip_policy"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_policy.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.

[2017-05-19 23:37] caphrim007 opened #212 "upstream refactored bigip_ssl_certificate"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0.196-HF1)
- [x] 12.1.1-h

[2017-05-19 23:37] caphrim007 opened #213 "upstream bigip_snmp"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_snmp.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.0.

[2017-05-19 23:38] caphrim007 opened #214 "upstream bigip_qkview"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_qkview.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.

[2017-05-19 23:38] caphrim007 opened #215 "upstream bigip_provision"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_provision.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1

[2017-05-19 23:39] caphrim007 opened #216 "upstream bigip_iapp_template"

[2017-05-19 23:39] caphrim007 opened #217 "upstream bigip_iapp_service"

[2017-05-19 23:40] caphrim007 opened #218 "upstream bigip_config"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_config.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1.1.1.

[2017-05-19 23:40] caphrim007 opened #219 "upstream bigip_gtm_wide_ip"
##### ISSUE TYPE

 - Upstream request

##### COMPONENT NAME

library/bigip_gtm_wide_ip.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

- [x] 12.0.0 (BIGIP-12.0.0.0.0.606)
- [x] 12.1.0 (BIGIP-12.1.0.0.0.1434)
- [x] 12.1.0-hf1 (BIGIP-12.1.0.1.0.1447-HF1)
- [x] 12.1.0-hf2 (BIGIP-12.1.0.2.0.1468-HF2)
- [x] 12.1.1 (BIGIP-12.1.1.0.0.184)
- [x] 12.1.1-hf1 (BIGIP-12.1

[2017-05-20 03:22] caphrim007 commented on #189
@payalsin this module is ready for upstreaming

[2017-05-20 04:20] caphrim007 commented on #189
pull request has been opened

https://github.com/ansible/ansible/pull/24850

[2017-05-20 15:12] mcgonagle opened #220 "Accessing Row Data with the bigip_iapp_service module for the appsvcs_integration iapp"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_iapp_service

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The App appsvcs_integration_v2.0.003 iApp has a number of fields that are rows of input. Namely the
Pool Monitor(s) Configuration. I don't have a way to access these fields an

[2017-05-20 15:23] mcgonagle commented on #146
I tend to run into this error when my playbook or role can't find the module. I fixed it by adding library to my ansible.cfg.
[code]

[2017-05-20 15:29] mcgonagle commented on #188
Running an ASM python script via Ansible is a great interim recommendation.

[2017-05-22 19:15] caphrim007 commented on #216
duplicate of #191

[2017-05-22 19:15] #216 closed

[2017-05-22 19:16] caphrim007 commented on #217
dupe of #192

[2017-05-22 19:16] #217 closed

[2017-05-22 19:16] caphrim007 commented on #209
dupe of #143

[2017-05-22 19:16] #209 closed

[2017-05-22 22:08] caphrim007 commented on #195
this is now complete

[2017-05-22 22:08] #195 closed

[2017-05-24 01:52] jkim711 commented on #188
Where can I get sample code for using ASM with F5 SDK
I ran the following code.
************************************************
from f5.bigip import BigIP
import requests
from requests.packages.urllib3.exceptions import InsecureRequestWarning

requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

mgmt = BigIP("192.168.199.241", "admin", "admin")
# Get a list of all pools on the BigI

[2017-05-24 15:02] wojtek0806 commented on #188
Please do not use BigIp fixture its deprecated and will be removed at some point. Use ManagementRoot instead, from f5.bigip import ManagementRoot.

[2017-05-24 17:43] caphrim007 commented on #190
this module has been merged.

[2017-05-24 17:43] #190 closed

[2017-05-24 17:45] caphrim007 commented on #176
this is now complete

[2017-05-24 17:45] #176 closed

[2017-05-24 17:46] caphrim007 commented on #154
this is now complete

[2017-05-24 17:46] #154 closed

[2017-05-24 17:47] caphrim007 commented on #94
this is now complete

[2017-05-24 17:47] #94 closed

[2017-05-24 19:48] caphrim007 commented on #99
this is now complete

[2017-05-24 19:48] #99 closed

[2017-05-24 21:52] six-arm opened #221 "bigip_software parition increment error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_software

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
01070945:3: Invalid volume name (HD1.smoke.1) when installing on a VIPRION chassis

##### STEPS TO REPRODUCE
Install against chassis with HD1 volume prefix.

fatal: [test-bigip-01 -

[2017-05-25 05:22] jkim711 commented on #188
I executed the following code
import requests
from requests.packages.urllib3.exceptions import InsecureRequestWarning

requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

from f5.bigip import ManagementRoot

mgmt = ManagementRoot("70.60.207.94", "admin", "admin")

collection = mgmt.tm.asm.get_collection()

for anobject in collection:

print anobject
p_collections = mgmt.tm.asm.poli

[2017-05-25 05:36] caphrim007 commented on #188
@jkim711 you can change settings by just passing the names of the attributes you want to change as keyword arguments to a resource that you have loaded.

[code]

[2017-05-25 06:50] jkim711 commented on #188
I got the following results.

---------------------------------------------------------------------------
UnsupportedOperation                      Traceback (most recent call last)
/home/jaekim711/f5/test2.py in <module>()
     21     print p_object.allowedResponseCodes
     22     policy=mgmt.tm.asm.policies_s.policy.load(id=p_object.id)
---> 23     policy.update(description="bar", learningMode=

[2017-05-25 08:59] wojtek0806 commented on #188
Update method uses HTTP PUT and it is not supported on any ASM endpoint in the API, you would have to use modify() method, which uses HTTP PATCH, in this case this would be something like

[code]

[2017-05-25 09:01] wojtek0806 commented on #221
@six-arm I am currently reworking the software module to use REST and support remote sources. Once I got it tested you can check if this issue persists.

[2017-05-26 02:48] jkim711 commented on #188
How are the results checked?
I was looking  through https://github.com/F5Networks/f5-common-python/blob/development/f5/bigip/tm/asm/test/functional/test_policies.py
But I couldn't find any hints.

[2017-05-26 02:50] caphrim007 commented on #188
@jkim711 i'm not sure what you mean by "how are the results checked". can you rephrase the question?

[2017-05-26 03:41] jkim711 commented on #188
How do I know if the modify was successful. And if there are errors, how do I fetch them?

[2017-05-26 04:13] caphrim007 commented on #188
@jkim711 if the modify fails, the method will raise an `F5SDKError` error which you can import like so

[code]

and you can fetch them as you would any other python exception

[code]

[2017-05-26 22:53] caphrim007 opened #222 "add cert_chain argument to bigip_ssl_certificate"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

library/bigip_ssl_certificate.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

@jasonrahm has done some killer work on codifying the process of putting certs on a bigip. Some references below.

* https://github.com/f5devcentral/lets-encry

[2017-05-27 02:01] mcgonagle commented on #187
https://github.com/mcgonagle/ansible_f5/issues/11

[2017-05-27 02:13] mcgonagle commented on #107
Ran into this with the soap bigip_node module. Makes it difficult to switch between state=absent and state=present, because you have to remove the hostname when absent. Getting rid of this would be very helpful.

[2017-05-27 02:16] mcgonagle commented on #58
https://github.com/mcgonagle/ansible_f5/issues/12

[2017-05-27 02:26] caphrim007 commented on #58
@mcgonagle have you tried the code in this repo? @hanej 's problem should be fixed

[2017-05-27 19:15] sivaansible opened #223 "BigIP_pool_member: Enable/disable the LTM pool Member failing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-05-30 01:55] payalsin opened #224 "bigip_parition giving error"
Playbook

'''
- name: Partition BIG-IP
  hosts: unmanaged_bigip1
  gather_facts: false

  tasks:

  - name: Add partition
    bigip_partition:
      server: "10.192.73.106"
      user: "admin"
      password: "admin"
      name: "foo"
      validate_certs: "False"
    delegate_to: localhost

Error:
fatal: [10.192.73.106 -> localhost]: FAILED! => {"changed": false, "failed": true, "module_stderr":

[2017-05-31 03:20] caphrim007 commented on #218
I believe this module is now ready to upstream

[2017-05-31 17:38] caphrim007 commented on #210
i believe this module is now ready for upstreaming

[2017-05-31 19:04] brichins opened #227 "Request https monitor module or support for https within http monitor"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

bigip_monitor_https

##### SUMMARY

The current bigip_monitor_http doesn't support https health checks.  https represents a large portion of backend servers.  I'm not sure if it would be best to fork the http module or add functionality to the existing bigip_monitor_http module to support https.  I was hoping/guessing it would be a somewhat s

[2017-05-31 20:00] caphrim007 commented on #210
i believe this module is now ready to upstrea

[2017-06-01 19:42] caphrim007 commented on #210
pr opened here https://github.com/ansible/ansible/pull/25234

[2017-06-01 19:42] caphrim007 commented on #218
pr opened here https://github.com/ansible/ansible/pull/25191

[2017-06-01 19:55] caphrim007 commented on #208
this module is ready to be upstreamed

[2017-06-01 20:22] caphrim007 commented on #208
a pr has been created for this https://github.com/ansible/ansible/pull/25275

[2017-06-02 19:57] perzizzle commented on #50
@caphrim007 I encounter this exception every so often. Are you still looking for people to test out a newer version of this module? Looks like the version in this repo compared to what ships with ansible 2.3 is very different.

[2017-06-04 04:52] caphrim007 commented on #220
@mcgonagle tabular data is provided as shown in this test

https://github.com/F5Networks/f5-ansible/blob/devel/test/integration/targets/bigip_iapp_service/defaults/main.yaml#L14

[2017-06-06 17:23] caphrim007 commented on #208
this PR is now merged

[2017-06-06 17:23] #208 closed

[2017-06-06 18:52] caphrim007 commented on #210
this has been merged

[2017-06-06 18:52] #210 closed

[2017-06-06 18:52] caphrim007 commented on #218
this has been merged

[2017-06-06 18:52] #218 closed

[2017-06-06 20:08] payalsin opened #228 "bigip_selfip module enhancement request to add RD suffix in the IP address"
One way to use route domains is to add ip address's suffixed with the route domain ID, example 10.10.10.100%10

Right now if we do that we get an error:

---
- name: BIG-IP
  hosts: bigip
  gather_facts: false

  tasks:

  - name: Configure SELF-IPs on the BIG-IP
    bigip_selfip:
     server: "10.192.73.218"
     user: "admin"
     password: "admin"
     validate_certs: False
     name: "selfip"

[2017-06-06 20:17] payalsin opened #229 "bigip_selfip - cannot create a self IP in a particular partition"
I have a partition on the BIG-IP "Tenant1A". I was trying to create a self IP inside that partition.

Got the following error:

'''
---
- name: Onboarding BIG-IP
  hosts: bigip
  gather_facts: false

  tasks:

  - name: Configure SELF-IPs on the BIG-IP
    bigip_selfip:
     server: "10.192.73.218"
     user: "admin"
     password: "admin"
     validate_certs: False
     name: "selfip"
     addres

[2017-06-06 20:26] payalsin opened #230 "Module support for vCMP"
Opening a request for vCMP module support.

1) Create a guest
2) Assign a VLAN list to a guest (update a guest after it is created)

[2017-06-07 16:39] spopplewell opened #231 "bigip_irule does not turn off ssl cert verification when validate_certs = False"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_irule

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

[defaults]
host_key_checking=False
inventory=inventory

##### OS / ENVIRONMENT

SUSE 12

##### SUMMARY

bigip_irule will not turn off ssl verification.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Task to su

[2017-06-07 17:32] caphrim007 commented on #231
@spopplewell what role does this user have? The error usually indicates incorrect username, password, or a role that doesnt have access to the API.

[2017-06-07 17:48] spopplewell commented on #231
The f5 user has Manager permissions.

I can successfully remove and add members to pools using the same credentials and server using the bigip_pool_member.

[2017-06-07 18:55] fwissue opened #232 "Enhancement to upload cert,intermediate cert, and key to load balancer"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_ssl_certificate
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

##### SUMMARY

When we install the cert,key, we also need to install intermediate cert.
current bigip_ssl_certificate module does not provide the function to install intermediate cer

[2017-06-08 02:26] caphrim007 opened #233 "CLA submission for contributor 1"
hey @aabond there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

[2017-06-08 02:29] caphrim007 opened #234 "CLA submission for contributor"
hey @pcloup  there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

This is in reference to the following PRs

* https://github.com/F5Networks/f

[2017-06-08 02:30] caphrim007 opened #235 "CLA submission for contributor 3"
hey @rklomp there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

This is in reference to the following PRs

* https://github.com/F5Networks/f5

[2017-06-08 02:31] caphrim007 opened #236 "CLA submission for contributor"
hey @dbeckham  there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

This is in reference to the following PRs

* https://github.com/F5Networks

[2017-06-08 02:32] caphrim007 opened #237 "CLA submission for contributor"
hey @manuadoor there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

This is in reference to the following PRs

* https://github.com/F5Networks

[2017-06-08 02:33] caphrim007 opened #238 "CLA submission for contributor"
hey @taka379sy there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

This is in reference to the following PRs

* https://github.com/F5Networks

[2017-06-08 02:34] caphrim007 opened #239 "CLA submission for contributor"
hey @mgusek  there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

This is in reference to the following PRs

* https://github.com/F5Networks/f

[2017-06-08 02:35] caphrim007 opened #240 "CLA submission for contributor"
hey @waffie1   there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

This is in reference to the following PRs

* https://github.com/F5Networks

[2017-06-08 02:36] caphrim007 opened #241 "CLA submission for contributor"
hey @buzzsurfr there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

This is in reference to the following PRs

* https://github.com/F5Networks

[2017-06-08 02:37] caphrim007 opened #242 "CLA submission for contributor"
hey @festango there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

This is in reference to the following PRs

* https://github.com/F5Networks/

[2017-06-08 02:37] caphrim007 opened #243 "CLA submission for contributor"
hey @GGabriele there is a CLA process now in place and F5 is asking that I retroactively go back and ask that all contributors sign the CLA.

Here is a link to the CLA itself.

https://f5-ansible.readthedocs.io/en/devel/development/cla-landing.html

Would you be able to fill that out and email it to `t.rupp at f5 dot com`?

This is in reference to the following PRs

* https://github.com/F5Networks

[2017-06-08 02:41] caphrim007 commented on #232
#222 is also related to this issue. closing this one so that we can track it at the other issue.

@fwissue please refer to the above issue where we'll track this. Thanks for the idea submission! if you believe your request includes more than what is mentioned in the mentioned issue, feel free to mention it here to clarify.

[2017-06-08 02:41] #232 closed

[2017-06-08 18:38] caphrim007 commented on #219
this module is now ready for upstreaming

[2017-06-08 18:42] caphrim007 commented on #219
PR for this is https://github.com/ansible/ansible/pull/25502

[2017-06-09 16:15] caphrim007 commented on #219
this PR has been merged

[2017-06-09 16:15] #219 closed

[2017-06-09 21:43] caphrim007 commented on #215
this module is ready for upstreaming

[2017-06-09 21:43] caphrim007 commented on #215
PR for this module is here https://github.com/ansible/ansible/pull/25558

[2017-06-09 21:56] spopplewell commented on #231
The F5 user I am using is able to create an iRule using the iControl REST API.

I am really hoping to take advantage of this ansible module.

[2017-06-09 22:03] caphrim007 commented on #231
@spopplewell can you try using the module in this repository instead of the one that ships with Ansible? It appears we have a module with newer code and it may work for you

[2017-06-10 04:38] spopplewell commented on #231
Thanks Tim. That was worked for me. What is the process for submitting the newer version to ansible?

Thank you for all of your work. It has helped me tremendously!

[2017-06-10 04:38] #231 closed

[2017-06-10 04:59] caphrim007 commented on #231
@spopplewell I will make sure this is fully tested and pushed upstream before the 2.4 release