[2017-12-05 21:20] caphrim007 commented on #275
#491 blocks

[2017-12-05 21:22] #486 closed

[2017-12-05 21:26] caphrim007 commented on #471
@KernelPicnic your playbook is incorrect. You are attempting to run the playbook on the remote BIG-IP. This will not work.

Ensure that one of the following is in your playbook,

* `connection: local` is set at the play level
* `delegate_to: localhost` is set at the task level for bigip_* modules.

Additionally, you cannot log into the BIG-IP REST API with the root user. So you appear to be trying

[2017-12-05 21:26] #471 closed

[2017-12-05 21:33] caphrim007 commented on #446
I've added some test code for this and can confirm this is not working.

[2017-12-05 21:42] caphrim007 commented on #487
bigip_security_port_list:
    name: DIAMETER-NODES-RL-IPV4
    partition: Common
    ports: (list of ints)
    port_ranges: (list of strings where the entry is a range ( 45 - 98). If the first number in the range is greater than the second number, the numbers will be reversed.
    port_lists: (list of existing port lists you want to add. These are stored as “name” and “partition” fields, therefore

[2017-12-05 21:42] caphrim007 commented on #489
[code]

[2017-12-05 21:43] caphrim007 commented on #488
[code]

[2017-12-05 22:14] #418 closed

[2017-12-05 22:14] caphrim007 commented on #418
@insidepacket should be working now

[2017-12-05 22:40] caphrim007 commented on #135
this module has been refactored, and my tests indicate this is no longer an issue

[2017-12-05 22:40] #135 closed

[2017-12-06 14:49] mlowcher61 opened #492 "Add static and float as parameters to bigip_selfip"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_selfip
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Currently the bigip_selfip module can only create static ip addresses.  Add static and float as options within the module.
bigip_selfip

[2017-12-06 16:41] caphrim007 commented on #492
@mlowcher61 per this comment

"""
If you want the self IP address to be a floating IP address, that is, an address shared between two or more BIG-IP devices in a device group, you can assign a floating traffic group to the self IP address. A floating traffic group causes the self IP address to become a floating self IP address.
"""

in this article

https://support.f5.com/kb/en-us/products/big-ip_

[2017-12-06 16:52] mlowcher61 commented on #492
Tim,

Great! That’s even better. Looking at the examples in the python file it did not show traffic group as an option but now that I looked at docs.ansible.com under modules I see that as an option.
I will delete my feature request.

Sincerely,

Mark Lowcher CISSP CCSP |  F5 Systems Engineer – AT&T Cloud and Managed Services

F5 Networks

  P 888.88.BIG.IP

 M 512.745.6263

m.lowcher@f5.com<mailt

[2017-12-06 16:53] #492 closed

[2017-12-06 19:08] neozoolook opened #493 "bigip_device_httpd.py - Feature Request - Support ALLOW similar to bigip_device_sshd.py"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_device_httpd.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

Standard ansible.cfg file setup

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

Would like to see some additional options supported on the bigip_device_httpd.py similar

[2017-12-07 00:22] RobCupples opened #494 "bigip_profile_client_ssl integration test is failing where it seems it should not"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_profile_client_ssl
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

centos-release-7-4.1708.el7.centos.x86_64
##### SUMMARY

Just requested a commit for an update to targets/bigip_profile_client_ssl/tasks/test-cert-key-ch

[2017-12-07 00:28] caphrim007 commented on #494
@RobCupples does this need a change to the code? or is your integration test PR enough to fix it?

[2017-12-07 11:36] pgomersbach opened #496 "bigip_iapp_service f5.citrix_vdi.v2.4.2.tmpl using apm__ad_tree parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_iapp_service
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When setting the apm__ad_tree parameter to "ou=Citrix Users, dc=Citrix, dc=example" the bigip_iapp_service tasks fails.
##### STEPS TO REPRO

[2017-12-07 16:52] RobCupples commented on #494
The pull request is an update to the test that will reproduce the problem that I think needs to be fixed in code.

I will check over my submission again this morning for I was trying to get this done before leaving last night.

[2017-12-08 00:52] caphrim007 commented on #494
@RobCupples ok, so the PR will cause the bug to surface? cool. I think i remember introducing this bug the other day when I fixed another issue

[2017-12-08 01:50] caphrim007 commented on #494
@RobCupples I tested with the merged PR and I dont see the mentioned error. Is your profile_client_ssl module the most recent one?

[2017-12-08 03:19] #487 closed

[2017-12-08 20:07] #124 closed

[2017-12-08 20:07] caphrim007 commented on #124
@insidepacket this should now be fixed. please test

[2017-12-08 22:19] caphrim007 commented on #124
this is now merged upstream

[2017-12-09 03:52] #483 closed

[2017-12-09 03:53] caphrim007 commented on #483
@neozoolook this should now be added in the f5-ansible copy of virtual server. Give it a try and report any further issues

[2017-12-09 04:31] caphrim007 commented on #494
correction. I *can* repro this

[2017-12-09 05:05] #494 closed

[2017-12-09 17:04] caphrim007 opened #498 "bigip_ssl_certificate support for issuer cert"
bigip_ssl_certificate does not support specifying an issuer certificate. This is required when setting up "Monitoring properties" of the cert. In the use case I am interested in, this is OCSP monitoring.

To complete OCSP configuration, an Issuer certificate must be specified for the cert in question.

[2017-12-09 18:06] #498 closed

[2017-12-09 18:07] caphrim007 commented on #152
requires #498

[2017-12-09 20:41] caphrim007 commented on #496
@pgomersbach I'm not quite able to repro your problem. I run into a different issue with the payload you have. Receiving this error

`010717e3:3: Client SSL profile must have RSA certificate/key pair.`

This is being caused by your `xml_broker_virtual__cert` and `xml_broker_virtual__key` values being set to `""`.

If I replace these with (for example) the defaults,

[code]

The iApp service is cre

[2017-12-09 21:11] caphrim007 opened #499 "bigip_ssl_certificate support for cert validators"
bigip_ssl_certificate does not support specifying a certificate validator. This is required when setting up "Monitoring properties" of the cert. In the use case I am interested in, this is OCSP monitoring.

To complete OCSP configuration, a certificate validator must be specified for the cert in question.

[2017-12-10 23:21] caphrim007 commented on #152
OCSP stapling is a non-trivial addition to this request.

This is because configuration of OCSP stapling has **significantly** changed from 12.x to 13.x. I'm not sure if it has changed further in 14.x yet.

[2017-12-11 18:48] selhorn opened #500 "pulling-docker-containers.rst is F5 internal and should be moved"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
pulling-docker-containers.rst

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
This is internal F5 content and needs to be moved to a hive site or somewhere else internal.

##### STEPS TO REPRODUCE

[code

[2017-12-11 18:49] selhorn opened #501 "testing-pipeline.rst has F5 internal content that needs to be removed"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
testing-pipeline.rst

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
This has internal F5 content that needs to be moved to a hive site or somewhere else internal.

##### STEPS TO REPRODUCE

[code]

####

[2017-12-11 18:52] selhorn opened #502 "design-decisions.rst has F5 internal content that needs to be removed"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
design-decisions.rst

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
This has internal F5 content that needs to be moved to a hive site or somewhere else internal.

- Should not describe internal F5 proc

[2017-12-11 19:06] #500 closed

[2017-12-11 19:11] selhorn opened #503 "ssh-functionality-for-modules.rst needs to be edited"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ssh-functionality-for-modules.rst

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
This needs to be edited to make it slightly more formal.
- Remove opinions (this makes things easy or difficult)
- Change

[2017-12-11 19:13] selhorn opened #504 "dealing-with-replace-all.rst should be edited or moved"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
dealing-with-replace-all.rst

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
- This doc talks about ideas for solutions. The product documentation should cover things that are already implemented, or tel

[2017-12-11 19:15] selhorn opened #505 "parameters.rst should be edited or moved"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
pulling-docker-containers.rst

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
- This doc talks about ideas for solutions. The product documentation should cover things that are already implemented, or te

[2017-12-11 19:27] #501 closed

[2017-12-11 19:32] caphrim007 commented on #505
@selhorn I dont think your second bullet point there is sensible. We publish a lot of stuff in this repository that is not delivered. It's a development respository. Additionally, those files are in a "development" directory.

The implication of the repository as a whole is that nothing is promised. If things were promised, then we would have releases and people could get things from us.

None of

[2017-12-11 19:53] caphrim007 commented on #505
the content of the parameters document is considered "implementation details" that have no influence on what the user does. This is a document that discusses the internals of the module code and how a developer looking at the module code should rectify what they are seeing.

"developer" here in the sense of "any individual that wants to contribute to the code base"

So this document should be **ed

[2017-12-11 20:00] selhorn commented on #505
OK, thanks. So this text:
These instructions are only relevant to you if you are an F5'er. If not, feel free to skip over this document.

OK to remove? When I was editing, I saw this at the top of the doc and so didn't look at it in much more detail.

[2017-12-11 20:01] caphrim007 commented on #505
you see that in the `parameters.rst` doc? I dont see it

[2017-12-11 20:03] #504 closed

[2017-12-11 20:04] selhorn commented on #505
Sorry, wrong doc. I will edit again and if I still have questions, will open an issue on the specific text in question.

[2017-12-11 20:04] #505 closed

[2017-12-11 20:14] RobCupples opened #506 "Another task failing in bigip_profile_client_ssl integration test."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_profile_client_ssl

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

centos-release-7-4.1708.el7.centos.x86_64
##### SUMMARY

After the recent bug fix to bigip_profile_client_ssl, another test is now failing in that modul

[2017-12-11 20:17] chen23 opened #507 "Feature: aggregate support for pool resources"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_pool_member

##### ANSIBLE VERSION
2.4
##### PYTHON VERSION
2.7
##### BIGIP VERSION
12.1.x

##### SUMMARY
Currently bigip_pool_member only supports a state of "present" or "absent".  This make is challenging to ensure that you have a a correct set of pool members b/c you need to do something like (see below).

It would be desirable to su

[2017-12-11 21:12] caphrim007 commented on #507
requires that ansible's aggregates be implemented. Aggregates are not yet mature, so we will need to monitor this code change if it changes in the future.

[2017-12-11 22:42] #506 closed

[2017-12-11 22:43] caphrim007 commented on #506
@RobCupples would you please test again and lemme know?

[2017-12-11 23:07] RobCupples commented on #506
All integration tests for that module now pass.

[2017-12-11 23:32] caphrim007 commented on #152
this feature (sans the ocsp stapling) should now be complete. I will open another issue for supporting ocsp stapling.

[2017-12-11 23:32] #152 closed

[2017-12-11 23:33] caphrim007 opened #508 "Support for OCSP stapling on v12 and v13"
related #152

[2017-12-12 00:51] RobCupples opened #511 "Virtual servers cannot be disabled."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

rpm --query centos-release
centos-release-7-4.1708.el7.centos.x86_64
##### SUMMARY

##### STEPS TO REPRODUCE

Run the bigip_virtual_server integration tests

[2017-12-12 00:54] RobCupples commented on #511
To clarify, the pull requests adds tasks to the integration test that will reproduce the problem.  When the problem is fixed it will become a permanent part of the test.

- disable the server (followed by assert, idempotent check, and assert)
- enable the server (followed by assert, idempotent check, and assert)

[2017-12-12 12:13] pgomersbach commented on #496
Added the cert and key using the same playbook as @caphrim007 but still the same error. I am using version 1.1 from bigip_iapp_service.py from git.

[2017-12-12 16:11] caphrim007 commented on #496
@pgomersbach, what 1.1 are you referring to?

[2017-12-12 17:45] pgomersbach commented on #496
bigip_iapp_service.py from https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_iapp_service.py

[2017-12-12 17:56] #511 closed

[2017-12-12 17:57] caphrim007 commented on #511
@RobCupples this should now be fixed. please verify

[2017-12-12 18:09] caphrim007 commented on #496
oh, the metadata version. ok gotcha. Are you using the bigip_iapp_service module from ansible upstream? or the one from this respository here

[2017-12-12 19:23] neozoolook opened #512 "bigip_security_port_list.py - Use of Loop/Variables fails due to int/whole number checks in module on ports option."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_security_port_list.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

Standard ansible.cfg configuration.

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

bigip_security_port_list.py module works fine when hardsetting port values direct

[2017-12-12 19:36] neozoolook commented on #512
Portion of code that breaks use of loop/variables;

Sections rem'd play's work.
[code]

[2017-12-12 19:46] caphrim007 commented on #512
@neozoolook change line 270 to read like this

`if any(x for x in self._values['ports'] if 0 < int(x) > 65535):`

and retry

[2017-12-12 23:04] neozoolook commented on #512
yes that fixed it, however now when you run the play a second time, the idempotent checks give following output, which states there is a BAD Request/URI.

[code]

[2017-12-13 00:31] RobCupples opened #513 "bigip_gtm_server cannot change link_discovery or virtual_server_discovery after gtm server created"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_gtm_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

centos-release-7-4.1708.el7.centos.x86_64
##### SUMMARY

A gtm server can be created by a task selecting the values for link_discovery and virtual_server_discove

[2017-12-13 01:11] #512 closed

[2017-12-13 01:12] caphrim007 commented on #512
@neozoolook should be all fixed now.

[2017-12-13 03:55] caphrim007 commented on #152
this is now upstreamed

[2017-12-13 05:13] caphrim007 commented on #487
this is now upstream

[2017-12-13 07:29] m2harshanalore commented on #231
@spopplewell : I still get the error after upgrading to ansible to 2.4.2.0. Can you assist me ? I even did validate_certs: False in my playbook.

[2017-12-13 10:37] pgomersbach commented on #496
Using all modules from this repo in a library directory to override the default.

[2017-12-13 17:42] caphrim007 commented on #231
@m2harshanalore please do not comment on old issues. file a new issue with your specific details and we will address it there

[2017-12-13 19:59] RobCupples opened #515 "bigip_virtual_server integration tests needs more coverage for destination"
##### ISSUE TYPE

 - Test Enhancement

##### COMPONENT NAME

bigip_virtual_server

##### SUMMARY

There should be a test step to change destination after the virtual has been created.

[2017-12-13 20:05] caphrim007 commented on #515
destination changing is failing

[2017-12-13 20:05] neozoolook opened #516 "New Module Request - bigip_profile_server_ssl.py to support similar tasks as bigip_profile_client_ssl.py"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

New module requested to support LTM profile server-ssl params.

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

Standard ansible.cfg

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

using bigip_profile_client_ssl.py to modify ciphers leverag

[2017-12-13 20:10] #515 closed

[2017-12-13 21:19] RobCupples opened #517 "bigip_virtual_server integration tests need more coverage for source"
##### ISSUE TYPE

 - Test Enhancement

##### COMPONENT NAME

##### SUMMARY

There should be test steps to change value of source after the virtual has been created.  Consider multiple styles such as ipv4 vs ipv6 and setting it back to an everything value (e.g. 0.0.0.0/0 ? ).

[code]

[2017-12-13 21:23] #517 closed

[2017-12-13 21:37] RobCupples opened #518 "bigip_virtual_server integration tests need more coverage for profiles."
##### ISSUE TYPE

 - Test Enhancement

##### COMPONENT NAME

bigip_virtual_server

##### SUMMARY

The main.yaml looks like it has coverage for changing the value of "profiles:" after a virtual server has been created.  For completeness what I think we could add are test steps which would set the profiles property to nothing.  It sounds a little silly why anybody would to do that but if they can it

[2017-12-13 21:47] RobCupples opened #519 "bigip_virtual_server integration tests need more coverage for irules."
##### ISSUE TYPE

 - Test Enhancement

##### COMPONENT NAME

bigip_virtual_server

##### SUMMARY

It looks like all of the tests create a virtual server with 2 irules but don't do anything else with irules.

I suggest as an example adding the following test coverage

- Add another or more irules after the virtual has been created.
- Remove one or more irules after the virtual has been created.
- R

[2017-12-13 22:08] RobCupples opened #520 "bigip_virtual_server tests need more coverage for enabled_vlans and disabled_vlans"
##### ISSUE TYPE

 - Test Enhancement

##### COMPONENT NAME

bigip_virtual_server

##### SUMMARY

After a virtual is created could add steps to -

~~Change enabled_vlans from something to nothing.~~ INVALID
~~Set disabled_vlans to all (which ironically is the above's twin)~~ INVALID
~~Change the value of disabled_vlans (changing the value of enabled_vlans seems to already be covered)~~ COMPLETE

[2017-12-13 22:14] RobCupples opened #521 "bigip_virtual_server tests need more coverage for pool"
##### ISSUE TYPE

 - Test Enhancement

##### COMPONENT NAME

bigip_virtual_server

##### SUMMARY

Coverage that I think could be added after a virtual server has been created:

- Switch the value of "pool:" from one pool to another pool
- Switch the value of "pool:" from one pool to nothing.

[2017-12-13 22:20] neozoolook opened #522 "Feature Request - bigip_device_httpd.py add option for ssl-ciphersuite"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_device_httpd.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

Standard ansible.cfg

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

For hardening purposes of an F5 there may be need to modify which ciphersuites are available for the

[2017-12-13 22:22] RobCupples opened #523 "bigip_virtual_server tests need more coverage for persistence profiles."
##### ISSUE TYPE

 - Test Enhancement

##### COMPONENT NAME

bigip_virtual_server

##### SUMMARY

Suggested additional coverage after a virtual server has been created.

Change the value of default_persistence_profile to something else
Change the value of fallback_persistence_profile to something else
Change the value of default_persistence_profile to nothing
Change the value of fallback_persisten

[2017-12-13 23:34] #519 closed

[2017-12-13 23:35] caphrim007 commented on #519
@RobCupples this should be addressed now

[2017-12-13 23:52] caphrim007 commented on #516
closing as duplicate of https://github.com/F5Networks/f5-ansible/issues/248

[2017-12-13 23:52] #516 closed

[2017-12-14 00:12] #521 closed

[2017-12-14 00:12] caphrim007 commented on #521
@RobCupples this should now be fixed

[2017-12-14 00:16] caphrim007 commented on #520
@RobCupples the second item there, "Set disabled_vlans to all (which ironically is the above's twin)" is an invalid input. `all` is only valid for enabling vlans

[2017-12-14 00:21] caphrim007 commented on #520
what did you expect the first item to look like in yaml?

[2017-12-14 16:04] RobCupples commented on #520
Ok.  It looks like I messed up and should of reviewed how enabled_vlans and disabled_vlans work in tmsh before writing this up.

[2017-12-14 16:39] caphrim007 commented on #520
closing due to the third bullet being addressed and the other two being invalid.

[2017-12-14 16:39] #520 closed

[2017-12-14 18:20] #523 closed

[2017-12-14 18:21] caphrim007 commented on #523
this should now be ready @RobCupples

[2017-12-14 18:39] RobCupples opened #524 "bigip_profile_client_ssl integration tests needs more coverage for ciphers"
##### ISSUE TYPE

 - Test Enhancement

##### COMPONENT NAME

bigip_profile_client_ssl

##### SUMMARY

Additional test coverage to include -
- Create a profile without setting ciphers and then set ciphers.
- Then change the value of ciphers to something else
- Then change the value of ciphers to DEFAULT

[2017-12-14 18:49] selhorn opened #525 "broken hyperlink in all modules"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
All modules

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In most of the modules (if not all), there is a broken link. (It doesn’t generate a hyperlink in the help output.)

Please replace this hyperli

[2017-12-14 18:54] selhorn opened #526 "blank Examples section causes build warning"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
In these files, the Examples section contains the :: symbol but no text following it, so it causes build warnings.
c:\ansible\f5-ansible\docs\modules\bigip_dns_record_facts_module.rst
c:\ansible\f5-ansible\docs\modules\bigip_software_update_module.rst
c:\ansible\f5-ansible\docs\modules\iworkflow_license_pool_member_module.rst:71:
c:\an

[2017-12-14 19:08] selhorn opened #528 "Incorrect label in bigip_snmp_community_module"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Trying to clean up doc build issues--

bigip_snmp_community_module has this label at the top of the file: .. _bigip_dns_record_facts:

This string is already

[2017-12-14 19:11] selhorn opened #529 "wrong content in f5_support_upload_module.rst"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Trying to clean up doc build issues--

f5_support_upload_module.rst

This file, which I assume should have content about uploading files for F5 support, inste

[2017-12-14 19:13] selhorn opened #530 "Duplicate labels cause build warning (virtual_server modules)"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Trying to clean up doc build issues--

These two modules have similar names, though one is deprecated:
bigip_virtual_server_module.rst
_bigip_virtual_server_m

[2017-12-14 19:21] caphrim007 commented on #526
added stub examples.

this should now be fixed. please check and, if necessary, wait for docs to rebuild

[2017-12-14 19:21] #526 closed

[2017-12-14 19:25] #528 closed

[2017-12-14 19:25] #529 closed

[2017-12-14 19:25] #530 closed

[2017-12-14 19:51] caphrim007 commented on #525
this should be changed now

[2017-12-14 19:51] #525 closed

[2017-12-14 20:56] #518 closed

[2017-12-14 22:27] caphrim007 opened #531 "upstream bigip_device_httpd module"
this module was contributed by Joe Reifel and needs to be upstreamed. Customers are asking for additional functionality to be added to it already.

[2017-12-14 22:28] caphrim007 commented on #531
PR for this is here

https://github.com/ansible/ansible/pull/33924

[2017-12-14 22:28] caphrim007 commented on #531
this is now merged @JoeReifel

[2017-12-15 17:49] RobCupples opened #532 "bigip_profile_client_ssl integration tests needs coverage for partition"
##### ISSUE TYPE

 - Test Enhancement

##### COMPONENT NAME

bigip_profile_client_ssl

##### ANSIBLE VERSION

[code]

##### SUMMARY

There is no test coverage for partition.

[2017-12-15 18:05] RobCupples opened #533 "Add partition to bigip_ssl_certificate and key documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

bigip_ssl_certificate
bigip_ssl_key

##### SUMMARY

While trying to write a partition test for bigip_profile_client_ssl I discovered that bigip_ssl_certificate and bigip_ssl_key do not have a partition property in the documentation but if I try to use partition it works and works well so I think it should be added to the documentatio

[2017-12-15 18:13] caphrim007 commented on #533
Those docs were taken straight from the bigip web UI. we can adjust them

[2017-12-15 20:21] #531 closed

[2017-12-15 20:23] caphrim007 commented on #469
@spopplewell ping

[2017-12-15 20:43] #502 closed

[2017-12-15 20:45] caphrim007 commented on #496
@pgomersbach can you email me the full content of the playbook you're attempting to run, along with the files you may be including for templates? I'm unable to reproduce the problem, so I need to take this offline to get more information.

My email address is in my profile

[2017-12-15 23:36] spopplewell opened #535 "bigip_monitor_https fails to find the /Common/https parent template when creating a monitor in a different partition"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_monitor_https
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

F5_VALIDATE_CERTS=false
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When attempting to create a https monitor in a non-Common partition, the module produces an error when you do not li

[2017-12-15 23:44] spopplewell commented on #469
Thanks Tim. All good with the current version.

[2017-12-16 00:06] #469 closed

[2017-12-16 00:09] #535 closed

[2017-12-16 00:10] caphrim007 commented on #535
@spopplewell try the module in this repo. committed a patch a moment ago that should fix it.

[2017-12-16 00:16] caphrim007 commented on #535
i've addressed all the other monitor modules while I was at it.

[2017-12-17 04:08] #533 closed

[2017-12-17 11:16] penghon opened #536 "bigip_selfip run results in MODULE FAILURE for floating self IP"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
bigip_selfip

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

[ansible@testbox demo2]$ cat ansible.cfg
[defaults]
library = ./library
retry_files_enabled = False
host_key_checking = False
roles_path = ./roles

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Is

[2017-12-18 03:25] #536 closed

[2017-12-18 03:26] caphrim007 commented on #536
@penghon i think this is now fixed.

[2017-12-18 21:38] caphrim007 opened #537 "refactor bigip_sys_global"
this module is still using the v2 coding standards and needs to be updated to v3

[2017-12-18 21:39] #537 closed

[2017-12-18 21:53] #180 closed

[2017-12-19 03:26] caphrim007 opened #538 "refactor bigip_vlan"
coding conventions need to be updated to v3 standards

[2017-12-19 03:27] #538 closed

[2017-12-19 03:46] #433 closed

[2017-12-19 03:52] #411 closed

[2017-12-19 05:29] caphrim007 commented on #274
was raised by chats with silverline, but i have no further information about this request, so closing

[2017-12-19 05:29] #274 closed

[2017-12-19 05:29] caphrim007 commented on #273
was raised by chats with silverline, but i have no further information about this request, so closing

[2017-12-19 05:29] #273 closed

[2017-12-19 16:45] RequinBleu opened #539 "bigip_gtm_server server-type it suppose to by single-bigip not standalone-bigip"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_gtm_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

##### STEPS TO REPRODUCE

The module require standalone-bigip but bigip need single-bigip so the module don't work.

you need to change:

[2017-12-19 18:41] caphrim007 commented on #539
@RequinBleu no, it only needs to be line that in versions less than 13. I'm already aware of, and addressing this issue. server_type will remain `bigip`, the internals of the module will determine if it is standalone or redundant.

[2017-12-19 18:57] RequinBleu commented on #539
@caphrim007 the rest api call for product argument it suppose to be single-bigip not standalone-bigip. Yes it suppose use bigip and the internals of the module will determine if it is **single** or redundant. By the way I change the line and it work fine if I use single-bigip. but bigip still not work.

[2017-12-19 19:09] RequinBleu commented on #539
If I create in bigip gui I have this output:
`{
    "kind": "tm:gtm:server:serverstate",
    "name": "hostname",
    "partition": "Common",
    "fullPath": "/Common/hostname",
    "generation": 244,
    "selfLink": "https://localhost/mgmt/tm/gtm/server/~Common~hostname?ver=12.1.2",
    "datacenter": "/Common/dc1",
    "datacenterReference": {
        "link": "https://localhost/mgmt/tm/gtm/datacent

[2017-12-19 19:14] caphrim007 commented on #539
@RequinBleu i know is supposed to be single and redundant. what i'm saying is that the module parameters will **not** be that. The reason it works when you change it is because you're using 12.x.

If you attempt to use that change on 13.x, it will fail.

[2017-12-20 06:16] #488 closed

[2017-12-20 17:51] caphrim007 commented on #91
this should be complete

[2017-12-20 17:51] #91 closed

[2017-12-20 17:52] caphrim007 commented on #92
this is now complete

[2017-12-20 17:52] #92 closed

[2017-12-20 18:09] #456 closed

[2017-12-20 18:58] #493 closed

[2017-12-20 19:46] selhorn opened #540 "broken link in writing-a-module.rst"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-12-20 21:54] #540 closed

[2017-12-21 00:03] caphrim007 opened #541 "Remove 'enabled' param from bigip_gtm_datacenter"

[2017-12-21 00:04] #541 closed

[2017-12-21 04:04] #371 closed

[2017-12-21 04:21] caphrim007 commented on #372
this parameter is only valid on physical bigips

[2017-12-21 04:55] #372 closed

[2017-12-21 04:59] caphrim007 commented on #178
closing for now because there is no associated work to create this module

[2017-12-21 04:59] #178 closed

[2017-12-21 04:59] caphrim007 commented on #177
closing for now because there is no associated work to create this module

[2017-12-21 04:59] #177 closed

[2017-12-21 05:01] caphrim007 commented on #256
marking this as now complete

[2017-12-21 05:01] #256 closed

[2017-12-21 06:21] AndrewSav commented on #256
What is the best way to get this in order for me to test?

[2017-12-21 06:27] #373 closed

[2017-12-21 06:35] caphrim007 commented on #256
@AndrewSav you can download the individual file from here, and then follow the steps for putting it in a local ansible directory here http://clouddocs.f5.com/products/orchestration/ansible/devel/usage/installing-modules.html#in-a-relative-location-recommended

follow the **Relative Location** directions

[2017-12-21 06:36] caphrim007 commented on #256
and if there are bugs, file new issues

[2017-12-21 06:36] AndrewSav commented on #256
Is there a way for me, to find out when it's merged upstream?

[2017-12-21 06:39] caphrim007 commented on #256
I'll remove the upstream label from this issue. otherwise, if you watch the Ansible repository.

[2017-12-22 16:20] termlen0 commented on #316
This bug appears to have been reintroduced in 2.4.2.0 The module works with `content` but not with `src`

[2017-12-22 16:31] termlen0 opened #543 "bigip_irule fails when using the 'src' parameter instead of the 'content' parameter"
ISSUE TYPE

    Bug Report

COMPONENT NAME

bigip_irule
ANSIBLE VERSION

ansible 2.4.2.0
  config file = /home/ajay/ansible.cfg
  configured module search path = [u'/home/ajay/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

PYTHON VERSION

Python 2.7.12

BIGIP VERSION
 "Sys::Version",

[2017-12-22 16:38] caphrim007 commented on #543
@termlen0 are the modules in this repo affected?

[2017-12-22 16:56] termlen0 commented on #543
I only tested the core module that comes with `pip install ansible`, using the latest stable version.

[2017-12-22 17:10] caphrim007 commented on #543
can you test with the one in this repo? the tests we have for the previous issue you mentioned still work so I suspect you're providing an incorrect path to the `src` file. Are you using this in a role?

[2017-12-22 18:11] termlen0 commented on #543
The path is correct because the exact same path works fine while using the `content` parameter. Are you unable to replicate the issue with maybe a brand new venv and fresh install of ansible?

[2017-12-22 18:41] caphrim007 commented on #543
we do not fix changes in older versions of ansible. so if its not working in the release of code in this repository here, it's not something that we fix.

In terms of it working one way and not the other, you're incorrect. Use of a `lookup` will implicitly look in the `files` directory of a role. If you are using this task in a role and specifying a relative path (which you are in the example abov

[2017-12-22 18:49] termlen0 commented on #543
Thanks. I am not using roles btw.

[2017-12-22 19:13] caphrim007 commented on #543
@termlen0 I've downloaded 2.4.2.0 and reproduced the issue.

The same issue does not exist in 2.5.0. You can either wait for that to release, or you can get the `bigip_irule` from this repo and use it in place of the 2.4.2.0 version

[2017-12-22 19:36] termlen0 commented on #543
Thanks! Works for me.

[2017-12-22 19:41] #543 closed

[2017-12-22 19:51] termlen0 opened #544 "bigip_pool throws an error though change is made on the LTM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Adding a member with the `bigip_pool` module throws an exception. The member is added to the pool however.

##### STEPS TO REPRODUCE

[code]

#####

[2017-12-22 19:55] caphrim007 commented on #544
@termlen0 i would suggest using bigip_pool_member for this. the host/port functionality has been removed in 2.5

[2017-12-22 22:00] #544 closed

[2017-12-26 09:15] k-sumida opened #545 "bigip_static_route.py support for route-domain"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_static_route.py

##### SUMMARY

Please add support for route domain for multi-tenant environment like other modules (bigip_routedomain or bigip_selfip).

[2017-12-26 19:26] alonsocamaro opened #546 "bigip_iapp_template: doesn't update the template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_iapp_template

##### ANSIBLE VERSION

Ansible Tower 3.1.5

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

I'm using bigip_iapp_template from github (that is the latest version) rather than the one installed from ansible

##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMAR

[2017-12-29 09:43] alonsocamaro opened #547 "bigip_iapp_template: "template error while templating string: tag name expected""
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME

bigip_iapp_template

##### ANSIBLE VERSION

Ansible Tower 3.1.5

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

I'm using bigip_iapp_template from github (that is the latest version) rather than the one installed from ansible

##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMARY

[2017-12-29 18:42] ianwijaya opened #548 "Add some remark to bigip_pool module to address 'host' and 'port' "deprecated" warning"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

bigip_pool
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Adding pool member via bigip_pool module with 'host' and 'port' parameter raise some warnings.
However the documentation doesn't give any info

[2017-12-29 21:11] caphrim007 commented on #548
@ianwijaya this is already removed in 2.5, so the best we can do is add notes to the bigip_pool module and add examples as well. For example, this https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_pool.py#L148

[2018-01-02 16:51] caphrim007 opened #549 "bigip_config merge_content parameter does not make changes to the device"
see this issue

https://github.com/ansible/ansible/issues/34355

[2018-01-02 17:35] #548 closed

[2018-01-02 19:01] selhorn opened #550 "missing yaml file"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
playbook_tutorial.html

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

**http://clouddocs.f5.com/products/orchestration/ansible/devel/usage/playbook_tutorial.html**

playbook_tutorial.html has a link to thi

[2018-01-02 19:21] neozoolook commented on #270
Recommend that this module also allow you to modify the 'security log profile global-network' as an option as well, as you may be leveraging global policy that you want to log from.

[code]
How this is done today with use of bigip_command: module

[code]

[2018-01-02 19:38] neozoolook opened #551 "Feature Request - New module to support sys management-route additions, modification, delete etc."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

new feature - module request

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

default/basic ansible.cfg file.

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

##### STEPS TO REPRODUCE

On the F5 there are use cases in which it is required to

[2018-01-02 19:47] neozoolook opened #552 "Enhancement - bigip_snmp.py - Support 'Allowed-addresses' in module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_snmp.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

standard ansible.cfg

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

Currently the bigip_snmp.py module doesn't have options to support adding an 'allowed-addresses' IP whiteles

[2018-01-02 19:56] neozoolook opened #553 "Feature Request - New Module to support modification to 'sys software update' values"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Possible enhancement or new module.

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

standard ansible.cfg file.

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

On the F5 12.x or higher there is a new feature that allows the F5 to do update/

[2018-01-02 22:54] caphrim007 commented on #553
@neozoolook i believe this exists today in the bigip_software_update module. doesnt look like we've upstreamed that module yet. Can you have a go at it and lemme know if it has the options you want?

[2018-01-02 22:59] #539 closed

[2018-01-02 23:00] caphrim007 commented on #539
@RequinBleu
I believe this issue has been recently fixed in the repo here. If you can check the updated code to make sure that it addresses the issue you were seeing, I'd appreciate it.

If the problem is still apparent, please file a new issue

[2018-01-02 23:53] #550 closed

[2018-01-03 11:30] chen23 commented on #491
I would also add "security-log-profiles"

modify ltm virtual TRUSTEDNETWORK-PROTECTED-NET-UDR  security-log-profiles replace-all-with { SECURITY-LOG }

[2018-01-03 15:48] vs926p opened #554 "Add Features to virtual server module (bigip_virtual_server.py )"
##### ISSUE TYPE

 - Feature Idea
Add the following sub options for this module:
- ~~translate-address disabled/enabled~~ ADDED
- ~~translate-port disabled/enabled~~ ADDED
- ip-protocol tcp/udp/sctp

##### COMPONENT NAME
bigip_virtual_server.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS /

[2018-01-03 15:58] amsinha2 commented on #269
+1  we hit this a lot, and it appears that the maximum tokens is shared across a pair

[2018-01-03 16:20] realged13 opened #555 "System SMTP Module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
New Module For: System  ››  Configuration : Device : SMTP  ››  New SMTP Configuration

##### ANSIBLE VERSION
2.4.2

##### PYTHON VERSION

##### BIGIP VERSION
Main Package
  Product     BIG-IP
  Version     12.1.2
  Build       2.0.276
  Edition     Hotfix HF2

##### LIBRARY VERSIONS
f5-icontrol-rest==1.3.4
f5-sdk==3.0.7

##### CONFIGURATION
n

[2018-01-03 16:21] realged13 commented on #552
This would be a great addition was looking at this today.

[2018-01-03 16:21] caphrim007 commented on #555
![image](https://user-images.githubusercontent.com/46956/34528883-20b48c38-f05f-11e7-9ad6-a8ce29d194d0.png)

[2018-01-03 16:26] realged13 commented on #554
+10 for this.  We would use this quite extensively.

[2018-01-03 16:49] neozoolook commented on #554
@vs926p I believe that the last bullet item is automatically supported by leveraging the 'all_profiles:' option in bigip_virtual_server.py.  Example if I pass two profiles one with GTP and another with UDP, the ip-protocol is defaulted to UDP.

[code]

[2018-01-03 16:53] neozoolook commented on #553
@caphrim007 will do will test today

[2018-01-03 17:09] neozoolook commented on #553
@caphrim007 Looks like there may be an issue, as running different plays works fine, but when calling this module I do get an error;

-vvvv
[code]

[2018-01-03 18:01] caphrim007 commented on #553
verified. lemme fix that

[2018-01-03 18:39] #553 closed

[2018-01-03 18:39] caphrim007 commented on #553
@neozoolook have a go. i think this is now fixed

[2018-01-03 21:21] caphrim007 opened #556 "commas in bigip_command commands are not handled properly"
Ansible's `list` type will automatically split the item in commands if there is a single command and it includes a comma.

example,

`tmsh create ltm virtual foo destination 1.1.1.1:80 description "this, would, cause an, error"`

[2018-01-04 04:05] caphrim007 commented on #554
as @neozoolook the ip protocol is already supported in the `profiles` argument. It is usually implied based on the type of "other" profile you set. For instance, HTTP has a default implied profile of `tcp`

[2018-01-04 17:39] RobCupples commented on #524
Fixed.

[2018-01-04 17:39] #524 closed

[2018-01-04 17:42] RobCupples commented on #532
Should be fixed.
https://github.com/F5Networks/f5-ansible/commit/0cde83fd36e0bfb813a192fa65b10763c6d2d98d

[2018-01-04 17:42] #532 closed

[2018-01-05 16:01] danielcayer opened #557 "bigip_partition does not set description on the sys folder object"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_partition

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

Running within F5 SNOPS Docker container with Ansible.cfg file as follows:
[snops@f5-super-netops] [~/sscssli] $ cat ansible.cfg
[defaults]
inventory = ./hosts
roles_path = ./roles
#lib

[2018-01-05 18:39] selhorn opened #558 "Change ratio_member to ratio-member in sample yaml file"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Small issue - In this file:
https://github.com/F5Networks/f5-ansible/blob/devel/examples/0000-getting-started/playbook.yaml

Change ratio_member to ratio-membe

[2018-01-05 20:18] #558 closed

[2018-01-05 20:47] #556 closed

[2018-01-05 22:52] caphrim007 opened #559 "refactor the HAS_* checks to not raise exceptions"
https://github.com/ansible/ansible/issues/34517#issuecomment-355675866

sivel raised this issue and it requires a change in the module_utils. We need to get rid of the AnsibleF5Client stuff (at least as it pertains to the module params code) and use plain-old AnsibleModule. The bigip client stuff can live in a separate F5Client or similar.

This will be a breaking change for all modules in this re

[2018-01-05 23:15] caphrim007 commented on #557
@danielcayer partitions are != folders. The reason that you are seeing TMUI not display anything is because there is a bug in TMUI.

The equivalent TMSH command will also not work; `tmsh modify auth partition foo description "my description"`.

Email me and I can provide you with the bug ID.

[2018-01-06 01:24] RobCupples commented on #513
I think we are done with this and it is ready to close.

[2018-01-06 01:26] #513 closed

[2018-01-06 01:31] caphrim007 commented on #370
this should now be complete

[2018-01-06 01:31] #370 closed

[2018-01-06 01:32] caphrim007 commented on #370
duplicate of #487

[2018-01-06 01:35] caphrim007 commented on #369
duplicate of #488

[2018-01-06 01:35] #369 closed

[2018-01-06 01:48] caphrim007 commented on #423
closing as this document is no longer contained in this repository

[2018-01-06 01:48] #423 closed

[2018-01-08 20:34] danielcayer commented on #557
Thanks Tim. I did try, but could not find this TMUI bug ID you indicated above. The workaround you provided did indeed resolve my problem.

[2018-01-08 20:34] #557 closed

[2018-01-09 14:10] danielcayer opened #561 "Add functionality to bigip_asm_policy module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_asm_policy

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

I commented out the library line in my ansible.cfg file.
[code]

##### OS / ENVIRONMENT

"N/A"

##### SUMMARY

1 - Can the bigip_asm_policy module be modified to allow use of custom

[2018-01-09 14:26] danielcayer opened #562 "bigip_asm_policy partition bug"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_asm_policy

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

I commented out the library line in my ansible.cfg file.
[code]

##### OS / ENVIRONMENT

"N/A"

##### SUMMARY

The "partition" parameter causes an error if a policy with the same name

[2018-01-09 18:21] selhorn opened #563 "validate_certs option is not listed as required in docs and defaults to true"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_node

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS 20171121.1 in AWS

##### SUMMARY
These three modules produce an error if you do not include the validate_certs option.
bigip_node
bigip_pool_member
big

[2018-01-09 18:26] caphrim007 commented on #563
@selhorn it's not required. and its set to true by default because setting it to false by default would imply an insecure BIG-IP configuration. The reason that you're seeing that error is because it's functioning exactly how its supposed to.

You have no configured you SSL CA certificates correctly on your Ansible controller so that SSL verification of your remote BIG-IP can happen correctly. The

[2018-01-09 18:30] selhorn commented on #563
OK thanks. Do you know why bigip_pool doesn't produce the same error?

[2018-01-09 18:31] caphrim007 commented on #563
it should. they use the same code

[2018-01-09 18:34] selhorn commented on #563
Same machine, same setup. Here is playbook:
---

- name: Create a VIP, pool, pool members and nodes
  hosts: 10.10.10.10
  connection: local

  tasks:
      - name: Create a pool
        bigip_pool:
            server: "10.10.10.10"
            user: "admin"
            password: "blah"
            name: "web_pool"
            monitor_type: "and_list"
            monitors:
                - "http"

[2018-01-09 18:45] caphrim007 commented on #563
the reason is because in 2.4 the virtual_server module still used the old soap methods of communicating with the device and bigip_pool does not. There was a bug in 2.4 that caused cert validation to be ignored, and it was being addressed for 2.5

[2018-01-09 18:49] #563 closed

[2018-01-09 21:08] selhorn opened #566 "Broken links in README.rst"
##### ISSUE TYPE
 - Documentation Report

##### SUMMARY
Please fix the broken links in README.rst. (The licensing ones are highest pri.) Thanks.

Requirements:
http://clouddocs.f5.com/products/orchestration/ansible/devel/development/usage/requirements.html

Branching:
http://clouddocs.f5.com/products/orchestration/ansible/development/devel/development/branching.html

License:
https://github.com/F5

[2018-01-09 21:17] #566 closed

[2018-01-10 19:58] mlowcher61 opened #567 "bigip_iapplx_package module not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_iapplx_package
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION
library        = /usr/share/ansible

##### OS / ENVIRONMENT

##### SUMMARY

TASK [Add an iAppLX package] *****************************************************************************

[2018-01-10 19:59] mlowcher61 commented on #567
the app-connector-1.1.1.8.noarch.rpm file is in the same directory as my playbooks
~/ansible/playbooks

[2018-01-10 21:25] caphrim007 commented on #567
what command are you using to run the playbook

[2018-01-10 21:33] mlowcher61 commented on #567
ansible-playbook

Mark Lowcher CISSP CCSP |  F5 Systems Engineer – AT&T Cloud and Managed Services

F5 Networks

  P 888.88.BIG.IP

 M 512.745.6263

m.lowcher@f5.com<mailto:m.lowcher@f5.com>

   www.f5.com<http://www.f5.com/>

From: Tim Rupp [mailto:notifications@github.com]
Sent: Wednesday, January 10, 2018 3:25 PM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: Mark Lowcher <M.Lowc

[2018-01-10 21:41] caphrim007 commented on #567
what directory are you running ansible-playbook from?

[2018-01-10 21:53] mlowcher61 commented on #567
~/ansible/playbook

Sent from my iPhone

On Jan 10, 2018, at 3:41 PM, Tim Rupp <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL MAIL: noreply@github.com<mailto:noreply@github.com>

what directory are you running ansible-playbook from?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/F5Networks/

[2018-01-10 21:57] caphrim007 commented on #567
is that directory the home directory of the user running the playbook?

[2018-01-10 22:26] mlowcher61 commented on #567
/home/<user>/ansible/playbook
It’s where I keep all my playbooks

Sent from my iPhone

On Jan 10, 2018, at 3:57 PM, Tim Rupp <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL MAIL: bounces+848413-c0af-m.lowcher=f5.com@sgmail.github.com<mailto:bounces+848413-c0af-m.lowcher=f5.com@sgmail.github.com>

is that directory the home directory of the user running the playbook?

—

[2018-01-10 23:18] caphrim007 commented on #567
i'm having trouble re-producing this. have you tried the module in this repo?

[2018-01-11 13:59] mlowcher61 commented on #567
I copied the .py file from the develop repo that was updated 4 days ago. I’m going to try on another version of F5. I did 13.1 I’m going to try 13.0. What version did you try?

I also can’t get bigip_command or bigip_raw to work when trying to create a file. Both
Run /util bash touch /var/config/rest/iapps/enable or using cat fail to work.
But it doesn’t seem to be an Ansible issue. Even at the CL

[2018-01-11 15:02] agschwind opened #568 "bigip_policy.py"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_policy.py
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

In the code line 260 in def _get_builtin_strategy the function returns a strategy using the ansible supplied partition name. All the builtin strate

[2018-01-11 15:04] caphrim007 commented on #568
thanks @agschwind , will fix

[2018-01-11 15:12] agschwind opened #569 "bigip_virtual_server.py and partition name with numbers"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server.py
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When having partition names including numbers they are not handled correctly at some place.
In the code at line 648 the regex does not matc

[2018-01-11 17:36] delgadillo22 commented on #470
Fidelity requirement?
Add gtm pool to gtm wideip
Add GTM vs to GTM pool
GTM pool member monitor
GTM VS Monitor

[2018-01-11 17:41] delgadillo22 commented on #384
Fidelity requirement

[2018-01-11 17:41] delgadillo22 commented on #383
Fidelity requirement

[2018-01-11 17:42] delgadillo22 commented on #382
Fidelity requirement

[2018-01-11 17:44] delgadillo22 commented on #377
Questions:
What capability is enabled here?
How widely applicable do we think this for our users?

[2018-01-11 17:45] delgadillo22 commented on #374
Marking this as LOW unless we can get more info on business value and adoption of tmsh2iapp

[2018-01-11 17:48] delgadillo22 commented on #363
Sounds like a valuable addition, emphasizes F5 security focus, but a lot of work

[2018-01-11 17:50] delgadillo22 commented on #338
High if this is high-value item to replace include.

[2018-01-11 17:58] delgadillo22 commented on #318
Looks like the requirements/solution aren't fully baked

[2018-01-11 18:08] delgadillo22 commented on #306
From link referenced above:
Always have in mind that Ansible has a lot of modules and **most common operations do not require the use of the command module.** For instance, there are modules for creating filesystems, modifying the iptables and managing cron entries. All these modules are idempotent by default, so you always should prefer them.

[2018-01-11 18:11] delgadillo22 commented on #304
High if VLAN trunks are used ubiquitously. Medium otherwise.

[2018-01-11 18:13] delgadillo22 commented on #301
We should remove this item since we have a workaround.

[2018-01-11 18:18] delgadillo22 commented on #291
High if this type of information is being built into the Ansible documentation for supportbility (e.g. "how to" info)

[2018-01-11 18:19] delgadillo22 commented on #286
Looks like a Fidelity requirement.

[2018-01-11 18:20] delgadillo22 commented on #272
low by default given no documented requirements

[2018-01-11 18:21] delgadillo22 commented on #271
Low by default given no documented requirements

[2018-01-11 18:23] delgadillo22 commented on #270
Not clear to me what this enables and what value this provides.

[2018-01-11 18:26] delgadillo22 commented on #269
Low if this is this a corner case situation with a workaround

[2018-01-11 18:28] delgadillo22 commented on #261
Low - "nice to have"

[2018-01-11 18:33] delgadillo22 commented on #186
Looks like more information is needed to understand the requirement and prioritize.

[2018-01-11 18:35] delgadillo22 commented on #149
Nice to have

[2018-01-11 18:37] delgadillo22 commented on #140
Looks like Fidelity requirement

[2018-01-11 18:37] delgadillo22 commented on #137
Nice to have

[2018-01-11 18:41] delgadillo22 commented on #122
Nice to have

[2018-01-11 18:43] delgadillo22 commented on #103
Not clear if this a bug with F5 Ansible

[2018-01-11 18:45] delgadillo22 commented on #84
Use the bigip_command module as workaround?

[2018-01-11 18:46] delgadillo22 commented on #82
Nice to have

[2018-01-11 18:48] delgadillo22 commented on #74
Ansible for HA Pairing has been on the roadmap for 2.5 for sometime. Originally planned for 2.4.

[2018-01-11 18:51] KSI-Brian-Rossmeisl commented on #470
No, we have 3 customers, 2 banks and a large utility company that would like to use this asap.

[cid:image001.png@01D23F17.7A56C3F0]

Brian Rossmeisl
Sr Solutions Architect
Kudelski Security Inc.
5500 Interstate North Parkway NW
Suite 300, Atlanta GA 30328
Phone +1 980-275-1524
brian.rossmeisl@kudelskisecurity.com<mailto:brian.rossmeisl@kudelskisecurity.com>
https://www.kudelskisecurity.com/
This

[2018-01-11 18:52] delgadillo22 commented on #40
Needs further investigation

[2018-01-11 19:05] delgadillo22 commented on #568
wide customer impact?

[2018-01-11 19:07] delgadillo22 commented on #280
Lots of requests from field for ability to export policies

[2018-01-11 19:17] caphrim007 commented on #338
this is complete

[2018-01-11 19:17] #338 closed

[2018-01-11 21:22] delgadillo22 commented on #559
Need to sync on effort and breaking changes

[2018-01-11 21:40] delgadillo22 commented on #561
Is this out of scope of what is planned for ASM Policy Support in 2.5.0?

[2018-01-11 21:42] delgadillo22 commented on #547
Corner case or common? (exposure level?)

[2018-01-11 21:49] delgadillo22 commented on #289
Possible for 2.6 as ASM enhancement for what's being delivered in 2.5?

[2018-01-11 21:50] delgadillo22 commented on #270
Part of our 2.5 ASM support? Or Nice to Have enhancement?

[2018-01-11 21:55] delgadillo22 commented on #111
Need more information on requirements and effort needed.

[2018-01-11 22:03] delgadillo22 commented on #496
Corner case?

[2018-01-11 22:05] delgadillo22 commented on #387
Too much risk for the benefit

[2018-01-11 22:14] delgadillo22 commented on #109
Not enough requirements to prioritize

[2018-01-11 22:38] caphrim007 commented on #547
@delgadillo22 corner case. None of the F5 iApps on downloads raise this error (we test all of them)

[2018-01-11 22:40] caphrim007 commented on #270
@delgadillo22 part of AFM support, not ASM

[2018-01-11 23:33] devnullNZ commented on #186
@delgadillo22 what would you like? I described the scenario further back in this thread, but basically what I'm wanting to do is identify long lived connections and force a close when a manual failover is required.
The current solution uses custom scripts to collect current serverside & clientside connections for a given VIP, then walk through the list and delete the active connection.
Grabbing th

[2018-01-11 23:37] neozoolook commented on #554
@caphrim007 agreed with your last statement.  I had other post earlier directed to my peer on this one ask as I don't think it's necessary.

[2018-01-12 00:20] caphrim007 commented on #496
@delgadillo22 I have not been able to repro this in my development env using the OP's same params. May need further engagement with OP to figure out.

[2018-01-12 00:34] caphrim007 commented on #289
@delgadillo22 it is possible, but this is a module request that has not had nearly as much interest as other modules.

[2018-01-12 00:35] caphrim007 commented on #561
@delgadillo22 it cant be met for 2.5. It may be do-able for 2.6

[2018-01-12 00:48] caphrim007 commented on #567
@mlowcher61 I've tested on all released versions

[2018-01-12 15:25] mlowcher61 commented on #567
Tim,

I’m really sorry. It was a typo on my end that was making it not work.

“Typos are the difference between superheros and superherpes”

I will remove the issue from github and please disregard.

Mark Lowcher CISSP CCSP |  F5 Systems Engineer – AT&T Cloud and Managed Services

F5 Networks

  P 888.88.BIG.IP

 M 512.745.6263

m.lowcher@f5.com<mailto:m.lowcher@f5.com>

   www.f5.com<http://www.f

[2018-01-12 17:30] #567 closed

[2018-01-12 17:30] caphrim007 commented on #567
closing per @mlowcher61's request

[2018-01-12 18:28] caphrim007 commented on #569
@agschwind can you provide an example task that shows the misbehavior?

[2018-01-12 18:35] #568 closed

[2018-01-12 20:19] agschwind commented on #569
my vars:
---
partition: "VIEW_VLAN_21"
f5_hostname: "f.q.d.n"
f5_username: "user"

my task file which is called by a with_items loop
---
- name: Create Virtual Servers
  bigip_virtual_server:
    server: "{{ inventory_hostname }}"
    user: "{{ f5_username }}"
    state: "present"
    partition: "{{ partition }}"
    name: "{{ item.name }}"
    description: "{{ item.desc }}"
    destination: "{{ i

[2018-01-12 20:55] caphrim007 commented on #569
@agschwind this is the error you're receiving?

[code]

[2018-01-12 21:08] #569 closed

[2018-01-12 21:09] caphrim007 commented on #559
this should now be complete

[2018-01-12 21:09] #559 closed

[2018-01-12 21:29] #549 closed

[2018-01-14 19:50] #545 closed

[2018-01-15 19:10] delgadillo22 commented on #561
Ok changing to HIGH to keep visibility for 2.6. Thanks.

[2018-01-15 19:12] delgadillo22 commented on #547
Thanks, moving to LOW priority.

[2018-01-15 19:14] delgadillo22 commented on #508
Is this required for Issue #152?

[2018-01-15 19:16] delgadillo22 commented on #496
OK leaving it at LOW for now.

[2018-01-15 19:23] caphrim007 commented on #508
@delgadillo22 its a part of the feature request

[2018-01-15 19:31] delgadillo22 commented on #508
OK marking MEDIUM given this is non-trivial

[2018-01-15 19:33] delgadillo22 commented on #270
oops my typo

[2018-01-16 19:02] MicSkr commented on #522
Additional Request for this enhancement.

Also ssl-protocol
modify sys httpd ssl-protocol "{{ ssl_protocols }}"

[2018-01-16 19:29] MicSkr commented on #329
Bump. Additional request for this.

[2018-01-16 19:29] MicSkr commented on #555
Bump. Additional request for this.

[2018-01-16 23:43] delgadillo22 commented on #74
2.5 item?

[2018-01-17 13:34] rowco opened #571 "gtm_facts not returning virtual_servers list"
- Bug Report

bigip_gtm_facts

[code]
 python -V
Python 2.7.5

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

I run with the following ansible.cfg options:

hash_behaviour=merge
deprecation_warnings=False

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

gtm_facts run with 'include: virtual_server' returns the server config, but the virtual_servers list i

[2018-01-17 14:25] rowco commented on #571
Sorry, I wasn't using the latest version of the module. I'll re-test.

[2018-01-17 18:02] caphrim007 commented on #571
@rowco to clarify, you're asking for the  virtual servers that are attached to GTM servers, right?

[2018-01-17 19:58] #571 closed

[2018-01-17 20:01] caphrim007 commented on #571
@rowco I believe I was able to repro it and fix it. However, in the fix, I also removed the top-level "virtual_servers" key because it was deprecated (ie, changed) to "servers".

So if you try it, the hierarchy is `servers > virtual_servers` now instead of `virtual_servers > virtual_servers`

[2018-01-17 23:36] payalsin opened #572 "bigip_pool.py is not idempotent"
playbook

[code]
Always shows as changed even though pool with same parameters exists on bigip

[2018-01-17 23:39] payalsin opened #573 "bigip_pool_member.py errors"
playbook

[code]

[2018-01-18 00:02] payalsin opened #574 "bigip_device_group_member.py giving errors"
playbook
[code]

Error
The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_ZltF8B/ansible_module_bigip_device_group_member.py", line 271, in <module>
    main()
  File "/tmp/ansible_ZltF8B/ansible_module_bigip_device_group_member.py", line 262, in main
    results = mm.exec_module()
  File "/tmp/ansible_ZltF8B/ansible_module_bigip_device_group_member.py", line 155, in ex

[2018-01-18 00:03] caphrim007 commented on #574
@payalsin what version of the f5-sdk do you have?

[2018-01-18 00:07] payalsin commented on #574
Latest:
Requirement already satisfied: f5-sdk in /usr/lib/python2.7/site-packages
Requirement already satisfied: six>=1.9.0 in /usr/lib/python2.7/site-packages (from f5-sdk)
Requirement already satisfied: f5-icontrol-rest>=1.3.2 in /usr/lib/python2.7/site-packages (from f5-sdk)
Requirement already satisfied: requests<3,>=2.5.0 in /usr/lib/python2.7/site-packages (from f5-icontrol-rest>=1.3.2->f5-s

[2018-01-18 00:09] #573 closed

[2018-01-18 00:09] caphrim007 commented on #573
this should now be fixed

[2018-01-18 00:10] caphrim007 commented on #574
@payalsin output from `pip freeze |grep f5` ?

[2018-01-18 00:14] payalsin commented on #574
pip freeze | grep f5
f5-icontrol-rest==1.3.4
f5-sdk==3.0.8

[2018-01-18 09:16] rowco commented on #571
Awesome that's done it. Thanks Tim.

On Wed, Jan 17, 2018 at 8:01 PM, Tim Rupp <notifications@github.com> wrote:

[2018-01-18 18:39] caphrim007 opened #575 "add docs for setting the ansible_python_interpreter to virtualenv docs"
In this doc

http://clouddocs.f5.com/products/orchestration/ansible/devel/usage/virtualenv.html

We need to add instructions about changing the ansible_python_interpreter.

t.thomas needs to be plugged about this when its done

[2018-01-18 19:22] caphrim007 commented on #574
@payalsin can you check to see if this module now works. I dont appear to have specific tests for this one, so I'm not able to tell if it works at all.

[2018-01-18 19:56] payalsin commented on #572
looks good

[2018-01-18 20:19] caphrim007 opened #576 "upstream bigip_ucs_fetch"
needs to go upstream

[2018-01-18 20:19] caphrim007 opened #577 "bigip_device_group needs upstreaming"
put it upstream

[2018-01-18 20:20] caphrim007 commented on #577
this should be complete

[2018-01-18 20:20] #577 closed

[2018-01-18 20:35] payalsin commented on #574
@caphrim007 - still giving an error

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_Y4Pf4W/ansible_module_bigip_device_group_member.py", line 271, in <module>
    main()
  File "/tmp/ansible_Y4Pf4W/ansible_module_bigip_device_group_member.py", line 262, in main
    results = mm.exec_module()
  File "/tmp/ansible_Y4Pf4W/ansible_module_bigip_device_group_member.py", l

[2018-01-19 08:29] penghon opened #578 "bigip_device_group_member erroring out with Missing required params: ['partition']"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_device_group_member
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

bigip_device_group_member module stops working after downloading the latest version.

##### STEPS TO REPRODUCE

[code]

##### EXPECTE

[2018-01-19 15:22] caphrim007 commented on #578
this is already being tracked in the work on #574. closing

[2018-01-19 15:22] #578 closed

[2018-01-19 18:00] caphrim007 opened #579 "allow virtual server to consume security-log-profiles setting"
I would also add "security-log-profiles"

modify ltm virtual TRUSTEDNETWORK-PROTECTED-NET-UDR security-log-profiles replace-all-with { SECURITY-LOG }

[2018-01-19 18:05] caphrim007 commented on #579
@chen23 opening this here

[2018-01-19 18:05] caphrim007 commented on #579
related to #491

[2018-01-19 18:56] caphrim007 opened #580 "add module to support bigiq utility license assignment to bigips"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-01-19 18:57] caphrim007 opened #581 "add module for bigiq utility licenses"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-01-19 18:57] caphrim007 opened #582 "add module for bigiq license assignment"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-01-19 18:59] caphrim007 opened #583 "bigip_gtm_virtual server needs a REST refactor"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-01-19 19:06] caphrim007 commented on #474
#442 is part of this work

[2018-01-19 19:15] caphrim007 commented on #84
@dtlowe I believe this issue is now fixed. Can you test with the current modules and if there is still a problem, file a new issue? Thanks!

[2018-01-19 19:15] #84 closed

[2018-01-19 22:45] caphrim007 commented on #49
this is complete

[2018-01-19 22:45] #49 closed

[2018-01-19 22:48] caphrim007 commented on #306
@alonsocamaro what do you propose the creates and removes arguments accept for values? tmsh does not provide structures output.

[2018-01-20 22:55] #576 closed

[2018-01-21 03:51] #562 closed

[2018-01-23 19:20] payalsin opened #584 "bigip_device_trust - delete not working"
[code]

Error:

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_nuCURQ/ansible_module_bigip_device_trust.py", line 342, in <module>
    main()
  File "/tmp/ansible_nuCURQ/ansible_module_bigip_device_trust.py", line 333, in main
    results = mm.exec_module()
  File "/tmp/ansible_nuCURQ/ansible_module_bigip_device_trust.py", line 228, in exec_module
    changed = self

[2018-01-23 20:52] caphrim007 commented on #503
this is now fixed

[2018-01-23 20:52] #503 closed

[2018-01-24 01:09] payalsin commented on #584
error with new code

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: f5.sdk_exception.UnsupportedMethod: Remove_From_Trust does not support the delete method
fatal: [localhost -> localhost]: FAILED! => {"attempts": 1, "changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_wEFZFB/ansible_module_bigip_device_trus

[2018-01-24 14:36] alonsocamaro commented on #306
Hi Tim

@caphrim007 the idea is that the user would provide the object name to check against:

```creates``` and ```removes``` would be an additional option and the user would provide an object that ```bigip_command``` would ```tmsh list```, the result would be filtered to check if the condition is true or false. It could be something like:

[code]

I think that doing something like this there wou

[2018-01-24 23:57] #575 closed

[2018-01-24 23:58] caphrim007 commented on #575
@selhorn would you review this document and edit as needed?

https://github.com/F5Networks/f5-ansible/blob/devel/docs/usage/virtualenv.rst

[2018-01-25 01:14] caphrim007 commented on #584
I believe this is now working per @payalsin's offline comments

[2018-01-25 01:14] #584 closed

[2018-01-25 01:15] caphrim007 commented on #574
@payalsin this should now be fixed. correct me if I'm wrong though. closing

[2018-01-25 01:15] #574 closed

[2018-01-25 17:09] bwearp commented on #412
Hi,

I was wondering if anyone could help

This site is messing with the indentation - it is correct however in my playbook - honest

I copied the example config from:
http://clouddocs.f5.com/products/orchestration/ansible/devel/modules/bigip_device_connectivity_module.html#examples

  - name: Configure device connectivity for standard HA pair
     bigip_device_connectivity:
      config_sync_ip:

[2018-01-25 17:11] caphrim007 commented on #412
@bwearp please file new issues instead of commenting on old issues.

[2018-01-25 17:35] bwearp opened #586 "bigip_device_connectivity module not found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_device_connectivity

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I copied the example config from:
http://clouddocs.f5.com/products/orchestration/ansible/devel/modules/bigip_device_connectivity_module.

[2018-01-25 17:41] caphrim007 commented on #586
@bwearp this module was not included in Ansible 2.4 (which you have installed). It is included as of Ansible 2.5.

[2018-01-25 17:48] bwearp commented on #586
Hi - thanks for replying so fast.

Silly question - is 2.5 available yet?

Bens-iMac:documentation ben$ sudo -H pip install ansible==2.5
Collecting ansible==2.5
  Could not find a version that satisfies the requirement ansible==2.5 (from versions: 1.0, 1.1, 1.2, 1.2.1, 1.2.2, 1.2.3, 1.3.0, 1.3.1, 1.3.2, 1.3.3, 1.3.4, 1.4, 1.4.1, 1.4.2, 1.4.3, 1.4.4, 1.4.5, 1.5, 1.5.1, 1.5.2, 1.5.3, 1.5.4, 1.5.5, 1

[2018-01-25 18:04] caphrim007 commented on #586
@bwearp no, but you can install it directly from Ansible's github repository

`pip install --upgrade git+https://github.com/ansible/ansible.git`

the stable version of 2.5 will be released sometime in march

[2018-01-25 19:21] caphrim007 opened #587 "Add ssl-protocol modify sys httpd ssl-protocol "{{ ssl_protocols }}""
modify sys httpd ssl-protocol "{{ ssl_protocols }}"

[2018-01-25 19:22] caphrim007 commented on #522
@MicSkr tracking your issue in #587

[2018-01-25 20:02] #522 closed

[2018-01-25 20:02] caphrim007 commented on #522
@neozoolook have a go at it

[2018-01-25 20:05] caphrim007 commented on #586
@bwearp are you good to go?

[2018-01-25 21:29] realged13 opened #588 "Issue: bigip_static_route Erroring"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_static_route

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION
Nothing

##### OS / ENVIRONMENT
Centos in virtualenv

##### SUMMARY
Trying to create static routes and is failing.

[code]

##### EXPECTED RESULTS
Static routes to be created using the

[2018-01-25 21:45] caphrim007 commented on #588
@realged13 if you're using Ansible in a virtualenv you have to change your host variables to point to that virtualenv. My guess is that you're not doing that because this code is in Ansible 2.5 right here

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/parsing/convert_bool.py#L8

[2018-01-25 21:48] #587 closed

[2018-01-25 21:51] caphrim007 commented on #587
@MicSkr give this a try with 2.5

[2018-01-26 07:26] bwearp commented on #586
Hi - yep - perfect thanks!

[2018-01-26 14:35] alonsocamaro opened #589 "RFE: bigip_command to have a base path option"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT NAME
bigip_command

##### SUMMARY

This option is about doing a cd /<basepath> before running the commands.

Most commands in BIG-IP can specify the full path to the objects it is going to operate. In these case this RFE is strictly necessarily needed. It would be just a convenience.

In the other hand there are some cases where a "cd /partition" or

[2018-01-26 15:07] #586 closed

[2018-01-26 20:48] caphrim007 commented on #552
@neozoolook snmp communities was a stub I had in the repository as a separate module. This was because of the number of extra parameters that this particular feature can accept.

[2018-01-26 20:59] caphrim007 opened #591 "add support for snmp communities"
this is part 2 of #552

[2018-01-26 21:02] caphrim007 commented on #552
@neozoolook and @realged13 I'm marking this as closed because I've implemented the `allowed_addresses` functionality.

I've opened another issue to address the `communities` feature. You can see it linked to above.

[2018-01-26 21:02] #552 closed

[2018-01-26 21:03] caphrim007 commented on #588
@realged13 does my previous comment address your problem?

[2018-01-26 21:04] caphrim007 commented on #555
smtp-server functionality has been added to the f5-sdk

[2018-01-26 21:12] realged13 commented on #588
I believe I have this working.  I reverted or did something and it fixed it.  I had to change it back from 172.2.2.0/24 to net: mask: format.

[2018-01-26 21:15] caphrim007 commented on #588
ok. closing

[2018-01-26 21:15] #588 closed

[2018-01-26 22:28] caphrim007 commented on #589
@alonsocamaro can you provide a generic content for the external monitor file?

[2018-01-27 00:00] caphrim007 commented on #496
@pgomersbach any update on this?

[2018-01-27 06:26] #555 closed

[2018-01-27 08:42] alonsocamaro commented on #589
@caphrim007 I would like to close this one. Thinking twice about it I think it is not worth it. The first case that I initially mentioned was wrong (it is possible to specify full path) and for the load sys config an alternative is to just use full paths in the config file.

[2018-01-27 17:49] caphrim007 commented on #589
@alonsocamaro ok np. Closing

[2018-01-29 01:25] cr41gc commented on #83
My team uses data-groups as lists of IP addresses to white-list. We restrict certain virtual servers to a white-listed group via iRule.

[2018-01-29 21:33] payalsin opened #592 "bigip_vcmp_guest enhancement"
Right now the module supports moving an unassigned VLAN to be assigned to a guest

Can we add the following to the module:
- Moving an assigned  VLAN to be unassigned

[2018-01-30 19:46] caphrim007 opened #593 "GTM pool member TCP monitor"
blocks #383

[2018-01-30 19:46] caphrim007 opened #594 "GTM pool member HTTP monitor"
blocks #383

[2018-01-30 19:47] payalsin opened #595 "ASM profile upload module not handling upload failure"
If the ASM template file is not valid and does not import the module is still executing and not giving an error.

Error on bigip for invalid template:
Jan 30 11:32:39 localhost err tmsh[10608]: 01420006:3: Import policy failed. Messages: [fatal] The security policy file does not conform to the schema and cannot be imported. (line 3: element type: Schemas validity error : Element 'type': This eleme

[2018-01-30 20:08] caphrim007 opened #596 "GTM pool member HTTPS monitor"
blocks #383

[2018-01-30 20:09] caphrim007 opened #597 "GTM pool member BIG-IP monitor"
blocks #383

[2018-01-30 20:10] caphrim007 opened #598 "GTM pool member TCP Half Open monitor"
related to #383, but non-blocking. Considered a nice-to-have

[2018-01-30 20:11] caphrim007 opened #599 "GTM pool member External monitor"
related to #383, but non-blocking. nice-to-have

[2018-01-30 20:11] caphrim007 opened #600 "GTM pool member Firepass monitor"
related to #383 but is non-blocking. nice to have

[2018-01-30 20:26] payalsin opened #601 "bigip_hostname 're-key' error"
This error shows up when the BIG-IP device name and hostname are different.

BIG-IP device name : Under menu device management->devices
BIG-IP hostname: Under menu system->platform

Error:
fatal: [10.192.73.218 -> localhost]: FAILED! => {"attempts": 1, "changed": false, "failed": true, "msg": "404 Unexpected Error: Not Found for uri: https://34.214.217.233:8443/mgmt/tm/cm/device/\nText: u'{\"code\

[2018-01-30 20:33] payalsin opened #602 "Module to revoke a license"
There is a new feature is 13.1 to revoke a license through the BIG-IP itself as long as the license is BYOL.
From tmsh, to revoke the license, run the command tmsh revoke sys license.

For more details:
https://support.f5.com/kb/en-us/products/big-ip_ltm/manuals/product/bigip-ve-setup-vmware-esxi-13-1-0/4.html#guid-d529e0e1-b37c-4e83-a970-fa68b266a6c7

It would be great to have an ansible module t

[2018-01-31 15:04] alonsocamaro commented on #589
@caphrim007 Found a case which cannot be workarounded

```delete <something> all```

ie:

```delete ltm node all```

Cannot specify the partition in the command line AFAIK

[2018-02-01 07:26] penghon opened #603 "bigip_software MODULE FAILURE TypeError: __init__() got an unexpected keyword argument 'module'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_software
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

defaults]
library = ./library
retry_files_enabled = False
host_key_checking = False
roles_path = ./roles
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Unable to use the bigip_software module

[2018-02-01 10:36] chen23 commented on #602
Requires SDK support https://github.com/F5Networks/f5-common-python/issues/1357

[2018-02-01 17:32] realged13 commented on #554
Having this issue, I wonder if the documentation could be a little more specific when messing with the Protocol.  What if I don't want to set a `HTTP` profile?  What is the method for me to still make it TCP?

[2018-02-01 17:45] caphrim007 commented on #554
@realged13 just specify the new list sans `http`

before:
[code]

after:
[code]

[2018-02-01 18:41] realged13 commented on #554
@caphrim007 How would I make it a Performance L4 `Type` and use TCP, without setting a http profile?  I have tried multiple combos, but nothing will stick for me.  If i do the `- tcp` it changes the virtual type to standard.  I would like to do the following:

![image](https://user-images.githubusercontent.com/8713511/35696488-a1c88a38-0755-11e8-997a-f83d6991ba61.png)

[code]

[2018-02-01 18:53] ArtiomL commented on #603
+1

[2018-02-01 19:06] caphrim007 commented on #554
@realged13

[code]

[2018-02-01 19:08] caphrim007 commented on #554
oh, i see waht you mean by ip protocol now. ha. ok, yeah that is an enhancement then

[2018-02-01 19:22] realged13 commented on #554
Yeah, I think if you could set the default behavior to match that of the default within the F5 GUI that would help.

[2018-02-01 19:49] caphrim007 commented on #554
@realged13 do you want access to all the protocols? (like custom, numeric, protocols) or do you just want access to the known common protocols that are shown in the UI

[2018-02-01 20:25] realged13 commented on #554
@caphrim007  Just the standard/common ones for now.

[2018-02-02 11:32] bwearp opened #604 "Unsupported parameters for (bigip_configsync_actions) module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_configsync_actions

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Get an error saying that I am using unsupported parameters:

TASK [Perform an initial sync of a device to a new device group] *************

[2018-02-02 15:06] caphrim007 commented on #604
@bwearp depending on when you installed this version of 2.5.0, you need to update it. There were changes that went into the devel branch of ansible recently that require you to update your devel copy

[2018-02-02 18:07] caphrim007 opened #605 "add support for AS3"
Add module support for the AS3 product that will be released.

[2018-02-02 18:08] caphrim007 commented on #603
at this time this error is expected. This module needs a rewrite

[2018-02-03 20:14] ArtiomL commented on #602
For now, we could potentially use the `bigip_command` module to execute that `tmsh` command from a playbook.

[2018-02-04 11:18] bwearp commented on #604
Hi - thanks. So I ran: pip install --upgrade git+https://github.com/ansible/ansible.git

But the error still appears to be there.

"Unsupported parameters for (bigip_configsync_actions) module: provider Supported parameters include: device_group, overwrite_config, partition, password, server, server_port, state, sync_device_to_group, sync_most_recent_to_device, user, validate_certs"

- name: Perfo

[2018-02-05 16:07] penghon commented on #603
Thanks @caphrim007 for the confirmation

[2018-02-05 17:18] delgadillo22 commented on #74
is this done in 2.5.0? (not labeled for 2.5.0 but should have been)

[2018-02-07 13:28] realged13 commented on #382
Add me to the list, this one is a pretty high priority to me as I see now easy way to get this to work, trying to do this with tmsh commands is not going well.

I might be doing something wrong, but curious to see how someone else is handling it.

[2018-02-07 14:44] rainierpineda2 opened #606 "bigip_iapp_service module missing file"
- Bug Report

##### COMPONENT NAME
bigip_iapp_service

##### ANSIBLE VERSION

ansible 2.4.0.0
  config file = /home/apined12/f5_ansible/playbooks/ansible.cfg
  configured module search path = [u'/home/apined12/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /data/automation/pylibext/lib/python2.7/site-packages/ansible-2.4.0.0-py2.7.egg/ansible

[2018-02-07 15:23] caphrim007 commented on #606
@rainierpineda2 you need Ansible 2.5.

This repository constantly tracks the upstream `devel` branch of Ansible. Therefore, changes routinely happen that require the upstream Ansible `devel` branch to be installed. This is one of those changes.

Ansible 2.5 will be released sometime in March.

[2018-02-07 15:31] rainierpineda2 commented on #606
Thanks Tim. I downloaded this because the version that comes with Ansible 2.4 does not work on tmsh version 12.1.2 HF1, works only on our 11.6.1 box.

[2018-02-07 15:35] caphrim007 commented on #606
What is the error on version 2.4?

[2018-02-07 15:43] rainierpineda2 commented on #606
Hi Tim

I get this error. This 12.1.2 box has an ASM but I don’t see what that has to do with my tasks. Do I have to make some modifications on the template to ignore the ASM or is this some other error?

fatal: [labusra5474lb004 -> localhost]: FAILED! => {"changed": false, "failed": true, "msg": "400 Unexpected Error: Bad Request for uri: https://10.0.64.22:443/mgmt/tm/sys/application/service/\nT

[2018-02-07 15:53] caphrim007 commented on #606
@rainierpineda2 can you email me this playbook, the template, and any other relevant information **offline**? My email is in my github profile.

We can take the bug/problem you see there offline and in the meantime I'll close this issue.

[2018-02-07 15:53] #606 closed

[2018-02-07 17:33] realged13 opened #607 "GTM Wide IP Failing FQDN Check"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_gtm_wide_ip

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS

##### SUMMARY
When trying to create a record (company.org) it fails the FQDN check, however, foo.company.com is acceptable.

##### STEPS TO REPRODUCE

[

[2018-02-07 17:58] chen23 opened #608 "Enhancement: support raw iControl REST calls similar to Ansible uri module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
new
bigip_icontrol_rest_uri

##### SUMMARY
There should be a module to perform "raw" iControl REST calls with GET, PUT, PATCH, POST.

This would facilitate:

a.) getting raw data from BIG-IP
b.) supporting endpoints that may not have an existing F5 Ansible module

This could be thought of similar to bigip_command, but for low-level iControl RE

[2018-02-07 18:05] realged13 commented on #608
I was just thinking about this today.  Following.

[2018-02-07 18:15] caphrim007 commented on #608
To a large extent, this can be done today with ansible's `uri` module, though you will need a second task to get the authentication token.

[2018-02-07 18:19] realged13 commented on #608
@caphrim007 Thanks for the tip, I will look into this.

[2018-02-07 18:35] caphrim007 commented on #606
Tracking in FMFA-2

[2018-02-07 18:46] #607 closed

[2018-02-07 19:14] realged13 commented on #607
@caphrim007

[code]

[2018-02-07 23:25] caphrim007 commented on #607
Yes, it needs an updated common file

[2018-02-08 02:35] #426 closed

[2018-02-08 02:36] caphrim007 commented on #426
@drakrubt I believe this is now complete, though I would like some more eyes on it particularly in the area of test. I believe there are no breaking changes in it. Anything deprecated should be removed in 2.6

[2018-02-08 03:41] caphrim007 commented on #601
verified

[2018-02-08 04:00] #601 closed

[2018-02-08 04:00] caphrim007 commented on #601
@payalsin this should now be complete

[2018-02-08 07:15] lilongabc opened #609 "How to upgrade all F5 ansible moudle ？"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### ISSUE

[code]

[2018-02-08 15:05] caphrim007 commented on #609
@lilongabc to install the modules in this directory requires three things (one of which is documented, but I will document the rest in a follow-up PR). They are,

1. Ensure that the latest copy of ansible `devel` is installed
2. Copy modules to a local location as described here http://clouddocs.f5.com/products/orchestration/ansible/devel/usage/installing-modules.html
3. Additionally, copy the `li

[2018-02-08 17:15] DerrickTJ opened #612 "Attribute Error when creating a pool"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_pool

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Redhat
##### SUMMARY

When trying to create a pool I always get a module failure. I can create nodes and VIPs with no issues though.

##### STEPS TO REPRODUCE

[code]

[2018-02-08 18:34] caphrim007 commented on #612
@DerrickTJ that looks like an f5-sdk error. what version of python `requests` do you have?

[2018-02-08 18:36] DerrickTJ commented on #612
requests==2.18.4

[2018-02-08 18:43] caphrim007 commented on #612
@DerrickTJ how about `pyOpenSSL`?

[2018-02-08 18:45] DerrickTJ commented on #612
pyOpenSSL==17.5.0

[2018-02-08 18:49] DerrickTJ commented on #612
If it makes any difference, I tested it against Python 3.4 as well and get a different error. All the libraries are running the same versions just like 2.7.

TypeError: the JSON object must be str, not 'bytes'

[code]

[2018-02-08 18:57] caphrim007 commented on #612
@DerrickTJ can you put this in a python interpreter and tell me if either of them fail? I seem to have the same library versions that you do (and i dont see the error) but there may be a workaround if one of these blobs works.

[code]

or

[code]

Try both and tell me one way or another what happens when you run them. Ideally they both pass, but if one fails, then I at least have a proposed workar

[2018-02-08 18:58] DerrickTJ commented on #612
[code]

[2018-02-08 18:59] caphrim007 commented on #612
ok, if the first one works, then i need to do a little bit of a switch-a-roo on the f5-sdk. one second

[2018-02-08 18:59] DerrickTJ commented on #612
Thank you :)

[2018-02-08 20:13] caphrim007 commented on #612
@DerrickTJ try doing this.

`pip install --upgrade https://github.com/F5Networks/f5-icontrol-rest-python.git@1.0`

And lemme know if you see any change in behavior

[2018-02-08 20:16] DerrickTJ commented on #612
error 404 Client Error: Not Found for url

[2018-02-08 20:23] caphrim007 commented on #612
oh yeah i forgot the git part

`pip install --upgrade git+https://github.com/F5Networks/f5-icontrol-rest-python.git@1.0`

[2018-02-08 20:28] DerrickTJ commented on #612
Looks like I still got the same error.

[code]

[2018-02-08 20:38] caphrim007 commented on #612
umm, you've got something amiss. because there is no code like that on line 391 (as mentioned in the error).

What is the checksum of your icontrol/session.py file?

are you running this in a virtualenv?

[2018-02-08 20:40] caphrim007 commented on #612
md5 of this file `/usr/lib/python2.7/site-packages/icontrol/session.py` is what i mean

[2018-02-08 20:42] DerrickTJ commented on #612
93555ec85b0e2d78fcbfae1901b7e4bf  session.py

I do not believe I'm using a virtual environment for this. Just running it from the terminal on redhat. I'm not linux savvy enough to figure out virtual environments.

[2018-02-08 20:43] caphrim007 commented on #612
ok, you have the wrong file in place. for some reason....

can you pip uninstall that f5-icontrol-rest library first and then install the github one?

[2018-02-08 20:46] DerrickTJ commented on #612
I ended up with the same MD5 hash lol

[code]

[2018-02-08 20:46] caphrim007 commented on #612
maybe we have the @ syntax wrong. lemme look

[2018-02-08 20:49] caphrim007 commented on #612
@DerrickTJ in your OP, you mentioned you were running "Python 2.7.5" but the above output shows you removing it from python 3.4

which one is it?

[2018-02-08 20:50] DerrickTJ commented on #612
I found that odd as well. I don't quite understand what is happening because if I want to do anything with version 3 I have to do python3 or pip3. pip should just be doing everything with python 2 was my thought.

[2018-02-08 20:51] DerrickTJ commented on #612
I went into this planning on only looking at python2.

[2018-02-08 20:51] caphrim007 commented on #612
do the pip install from github by try using pip3 instead.

[2018-02-08 20:52] DerrickTJ commented on #612
[code]

[2018-02-08 20:52] caphrim007 commented on #612
hash the file that is at /usr/lib/python3.4/site-packages/icontrol/session.py

[2018-02-08 20:53] DerrickTJ commented on #612
Same
[code]

[2018-02-08 20:54] DerrickTJ commented on #612
[root@ansible /]# md5sum /usr/lib/python3.4/site-packages/icontrol/session.py
5146f5e71a32eb5e91e5101ed81d0756  /usr/lib/python3.4/site-packages/icontrol/session.py

[2018-02-08 20:54] caphrim007 commented on #612
514 is the correct hash. what happened?

[2018-02-08 20:55] DerrickTJ commented on #612
Looks like python3.4 is the only one taking the update and pip isn't installing to python2 for some reason.

[2018-02-08 20:55] caphrim007 commented on #612
is the pip command aliased to pip3?

[2018-02-08 20:56] DerrickTJ commented on #612
How do I check that?

[2018-02-08 20:56] caphrim007 commented on #612
"ls -l `which pip`"

[2018-02-08 20:58] DerrickTJ commented on #612
My linux ignorance is really going to shine here ... lol

`[root@ansible /]# ls -l which pip
ls: cannot access which: No such file or directory
ls: cannot access pip: No such file or directory`

[2018-02-08 20:59] caphrim007 commented on #612
put backticks around the "which pip"

[2018-02-08 21:00] DerrickTJ commented on #612
`[root@ansible /]# ls -l "which pip"
ls: cannot access which pip: No such file or directory`

[2018-02-08 21:01] caphrim007 commented on #612
[code]

like i have above

[2018-02-08 21:01] DerrickTJ commented on #612
derp...

`[root@ansible /]# ls -l `which pip`
-rwxr-x---. 1 root root 284 Feb  6 08:14 /bin/pip`

`[root@ansible /]# ls -l `which pip3`
-rwxr-x---. 1 root root 286 Feb  6 08:14 /bin/pip3`

[2018-02-08 21:03] caphrim007 commented on #612
well, that seems fine. It would look like this if it was an alias

[code]

[2018-02-08 21:04] caphrim007 commented on #612
what does this output? 2.7.5?

`python -V`

[2018-02-08 21:04] DerrickTJ commented on #612
`[root@ansible /]# python -V
Python 2.7.5
[root@ansible /]# python3 -V
Python 3.4.5`

[2018-02-08 21:06] caphrim007 commented on #612
well, I guess a possible solution would be to set the ansible_python_interpreter to the location of python3.

what is the output of `which python3` ?

[2018-02-08 21:07] DerrickTJ commented on #612
LOL I just did that and it worked. Was typing that up.

[2018-02-08 21:08] DerrickTJ commented on #612
Before, python3 was erroring out with the JSON bytes error. Now it is working in python 3.

:)

[2018-02-08 21:08] caphrim007 commented on #612
fancy that. can you post your output where you see a success?

[2018-02-08 21:08] caphrim007 commented on #612
or at least a blurb of it. i dont need the whole thing, just a snippet for future readers to reference

[2018-02-08 21:09] DerrickTJ commented on #612
`TASK [Create a pool1] ********************************************************************************************************************************************************************
task path: /home/username/f5pool.yaml:8
Using module file /usr/lib/python2.7/site-packages/ansible/modules/network/f5/bigip_pool.py
<localhost> ESTABLISH LOCAL CONNECTION FOR USER: root
<localhost> EXEC /bin/sh -

[2018-02-08 21:10] DerrickTJ commented on #612
`TASK [Create a pool1] ********************************************************************************************************************************************************************
changed: [f5test.example.com -> localhost]

PLAY RECAP *************************************************************************************************************************************************************

[2018-02-08 21:10] caphrim007 commented on #612
awesome. thanks @DerrickTJ. you're all ok now? that bugfix will be released as part of the official icontrol rest package next friday (next week)

[2018-02-08 21:11] DerrickTJ commented on #612
Yep! Thanks for the help!!

[2018-02-08 21:11] #612 closed

[2018-02-09 00:09] pcloup opened #614 "bigip_pool_member : setting a name for the pool member is raising an error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool_member
##### ANSIBLE VERSION

"ansible 2.4.3.0
  config file = None
  configured module search path = [u'/home/ubuntu/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/ubuntu/.local/lib/python2.7/site-packages/ansible
  executable location = /home/ubuntu/.local/bin/ansible
  p

[2018-02-09 01:42] chen23 opened #615 "Docs: stubber.py renamed to f5ansible"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
stubber.py

##### SUMMARY

The dev docs reference a tool that no longer exists/renamed?

http://clouddocs.f5.com/products/orchestration/ansible/devel/development/writing-a-module.html#create-the-directory-layout

##### STEPS TO REPRODUCE
[code]

Looks like the new command is:

[code]

##### EXPECTED RESULTS

stub module

##### ACTUAL

[2018-02-09 01:58] caphrim007 commented on #615
@chen23 it was renamed

[2018-02-09 02:00] caphrim007 commented on #615
these docs need to be updated as they are out of date

[2018-02-09 02:49] lilongabc commented on #609
Hi caphrim007

About 3, The  “devel installations similar location” and specific refers to which location?
From library/module_utils/network/f5 copy to my /etc/ansible/ ?

Thanks for you help.

[2018-02-09 04:06] caphrim007 commented on #609
@lilongabc it means where ansible is installed. If you are installing as said in #1, then it would be somewhere like `/usr/local/lib/python3.6/site-packages/ansible/module_utils/network/f5`. this may (clearly) be different on your device.

[2018-02-09 16:51] caphrim007 commented on #608
@realged13 see the example here https://github.com/F5Networks/f5-ansible/tree/devel/examples/0006-using-rest-api-directly

Note that this is not the recommended approach to automating the box as it carries with it a number of risks. Many of those risks are outlined in the example's README.

If this is still the approach that you want to take though, then I wont stop you.

[2018-02-09 17:08] realged13 commented on #608
@caphrim007   Thanks.  Not reallly ready to get into that yet, but just seeing if I could use it occasionally instead of doing the command method.  Like I am having to create virtual servers, then run a command that modifys the protocol to use TCP.

[2018-02-09 17:17] caphrim007 commented on #608
@realged13 sure, just dont be surprised if you are surprised by it :-)

closing as @chen23 is satisfied with the url examples

[2018-02-09 17:17] #608 closed

[2018-02-09 17:18] caphrim007 commented on #614
@pcloup as I dont actively develop on Ansible 2.4, and we re-wrote that module completely for 2.6, please test with the Ansible devel code and the module in this repository. I dont think it should be raising such an issue anymore.

[2018-02-09 17:19] caphrim007 commented on #609
@lilongabc does this answer your question? Are you good now?

[2018-02-09 20:10] neozoolook opened #616 "bigip_software_update.py - spits 'Unsupported parameters' error despite correctly defined parameters"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_software_update.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

Running regression tests on all my plays with updated stable-2.5 libraries, noticed that this module spits errors with co

[2018-02-09 20:10] realged13 opened #617 "bigip_device_group: Error Wants partition command, but not part of module."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_device_group

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

none

##### OS / ENVIRONMENT
Cento OS

##### SUMMARY
Running modules

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Device group to be created.

##### ACTUAL RESULTS

[code

[2018-02-09 20:14] caphrim007 commented on #617
@realged13 how old is your 2.5.0 installation? I removed partition from the common includes quite some time ago. So it should not be affecting this module. Additionally, you probably need an updated f5-sdk. I think we corrected that partition problem in a recent-ish release.

[2018-02-09 20:17] caphrim007 commented on #616
@neozoolook `state` is not a valid parameter. I think you're thinking it is, because the examples for the module include it. Is that correct?

[2018-02-09 20:32] realged13 commented on #617
@caphrim007  Probably a couple weeks old 2.5 version.

I copied the latest module and put it in my library and I just updated my common one yesterday.

Let me update the SDK and try again.

[2018-02-09 20:41] realged13 commented on #617
@caphrim007 Just updated to `f5-sdk==3.0.10` same error.

[2018-02-09 21:04] caphrim007 commented on #617
@realged13 did you update it in your virtualenv? or on the system's python?

[2018-02-09 21:08] realged13 commented on #617
@caphrim007 virtualenv, however, I had my root folder host file with ansible_python_inter and forgot to place it in my host file I have in another directory.  Once I did that, that worked.

[2018-02-09 21:09] caphrim007 commented on #617
so is this issue still an issue? or are we good?

[2018-02-09 21:10] caphrim007 commented on #617
ok. good to hear

[2018-02-09 21:20] neozoolook commented on #616
@caphrim007 yes that appears to be the problem here, please feel free to close.

[2018-02-09 21:23] caphrim007 commented on #616
roger that.

[2018-02-09 21:23] #616 closed

[2018-02-09 21:28] neozoolook opened #618 "bigip_static_route.py - creation of ipv6 default route works on first run, second run results in error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_static_route.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

Playbook setup to build some various static routes, there is a default route for IPv4 and IPv6, these work fine, however if

[2018-02-09 21:31] neozoolook commented on #618
Here is initial run when no routes exist....
...
ansible-playbook 2.5.0
  config file = /home/pp2854/dev-vepdg-ansible/ansible-vepdg_fw/ansible.cfg
  configured module search path = [u'/home/pp2854/dev-vepdg-ansible/ansible-vepdg_fw/library']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible-playbook
  python version =

[2018-02-12 01:44] lilongabc commented on #609
@caphrim007  Is good,Thank you very much for your help：）

[2018-02-12 01:48] #609 closed

[2018-02-12 02:29] lilongabc opened #619 "Issue：bigip_license.py --- Generate a new BIG IP VE license report error."
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

bigip_license.py
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### ISSUE
[code]

##### Ansible hosts file
[code]
##### Ansible Play booke file -- active_license.yaml
[code]

##### Error Information
[code]

[2018-02-12 02:31] caphrim007 commented on #619
@lilongabc this is expected. bigip_license is not complete yet

[2018-02-12 02:39] lilongabc commented on #619
@caphrim007  I got it， When is it possible to finish it?  Thanks

[2018-02-12 02:40] caphrim007 commented on #619
i have no eta for it.

[2018-02-12 02:41] caphrim007 commented on #619
but i should also add that someone is working on it

[2018-02-12 02:49] lilongabc commented on #619
@caphrim007  ok：）

[2018-02-12 19:07] #618 closed

[2018-02-12 19:07] caphrim007 commented on #618
@neozoolook try now

[2018-02-12 19:18] caphrim007 commented on #604
@bwearp

* are you running Ansible in a virtual env?
* what is the (md5) checksum of the common.py file at `/Library/Python/2.7/site-packages/ansible/module_utils/network/f5/common.py` ?

[2018-02-12 19:35] #614 closed

[2018-02-12 23:04] neozoolook opened #621 "New Module - Net Timer Policy leveraged in AFM use cases"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

TBD

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Currently we have to create timer policies to adjust TTL for services/port list modification in AFM which are used in AFM rule-lists/policies.  This is done

[2018-02-12 23:08] neozoolook opened #622 "New Module - Net Service Policy - Leverages Timer Policy See #621 AFM USE CASE"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

New Module Request

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Below are examples on how we support this today with bigip_command.py module.  The service policy calls a timer polic

[2018-02-13 02:45] neozoolook opened #623 "bigip_security_address_list.py - Modification to support CIDR in IP/Variable Pass"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_security_address_list.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

Standard entries in Ansible.cfg

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

bigip_security_address_list.py works fine, however when adding addresses as vari

[2018-02-13 06:37] bwearp commented on #604
Hi. Not running in a virtualenv. Probably should have.

MD5 (/Library/Python/2.7/site-packages/ansible/module_utils/network/f5/common.py) = b0452b0353230c61decabcc9cbd42a4e

I used the bigip_command module instead. Works well.

Thanks for your help!

[2018-02-13 06:37] #604 closed

[2018-02-13 09:24] alonsocamaro commented on #589
@caphrim007 Found another case which I don't find a workaround for

How to list all the nodes in a partition?

[code]

[2018-02-13 09:56] alonsocamaro opened #624 "bigip_command stdout should always return tmsh's stdout"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_command

##### ANSIBLE VERSION
Ansible Tower 3.1.5

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### SUMMARY

bigip_command should return on stdout the last output from the command execution rather than diagnostic messages from the bigip_command itself.

##### STEPS TO REPRODUCE

The

[2018-02-13 10:00] alonsocamaro opened #625 "[DOC] bigip_command result variable in the examples"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
 bigip_command

##### ANSIBLE VERSION

Ansible Tower 3.1.5

[code]

##### SUMMARY

The doc page http://docs.ansible.com/ansible/latest/bigip_command_module.html contains examples that uses a variable called "result", ie:

[code]

But this variable is not documented in the bigip_command page

[2018-02-13 21:27] neozoolook commented on #522
@caphrim007 sorry for delayed response, just tested this works great!  Thankyou!

[2018-02-13 21:37] caphrim007 commented on #83
Does anyone here have a preference for the parameters they would want in the `return` value for this module?

some thoughts to consider.

* data groups can be huge. If you want the DG payload returned, this huge response would be returned to your stdout.
* data groups may or may not contain sensitive information. you probably do not want to log this

Lemme know your thoughts

[2018-02-13 21:51] neozoolook commented on #552
@caphrim007 Just tested the allowed_addresses parameter, works ok if something already in there to start with, however if the base configuration is as such;

[code]
Then the play will fail, will issue another issue on this and link to this feature number for your reference.

[2018-02-13 21:58] neozoolook opened #626 "Issue: bigip_snmp.py - allowed_addresses parameter fails if F5 has initial value set to none"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_snmp.py
#552

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

Base ansible.cfg leveraged no mods other than library path

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

Running of the bigip_snmp.py module with allowed_addresses paramete

[2018-02-13 21:59] neozoolook commented on #626
Here is what is in F5, when duplicating the error;
[code]

[2018-02-13 22:01] neozoolook commented on #626
Here is clean run with no errors, first adding something via TMSH into the F5;

[code]

Playbook run;
[code]

[2018-02-13 22:36] caphrim007 commented on #604
@bwearp I dont advocate for using a virtualenv. It is often more trouble than it is worth for people who are new to Ansible (who think they need to use one).

That checksum is valid though, so I cannot explain why it is not working without digging further

[2018-02-13 22:40] neozoolook opened #627 "New Module: Add support for 'auth tacacs', 'auth remote-role' & 'auth source type tacacs'"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

New Module/s suggested

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Portions of the configuration that we leverage bigip_command.py to complete to support authentication of the F5 with TACACS;

[code]
[cod

[2018-02-14 02:23] caphrim007 commented on #627
F5 SDK work exists for all of this today

[2018-02-14 02:25] #625 closed

[2018-02-14 02:25] caphrim007 commented on #625
@alonsocamaro `result`  is a convention used in Ansible. It is not actually a return value. It is instead a variable you create. Examples have been fixed

[2018-02-14 02:32] caphrim007 commented on #624
@alonsocamaro this module does always return stdout. Ansible suppresses this output though unless you run with `-vvvv`.

The output, if there is any, is stored in 2 variables for the users convenience.

One, is called `stdout`. In your example, it would be referenced like this `{{ stdout['stdout'] }}` because you registered a variable named `stdout` and the brackets because the name `stdout` is wh

[2018-02-14 03:15] yunithon opened #628 "Big-ip command error with Paramiko"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command:

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

CentOS 6.5

##### SUMMARY

Playbooks does not work in our environment.
I got the error message below.
"Connection type paramiko is not valid for this modul

[2018-02-14 03:36] yunithon commented on #628
@Thanks for your replay.
I tried, but I got same results.

[2018-02-14 03:41] penghon commented on #628
ESTABLISH CONNECTION FOR USER: root on PORT 22 TO 192.168.XXX.XXX <-- it should never be direct ssh to the BIGIP.

[2018-02-14 03:51] caphrim007 commented on #628
@yunithon show us your playbook after taking @penghon's suggesting about backing out `delegate_to` to be vertically aligned with the `bigip_command` word.

If you want to use the SSH transport (which you probably dont because it is slow...but it's there) then you would need to specify in the playbook (not in the task) `connection: network_cli`.

but I think @penghon has your answer.

[2018-02-14 04:53] caphrim007 commented on #621
sdk code added

[2018-02-14 06:15] caphrim007 commented on #622
sdk functionality has been added

[2018-02-14 06:42] #626 closed

[2018-02-14 15:11] caphrim007 commented on #552
@neozoolook try now

[2018-02-15 00:19] yunithon commented on #628
Thanks for your help.
``

[2018-02-15 00:42] yunithon commented on #628
Thanks your help.
I do not necessarily want to use SSH.
I just tried remove ``delegate_to: 127.0.0.1 `` below, I got the same error.
It does not seem to change...ESTABLISH CONNECTION FOR USER: root on PORT 22 TO 192.168.XXX.XXX

[code]

[code]

[2018-02-15 00:43] yunithon commented on #628
I add ``  connection: local ``,seem to change connection to local `` ESTABLISH LOCAL CONNECTION FOR USER: root ``

[code]

[code]

[2018-02-15 00:58] caphrim007 commented on #628
Show the output of `pip3 freeze | grep f5`

[2018-02-15 01:07] yunithon commented on #628
This is it.
[code]

[2018-02-15 01:42] caphrim007 commented on #628
@yunithon are you using a virtualenv? Or no?

That version of the sdk should have the attribute it says is failing

[2018-02-15 02:06] yunithon commented on #628
I am using a virtualenv.
Should I change the SDK version?

[2018-02-15 02:18] caphrim007 commented on #628
were you running those pip commands while inside the virtualenv? or outside it?

[2018-02-15 02:31] yunithon commented on #628
I have missunderstood, soorry. I am not using a virtualenv.

[2018-02-15 02:50] caphrim007 commented on #628
@yunithon i can reproduce this problem on 3.6

[2018-02-15 03:03] yunithon commented on #628
Does that mean that 3.6 is Python 3.6?

[2018-02-15 03:03] caphrim007 commented on #628
yep!

[2018-02-15 04:03] yunithon commented on #628
Do you hanve any solution? Should I change the Python version for 3.5 or something?

[2018-02-15 04:11] caphrim007 opened #629 "BIG-IP 13.1.0 breaks bigip_snmp_trap"
in BIG-IP 13.1.0, the "default" Network option was removed from tmui. This means that the enum for valid values in the Network became (`mgmt` and `other`) essentially removing the ability to make it an empty value.

The module needs to be updated to reflect the removal in 13.1.0 and raise an error in the event that `default` is used on versions 13.1.0 and greater

[2018-02-15 04:13] caphrim007 commented on #629
@delgadillo22

[2018-02-15 05:13] #629 closed

[2018-02-15 05:42] yunithon commented on #628
I tried to replace common.py (/lib/python3.6/site-packages/ansible/modules_utils/network/f5/common.py),but I got the same...

[code]

[2018-02-15 05:44] caphrim007 commented on #628
@yunithon you need to also replace the bigip_command module here

* https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_command.py

[2018-02-15 06:22] yunithon commented on #628
I tried replace whole ibrary moduls here, and I got the same results...
https://github.com/F5Networks/f5-ansible/tree/devel/library

[2018-02-15 06:26] caphrim007 commented on #628
@yunithon what is the md5 hash of this file

/usr/local/lib/python3.6/site-packages/ansible/modules/network/f5/bigip_command.py

[2018-02-15 08:00] yunithon commented on #628
I replaced ``bigip_command.py``, where you said,so it does work!
/usr/local/lib/python3.6/site-packages/ansible/modules/network/f5/bigip_command.py

I thougut I should have put library here...
/usr/local/lib/python3.6/site-packages/ansible

How could you find the solution? I want to know for feature reference.

[2018-02-15 08:12] yunithon commented on #628
[code]

[2018-02-15 17:17] neozoolook commented on #551
@delgadillo22 Is this committed for 2.6 effort?  Looking at other items they typically have a target ansible release tagged on the request.  Please let me know as this one should be foundational for LTM.

[2018-02-15 19:38] delgadillo22 commented on #551
This is not currently committed for 2.6.0. Need to understand where this fits from priority perspective relative to your other "NEED COMMIT" requests. I've provided Nate and Tony a detailed response to your email.

[2018-02-15 19:54] mcgonagle commented on #286
@delgadillo22 working with a customer. This module is highly desired. Customer is interested in helping with requirements and testing.

[2018-02-15 21:02] rainierpineda2 opened #630 "bigip_iapp_service cannot create HTTPS virtual server app"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_iapp_service

##### ANSIBLE VERSION
ansible 2.4.0.0
  config file = /home/apined12/f5_ansible/playbooks/ansible.cfg
  configured module search path = [u'/home/apined12/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /data/automation/pylibext/lib/python2.7/site-packages/ansible-2.4.0.0-p

[2018-02-15 21:19] caphrim007 commented on #630
@rainierpineda2 which example from that page are you using? the first? or the second?

[2018-02-15 21:23] delgadillo22 commented on #621
Target release under investigation.

[2018-02-15 21:24] delgadillo22 commented on #622
Target release under investigation.

[2018-02-15 21:25] rainierpineda2 commented on #630
The second one for HTTPS
Thanks!
Anthony

[2018-02-15 21:27] caphrim007 commented on #630
@rainierpineda2 does anything change if you use a `file` lookup instead of a `template` lookup?

[2018-02-15 21:28] rainierpineda2 commented on #630
I have not tried that. Is there an example I can reference?

[2018-02-15 21:29] delgadillo22 commented on #623
Target release under investigation.

[2018-02-15 21:29] caphrim007 commented on #630
@rainierpineda2 its the same syntax that you have except its, `"{{ lookup('file', item.key + '.json') }}"`, and your template needs to be in a `files/` directory instead of a `templates/` directory

[2018-02-15 21:32] delgadillo22 commented on #627
Target release under investigation.

[2018-02-15 22:33] yappie452 opened #631 "Request an option to update the password for F5_USER when config is reset"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
bigip_config

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Currently, if you are using an admin password other than the default password, then this play will reset the password back to the default:

[2018-02-16 14:57] rainierpineda2 commented on #630
Hi Tim
I tried your suggestion below and the HTTPS VS is still not created if ssl__mode is set to client_ssl is set in the template (along with the ssl__encryption_advanced_questions set to yes).
Thanks,
Anthony

[2018-02-20 19:23] DBH1986 opened #632 "Ansible Module and SDK support request for specific new BIG-IQ APIs"
whoops

[2018-02-20 19:27] DBH1986 commented on #632
Opened with wrong account, will reopen

[2018-02-20 19:27] #632 closed

[2018-02-20 19:29] DrewHolland opened #633 "Request for Ansible Modules and SDK support for specific new BIG-IQ APIs"
- Feature Idea

##### COMPONENT NAME
Multiple BIG-IQ APIs

##### ANSIBLE VERSION
[code]

##### BIGIQ VERSION

[code]

##### SUMMARY
The BIG-IQ team is requesting Ansible module and SDK support for ~35 APIs. Given that most of the APIs have not yet been released I will not list them here but I have been working with Tim Rupp over this and he is aware of the APIs which we are requesting.

[2018-02-20 22:23] WRJFontenot opened #634 "bigip_device_sshd.py: inactivity_timeout not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_device_sshd

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION
inventory
roles_path
ansible_user
ansible_ssh_pass

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
When using the bigip_device_sshd module in a playbook to set

[2018-02-20 23:39] WRJFontenot opened #635 "bigip_sys_global.py: Add timeout setting for Configuration Utility sessions"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_sys_global

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
Per article [K9908: "Configuring an automatic logout for idle sessions"](https://support.f5.com/csp/article

[2018-02-21 00:55] yunithon opened #636 "bigip_nord failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_node:

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 6.5

##### SUMMARY

Playbooks to disable node does not work in my environment.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL

[2018-02-21 01:26] penghon commented on #636
http://clouddocs.f5.com/products/orchestration/ansible/devel/modules/bigip_node_module.html

Use state: disabled to disable node. The monitor_state and session_state parameters doesn't seem to exist for the module.

[2018-02-21 01:34] caphrim007 commented on #636
@yunithon as @penghon said, if you want to disable a node, set `state` to disabled. Those other params were removed in 2.5 when the module was refactored from using SOAP to use REST.

[2018-02-21 02:34] yunithon commented on #636
Thanks for replay.
I tried and then solved,thank you.

[2018-02-21 02:36] #636 closed

[2018-02-21 16:21] vs926p opened #637 "LTM DNS Monitor"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
LTM Monitor for DNS
Corresponding tmsh command:
"create ltm monitor dns DNS-UDP-V6 interval 2 qname localhost up-interval 5 adaptive disabled qtype aaaa"

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
12.x to 13.x

[code]

[code]

[code]

[code]

[2018-02-21 16:25] vs926p opened #638 "LTM persistence profile"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
LTM persistence profile.

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Need a module to support persistence profile creation in an LTM.
Tmsh command for the same:
create ltm persistence source-addr MSP-SOURCE

[2018-02-21 16:28] vs926p opened #639 "LTM profiles for dns, tcp and UDP"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
modules to support  profiles for dns, tcp and UDP custom profiles.

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Modules to support  profiles for dns, tcp and UDP custom

[2018-02-21 16:38] vs926p opened #640 "Support to limit/modify SSL protocols on sys httpd"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_device_httpd.py

##### ANSIBLE VERSION
2.6
[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
12.x to 13.x

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Need and enhancement to bigip_device_httpd.py  module to support the following configuration for httpd for limiting the SSL ciphers.

[2018-02-21 16:44] vs926p opened #641 "Support DDOS profile creation, modify and applying it to virtual"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Support DDOS profile creation, modify and applying it to virtual

##### ANSIBLE VERSION
Please support it as part of 2.6

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Support DDOS profile creation, modify and applying it to virtual

Config

[2018-02-21 17:15] caphrim007 commented on #640
@vs926p this already exists https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_device_httpd.py#L82

[2018-02-21 17:27] #640 closed

[2018-02-21 17:29] vs926p commented on #640
Thanks. I checked  ansible / lib / ansible / modules / network / f5 / bigip_device_httpd.py  and didn't find it there so opened a request.

What would be the best way to know what is under development; so that we know and don't open a request for the same?

[2018-02-21 17:34] caphrim007 commented on #640
@vs926p everything in the f5-ansible repo is under development. Look in the `library/` directory here  before you open a request.

[2018-02-22 09:48] preisbeck opened #643 ""MAC Masquerade Address" in traffic groups"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_traffic_group

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

16.04.1-Ubuntu

##### SUMMARY

The current implementation of the traffic group plugin doesn't allow configuration of the "MAC Masquerade Address" setting.

[2018-02-22 16:46] caphrim007 commented on #633
@DrewHolland we need individual issues for the different things you want. One large issue is not how we track work. You can file these on the internal tracker and create stubs to them as issues in this repo.

PM me if you need assistance with that.

[2018-02-22 16:46] #633 closed

[2018-02-22 17:40] caphrim007 commented on #83
@neozoolook @cr41gc @realged13 @rblair1000 @michaelryanmcneill @robertmircea

There is now a `bigip_data_group` module available in this repository that I'd like to point you all to in the event that you want to help test it.

Note that do this, you will also want a copy of this file

https://github.com/F5Networks/f5-ansible/blob/devel/library/module_utils/network/f5/common.py

On your system (ove

[2018-02-22 18:08] realged13 commented on #83
I will give it a spin.

On Thu, Feb 22, 2018 at 12:40 PM Tim Rupp <notifications@github.com> wrote:

[2018-02-22 20:58] delgadillo22 commented on #635
Nice to have

[2018-02-22 21:05] delgadillo22 commented on #643
Nice to have

[2018-02-22 22:38] caphrim007 commented on #591
@neozoolook what SNMP versions do you want supported?

v1, v2c, and/or v3?

[2018-02-23 04:42] caphrim007 commented on #552
@neozoolook would you kindly look at #591 ?

[2018-02-23 04:59] neozoolook commented on #591
@caphrim007 v2c & v3 would be ideal.  I don't think anyone is leveraging v1 anymore due to security.

[2018-02-23 05:07] caphrim007 commented on #591
@neozoolook since BIG-IP seems to have such different parameters for v2c and v3, are you opposed to those parameters existing in the same module if possible? Documentation and examples would be included for the different combinations. Or, would you like them in separate modules?

[2018-02-23 05:09] neozoolook commented on #591
@caphrim007 I have no issue with using same module, in fact I think that would probably be ideal as you can just have a parameter for the version, then depending on versions your other parameters are valid or not.

[2018-02-23 05:11] caphrim007 commented on #591
@neozoolook ok. i will move in that direction then. Thanks for the feedback!

[2018-02-23 14:25] realged13 commented on #83
@caphrim007 Tim, I was able to get this to work.  I am mainly focusing on string types currently.  Can I also use `records_src` to import strings?  I am trying to get Google Authenticator QR codes automated.  So we have an iRule that displays and HTML page, generates the value and key (as well as QR code).  I want to be able to on form submit, send those values to a file and then have Ansible read

[2018-02-23 16:55] caphrim007 commented on #83
@realged13 short answer. yes. here are a bunch more examples

https://github.com/F5Networks/f5-ansible/tree/devel/test/integration/targets/bigip_data_group/tasks

[2018-02-23 17:22] caphrim007 commented on #83
I'm going to mark this as closed for now, because another person gave an approval (whether its all combinations of args or not). If there are problems that are uncovered at this point, please file new issues so that they can be addressed.

[2018-02-23 17:22] #83 closed

[2018-02-23 17:28] chen23 opened #644 "pin version of F5-SDK?"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Is there any guidance on specific / tested version of the F5 Python SDK to use with specific version of Ansible (i.e. 2.4 vs. 2.5).

[2018-02-23 17:31] caphrim007 commented on #644
@chen23 for specific versions, no. The recommendation is to install the latest stable release. Moving forward, the F5-SDK is being removed from the Ansible modules. So longer term there will be no such dependency

[2018-02-23 20:44] delgadillo22 commented on #641
This is a large item for 2.6.0.
Can we narrow the scope to "apply existing DDoS profile to virtual" as Phase 1 for consideration into 2.6.0?

[2018-02-26 18:29] #644 closed

[2018-02-26 19:08] vs926p commented on #641
As part of all profiles attributes it is taking DDOS profile at virtual level. I tested it.

I will say sooner the better.

​​​​​
Thanks and Regards,

Vivek Shah

From: Kevin Delgadillo [mailto:notifications@github.com]
Sent: Friday, February 23, 2018 3:45 PM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: SHAH, VIVEK <vs926p@att.com>; Author <author@noreply.github.com>
Subject: Re:

[2018-02-26 19:24] delgadillo22 commented on #641
Can we narrow the scope to "apply existing DDoS profile to virtual" as Phase 1 for consideration into 2.6.0?

And then follow-up with "create & modify" in a later Ansible release?

[2018-02-26 20:27] vs926p commented on #641
What are the timelines for next release?

​​​​​
Thanks and Regards,

Vivek Shah

From: Kevin Delgadillo [mailto:notifications@github.com]
Sent: Monday, February 26, 2018 2:27 PM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: SHAH, VIVEK <vs926p@att.com>; Author <author@noreply.github.com>
Subject: Re: [F5Networks/f5-ansible] Support DDOS profile creation, modify and applying it to v

[2018-02-26 20:46] delgadillo22 commented on #641
Ansible runs on a 5-6 month cycle.

2.6.0 is expected in August/September.
2.7.0 likely 5 months after 2.6.0.

[2018-02-26 20:47] delgadillo22 commented on #641
We are dependent on Ansible's release schedule.

[2018-02-28 14:33] vs926p commented on #641
Apply plus create would be great if we can have it in 2.6.

​​​​​
Thanks and Regards,

Vivek Shah

From: SHAH, VIVEK
Sent: Monday, February 26, 2018 3:28 PM
To: F5Networks/f5-ansible <reply@reply.github.com>; F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: Author <author@noreply.github.com>
Subject: RE: [F5Networks/f5-ansible] Support DDOS profile creation, modify and applying it to virt

[2018-02-28 20:07] person50002 opened #645 "bigip_static_route does not take route domain"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_static_route

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

"inventory      = hosts.yml"
##### OS / ENVIRONMENT

16.04.1-Ubuntu
##### SUMMARY

this looks similar to https://github.com/F5Networks/f5-ansible/pull/305 netaddr mistakenly given IP

[2018-02-28 20:34] #643 closed

[2018-03-01 00:55] caphrim007 opened #647 "bigip_pool_member missing RETURN variable content"
this variable needs to be filled out with the content that it returns. documentation of the module requires this.

[2018-03-01 03:01] #591 closed

[2018-03-01 03:03] caphrim007 commented on #552
@neozoolook @realged13 snmp communities should now be added

[2018-03-01 03:11] #647 closed

[2018-03-01 06:17] lilongabc opened #648 "msg": "Could not find imported module support code for bigip_device_ntp. Looked for either F5Client.py or bigip.py"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

bigip_device_ntp
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### ISSUE
[code]

[2018-03-01 06:42] caphrim007 commented on #648
@lilongabc if you're using the modules in this repository, they require you to have either

- Ansible 2.5, or
- the module utils from 2.5 copied into your Ansible installation

[2018-03-01 07:05] lilongabc commented on #648
@caphrim007
As far as I know, ansible 2.5 has not been released yet.Roadmap says about March 2018.
How do you install ansible 2.5?
Thanks

[2018-03-01 17:04] caphrim007 opened #649 "Add support for all remaining virtual server "types""
today, the only type that is supported is a "standard" virtual.

The ability to implement this is actually not straight forward. BIGIP does not store in a user-accessible way, the information of virtual type. So we will have to deduce what the type is by checking for the values that the API returns.

This feature is further complicated by the fact that different profiles are valid or invalid (and

[2018-03-01 17:05] caphrim007 opened #650 "support network ip's on a virtual server"
today, the virtuals only support a /32 ip. They can technically support "network" ips though, like /27. Or, "all addresses" like 0.0.0.0/0.

The module should support this.

[2018-03-01 17:10] caphrim007 commented on #648
@lilongabc you're correct, it hasnt been released yet. This repo is for development code though, so YMMV when using the modules here.

To install 2.5, you can install the stable-2.5 branch of ansible from github, or, you can download one of the RC tarballs

* pip install --upgrade git+https://github.com/ansible/ansible.git@stable-2.5
* https://github.com/ansible/ansible/releases

[2018-03-02 23:35] #583 closed

[2018-03-03 03:32] caphrim007 commented on #384
@delgadillo22 this should now be complete after I refactored the bigip_gtm_virtual_server module

[2018-03-03 03:32] #384 closed

[2018-03-04 05:27] #598 closed

[2018-03-04 06:16] #648 closed

[2018-03-04 06:17] caphrim007 commented on #615
docs should now be updated and the stubber named correctly

[2018-03-04 06:17] #615 closed

[2018-03-04 06:43] caphrim007 commented on #641
For future reference, this is an AFM feature. Security > DoS Protection > DoS Profiles

[2018-03-04 06:44] caphrim007 commented on #641
@vs926p this feature request is *very* general. Can you pare it down to specifics? The feature set of DoS profiles is huge.

[2018-03-04 06:46] caphrim007 commented on #641
Reference: FMFA-122

[2018-03-05 00:09] caphrim007 commented on #635
@WRJFontenot the setting that the document you reference talks about can be found in the `bigip_device_httpd` module. The configuration utility, in this case, is TMUI (or the web UI). These configuration settings are,

here
https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_device_httpd.py#L35

and here
https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_device_httpd.p

[2018-03-05 01:06] caphrim007 commented on #634
@WRJFontenot this problem is fixed in ansible 2.5

[2018-03-05 01:06] #634 closed

[2018-03-05 01:18] caphrim007 commented on #624
closing as not a bug

[2018-03-05 01:18] #624 closed

[2018-03-05 01:19] caphrim007 commented on #628
closing as this seems to be fixed

[2018-03-05 01:19] #628 closed

[2018-03-05 02:03] #623 closed

[2018-03-05 10:02] lilongabc opened #651 "Issue：used bigip_nodeglobal moudle report error - 'bigsuds' is not defined""
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

bigip_license.py
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### ISSUE
[code]

##### Ansible hosts file
[code]
##### Ansible Play booke file -- active_license.yaml
[code]

##### Error Information
[code]

[2018-03-05 13:27] realged13 opened #652 "Data Group - Skip if Present"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_data_group.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Centos 7

##### SUMMARY

Currently the data group model will overwrite any current existing data if there are duplicates.  I would like for there to b

[2018-03-05 13:28] realged13 commented on #650
This would be awesome.  Thanks!

[2018-03-05 15:08] vs926p commented on #641
I have the create commands we use in added to the request. Let me know if you need anything more there.

​​​​​
Thanks and Regards,

Vivek Shah

From: Tim Rupp [mailto:notifications@github.com]
Sent: Sunday, March 04, 2018 1:44 AM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: SHAH, VIVEK <vs926p@att.com>; Mention <mention@noreply.github.com>
Subject: Re: [F5Networks/f5-ansible] Supp

[2018-03-05 15:52] person50002 opened #653 "LTM DNS nameserver"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

LTM DNS nameserver.
tmsh command:
create ltm dns nameserver
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-05 17:49] caphrim007 commented on #651
@lilongabc in Ansible 2.5 this module was updated to no longer require the bigsuds module. The error you are receiving is due to the Python module bigsuds not being installed.

This is likely due to one of the following common problems

* You did not `pip install bigsuds`
* You are running Ansible inside a virtualenv and did not `pip install bigsuds` from inside the virtualenv
* You are running An

[2018-03-05 17:50] caphrim007 commented on #652
@realged13 explain the logic behind wanting to include duplicates?

[2018-03-05 17:56] caphrim007 commented on #641
indeed. I must have missed it when reading. no problem. thanks!

[2018-03-05 19:02] realged13 commented on #652
I do not want to include duplicates.

Here is my playbook:

[code]
Here is my `records_src:` file:

[code]
If I was to run this playbook, it would put the first iteration of `helloworld` into the data group list.  If someone on my team accidentally creates `helloworld` account again, it would append it to the end of my file and when the playbook ran again, it would overwrite the data already enter

[2018-03-05 19:03] person50002 opened #654 "option to specify name of virtual address"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_virtual_address.py
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when using tmsh, it is possible to specify the name for a virtual address.
`create ltm virtual-address test-virtual-address address 10.1

[2018-03-05 19:46] caphrim007 commented on #652
@realged13 BIG-IP doesnt allow duplicates like this, so it will raise an exception if there are duplicates. that's what you want correct? An exception so that you know if there is a duplicate

[2018-03-05 19:58] realged13 commented on #652
Correct.

[2018-03-06 02:37] lilongabc commented on #651
@caphrim007 I have already install bigsuds and version bigsuds==1.0.6,Thanks
[root@localhost ~]# pip install bigsuds
Requirement already satisfied: bigsuds in /usr/local/lib/python2.7/site-packages
Requirement already satisfied: suds-jurko>=0.6 in /usr/local/lib/python2.7/site-packages (from bigsuds)

Report error
[code]

[2018-03-06 02:42] caphrim007 commented on #651
@lilongabc your error message says the opposite.

You claim to be using Python 2.7 as per your pip commands

`Requirement already satisfied: bigsuds in /usr/local/lib/python2.7/site-packages`

However, your Ansible installation is using Python 2.6

[code]

As I said before, if your pip installation was not done using the correct version of pip, then you will get exactly the same error that you're

[2018-03-06 06:20] lilongabc commented on #651
@caphrim007  Ok， Thanks for you help. : )

[2018-03-06 16:03] person50002 commented on #286
This is pretty much necessary if you want to automate GTM.

[2018-03-06 16:56] mlowcher61 opened #655 "All my playbooks fail with v13.1.0.3 build 0.0.5 point release 3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
all modules, all raw commands. Only ansible CLI ad-hoc works and ReST commands

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

bigsuds==1.0.6
f5-sdk==3.0.12
-->
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible in on OS Ubuntu 16.0.4
##### SUMMARY

All modules are fai

[2018-03-06 17:11] caphrim007 commented on #655
@mlowcher61 the ability to connect to the remote device is more than just curling the ip. It depends on whether the REST API can be reached at /mgmt/tm/sys

The slice of page that you show there is the BIG-IP configuration Redirect page. This suggests that the device is not yet ready to take configuration.

What is the output of curling the url I mention?

[2018-03-06 17:16] mlowcher61 commented on #655
lowcher@ansible:~$ curl -sk -u admin:admin https://10.0.0.167/mgmt/tm/sys | jq .items
[
  {
    "reference": {
      "link": "https://localhost/mgmt/tm/sys/application?ver=13.1.0.3"
    }
  },
  {
    "reference": {
      "link": "https://localhost/mgmt/tm/sys/crypto?ver=13.1.0.3"
    }
  },
  {
    "reference": {
      "link": "https://localhost/mgmt/tm/sys/daemon-log-settings?ver=13.1.0.3"
    }

[2018-03-06 17:19] caphrim007 commented on #655
@mlowcher61 can you view the web ui? does it show a standard login screen? or does it show a "configuration loading" screen?

[2018-03-06 17:20] mlowcher61 commented on #655
Yes, login page is fine.

Mark Lowcher CISSP CCSP |  F5 Systems Engineer – AT&T Cloud and Managed Services

F5 Networks

  P 888.88.BIG.IP

 M 512.745.6263

m.lowcher@f5.com<mailto:m.lowcher@f5.com>

   www.f5.com<http://www.f5.com/>

From: Tim Rupp [mailto:notifications@github.com]
Sent: Tuesday, March 6, 2018 11:19 AM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: Mark Lowcher <M.

[2018-03-06 18:06] WRJFontenot commented on #635
Tim,

Right now, I’m using this TMSH command in my playbook to set the timeout:

      - name: Set Configuration Utility session timeout
        bigip_command:
          commands: "modify sys http auth-pam-idle-timeout 1800"

Being able to do this with bigip_device_httpd in 2.5 is exactly what I was asking for, so you can close this issue.  When is 2.5 going to be released?

Robbie

From: Tim Rupp

[2018-03-06 18:18] WRJFontenot commented on #286
Just ran into this problem while trying to use Ansible to configure my GTMs.  This is definitely a must have feature for GTM.

[2018-03-06 18:24] WRJFontenot commented on #311
Just ran into this same problem when trying to configure my GTM servers.  Doesn't look like it's going to be fixed in 2.5.  Please make this a priority for 2.6.

[2018-03-06 18:24] caphrim007 commented on #635
@WRJFontenot I think 2.5 is scheduled for release sometime this month (March) unless. Ansible is in the RC process for it now.

[2018-03-06 18:24] #635 closed

[2018-03-06 18:30] WRJFontenot commented on #311
Is this a dupe of #124 ?

[2018-03-06 18:32] WRJFontenot commented on #470
Is this a dupe of #124 ?

[2018-03-06 18:38] WRJFontenot commented on #140
Must have.

[2018-03-06 18:47] WRJFontenot opened #656 "Need new module to configure GTM topology regions and records"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
bigip_gtm_topology

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

Need new module to configure GTM topology regions and records.  Module does not exist today.  Can be don

[2018-03-06 19:12] WRJFontenot opened #657 "Need new module to configure GTM global settings"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_gtm_global
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

Need to enable GTM synchronization, set GTM Sync Group name, and synchronize zone files.  There is not a m

[2018-03-07 09:32] alonsocamaro opened #658 "RFE: bigip_command to have warn option"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_command

##### SUMMARY

The ```bigip_command``` module has the same behaviour as the ```shell``` module when running not idempotent commands.

The ```shell``` module can use the ```warn``` option to do not show these messages. This RFE proposes adding this same option to the ```bigip_command``` module.

[2018-03-07 15:40] caphrim007 commented on #658
@alonsocamaro can you provide an example of a warning that you would not want shown?

[2018-03-07 16:47] alonsocamaro commented on #658
<img width="925" alt="screen shot 2018-03-07 at 10 37 42" src="https://user-images.githubusercontent.com/16683733/37105496-9c3a16fa-222f-11e8-836a-927ef2f8c7d4.png">

[2018-03-07 17:58] neozoolook commented on #551
@delgadillo22 @caphrim007 in regards to NEED commit level I think this is medium to low need currently as we have other methods to fill gap till the module is supported.  My higher priorities are related to AFM modules as we are a heavy user of AFM.

[2018-03-07 18:02] neozoolook commented on #83
@caphrim007 sorry for delay in response, I have a target to test this next week, thanks again for quick turn around on development.

[2018-03-07 18:17] neozoolook commented on #270
@delgadillo22 priority on this should be left to medium, would love to see this slated into 2.6 effort, as it's leveraged extensively with AFM configuration to provide security logging to siem and other collection devices.

[2018-03-07 19:10] webminster opened #659 "bigip_snmp_community: will not remove "public""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_snmp_community

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Linux ubuntu1 4.4.0-91-generic #114-Ubuntu SMP Tue Aug 8 11:56:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Ubuntu Xenial

##### SUMMARY
Trying to remove defau

[2018-03-07 19:42] caphrim007 commented on #659
@webminster try `comm-public`

this issue raises a more serious bug though in that community names are not unique. it is the community name + source that is unique.

So this module will need to be changed to default to a source. The recommendation would then be to override that source as needed.

For the default SNMP community, the new method to delete it will be a combination of parameters that l

[2018-03-07 20:08] caphrim007 commented on #659
on second thought, requiring `source` means that we cannot change `source`. scratch that idea. we'll try requiring `name` instead, like we do with all other modules.

[2018-03-07 20:11] webminster commented on #659
Thanks for that workaround, that does appear to do the needed.

[2018-03-07 20:40] delgadillo22 commented on #551
Ok great -- thanks for the update.

[2018-03-07 20:50] #659 closed

[2018-03-08 16:34] #597 closed

[2018-03-08 16:36] caphrim007 commented on #382
@JoshPineda @realged13 this should now be possible. see the `members` argument of the `bigip_gtm_pool` module

[2018-03-08 16:36] #382 closed

[2018-03-08 16:54] #658 closed

[2018-03-08 16:56] #651 closed

[2018-03-08 18:01] #589 closed

[2018-03-08 18:39] caphrim007 commented on #655
additionally, try replacing your bigip.py in your module_utils/network/f5/ directory with the one found here

https://github.com/F5Networks/f5-ansible/blob/devel/library/module_utils/network/f5/bigip.py

it will hopefully provide more debugging

[2018-03-08 18:41] caphrim007 commented on #655
@mlowcher61 replied

Ok, I replaced it and ran the default_config.yml playbook seen below.
---
  - hosts: bigip
    connection: local
    tasks:
      - name: Reset the BIG-IP configuration, for example, to RMA the device
        bigip_config:
          reset: yes
          save: yes
          server: bigip
          password: "{{ password }}"
          user: admin
          validate_certs: no

[2018-03-08 18:42] caphrim007 commented on #655
@mlowcher61 replied

Ok, setting both to default using “bigip” which calls the /etc/ansible/hosts file now failed.

lowcher@ansible:~/app_svc_L4-7/ansible/playbooks$ ansible-playbook default_config.yml

PLAY [bigip] *********************************************************************************************************

TASK [Gathering Facts] ******************************************************

[2018-03-08 18:42] caphrim007 commented on #655
when you specify "bigip" in your task's server line, it's going to try to resolve that. That is presumably what is failing. If you specify the IP address there, it would presumably work.

Or if you add "bigip" to your /etc/hosts (the system static hosts, not the Ansible hosts) it should also work

[2018-03-08 18:42] caphrim007 commented on #655
specify more than one bigip in your Ansible hosts file and playbook hosts line

# inventory
bigip1
bigip2

# Playbook
hosts: "bigip1:bigip2"

[2018-03-08 18:43] caphrim007 commented on #655
@mlowcher61 replied

So this worked. I called the bigip at the hosts and did two reset tasks. I will try your way now and this took a long time.

---
  - hosts: bigip
    connection: local
    tasks:
      - name: Reset the BIG-IP configuration, for example, to RMA the device
        bigip_config:
          reset: yes
          save: yes
          server: bigip1
          password: "{{ password }}

[2018-03-08 18:44] caphrim007 commented on #655
The following should work

[code]

[2018-03-08 18:44] caphrim007 commented on #655
What if I have other items such as

[code]
Won’t that try those as well?

[2018-03-08 18:45] mlowcher61 commented on #655
Yes. I did that

Thx

Sent from my iPhone

On Mar 8, 2018, at 12:39 PM, Tim Rupp <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL MAIL: bounces+848413-c0af-m.lowcher=f5.com@sgmail.github.com<mailto:bounces+848413-c0af-m.lowcher=f5.com@sgmail.github.com>

additionally, try replacing your bigip.py in your module_utils/network/f5/ directory with the one found here

https:/

[2018-03-08 18:45] caphrim007 commented on #655
The hosts: "bigip1:bigip2" limits the playbook to only be run on the hosts in the hosts line. So no.

[2018-03-08 18:45] caphrim007 commented on #655
@mlowcher61 replied

Tim,

Actually, below just worked as well. Which is much better if I’m trying to address a lot of devices at once such as a geolocation db update.

Thanks for your help!

[code]

[2018-03-08 18:45] caphrim007 commented on #655
closing as this issue seems to be resolved now

[2018-03-08 18:45] #655 closed

[2018-03-08 19:32] person50002 opened #662 "bigip_routedomain.py does not take a provider dictionary"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

bigip_routedomain.py
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

this works:
[code]
this doesn't:
[code]

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-08 20:21] person50002 commented on #662
bigip_pool_member.py also fails when the "server" parameter is not provided directly , this is the error:
[code]

[2018-03-08 21:32] KSI-Brian-Rossmeisl commented on #470
Robbie,
This is not a duplicate of #124. #470 subsumes #124.

Brian Rossmeisl
Sr Solutions Architect
Kudelski Security Inc.
Phone +1 980-275-1524
US Headquarters
5090 40th St., Suite 450
Phoenix, AZ 85018
brian.rossmeisl@kudelskisecurity.com<mailto:brian.rossmeisl@kudelskisecurity.com>
https://www.kudelskisecurity.com/
This e-mail and any attachments may contain information that is confidential, p

[2018-03-08 21:58] caphrim007 commented on #470
@KSI-Brian-Rossmeisl can you refresh my memory on what you need besides a `pool` option to bigip_gtm_pool (which we appear to have)

[2018-03-08 22:08] KSI-Brian-Rossmeisl commented on #470
Thank you for the additional info. I have reviewed the cloud docs documentation and with Ansible 2.6 it would appear that this ticket has been resolved. Thank you!

[2018-03-08 22:08] #470 closed

[2018-03-08 22:11] caphrim007 opened #663 "Add CGNAT to bigip_provision"
while it's not a full-fledged module, it should still be supported in this module. This will become important as SP and others in the MSP begin using ansible.

[2018-03-08 23:38] #441 closed

[2018-03-08 23:54] caphrim007 commented on #182
these exist now

[2018-03-08 23:54] #182 closed

[2018-03-08 23:54] caphrim007 commented on #169
these are now complete

[2018-03-08 23:54] #169 closed

[2018-03-08 23:55] caphrim007 commented on #156
these are now complete

[2018-03-08 23:55] #156 closed

[2018-03-08 23:56] caphrim007 commented on #141
@insidepacket this is complete. closing

[2018-03-08 23:56] #141 closed

[2018-03-08 23:58] caphrim007 commented on #269
@amsinha2 @jbidinger @webminster @chen23 @itblaked @alonsocamaro @shortenmark @earchibald @loudsong

A fix for this should now be in 2.5 for all f5 modules. All new modules include the fix too

[2018-03-08 23:58] #269 closed

[2018-03-09 02:08] jbidinger commented on #269
Thank you. We appreciate it very much.

[2018-03-09 08:24] alonsocamaro commented on #269
@caphrim007

[2018-03-09 09:55] alonsocamaro commented on #589
Thanks Tim!

[2018-03-12 06:32] dashwood8691 opened #664 "bigip_device_trust.py converts hyphen into underscore"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_device_trust.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

Using bigip_device_trust.py to form a device trust converts hyphens in peer hostname into underscores.
L

[2018-03-12 08:29] #664 closed

[2018-03-12 09:27] #103 closed

[2018-03-12 09:28] caphrim007 commented on #103
removed this option. It is a bug in BIG-IP @delgadillo22. You can only modify this setting via TMUI, and there is no movement to fix that. Unfortunate

[2018-03-12 11:04] #160 closed

[2018-03-12 20:31] person50002 opened #665 "Support for attaching GTM IRule to Wide IP"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_gtm_wide_ip
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Please add support for adding GTM IRules to Wide IPs
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-13 01:39] dashwood8691 commented on #664
The commit keeps hyphen as is, but it now converts number into underscore.

[code]

[2018-03-13 01:55] caphrim007 commented on #664
@dashwood8691 try now

[2018-03-13 02:05] dashwood8691 commented on #664
@caphrim007 It's fixed! Thanks.

[2018-03-13 03:02] #665 closed

[2018-03-13 06:53] #286 closed

[2018-03-13 06:53] #383 closed

[2018-03-13 06:54] caphrim007 commented on #311
fixed in #124 afaik. closing

[2018-03-13 06:54] #311 closed

[2018-03-13 15:30] selhorn opened #666 "messed up doc output"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
bigip_profile_client_ssl_module

##### ANSIBLE VERSION

##### PYTHON VERSION

##### BIGIP VERSION
[code]

[code]

[code]

[code]

[2018-03-13 20:54] rainierpineda2 commented on #311
Thanks Tim. So in order for me to use this do I have to be in Ansible 2.5? Right now our system is 2.4 and I don’t know when we’ll move to 2.5. It seems I cannot just copy the module into my library directory because it is looking for other dependent files.

TASK [Create WideIP] *************************************************************************************
fatal: [labusra5474lb005]: FAILED!

[2018-03-13 21:56] neozoolook opened #667 "bigip_data_group - cannot import name dict2tuple error on run"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_data_group.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04TS

##### SUMMARY

Running playbooks leveraging the bigip_data_group.py module fail to run due to 'cannot import name dict2tuble' error.

##### S

[2018-03-14 03:20] #666 closed

[2018-03-14 03:22] caphrim007 commented on #667
@neozoolook I think you need an updated module_utils `common.py` file. Here is one

https://github.com/F5Networks/f5-ansible/blob/devel/library/module_utils/network/f5/common.py

try replacing the one on your system with it.

[2018-03-14 03:25] caphrim007 commented on #311
@rainierpineda2 the module, according to the projects link on the right, requires the next next version of ansible (what is currently devel) 2.6.

When 2.5 was feature frozen, we immediately began work on 2.6 and this is part of that work.

To backport a 2.6 module to 2.4 will require some legwork as ansible raises errors when one of the module dependencies is not found. I dont have a document imm

[2018-03-14 20:04] neozoolook commented on #667
Yes I have this one in place already, which is baffling as I saw your notes on the need for this updated file.

[2018-03-15 00:00] caphrim007 commented on #667
@neozoolook are you running Ansible in a virtualenv? did you put it in the virtualenv?

[2018-03-15 07:01] #663 closed

[2018-03-15 07:03] caphrim007 opened #668 "allow virtual server module to consume security log profiles setting"
Per @chen23

I would also add "security-log-profiles"

modify ltm virtual TRUSTEDNETWORK-PROTECTED-NET-UDR security-log-profiles replace-all-with { SECURITY-LOG }

[2018-03-15 21:05] vs926p opened #669 "bigip_provision fails; when we are setting multiple modules in 13.x release of f5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
bigip_provision

##### ANSIBLE VERSION
2.5
[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
13.1

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When I run sys prov modules to set afm and ltm levels it fails for the second one.

##### STEPS TO REPRODUCE

[code]

Then the second play above fai

[2018-03-15 21:51] neozoolook commented on #667
@caphrim007 yes all this is done in virtual, not following what you mean by virtualenv.  Sorry if I'm dense here.

[2018-03-15 22:27] penghon commented on #667
python virtualenv?

On Thu, 15 Mar 2018 at 18:51, neozoolook <notifications@github.com> wrote:

[2018-03-15 23:10] caphrim007 commented on #667
@neozoolook did you put the aforementioned common.py in the virtualenv? or on the system?

[2018-03-15 23:12] caphrim007 commented on #667
@neozoolook how about the sha hash of the common.py on your system? it should be this

e77a229ee14985e3164053294865fad4f0a76ece  library/module_utils/network/f5/common.py

[2018-03-15 23:30] neozoolook commented on #667
@caphrim007 Yes the sha hash is same;
[code]

[2018-03-16 01:00] caphrim007 commented on #667
@neozoolook do you have a /usr/local/bin/python ?

[2018-03-16 10:13] caphrim007 commented on #669
@vs926p can you post the error you're receiving?

[2018-03-16 20:47] neozoolook commented on #667
@caphrim007  python on ansible is located here;

/usr/bin/python

Again this is something I have never had to deal with so I'm a bit lost here... I did try this with same results;

In the inventory added following;

[code]

[2018-03-17 02:31] caphrim007 commented on #667
@neozoolook but *does* a /usr/local/bin/python exist on the system? I ask because Ansible is saying that its modules are here

[code]

And a /usr/bin/python would not put its libraries in /usr/local/lib

[2018-03-17 21:14] brettcarr1 opened #670 "f5 module authentication issue/question"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_command
##### ANSIBLE VERSION

ansible 2.4.3.0
  config file = None
  configured module search path = [u'/Users/brettcarr/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Library/Python/2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.10 (

[2018-03-18 02:13] caphrim007 commented on #670
@brettcarr1 do you have the other users shell accounts set to bash?

[2018-03-18 10:13] brettcarr1 commented on #670
@caphrim007 The user accounts are set to "Advanced Shell" in the GUI and checking /etc/passwd shows the shell is set to /bin/bash

[2018-03-19 09:25] dashwood8691 opened #671 "bigip_virtual_server - Add support for mask for forwarding virtual servers"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

bigip_virtual_server currently does not provide 'mask' parameter.
'destination' attribute does not su

[2018-03-19 18:27] yxeGithub commented on #627
Perhaps make this a generic feature request and add the other Remote authentication options:

Active Directory - LDAP - TACACS - RADIUS - APM - Client Cert LDAP

So for Active Directory -
TMSH Commands
modify auth ldap system-auth login-attribute samaccountanme search-base-dn dc=company,dc=com servers add {192.168.0.50} user-template %s@company.com
modify auth ldap system-auth bind-dn CN=mysuperus

[2018-03-19 18:31] vs926p commented on #669
Ok cool. Thanks.

Can you please let me know once the provision.py in library is updated and I can retest and confirm it.

​​​​​
Thanks and Regards,

Vivek Shah

From: Tim Rupp [mailto:notifications@github.com]
Sent: Monday, March 19, 2018 11:13 AM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: SHAH, VIVEK <vs926p@att.com>; Mention <mention@noreply.github.com>
Subject: Re: [F5Networ

[2018-03-19 19:14] #662 closed

[2018-03-19 19:14] #669 closed

[2018-03-19 19:37] caphrim007 commented on #667
@neozoolook any progress? If not, feel free to ping me offline.

[2018-03-19 19:44] caphrim007 commented on #669
@vs926p I've pushed the necessary changes. have a go

[2018-03-19 20:39] #172 closed

[2018-03-19 21:45] brettcarr1 commented on #670
Any other ideas on why this might not be working or indeed whether it should work for a normal account IE Not admin would be really appreciated.

[2018-03-20 03:16] caphrim007 commented on #670
@brettcarr1 after looking into it further, it appears to be a limitation of the REST API on version 11.6.1.

The F5 Ansible modules require BIGIP version >= 12.0.0. This is one of the reasons why. While on 11.6.0, you might want to try direct SSH access either with user/pass or user/cert combinations.

You will need to add the `transport: cli` parameter to your `bigip_command` and may also require

[2018-03-20 04:19] #554 closed

[2018-03-20 04:19] #308 closed

[2018-03-20 04:19] #649 closed

[2018-03-20 04:19] caphrim007 commented on #554
@vs926p @neozoolook @realged13  I think I have fixed this now after adding types to the virtual server. This was a very significant change though, so to whatever extent possible, I would ask that you test this using Ansible 2.6 (devel) and the module from this repository

[2018-03-20 04:19] caphrim007 commented on #308
@amb1s1 @rowco @jasonrahm I think I have fixed this now after adding types to the virtual server. This was a very significant change though, so to whatever extent possible, I would ask that you test this using Ansible 2.6 (devel) and the module from this repository

[2018-03-20 04:21] caphrim007 commented on #74
I think this is complete. There is an example in the `examples` directory which @payalsin verified on a pair of BIG-IPs. I think this can be closed

[2018-03-20 04:21] #74 closed

[2018-03-20 04:22] caphrim007 commented on #234
closing as this is an F5'er

[2018-03-20 04:22] #234 closed

[2018-03-20 07:17] neozoolook commented on #667
@caphrim007 Sorry no progress on this, been working a different priority project.  I will attempt to test this in AM.  Again sorry for delay in response, I have some ideas as to what is going on here and need to investigate further.

[2018-03-20 11:01] MichalTaratuta opened #673 "Question about LTM profiles"
Sorry for the blunt question.

Is it possible to create LTM profiles using one of the existing modules? I can't see it anywhere and just wonder of this is achievable through different module or it just missing and scheduled for next release?

[2018-03-20 11:05] MichalTaratuta commented on #639
What is the realistic time line for delivery of this module?

[2018-03-20 14:18] caphrim007 commented on #673
@MichalTaratuta you can use the bigip_command module to create them until such time as there are full-fledged modules to do so

[2018-03-20 16:23] MichalTaratuta commented on #673
@caphrim007 I tried to use the bigip_command from Ansible TAG v2.5.0rc3 but it seems to be missing your latest commit c0046c8. Which is a game chnager for that command. Do you know whether c0046c8 will make to Ansible 2.5 ?

[2018-03-20 16:29] caphrim007 commented on #673
@MichalTaratuta no, 2.5 is feature frozen. that commit will be in 2.6.

Why do you need that commit? Its use case is for limited situations.

[2018-03-20 17:39] #142 closed

[2018-03-20 18:09] santiagocs1 opened #674 "gather facts from Bigip Facts is not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_facts
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos
##### SUMMARY

bigip_facts is not working, We are using F5 with VCMP in some of the Guest is working but in most of them not.
##### STEPS TO REPRODUCE

[code]

[2018-03-20 18:24] rajeshanne opened #675 "Virtual server play not accepting string type for port"
##### ISSUE TYPE
 Feature idea
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
 bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION
 13.1
[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[co

[2018-03-20 18:40] caphrim007 commented on #675
@rajeshanne can you provide a reproduction? strings should be automatically converted to integers.

[2018-03-20 18:46] #491 closed

[2018-03-20 18:51] caphrim007 commented on #674
@santiagocs1 this error suggests that the login information you are providing is incorrect.

What is likely happening is your `hosts:` line is not being interpreted as an actual host by ansible, and is instead being interpreted as a plain string.

Is the value that you are assigning to F5_SERVER an IP address? FQDN? resolvable in DNS?

[2018-03-20 18:52] caphrim007 commented on #674
For example, when I run the following

[code]

The `server` value received by the module is `f5-test[0]`. Ansible did no interpolation of the value, it just sent it straight to the playbook.

[2018-03-20 19:12] #652 closed

[2018-03-20 19:13] caphrim007 commented on #652
@realged13 I think I changed this a couple weeks ago, but forgot to ping you. tests are now in place to show that an exception is correctly raised.

[2018-03-20 19:23] santiagocs1 commented on #674
Hello,

Thanks for your answer it is working now, like F5_SERVER value i was using a string defined in the /etc/ansible/hosts like:
F5-1 ansible_host=7.7.77

and then " F5_SERVER=F5-1"
when i configured this value also in the /etc/hosts it worked.. Many thanks for your help

[2018-03-20 19:28] realged13 commented on #652
Looks like the data group module was last changed 24 days ago, is it
updated under a different module?

On Tue, Mar 20, 2018 at 3:13 PM Tim Rupp <notifications@github.com> wrote:

[2018-03-20 19:33] #674 closed

[2018-03-20 19:36] caphrim007 commented on #652
@realged13 this is the error you're interested in aye?

[code]

[2018-03-20 20:02] caphrim007 commented on #621
@neozoolook would you prefer 1 module for this purpose, or two.

The 1 module would allow for specifying the `rules` as a key. Adding/removing rules would require that the entire list be updated.

The two module approach would have one module for the timer policy itself and another module for the rules of the timer policy. Adding and removing rules to the policy would be done like normal modules;

[2018-03-20 20:30] rajeshanne commented on #675
Attached is the log...

Thanks,
Rajesh
________________________________
From: Tim Rupp <notifications@github.com>
Sent: Tuesday, March 20, 2018 11:40 AM
To: F5Networks/f5-ansible
Cc: rajeshanne; Mention
Subject: Re: [F5Networks/f5-ansible] Virtual server play not accepting string type for port (#675)

@rajeshanne<https://github.com/rajeshanne> can you provide a reproduction? strings should be auto

[2018-03-20 20:43] caphrim007 commented on #675
@rajeshanne I dont see an error in that output?

Can you provide a simple task that illustrates the problem? You do not need to include any internal addresses or names.

[2018-03-20 20:58] caphrim007 commented on #621
note that we've taken the two module approach in other situations (like ltm policies and like AFM policies) so there is some level of established patterns for this already

On the other hand, it bugs me that a timer policy, (the container itself) has so little that is configurable that it borders on the level of offensive that it would be two separate modules.

But...since this is automation....ma

[2018-03-20 21:56] rajeshanne commented on #675
Play:
---
- name: Build {{ virt_v4_forwarder_ftp }} Virtual Server
  bigip_virtual_server:
    state: present
    name: "{{ virt_v4_forwarder_ftp }}"
    description: "{{ virt_v4_forwarder_ftp_desc }}"
    destination: "{{ virt_v4_forwarder_ftp_dest }}"
    port: "{{ virt_v4_forwarder_ftp_port }}"
    all_profiles:
      - "{{ virt_v4_forwarder_ftp_profile_0 }}"
      - "{{ virt_v4_forwarder_ftp_p

[2018-03-20 21:57] rajeshanne commented on #675
________________________________
From: Tim Rupp <notifications@github.com>
Sent: Tuesday, March 20, 2018 1:43 PM
To: F5Networks/f5-ansible
Cc: rajeshanne; Mention
Subject: Re: [F5Networks/f5-ansible] Virtual server play not accepting string type for port (#675)

@rajeshanne<https://github.com/rajeshanne> I dont see an error in that output?

Can you provide a simple task that illustrates the proble

[2018-03-20 22:28] caphrim007 commented on #675
@rajeshanne this is expected behavior. the port takes a port number, not the name of a service.

[2018-03-20 22:29] caphrim007 commented on #675
If you want this changed (so that it takes a service name) the list that i'm willing to accept is the same list that tmui presents.

![screen shot 2018-03-20 at 3 27 44 pm](https://user-images.githubusercontent.com/46956/37686129-5e8bc8e8-2c53-11e8-82f8-76c716eb2455.png)

lemme know if this is sufficient

[2018-03-20 22:32] rajeshanne commented on #675
Hello Tim,

     we can configure  port to be ftp via cli or gui fine. It is hard to to define ports for complex alg protocols like ftp. It should let accept string is I what i feel.

Thanks,
Rajesh
________________________________
From: Tim Rupp <notifications@github.com>
Sent: Tuesday, March 20, 2018 3:28 PM
To: F5Networks/f5-ansible
Cc: rajeshanne; Mention
Subject: Re: [F5Networks/f5-ansible] V

[2018-03-20 22:33] caphrim007 commented on #675
@rajeshanne is the service list in tmui sufficient? or would you want more.

[2018-03-20 22:51] rajeshanne commented on #675
Sufficient Tim.
________________________________
From: Tim Rupp <notifications@github.com>
Sent: Tuesday, March 20, 2018 3:33 PM
To: F5Networks/f5-ansible
Cc: rajeshanne; Mention
Subject: Re: [F5Networks/f5-ansible] Virtual server play not accepting string type for port (#675)

@rajeshanne<https://github.com/rajeshanne> is the service list in tmui sufficient? or would you want more.

—
You are rec

[2018-03-20 23:40] delgadillo22 commented on #675
Enhancement, not bug.

[2018-03-21 00:19] #675 closed

[2018-03-21 09:28] MichalTaratuta commented on #673
I thought that it introduces the `chdir` feature to `bigip_command` module?

Is there a way to create an LTM profile using `bigip_command` module for specific partition other then Common ?

I did try this:
[code]

But unfortunately it doesn't change the partition. 😞

[2018-03-21 14:09] caphrim007 commented on #673
@MichalTaratuta that patch does indeed introduce the `chdir` feature. But you probably do not need it. You can create items in different partitions by specifying the fullpath to the item instead of just the name.

`create ltm profile http /Partition2/BOB`

instead of

`create ltm profile http BOB`

[2018-03-21 15:22] #654 closed

[2018-03-21 17:59] neozoolook commented on #621
@caphrim007 I'm fine with the approach of leveraging two separate models if this falls in line with already established development experiences your team has leveraged in AFM.  Honestly it's not a big deal in respect to ansible playbook automation, as we can just sequence with the secondary module once the overall timers are defined as needed.  In fact this may be desirable come to think of it, as

[2018-03-21 18:00] caphrim007 commented on #621
@neozoolook thanks for the feedback. will get started on this right now

[2018-03-22 06:27] lilongabc commented on #648
@caphrim007  Thanks for your answer : )

[2018-03-22 14:12] caphrim007 commented on #673
@MichalTaratuta does the above answer address your issue? Do you need anything else?

[2018-03-22 14:13] caphrim007 commented on #670
@brettcarr1 does the above answer address your issue? Do you need anything else?

[2018-03-22 16:31] neozoolook commented on #667
@caphrim007 I spent a good couple hours looking into this and went so far as to rebuild the ansible as well as python install on a fresh system.  despite this I'm seeing that when running with the -vvvv options I still get;

[code]

In addition despite this behavior this appears to not affect any of the other numerous playbooks that I have been leveraging in my bundle.  Not sure what to do here to

[2018-03-22 16:51] caphrim007 commented on #667
@neozoolook ping me offline? my email is in my profile here

[2018-03-22 23:13] delgadillo22 opened #676 "sys management routes"
##### ISSUE TYPE

Module for sys management routes
Needed for neozoolook

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-23 20:42] brettcarr1 commented on #670
Tim,
I tried adding:

transport: cli

but then receive an error:

fatal: [dummy -> localhost]: FAILED! => {"changed": false, "msg": "Unsupported parameters for (bigip_command) module: transport Supported parameters include: commands,interval,match,partition,password,retries,server,server_port,state,user,validate_certs,wait_for”}

Assume this means my only option is to either use “admin” or upgrade

[2018-03-23 20:46] caphrim007 commented on #670
@brettcarr1 transport was added in ansible 2.5 i think

[2018-03-23 21:45] brettcarr1 commented on #670
Tim,

Upgraded to 2.5 and now I receive

fatal: [bigip -> localhost]: FAILED! => {"changed": false, "msg": "tmsh modify net route-domain 0 routing-proto \rcol delete { BGP }\r\n01020036:3: The requested route domain routing protocol (/Common/0 BGP) was not found.\r\n[admin@bigip:Active:Standalone] ~ # "}

e:

[2018-03-23 21:56] caphrim007 commented on #670
@brettcarr1 it's working then. You're receiving that error from TMSH because BGP is not on your route-domain 0

[2018-03-23 22:06] brettcarr1 commented on #670
Aha,
  I see yes, my apologies it’s late here in the UK now.

As a matter of interest I am now getting the following warnings:

[DEPRECATION WARNING]: Param 'server' is deprecated. See the module docs for more information. This feature will be removed in version 2.9. Deprecation warnings can
be disabled by setting deprecation_warnings=False in ansible.cfg.
[DEPRECATION WARNING]: Param 'user' is de

[2018-03-23 22:14] caphrim007 commented on #670
@brettcarr1 yes and no. "Yes" in the sense that, as it says, in Ansible 2.9 the older, non-provider, parameters will be removed.

"no" though, as in, if it doesnt work for you when you switch to provider, then go back to the old method. It would not work if there were, for example, an unreported bug that hadnt yet been fixed.

The two forms are shown below.

*provider form* (this is the new form)

[2018-03-23 22:54] caphrim007 commented on #670
@brettcarr1 lemme know if you need anything else, or if this issue is now resolved

[2018-03-24 00:01] brettcarr1 commented on #670
It seems to all work fine now, thanks, should I be able to use the same approach for the route_domain module as well, IE use “provider” and transport: cli to get this to work with a user who is not “admin” in 11.6.
I may need some help to get that working, should I open a separate issue for that.

Brett

[2018-03-24 00:04] caphrim007 opened #677 "add reboot ability to bigip_provision"
when de-provisioning modules, the system sometimes prompts a user to reboot the device. the bigip_provision module should handle this case. If this becomes a nuisance due to performance, then in the future we can consider adding a `reboot` boolean value to the module, but that is not part of the scope of this feature.

[2018-03-24 00:06] #677 closed

[2018-03-24 00:10] caphrim007 commented on #622
this is now implemented

[2018-03-24 00:10] #622 closed

[2018-03-24 00:10] caphrim007 commented on #621
the posted commit is relevant to #622, not this issue. this issue is still under development

[2018-03-24 00:48] caphrim007 commented on #670
@brettcarr1 no, the only module that supports the client transport at the moment is the bigip_comand module.

[2018-03-24 00:50] caphrim007 commented on #670
All modules should support a provider. Transport cli is specific to bigip_command. All other modules default to transport rest

[2018-03-24 01:51] #670 closed

[2018-03-24 04:42] #593 closed

[2018-03-24 06:18] #594 closed

[2018-03-24 14:35] brettcarr1 opened #678 "bigip route_domain module question"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
route_domain

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-24 18:26] caphrim007 commented on #678
@brettcarr1 you've reported no bug here. what's the problem?

[2018-03-24 18:29] brettcarr1 commented on #678
Oh stange the large description I typed in didn't make it into the post for some reason, Ill reformulate it and post it again here shortly. Apologies for confusion :)

[2018-03-24 18:44] brettcarr1 commented on #678
I have a playbook using the big_routedomain module (shown below) which is simply designed to enable BGP and BFD

---
- hosts: bigip
  gather_facts: no
  vars_prompt:
    - name: "bigip_pwd"
      prompt: "BIGIP Admin Password"
  tasks:
  - name: enable-bgp
    bigip_routedomain:
      routing_protocol:
        - BGP
        - BFD
      state: present
      id: 0
      password: "{{ bigip_pwd }}"

[2018-03-24 18:45] brettcarr1 commented on #678
Note despite the above my provider section is indented, pasting in again below to see if it looks right this time.

---
- hosts: bigip
  gather_facts: no
  vars_prompt:
    - name: "bigip_pwd"
      prompt: "BIGIP Admin Password"
  tasks:
  - name: enable-bgp
    bigip_routedomain:
      routing_protocol: BGP
      state: present
      id: 0
      provider:
        server: "bigip"
        password

[2018-03-24 18:58] caphrim007 commented on #678
@brettcarr1 your problem is likely that the server you specified, `server: "bigip"` is not something that resolves in either DNS or your /etc/hosts file.

What you likely want is for Ansible to use the `hosts:` line's `bigip`, which probably resolves to a correct IP or DNS name.

Change your `server:` line to `server: "{{ ansible_host }}"`

[2018-03-25 04:55] caphrim007 commented on #645
@person50002 you dont supply route domains in the IP address, you supply them in the `route_domain` field of the module

https://github.com/ansible/ansible/blob/stable-2.5/lib/ansible/modules/network/f5/bigip_static_route.py#L63

[2018-03-25 04:55] caphrim007 commented on #645
closing as not a bug

[2018-03-25 05:04] caphrim007 commented on #602
f5-sdk support has been added afaik

[2018-03-25 05:05] #668 closed

[2018-03-25 16:00] brettcarr1 commented on #678
Slightly confused by your answer as "bigip" does resolve in DNS surely if it didn't the hosts entry at the top of the playbook wouldn't work either (my ansible inventory file contains this entry but not an ip address), anyway I made the change you suggested anyway and still get errors: New contents of playbook and the error below:

---
- hosts: bigip
  gather_facts: no
  vars_prompt:
    - name: "

[2018-03-25 16:45] caphrim007 commented on #678
This line if your output suggests that it was not able to get either the hostname or IP address from the host in your inventory

`.ConnectionError: HTTPSConnectionPool(host='none',`

So, what does your inventory look like

[2018-03-25 17:10] brettcarr1 commented on #678
Tim,
   relevant part of the inventory file below:

[lb]
bigip
dummy

On the command line I can resolve bigip see below

[brettcarr@liberator ~/ansible]$ host bigip
bigip.blacksun.localnet has address 192.168.1.252
[brettcarr@liberator ~/ansible]$ ping bigip
PING bigip.blacksun.localnet (192.168.1.252): 56 data bytes
64 bytes from 192.168.1.252: icmp_seq=0 ttl=64 time=2.519 ms
64 bytes from 192.16

[2018-03-25 17:20] caphrim007 commented on #678
@brettcarr1 try changing `{{ ansible_host }}` to `{{ inventory_hostname }}`

[2018-03-25 17:44] #596 closed

[2018-03-25 17:56] brettcarr1 commented on #678
Still no luck I'm afraid:

Playbook changed as per below:

---
- hosts: bigip
  gather_facts: no
  vars_prompt:
    - name: "bigip_pwd"
      prompt: "BIGIP Admin Password"
  tasks:
  - name: enable-bgp
    bigip_routedomain:
      routing_protocol: BGP
      state: present
      id: 0
      provider:
        server: "{{ inventory_hostname }}"
        password: "{{ bigip_pwd }}"
        user: "adm

[2018-03-25 18:15] caphrim007 commented on #678
remove the provider, just make them top-level things. there may have been an issue with it in the 2.5 that was released. we made a number of changes to it after the 2.5 code freeze a month or two ago

[2018-03-25 18:35] brettcarr1 commented on #678
Ok so removing the provider does make it work but of course the deprecated warnings re-appear. The main reason I was using provider was that I was hoping that it would enable me to use a non "admin" user (like the command module does) without upgrading my bigip to 12.0, I presume then this is my only option currently:

IE either use "admin" account or upgrade to 12.0

Another related question...

[2018-03-25 18:47] caphrim007 commented on #678
since all of the modules use the same REST APIs, no, if non-admin doesnt work on bigip_command, it would also not work on every other module.

Using the bigip_command module I think you could use the following tmsh command to remove all the protocols

`tmsh modify net route-domain NUMBER routing-protocol none`

In the route_domain module, I think you can just specify an empty list of protocols, su

[2018-03-25 19:09] brettcarr1 commented on #678
Thanks Tim we will then continue to use the admin credentials until we upgrade to 12.0

If I enter routing_protocol: ""
in the route_domain module I get an error:

fatal: [bigip -> localhost]: FAILED! => {"changed": false, "msg": "routing_protocol must be one of: ['BFD', 'BGP', 'IS-IS', 'OSPFv2', 'OSPFv3', 'PIM', 'RIP', 'RIPng']"}

[2018-03-25 19:13] caphrim007 commented on #678
lemme look. there was a large refactor of this module recently, so it may not have been fixed until after the 2.5 release

[2018-03-25 19:18] caphrim007 commented on #678
it is indeed a deficiency in 2.5. it's fixed in the devel code (which will become 2.6)

[2018-03-26 04:56] #329 closed

[2018-03-26 04:56] #678 closed

[2018-03-26 12:44] brettcarr1 commented on #678
Thanks so in 2.6 you will be able to enter routing_protocol: ""
is there an ETA for 2.6?

[2018-03-26 14:03] caphrim007 commented on #678
yes. I've not heard from Ansible what the ETA is. They just released 2.5, so I would expect several months from now

[2018-03-26 15:55] andyburridge opened #679 "Regex for monitor names doesn't support partition names with hyphens."
Feature Idea

##### COMPONENT NAME
bigip_pool

##### ANSIBLE VERSION
[code]

##### PYTHON VERSION
[code]

##### BIGIP VERSION
[code]

##### LIBRARY VERSIONS
[code]

##### SUMMARY
I was able to create a monitor name with hyphens 'e.g. TEST-MONITOR' without issue in both the Common partition, and a user partition, for example PROD-WEB.

When attempting to reference this monitor in a playbook to crea

[2018-03-26 17:16] #679 closed

[2018-03-26 17:16] caphrim007 commented on #679
@andyburridge sure. fixed. will be in the 2.6 release of Ansible

[2018-03-26 23:00] caphrim007 commented on #621
Upon closer examination, I have some reservations about the dual module approach. I think I'm still open to it, but let's try the current single module before we put the work into the second module.

The current module can do everything you should need at the moment.

[2018-03-26 23:15] caphrim007 commented on #621
re-opening this because i cant make up my mind. looking at the other modules i need to make, like with afm, i'm reconsidering things

[2018-03-27 09:46] preisbeck opened #680 "New module for "Remote Role Groups""
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_remote_role_groups

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

16.04.1-Ubuntu

##### SUMMARY

We use the "Remote Role Groups" feature of our BigIps quiet heavily, all user management is done in our ldap, and it wo

[2018-03-27 13:10] AnilBabuDasari opened #681 ""MODULE FAILURE" error while executing playbook"
##### ISSUE TYPE

- Issue

##### COMPONENT NAME

BIGIP
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

No
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511
##### SUMMARY

##### STEPS TO REPRODUCE

Run below playbook

[code]

##### EXPECTED RESULTS

tmsh show sys version

Sys::Version
Main Package
  P

[2018-03-27 14:57] caphrim007 commented on #681
@AnilBabuDasari you must use either a `connection: local` in your play or a `delegate_to: localhost` in your task.

[2018-03-27 15:01] caphrim007 commented on #680
@preisbeck what tmsh commands, or tmui screens, is this configured with?

[2018-03-27 15:20] caphrim007 commented on #681
@AnilBabuDasari additionally, would you provide your Ansible details as asked in the issue template

[2018-03-27 16:20] AnilBabuDasari commented on #681
Hi Caphrim,
Thankyou for your reply and updated the Ansible version as requested in the issue template.
Ive used both connection: local and delegate_to: localhost but still the same issue.

[2018-03-27 17:23] schwartzmeier opened #682 "Module fail for root password change"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

F5-SDK
bigip_user
updating root password
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

n/a
##### SUMMARY

TASK [Change the root user's password] *****************************************
fatal: [localhost -> localhost]: FAIL

[2018-03-27 18:02] neozoolook commented on #667
Worked with @caphrim007 on this offline, the fix was making sure to have following correctly modified in ansible.cfg file.  As we are pulling in copies of the development ./library folder into our localized copy of ansible.

[code]
Please note that if your leveraging 2.5 stable, the library path is actually ./library.  So this has changed in structure in dev repo.

[2018-03-27 18:03] neozoolook commented on #667
Closing issue as this is resolved due to action above...

[2018-03-27 18:03] #667 closed

[2018-03-27 18:04] caphrim007 commented on #676
duple of #551

[2018-03-27 18:04] #676 closed

[2018-03-27 18:30] caphrim007 commented on #681
@AnilBabuDasari is it the exact same error when you include delegation or connection local?

[2018-03-27 18:32] caphrim007 commented on #681
@AnilBabuDasari did you install the f5-sdk via `pip` or some other method

[2018-03-27 19:01] #595 closed

[2018-03-27 19:39] #304 closed

[2018-03-27 19:41] caphrim007 commented on #448
this is complete

[2018-03-27 19:41] #448 closed

[2018-03-27 20:07] neozoolook commented on #622
@caphrim007 know this is closed, just letting you know I pulled this module and tested and it appears to work well.  Looks like your still working on timer-policy, so for now I will port our implementation to leverage the service-policy module and once timer-policy is done will integrate that as well.

[2018-03-27 20:57] #579 closed

[2018-03-28 00:23] #600 closed

[2018-03-28 04:01] caphrim007 commented on #374
closing because this is elaborated on more in #639

[2018-03-28 04:01] #374 closed

[2018-03-28 04:05] caphrim007 commented on #301
closing due to existing cert/key/bundle modules

[2018-03-28 04:05] #301 closed

[2018-03-28 05:04] AnilBabuDasari commented on #681
@caphrim007 its via pip...
command : pip install f5-sdk ... the below packages were installed

============
Requirement already satisfied: f5-sdk in /usr/lib/python2.7/site-packages
Requirement already satisfied: six<2.0.0 in /usr/lib/python2.7/site-packages (from f5-sdk)
Requirement already satisfied: f5-icontrol-rest<2.0.0 in /usr/lib/python2.7/site-packages (from f5-sdk)
Requirement already sat

[2018-03-28 05:17] caphrim007 commented on #681
@AnilBabuDasari can you show me your task with delegation included?

[2018-03-28 05:21] caphrim007 commented on #682
@schwartzmeier changing the root user password is something that was added in 2.5. It is not in 2.4. If possible, can you try Ansible 2.5?

[2018-03-28 06:21] AnilBabuDasari commented on #681
@caphrim007 , Below is the task
playbook]# date
Wed Mar 28 10:52:33 IST 2018
[root@avx-cent-99-15 playbook]# cat f5_basic1.yml
- name: This is my play
  hosts: 192.168.99.35

  tasks:
      - name: This is a task
        bigip_command:
           server: "192.168.99.35"
           user: "root"
           password: "mypassword"
           commands:
            tmsh show sys version
           deleg

[2018-03-28 14:19] MichalTaratuta commented on #673
@caphrim007 I do apologise for the delay. Yes, this provides a solution to my issue. Thank you get helping me out.

[2018-03-28 14:20] schwartzmeier commented on #682
I can confirm that the root password change does work in 2.5.
Thanks Tim!

From: Tim Rupp [mailto:notifications@github.com]
Sent: Wednesday, March 28, 2018 1:21 AM
To: F5Networks/f5-ansible <f5-ansible@noreply.github.com>
Cc: Schwartzmeier, James <schwartzmeierj@upmc.edu>; Mention <mention@noreply.github.com>
Subject: Re: [F5Networks/f5-ansible] Module fail for root password change (#682)

@schwar

[2018-03-28 14:59] #682 closed

[2018-03-28 15:00] #673 closed

[2018-03-28 15:09] jamiekowalczik opened #683 "Route domain not working for bigip_virtual_server - ansible 2.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]

##### PYTHON VERSION

[code]

##### BIGIP VERSION

[code]

##### LIBRARY VERSIONS

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.3
##### SUMMARY

Route domain is not used when adding the destination.  When using a route domain in the source address the following error is generat

[2018-03-28 15:58] caphrim007 commented on #681
@AnilBabuDasari your task is incorrect, `delegate_to: localhost` is indented to far. It should be as shown below.

[code]

Additionally, you should not be using the `root` user account unless you truly want to do SSH authentication to the remote device. By default, we do not do this. To do this, you need to add `transport: cli` to your task.

For SSH, the task would look like this

[code]

[2018-03-28 16:02] caphrim007 commented on #683
@jamiekowalczik your description is a little unclear, is the route domain failing for `source`? `destination`? or both?

[2018-03-28 16:19] jamiekowalczik commented on #683
Sorry @caphrim007.

With the play above I get the error shown.  If I remove source the play finishes ok but the destination for the virtual is: 1.1.1.10 (without %101)

Using ansible 2.4.2 with the following play creates the virtual with the route domain (%101) added to both the source and destination as I would expect it but I was forced to upgrade to ansible 2.5 because of other challenges which

[2018-03-28 16:24] AnilBabuDasari commented on #681
@caphrim007 Hi Tim,
Now im getting error like unsupported parameter for bigip command. Do i have any specific things for bigip commands ?

TASK [This is a task] **************************************************************************************************************************************************
task path: /etc/ansible/playbook/f5_basic1.yml:5
Using module file /usr/lib/python2.7/site-p

[2018-03-28 16:27] caphrim007 commented on #681
@AnilBabuDasari ahh, i should have noticed you are using Ansible 2.4. The `transport` parameter was added in Ansible 2.5

[2018-03-28 16:30] AnilBabuDasari commented on #681
@caphrim007 ohh could you please tell me how can i upgrade it to 2.5 ? Any git link ?

[2018-03-28 16:35] caphrim007 commented on #681
@AnilBabuDasari Ansible 2.5 is publicly available via pip.

`pip install --upgrade ansible`

[2018-03-28 16:37] AnilBabuDasari commented on #681
@caphrim007 cool , started upgrading :)  Do i have modify any config post upgrade ?

[2018-03-28 16:39] caphrim007 commented on #683
@jamiekowalczik are you sure it added it to the `source`? `source` was not an accepted parameter in 2.4

[2018-03-28 16:45] AnilBabuDasari commented on #681
@caphrim007 Hi Tim, got expected result :) Thanks alot Tim for your quick assistance :) Really appreciate that :+1: :1st_place_medal:

============
ok: [192.168.99.35 -> localhost] => {
    "changed": false,
    "invocation": {
        "module_args": {
            "commands": "tmsh show sys version",
            "interval": 1,
            "match": "all",
            "password": "VALUE_SPECIFIED_IN

[2018-03-28 16:47] AnilBabuDasari commented on #681
@caphrim007 Hi Tim one more request can you share any document related to Ansible new version.
It really helps.
Please send it to anilbabu.d@appviewx.com

[2018-03-28 16:48] caphrim007 commented on #681
@AnilBabuDasari what sort of information would you be looking for?